#%RAML 1.0
title: Accelerated Mobile Pages (AMP) URL API
version: v1
baseUri: https://acceleratedmobilepageurl.googleapis.com/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/amp/cache/
  role: documentation
(commons.Icons):
- url: http://www.google.com/images/icons/product/search-32.gif
  name: x32
- url: http://www.google.com/images/icons/product/search-16.gif
  name: x16
(commons.Id): acceleratedmobilepageurl:v1
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      pp?:
        type: boolean
        default: true
        description: Pretty-print response.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      $.xgafv?:
        type: string
        description: V1 error format.
        enum:
        - '1'
        - '2'
      upload_protocol?:
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      uploadType?:
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      callback?:
        type: string
        description: JSONP
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
types:
  AmpUrl:
    type: object
    properties:
      ampUrl?:
        type: string
        description: The AMP URL pointing to the publisher's web server.
      cdnAmpUrl?:
        type: string
        description: |-
          The [AMP Cache URL](/amp/cache/overview#amp-cache-url-format) pointing to
          the cached document in the Google AMP Cache.
      originalUrl?:
        type: string
        description: The original non-AMP URL.
    description: AMP URL response for a requested URL.
  AmpUrlError:
    type: object
    properties:
      errorMessage?:
        type: string
        description: An optional descriptive error message.
      errorCode?:
        type: string
        description: The error code of an API call.
        enum:
        - ERROR_CODE_UNSPECIFIED
        - INPUT_URL_NOT_FOUND
        - NO_AMP_URL
        - APPLICATION_ERROR
        - URL_IS_VALID_AMP
        - URL_IS_INVALID_AMP
      originalUrl?:
        type: string
        description: The original non-AMP URL.
    description: AMP URL Error resource for a requested URL that couldn't be found.
  BatchGetAmpUrlsRequest:
    type: object
    properties:
      urls?:
        type: array
        description: |-
          List of URLs to look up for the paired AMP URLs.
          The URLs are case-sensitive. Up to 50 URLs per lookup
          (see [Usage Limits](/amp/cache/reference/limits)).
        items:
          type: string
      lookupStrategy?:
        type: string
        description: The lookup_strategy being requested.
        enum:
        - FETCH_LIVE_DOC
        - IN_INDEX_DOC
    description: AMP URL request for a batch of URLs.
  BatchGetAmpUrlsResponse:
    type: object
    properties:
      urlErrors?:
        type: array
        description: The errors for requested URLs that have no AMP URL.
        items: AmpUrlError
      ampUrls?:
        type: array
        description: |-
          For each URL in BatchAmpUrlsRequest, the URL response. The response might
          not be in the same order as URLs in the batch request.
          If BatchAmpUrlsRequest contains duplicate URLs, AmpUrl is generated
          only once.
        items: AmpUrl
    description: Batch AMP URL response.
/v1:
  /ampUrls:batchGet:
    post:
      description: |-
        Returns AMP URL(s) and equivalent
        [AMP Cache URL(s)](/amp/cache/overview#amp-cache-url-format).
      displayName: BatchGet AmpUrls
      is:
      - hasParameters
      body:
        application/json: BatchGetAmpUrlsRequest
      responses:
        200:
          body:
            application/json: BatchGetAmpUrlsResponse
