#%RAML 1.0
title: Ad Exchange Seller API
version: v2.0
baseUri: https://www.googleapis.com/adexchangeseller/v2.0/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/ad-exchange/seller-rest/
  role: documentation
(commons.Icons):
- url: https://www.google.com/images/icons/product/doubleclick-32.gif
  name: x32
- url: https://www.google.com/images/icons/product/doubleclick-16.gif
  name: x16
(commons.Id): adexchangeseller:v2.0
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/adexchange.seller.readonly
      - https://www.googleapis.com/auth/adexchange.seller
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      userIp?:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  Account:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#account
        description: Kind of resource this is, in this case adexchangeseller#account.
      name?:
        type: string
        description: Name of this account.
      id?:
        type: string
        description: Unique identifier of this account.
  Accounts:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#accounts
        description: Kind of list this is, in this case adexchangeseller#accounts.
      nextPageToken?:
        type: string
        description: Continuation token used to page through accounts. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The accounts returned in this list response.
        items: Account
  AdClient:
    type: object
    properties:
      arcOptIn?:
        type: boolean
        description: Whether this ad client is opted in to ARC.
      productCode?:
        type: string
        description: This ad client's product code, which corresponds to the PRODUCT_CODE report dimension.
      kind?:
        type: string
        default: adexchangeseller#adClient
        description: Kind of resource this is, in this case adexchangeseller#adClient.
      supportsReporting?:
        type: boolean
        description: Whether this ad client supports being reported on.
      id?:
        type: string
        description: Unique identifier of this ad client.
  AdClients:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#adClients
        description: Kind of list this is, in this case adexchangeseller#adClients.
      nextPageToken?:
        type: string
        description: Continuation token used to page through ad clients. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The ad clients returned in this list response.
        items: AdClient
  Alert:
    type: object
    properties:
      severity?:
        type: string
        description: 'Severity of this alert. Possible values: INFO, WARNING, SEVERE.'
      kind?:
        type: string
        default: adexchangeseller#alert
        description: Kind of resource this is, in this case adexchangeseller#alert.
      id?:
        type: string
        description: Unique identifier of this alert. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
      message?:
        type: string
        description: The localized alert message.
      type?:
        type: string
        description: 'Type of this alert. Possible values: SELF_HOLD, MIGRATED_TO_BILLING3,
          ADDRESS_PIN_VERIFICATION, PHONE_PIN_VERIFICATION, CORPORATE_ENTITY, GRAYLISTED_PUBLISHER,
          API_HOLD.'
  Alerts:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#alerts
        description: Kind of list this is, in this case adexchangeseller#alerts.
      items?:
        type: array
        description: The alerts returned in this list response.
        items: Alert
  CustomChannel:
    type: object
    properties:
      code?:
        type: string
        description: Code of this custom channel, not necessarily unique across ad clients.
      targetingInfo?:
        type: object
        properties:
          siteLanguage?:
            type: string
            description: The language of the sites ads will be displayed on.
          adsAppearOn?:
            type: string
            description: The name used to describe this channel externally.
          description?:
            type: string
            description: The external description of the channel.
          location?:
            type: string
            description: 'The locations in which ads appear. (Only valid for content
              and mobile content ads). Acceptable values for content ads are: TOP_LEFT,
              TOP_CENTER, TOP_RIGHT, MIDDLE_LEFT, MIDDLE_CENTER, MIDDLE_RIGHT, BOTTOM_LEFT,
              BOTTOM_CENTER, BOTTOM_RIGHT, MULTIPLE_LOCATIONS. Acceptable values for
              mobile content ads are: TOP, MIDDLE, BOTTOM, MULTIPLE_LOCATIONS.'
        description: The targeting information of this custom channel, if activated.
      kind?:
        type: string
        default: adexchangeseller#customChannel
        description: Kind of resource this is, in this case adexchangeseller#customChannel.
      name?:
        type: string
        description: Name of this custom channel.
      id?:
        type: string
        description: Unique identifier of this custom channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
  CustomChannels:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#customChannels
        description: Kind of list this is, in this case adexchangeseller#customChannels.
      nextPageToken?:
        type: string
        description: Continuation token used to page through custom channels. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The custom channels returned in this list response.
        items: CustomChannel
  Metadata:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#metadata
        description: Kind of list this is, in this case adexchangeseller#metadata.
      items?: ReportingMetadataEntry[]
  PreferredDeal:
    type: object
    properties:
      fixedCpm?:
        type: integer
        format: int64
        description: The fixed price for this preferred deal. In cpm micros of currency according to currencyCode. If set, then this preferred deal is eligible for the fixed price tier of buying (highest priority, pay exactly the configured fixed price).
      kind?:
        type: string
        default: adexchangeseller#preferredDeal
        description: Kind of resource this is, in this case adexchangeseller#preferredDeal.
      startTime?:
        type: integer
        format: int64
        description: Time when this deal becomes active in seconds since the epoch (GMT). If not set then this deal is active immediately upon creation.
      endTime?:
        type: integer
        format: int64
        description: Time when this deal stops being active in seconds since the epoch (GMT). If not set then this deal is valid until manually disabled by the publisher.
      id?:
        type: integer
        format: int64
        description: Unique identifier of this preferred deal.
      buyerNetworkName?:
        type: string
        description: The name of the buyer network this deal is for.
      currencyCode?:
        type: string
        description: The currency code that applies to the fixed_cpm value. If not set then assumed to be USD.
      advertiserName?:
        type: string
        description: The name of the advertiser this deal is for.
  PreferredDeals:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#preferredDeals
        description: Kind of list this is, in this case adexchangeseller#preferredDeals.
      items?:
        type: array
        description: The preferred deals returned in this list response.
        items: PreferredDeal
  Report:
    type: object
    properties:
      headers?:
        type: array
        description: The header information of the columns requested in the report. This is a list of headers; one for each dimension in the request, followed by one for each metric in the request.
        items:
          type: object
          properties:
            name?:
              type: string
              description: The name of the header.
            currency?:
              type: string
              description: The currency of this column. Only present if the header type is METRIC_CURRENCY.
            type?:
              type: string
              description: The type of the header; one of DIMENSION, METRIC_TALLY, METRIC_RATIO, or METRIC_CURRENCY.
      kind?:
        type: string
        default: adexchangeseller#report
        description: Kind this is, in this case adexchangeseller#report.
      warnings?:
        type: array
        description: Any warnings associated with generation of the report.
        items:
          type: string
      averages?:
        type: array
        description: The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.
        items:
          type: string
      totalMatchedRows?:
        type: integer
        format: int64
        description: The total number of rows matched by the report request. Fewer rows may be returned in the response due to being limited by the row count requested or the report row limit.
      totals?:
        type: array
        description: The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.
        items:
          type: string
      rows?:
        type: array
        description: The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request. The dimension cells contain strings, and the metric cells contain numbers.
        items:
          type: array
          items:
            type: string
  ReportingMetadataEntry:
    type: object
    properties:
      requiredMetrics?:
        type: array
        description: The names of the metrics which the dimension or metric this reporting metadata entry describes requires to also be present in order for the report to be valid. Omitting these will not cause an error or warning, but may result in data which cannot be correctly interpreted.
        items:
          type: string
      compatibleMetrics?:
        type: array
        description: The names of the metrics the dimension or metric this reporting metadata entry describes is compatible with.
        items:
          type: string
      supportedProducts?:
        type: array
        description: The codes of the projects supported by the dimension or metric this reporting metadata entry describes.
        items:
          type: string
      kind?:
        type: string
        default: adexchangeseller#reportingMetadataEntry
        description: Kind of resource this is, in this case adexchangeseller#reportingMetadataEntry.
      compatibleDimensions?:
        type: array
        description: For metrics this is a list of dimension IDs which the metric is compatible with, for dimensions it is a list of compatibility groups the dimension belongs to.
        items:
          type: string
      requiredDimensions?:
        type: array
        description: The names of the dimensions which the dimension or metric this reporting metadata entry describes requires to also be present in order for the report to be valid. Omitting these will not cause an error or warning, but may result in data which cannot be correctly interpreted.
        items:
          type: string
      id?:
        type: string
        description: Unique identifier of this reporting metadata entry, corresponding to the name of the appropriate dimension or metric.
  SavedReport:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#savedReport
        description: Kind of resource this is, in this case adexchangeseller#savedReport.
      name?:
        type: string
        description: This saved report's name.
      id?:
        type: string
        description: Unique identifier of this saved report.
  SavedReports:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#savedReports
        description: Kind of list this is, in this case adexchangeseller#savedReports.
      nextPageToken?:
        type: string
        description: Continuation token used to page through saved reports. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The saved reports returned in this list response.
        items: SavedReport
  UrlChannel:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#urlChannel
        description: Kind of resource this is, in this case adexchangeseller#urlChannel.
      id?:
        type: string
        description: Unique identifier of this URL channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
      urlPattern?:
        type: string
        description: 'URL Pattern of this URL channel. Does not include "http://"
          or "https://". Example: www.example.com/home'
  UrlChannels:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#urlChannels
        description: Kind of list this is, in this case adexchangeseller#urlChannels.
      nextPageToken?:
        type: string
        description: Continuation token used to page through URL channels. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The URL channels returned in this list response.
        items: UrlChannel
/accounts:
  /{accountId}:
    uriParameters:
      accountId:
        type: string
        description: 'Account to get information about. Tip: ''myaccount'' is a valid
          ID.'
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/adexchange.seller
          - https://www.googleapis.com/auth/adexchange.seller.readonly
      description: Get information about the selected Ad Exchange account.
      is:
      - hasParameters
      responses:
        200:
          body:
            application/json: Account
  get:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/adexchange.seller
        - https://www.googleapis.com/auth/adexchange.seller.readonly
    description: List all accounts available to this Ad Exchange account.
    is:
    - hasParameters
    queryParameters:
      maxResults?:
        type: integer
        format: int32
        description: The maximum number of accounts to include in the response, used for paging.
        maximum: 10000
        minimum: 0
      pageToken?:
        type: string
        description: A continuation token, used to page through accounts. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
    responses:
      200:
        body:
          application/json: Accounts
