#%RAML 1.0
title: Ad Exchange Seller API
version: v1
baseUri: https://www.googleapis.com/adexchangeseller/v1/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
  extras: https://raw.githubusercontent.com/apiregistry/typesExtras/master/typeExtras.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/ad-exchange/seller-rest/
  role: documentation
(commons.Icons):
- url: https://www.google.com/images/icons/product/doubleclick-32.gif
  name: x32
- url: https://www.google.com/images/icons/product/doubleclick-16.gif
  name: x16
(commons.Id): adexchangeseller:v1
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/adexchange.seller.readonly
      - https://www.googleapis.com/auth/adexchange.seller
    (commons.OathScopeDescriptions):
    - View your Ad Exchange data
    - View and manage your Ad Exchange data
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      userIp?:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  AdClient:
    type: object
    properties:
      arcOptIn?:
        type: boolean
        description: Whether this ad client is opted in to ARC.
      productCode?:
        type: string
        description: This ad client's product code, which corresponds to the PRODUCT_CODE report dimension.
      kind?:
        type: string
        default: adexchangeseller#adClient
        description: Kind of resource this is, in this case adexchangeseller#adClient.
      supportsReporting?:
        type: boolean
        description: Whether this ad client supports being reported on.
      id?:
        type: string
        description: Unique identifier of this ad client.
  AdClients:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#adClients
        description: Kind of list this is, in this case adexchangeseller#adClients.
      nextPageToken?:
        type: string
        description: Continuation token used to page through ad clients. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The ad clients returned in this list response.
        items: AdClient
  AdUnit:
    type: object
    properties:
      code?:
        type: string
        description: Identity code of this ad unit, not necessarily unique across ad clients.
      kind?:
        type: string
        default: adexchangeseller#adUnit
        description: Kind of resource this is, in this case adexchangeseller#adUnit.
      name?:
        type: string
        description: Name of this ad unit.
      id?:
        type: string
        description: Unique identifier of this ad unit. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
      status?:
        type: string
        description: |-
          Status of this ad unit. Possible values are:
          NEW: Indicates that the ad unit was created within the last seven days and does not yet have any activity associated with it.

          ACTIVE: Indicates that there has been activity on this ad unit in the last seven days.

          INACTIVE: Indicates that there has been no activity on this ad unit in the last seven days.
  AdUnits:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#adUnits
        description: Kind of list this is, in this case adexchangeseller#adUnits.
      nextPageToken?:
        type: string
        description: Continuation token used to page through ad units. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The ad units returned in this list response.
        items: AdUnit
  CustomChannel:
    type: object
    properties:
      code?:
        type: string
        description: Code of this custom channel, not necessarily unique across ad clients.
      targetingInfo?:
        type: object
        properties:
          siteLanguage?:
            type: string
            description: The language of the sites ads will be displayed on.
          adsAppearOn?:
            type: string
            description: The name used to describe this channel externally.
          description?:
            type: string
            description: The external description of the channel.
          location?:
            type: string
            description: 'The locations in which ads appear. (Only valid for content
              and mobile content ads). Acceptable values for content ads are: TOP_LEFT,
              TOP_CENTER, TOP_RIGHT, MIDDLE_LEFT, MIDDLE_CENTER, MIDDLE_RIGHT, BOTTOM_LEFT,
              BOTTOM_CENTER, BOTTOM_RIGHT, MULTIPLE_LOCATIONS. Acceptable values for
              mobile content ads are: TOP, MIDDLE, BOTTOM, MULTIPLE_LOCATIONS.'
        description: The targeting information of this custom channel, if activated.
      kind?:
        type: string
        default: adexchangeseller#customChannel
        description: Kind of resource this is, in this case adexchangeseller#customChannel.
      name?:
        type: string
        description: Name of this custom channel.
      id?:
        type: string
        description: Unique identifier of this custom channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
  CustomChannels:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#customChannels
        description: Kind of list this is, in this case adexchangeseller#customChannels.
      nextPageToken?:
        type: string
        description: Continuation token used to page through custom channels. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The custom channels returned in this list response.
        items: CustomChannel
  Report:
    type: object
    properties:
      headers?:
        type: array
        description: The header information of the columns requested in the report. This is a list of headers; one for each dimension in the request, followed by one for each metric in the request.
        items:
          type: object
          properties:
            name?:
              type: string
              description: The name of the header.
            currency?:
              type: string
              description: The currency of this column. Only present if the header type is METRIC_CURRENCY.
            type?:
              type: string
              description: The type of the header; one of DIMENSION, METRIC_TALLY, METRIC_RATIO, or METRIC_CURRENCY.
      kind?:
        type: string
        default: adexchangeseller#report
        description: Kind this is, in this case adexchangeseller#report.
      warnings?:
        type: array
        description: Any warnings associated with generation of the report.
        items:
          type: string
      averages?:
        type: array
        description: The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.
        items:
          type: string
      totalMatchedRows?:
        type: integer
        format: int64
        description: The total number of rows matched by the report request. Fewer rows may be returned in the response due to being limited by the row count requested or the report row limit.
      totals?:
        type: array
        description: The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.
        items:
          type: string
      rows?:
        type: array
        description: The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request. The dimension cells contain strings, and the metric cells contain numbers.
        items:
          type: array
          items:
            type: string
  SavedReport:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#savedReport
        description: Kind of resource this is, in this case adexchangeseller#savedReport.
      name?:
        type: string
        description: This saved report's name.
      id?:
        type: string
        description: Unique identifier of this saved report.
  SavedReports:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#savedReports
        description: Kind of list this is, in this case adexchangeseller#savedReports.
      nextPageToken?:
        type: string
        description: Continuation token used to page through saved reports. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The saved reports returned in this list response.
        items: SavedReport
  UrlChannel:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#urlChannel
        description: Kind of resource this is, in this case adexchangeseller#urlChannel.
      id?:
        type: string
        description: Unique identifier of this URL channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
      urlPattern?:
        type: string
        description: 'URL Pattern of this URL channel. Does not include "http://"
          or "https://". Example: www.example.com/home'
  UrlChannels:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangeseller#urlChannels
        description: Kind of list this is, in this case adexchangeseller#urlChannels.
      nextPageToken?:
        type: string
        description: Continuation token used to page through URL channels. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The URL channels returned in this list response.
        items: UrlChannel
/reports:
  /saved:
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/adexchange.seller
          - https://www.googleapis.com/auth/adexchange.seller.readonly
      description: List all saved reports in this Ad Exchange account.
      displayName: List
      is:
      - hasParameters
      queryParameters:
        maxResults?:
          type: integer
          format: int32
          description: The maximum number of saved reports to include in the response, used for paging.
          maximum: 100
          minimum: 0
        pageToken?:
          type: string
          description: A continuation token, used to page through saved reports. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
      responses:
        200:
          body:
            application/json: SavedReports
      (commons.Id): adexchangeseller.reports.saved.list
      (commons.LogicalStructure):
      - Reports
      - Saved
  /{savedReportId}:
    uriParameters:
      savedReportId:
        type: string
        description: The saved report to retrieve.
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/adexchange.seller
          - https://www.googleapis.com/auth/adexchange.seller.readonly
      description: Generate an Ad Exchange report based on the saved report ID sent in the query parameters.
      displayName: Generate
      is:
      - hasParameters
      queryParameters:
        startIndex?:
          type: integer
          format: int32
          description: Index of the first row of report data to return.
          maximum: 5000
          minimum: 0
        maxResults?:
          type: integer
          format: int32
          description: The maximum number of rows of report data to return.
          maximum: 50000
          minimum: 0
        locale?:
          type: string
          pattern: '[a-zA-Z_]+'
          description: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
      responses:
        200:
          body:
            application/json: Report
      (commons.Id): adexchangeseller.reports.saved.generate
      (commons.LogicalStructure):
      - Reports
      - Saved
  get:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/adexchange.seller
        - https://www.googleapis.com/auth/adexchange.seller.readonly
    description: Generate an Ad Exchange report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify "alt=csv" as a query parameter.
    displayName: Generate
    is:
    - hasParameters
    queryParameters:
      filter?:
        type: string
        pattern: '[a-zA-Z_]+(==|=@).+'
        description: Filters to be run on the report.
      startIndex?:
        type: integer
        format: int32
        description: Index of the first row of report data to return.
        maximum: 5000
        minimum: 0
      endDate:
        type: string
        pattern: \d{4}-\d{2}-\d{2}|(today|startOfMonth|startOfYear)(([\-\+]\d+[dwmy]){0,3}?)
        description: End of the date range to report on in "YYYY-MM-DD" format, inclusive.
      metric?:
        type: string
        pattern: '[a-zA-Z_]+'
        description: Numeric columns to include in the report.
      maxResults?:
        type: integer
        format: int32
        description: The maximum number of rows of report data to return.
        maximum: 50000
        minimum: 0
      sort?:
        type: string
        pattern: (\+|-)?[a-zA-Z_]+
        description: The name of a dimension or metric to sort the resulting report on, optionally prefixed with "+" to sort ascending or "-" to sort descending. If no prefix is specified, the column is sorted ascending.
      locale?:
        type: string
        pattern: '[a-zA-Z_]+'
        description: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
      dimension?:
        type: string
        pattern: '[a-zA-Z_]+'
        description: Dimensions to base the report on.
      startDate:
        type: string
        pattern: \d{4}-\d{2}-\d{2}|(today|startOfMonth|startOfYear)(([\-\+]\d+[dwmy]){0,3}?)
        description: Start of the date range to report on in "YYYY-MM-DD" format, inclusive.
    responses:
      200:
        body:
          application/json: Report
    (commons.Id): adexchangeseller.reports.generate
    (commons.LogicalStructure):
    - Reports
/adclients:
  /{adClientId}:
    uriParameters:
      adClientId:
        type: string
        description: Ad client for which to list URL channels.
    /urlchannels:
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adexchange.seller
            - https://www.googleapis.com/auth/adexchange.seller.readonly
        description: List all URL channels in the specified ad client for this Ad Exchange account.
        displayName: List
        is:
        - hasParameters
        queryParameters:
          maxResults?:
            type: integer
            format: int32
            description: The maximum number of URL channels to include in the response, used for paging.
            maximum: 10000
            minimum: 0
          pageToken?:
            type: string
            description: A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
        responses:
          200:
            body:
              application/json: UrlChannels
        (commons.Id): adexchangeseller.urlchannels.list
        (commons.LogicalStructure):
        - Urlchannels
    /customchannels:
      /{customChannelId}:
        uriParameters:
          customChannelId:
            type: string
            description: Custom channel to retrieve.
        /adunits:
          get:
            securedBy:
              oath2:
                scopes:
                - https://www.googleapis.com/auth/adexchange.seller
                - https://www.googleapis.com/auth/adexchange.seller.readonly
            description: List all ad units in the specified custom channel.
            displayName: List
            is:
            - hasParameters
            queryParameters:
              includeInactive?:
                type: boolean
                description: 'Whether to include inactive ad units. Default: true.'
              maxResults?:
                type: integer
                format: int32
                description: The maximum number of ad units to include in the response, used for paging.
                maximum: 10000
                minimum: 0
              pageToken?:
                type: string
                description: A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
            responses:
              200:
                body:
                  application/json: AdUnits
            (commons.Id): adexchangeseller.customchannels.adunits.list
            (commons.LogicalStructure):
            - Customchannels
            - Adunits
        get:
          securedBy:
            oath2:
              scopes:
              - https://www.googleapis.com/auth/adexchange.seller
              - https://www.googleapis.com/auth/adexchange.seller.readonly
          description: Get the specified custom channel from the specified ad client.
          displayName: Get
          is:
          - hasParameters
          responses:
            200:
              body:
                application/json: CustomChannel
          (commons.Id): adexchangeseller.customchannels.get
          (commons.LogicalStructure):
          - Customchannels
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adexchange.seller
            - https://www.googleapis.com/auth/adexchange.seller.readonly
        description: List all custom channels in the specified ad client for this Ad Exchange account.
        displayName: List
        is:
        - hasParameters
        queryParameters:
          maxResults?:
            type: integer
            format: int32
            description: The maximum number of custom channels to include in the response, used for paging.
            maximum: 10000
            minimum: 0
          pageToken?:
            type: string
            description: A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
        responses:
          200:
            body:
              application/json: CustomChannels
        (commons.Id): adexchangeseller.customchannels.list
        (commons.LogicalStructure):
        - Customchannels
    /adunits:
      /{adUnitId}:
        uriParameters:
          adUnitId:
            type: string
            description: Ad unit to retrieve.
        /customchannels:
          get:
            securedBy:
              oath2:
                scopes:
                - https://www.googleapis.com/auth/adexchange.seller
                - https://www.googleapis.com/auth/adexchange.seller.readonly
            description: List all custom channels which the specified ad unit belongs to.
            displayName: List
            is:
            - hasParameters
            queryParameters:
              maxResults?:
                type: integer
                format: int32
                description: The maximum number of custom channels to include in the response, used for paging.
                maximum: 10000
                minimum: 0
              pageToken?:
                type: string
                description: A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
            responses:
              200:
                body:
                  application/json: CustomChannels
            (commons.Id): adexchangeseller.adunits.customchannels.list
            (commons.LogicalStructure):
            - Adunits
            - Customchannels
        get:
          securedBy:
            oath2:
              scopes:
              - https://www.googleapis.com/auth/adexchange.seller
              - https://www.googleapis.com/auth/adexchange.seller.readonly
          description: Gets the specified ad unit in the specified ad client.
          displayName: Get
          is:
          - hasParameters
          responses:
            200:
              body:
                application/json: AdUnit
          (commons.Id): adexchangeseller.adunits.get
          (commons.LogicalStructure):
          - Adunits
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adexchange.seller
            - https://www.googleapis.com/auth/adexchange.seller.readonly
        description: List all ad units in the specified ad client for this Ad Exchange account.
        displayName: List
        is:
        - hasParameters
        queryParameters:
          includeInactive?:
            type: boolean
            description: 'Whether to include inactive ad units. Default: true.'
          maxResults?:
            type: integer
            format: int32
            description: The maximum number of ad units to include in the response, used for paging.
            maximum: 10000
            minimum: 0
          pageToken?:
            type: string
            description: A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
        responses:
          200:
            body:
              application/json: AdUnits
        (commons.Id): adexchangeseller.adunits.list
        (commons.LogicalStructure):
        - Adunits
  get:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/adexchange.seller
        - https://www.googleapis.com/auth/adexchange.seller.readonly
    description: List all ad clients in this Ad Exchange account.
    displayName: List
    is:
    - hasParameters
    queryParameters:
      maxResults?:
        type: integer
        format: int32
        description: The maximum number of ad clients to include in the response, used for paging.
        maximum: 10000
        minimum: 0
      pageToken?:
        type: string
        description: A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
    responses:
      200:
        body:
          application/json: AdClients
    (commons.Id): adexchangeseller.adclients.list
    (commons.LogicalStructure):
    - Adclients
