#%RAML 1.0
title: Ad Exchange Buyer API
version: v1.2
baseUri: https://www.googleapis.com/adexchangebuyer/v1.2/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
  extras: https://raw.githubusercontent.com/apiregistry/typesExtras/master/typeExtras.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/ad-exchange/buyer-rest
  role: documentation
(commons.Icons):
- url: https://www.google.com/images/icons/product/doubleclick-32.gif
  name: x32
- url: https://www.google.com/images/icons/product/doubleclick-16.gif
  name: x16
(commons.Id): adexchangebuyer:v1.2
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/adexchange.buyer
    (commons.OathScopeDescriptions):
    - Manage your Ad Exchange buyer account configuration
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      userIp?:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  Account:
    type: object
    properties:
      numberActiveCreatives?:
        type: integer
        format: int32
        description: The number of creatives that this account inserted or bid with in the last 30 days.
      maximumTotalQps?:
        type: integer
        format: int32
        description: The sum of all bidderLocation.maximumQps values cannot exceed this. Please contact your technical account manager if you need to change this.
      bidderLocation?:
        type: array
        description: Your bidder locations that have distinct URLs.
        items:
          type: object
          properties:
            maximumQps?:
              type: integer
              format: int32
              description: The maximum queries per second the Ad Exchange will send.
            region?:
              type: string
              description: "The geographical region the Ad Exchange should send requests\
                \ from. Only used by some quota systems, but always setting the value\
                \ is recommended. Allowed values:  \n- ASIA \n- EUROPE \n- US_EAST\
                \ \n- US_WEST"
            url?:
              type: string
              description: The URL to which the Ad Exchange will send bid requests.
      kind?:
        type: string
        default: adexchangebuyer#account
        description: Resource type.
      maximumActiveCreatives?:
        type: integer
        format: int32
        description: The maximum number of active creatives that an account can have, where a creative is active if it was inserted or bid with in the last 30 days. Please contact your technical account manager if you need to change this.
      cookieMatchingNid?:
        type: string
        description: The nid parameter value used in cookie match requests. Please contact your technical account manager if you need to change this.
      id?:
        type: integer
        format: int32
        description: Account id.
      cookieMatchingUrl?:
        type: string
        description: The base URL used in cookie match requests.
    description: Configuration data for an Ad Exchange buyer account.
  AccountsList:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangebuyer#accountsList
        description: Resource type.
      items?:
        type: array
        description: A list of accounts.
        items: Account
    description: An account feed lists Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single buyer account.
  Creative:
    type: object
    properties:
      disapprovalReasons?:
        type: array
        description: The reasons for disapproval, if any. Note that not all disapproval reasons may be categorized, so it is possible for the creative to have a status of DISAPPROVED with an empty list for disapproval_reasons. In this case, please reach out to your TAM to help debug the issue. Read-only. This field should not be set in requests.
        items:
          type: object
          properties:
            reason?:
              type: string
              description: The categorized reason for disapproval.
            details?:
              type: array
              description: Additional details about the reason for disapproval.
              items:
                type: string
      vendorType?:
        type: array
        description: All vendor types for the ads that may be shown from this snippet.
        items:
          type: integer
          format: int32
      HTMLSnippet?:
        type: string
        description: The HTML snippet that displays the ad when inserted in the web page. If set, videoURL should not be set.
      filteringReasons?:
        type: object
        properties:
          date?:
            type: string
            description: The date in ISO 8601 format for the data. The data is collected from 00:00:00 to 23:59:59 in PST.
          reasons?:
            type: array
            description: The filtering reasons.
            items:
              type: object
              properties:
                filteringStatus?:
                  type: integer
                  format: int32
                  description: The filtering status code. Please refer to the creative-status-codes.txt file for different statuses.
                filteringCount?:
                  type: integer
                  format: int64
                  description: The number of times the creative was filtered for the status. The count is aggregated across all publishers on the exchange.
        description: The filtering reasons for the creative. Read-only. This field should not be set in requests.
      kind?:
        type: string
        default: adexchangebuyer#creative
        description: Resource type.
      clickThroughUrl?:
        type: array
        description: The set of destination urls for the snippet.
        (extras.RequiredIn):
        - adexchangebuyer.creatives.insert
        items:
          type: string
      impressionTrackingUrl?:
        type: array
        description: The set of urls to be called to record an impression.
        items:
          type: string
      agencyId?:
        type: integer
        format: int64
        description: The agency id for this creative.
      version?:
        type: integer
        format: int32
        description: The version for this creative. Read-only. This field should not be set in requests.
      advertiserName?:
        type: string
        description: The name of the company being advertised in the creative.
        (extras.RequiredIn):
        - adexchangebuyer.creatives.insert
      advertiserId?:
        type: array
        description: Detected advertiser id, if any. Read-only. This field should not be set in requests.
        items:
          type: integer
          format: int64
      buyerCreativeId?:
        type: string
        description: A buyer-specific id identifying the creative in this ad.
        (extras.RequiredIn):
        - adexchangebuyer.creatives.insert
      restrictedCategories?:
        type: array
        description: All restricted categories for the ads that may be shown from this snippet.
        items:
          type: integer
          format: int32
      accountId?:
        type: integer
        format: int32
        description: Account id.
        (extras.RequiredIn):
        - adexchangebuyer.creatives.insert
      productCategories?:
        type: array
        description: Detected product categories, if any. Read-only. This field should not be set in requests.
        items:
          type: integer
          format: int32
      corrections?:
        type: array
        description: Shows any corrections that were applied to this creative. Read-only. This field should not be set in requests.
        items:
          type: object
          properties:
            reason?:
              type: string
              description: The type of correction that was applied to the creative.
            details?:
              type: array
              description: Additional details about the correction.
              items:
                type: string
      videoURL?:
        type: string
        description: The url to fetch a video ad. If set, HTMLSnippet should not be set.
      apiUploadTimestamp?:
        type: string
        description: The last upload timestamp of this creative if it was uploaded via API. Read-only. The value of this field is generated, and will be ignored for uploads. (formatted RFC 3339 timestamp).
      width?:
        type: integer
        format: int32
        description: Ad width.
        (extras.RequiredIn):
        - adexchangebuyer.creatives.insert
      attribute?:
        type: array
        description: All attributes for the ads that may be shown from this snippet.
        items:
          type: integer
          format: int32
      height?:
        type: integer
        format: int32
        description: Ad height.
        (extras.RequiredIn):
        - adexchangebuyer.creatives.insert
      sensitiveCategories?:
        type: array
        description: Detected sensitive categories, if any. Read-only. This field should not be set in requests.
        items:
          type: integer
          format: int32
      status?:
        type: string
        description: Creative serving status. Read-only. This field should not be set in requests.
    description: A creative and its classification data.
  CreativesList:
    type: object
    properties:
      kind?:
        type: string
        default: adexchangebuyer#creativesList
        description: Resource type.
      nextPageToken?:
        type: string
        description: Continuation token used to page through creatives. To retrieve the next page of results, set the next request's "pageToken" value to this.
      items?:
        type: array
        description: A list of creatives.
        items: Creative
    description: The creatives feed lists the active creatives for the Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single creative.
/creatives:
  /{accountId}:
    uriParameters:
      accountId:
        type: integer
        format: int32
        description: The id for the account that will serve this creative.
    /{buyerCreativeId}:
      uriParameters:
        buyerCreativeId:
          type: string
          description: The buyer-specific id for this creative.
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adexchange.buyer
        description: Gets the status for a single creative. A creative will be available 30-40 minutes after submission.
        displayName: Get
        is:
        - hasParameters
        responses:
          200:
            body:
              application/json: Creative
        (commons.Id): adexchangebuyer.creatives.get
        (commons.LogicalStructure):
        - Creatives
  post:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/adexchange.buyer
    description: Submit a new creative.
    displayName: Insert
    is:
    - hasParameters
    body:
      application/json: Creative
    responses:
      200:
        body:
          application/json: Creative
    (commons.Id): adexchangebuyer.creatives.insert
    (commons.LogicalStructure):
    - Creatives
  get:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/adexchange.buyer
    description: Retrieves a list of the authenticated user's active creatives. A creative will be available 30-40 minutes after submission.
    displayName: List
    is:
    - hasParameters
    queryParameters:
      statusFilter?:
        type: string
        description: When specified, only creatives having the given status are returned.
        (commons.EnumDescriptions):
        - Creatives which have been approved.
        - Creatives which have been disapproved.
        - Creatives whose status is not yet checked.
        enum:
        - approved
        - disapproved
        - not_checked
      maxResults?:
        type: integer
        format: int32
        description: Maximum number of entries returned on one result page. If not set, the default is 100. Optional.
        maximum: 1000
        minimum: 1
      pageToken?:
        type: string
        description: A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response. Optional.
    responses:
      200:
        body:
          application/json: CreativesList
    (commons.Id): adexchangebuyer.creatives.list
    (commons.LogicalStructure):
    - Creatives
/accounts:
  /{id}:
    uriParameters:
      id:
        type: integer
        format: int32
        description: The account id
    patch:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/adexchange.buyer
      description: Updates an existing account. This method supports patch semantics.
      displayName: Patch
      is:
      - hasParameters
      body:
        application/json: Account
      responses:
        200:
          body:
            application/json: Account
      (commons.Id): adexchangebuyer.accounts.patch
      (commons.LogicalStructure):
      - Accounts
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/adexchange.buyer
      description: Gets one account by ID.
      displayName: Get
      is:
      - hasParameters
      responses:
        200:
          body:
            application/json: Account
      (commons.Id): adexchangebuyer.accounts.get
      (commons.LogicalStructure):
      - Accounts
    put:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/adexchange.buyer
      description: Updates an existing account.
      displayName: Update
      is:
      - hasParameters
      body:
        application/json: Account
      responses:
        200:
          body:
            application/json: Account
      (commons.Id): adexchangebuyer.accounts.update
      (commons.LogicalStructure):
      - Accounts
  get:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/adexchange.buyer
    description: Retrieves the authenticated user's list of accounts.
    displayName: List
    is:
    - hasParameters
    responses:
      200:
        body:
          application/json: AccountsList
    (commons.Id): adexchangebuyer.accounts.list
    (commons.LogicalStructure):
    - Accounts
