#%RAML 1.0
title: AdSense Host API
version: v4.1
baseUri: https://www.googleapis.com/adsensehost/v4.1/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
(commons.Id): adsensehost:v4.1
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/adsense/host/
  role: documentation
(commons.Icons):
- url: https://www.google.com/images/icons/product/adsense-32.png
  name: x32
- url: https://www.google.com/images/icons/product/adsense-16.png
  name: x16
(commons.Tags):
- limited_availability
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/adsensehost
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      userIp?:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  Account:
    type: object
    properties:
      kind?:
        type: string
        default: adsensehost#account
        description: Kind of resource this is, in this case adsensehost#account.
      name?:
        type: string
        description: Name of this account.
      id?:
        type: string
        description: Unique identifier of this account.
      status?:
        type: string
        description: 'Approval status of this account. One of: PENDING, APPROVED,
          DISABLED.'
  Accounts:
    type: object
    properties:
      kind?:
        type: string
        default: adsensehost#accounts
        description: Kind of list this is, in this case adsensehost#accounts.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The accounts returned in this list response.
        items: Account
  AdClient:
    type: object
    properties:
      arcOptIn?:
        type: boolean
        description: Whether this ad client is opted in to ARC.
      productCode?:
        type: string
        description: This ad client's product code, which corresponds to the PRODUCT_CODE report dimension.
      kind?:
        type: string
        default: adsensehost#adClient
        description: Kind of resource this is, in this case adsensehost#adClient.
      supportsReporting?:
        type: boolean
        description: Whether this ad client supports being reported on.
      id?:
        type: string
        description: Unique identifier of this ad client.
  AdClients:
    type: object
    properties:
      kind?:
        type: string
        default: adsensehost#adClients
        description: Kind of list this is, in this case adsensehost#adClients.
      nextPageToken?:
        type: string
        description: Continuation token used to page through ad clients. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The ad clients returned in this list response.
        items: AdClient
  AdCode:
    type: object
    properties:
      kind?:
        type: string
        default: adsensehost#adCode
        description: Kind this is, in this case adsensehost#adCode.
      adCode?:
        type: string
        description: The ad code snippet.
  AdStyle:
    type: object
    properties:
      corners?:
        type: string
        description: The style of the corners in the ad. Possible values are SQUARE, SLIGHTLY_ROUNDED and VERY_ROUNDED.
      kind?:
        type: string
        default: adsensehost#adStyle
        description: Kind this is, in this case adsensehost#adStyle.
      colors?:
        type: object
        properties:
          border?:
            type: string
            description: The color of the ad border.
          background?:
            type: string
            description: The color of the ad background.
          text?:
            type: string
            description: The color of the ad text.
          title?:
            type: string
            description: The color of the ad title.
          url?:
            type: string
            description: The color of the ad url.
        description: The colors included in the style. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash.
      font?:
        type: object
        properties:
          size?:
            type: string
            description: 'The size of the font. Possible values are: ACCOUNT_DEFAULT_SIZE,
              ADSENSE_DEFAULT_SIZE, SMALL, MEDIUM and LARGE.'
          family?:
            type: string
            description: 'The family of the font. Possible values are: ACCOUNT_DEFAULT_FAMILY,
              ADSENSE_DEFAULT_FAMILY, ARIAL, TIMES and VERDANA.'
        description: The font which is included in the style.
  AdUnit:
    type: object
    properties:
      code?:
        type: string
        description: Identity code of this ad unit, not necessarily unique across ad clients.
      customStyle?: AdStyle
      kind?:
        type: string
        default: adsensehost#adUnit
        description: Kind of resource this is, in this case adsensehost#adUnit.
      name?:
        type: string
        description: Name of this ad unit.
      id?:
        type: string
        description: Unique identifier of this ad unit. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
      mobileContentAdsSettings?:
        type: object
        properties:
          markupLanguage?:
            type: string
            description: The markup language to use for this ad unit.
          size?:
            type: string
            description: Size of this ad unit.
          scriptingLanguage?:
            type: string
            description: The scripting language to use for this ad unit.
          type?:
            type: string
            description: Type of this ad unit.
        description: Settings specific to WAP mobile content ads (AFMC - deprecated).
      contentAdsSettings?:
        type: object
        properties:
          size?:
            type: string
            description: Size of this ad unit. Size values are in the form SIZE_{width}_{height}.
          backupOption?:
            type: object
            properties:
              color?:
                type: string
                description: Color to use when type is set to COLOR. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash.
              type?:
                type: string
                description: Type of the backup option. Possible values are BLANK, COLOR and URL.
              url?:
                type: string
                description: URL to use when type is set to URL.
            description: The backup option to be used in instances where no ad is available.
          type?:
            type: string
            description: Type of this ad unit. Possible values are TEXT, TEXT_IMAGE, IMAGE and LINK.
        description: Settings specific to content ads (AFC) and highend mobile content ads (AFMC - deprecated).
      status?:
        type: string
        description: |-
          Status of this ad unit. Possible values are:
          NEW: Indicates that the ad unit was created within the last seven days and does not yet have any activity associated with it.

          ACTIVE: Indicates that there has been activity on this ad unit in the last seven days.

          INACTIVE: Indicates that there has been no activity on this ad unit in the last seven days.
  AdUnits:
    type: object
    properties:
      kind?:
        type: string
        default: adsensehost#adUnits
        description: Kind of list this is, in this case adsensehost#adUnits.
      nextPageToken?:
        type: string
        description: Continuation token used to page through ad units. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The ad units returned in this list response.
        items: AdUnit
  AssociationSession:
    type: object
    properties:
      accountId?:
        type: string
        description: Hosted account id of the associated publisher after association. Present if status is ACCEPTED.
      redirectUrl?:
        type: string
        description: Redirect URL of this association session. Used to redirect users into the AdSense association flow.
      userLocale?:
        type: string
        description: The preferred locale of the user themselves when going through the AdSense association flow.
      websiteUrl?:
        type: string
        description: The URL of the user's hosted website.
      kind?:
        type: string
        default: adsensehost#associationSession
        description: Kind of resource this is, in this case adsensehost#associationSession.
      websiteLocale?:
        type: string
        description: The locale of the user's hosted website.
      id?:
        type: string
        description: Unique identifier of this association session.
      productCodes?:
        type: array
        description: 'The products to associate with the user. Options: AFC, AFG,
          AFV, AFS (deprecated), AFMC (deprecated)'
        items:
          type: string
      status?:
        type: string
        description: Status of the completed association, available once the association callback token has been verified. One of ACCEPTED, REJECTED, or ERROR.
  CustomChannel:
    type: object
    properties:
      code?:
        type: string
        description: Code of this custom channel, not necessarily unique across ad clients.
      kind?:
        type: string
        default: adsensehost#customChannel
        description: Kind of resource this is, in this case adsensehost#customChannel.
      name?:
        type: string
        description: Name of this custom channel.
      id?:
        type: string
        description: Unique identifier of this custom channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
  CustomChannels:
    type: object
    properties:
      kind?:
        type: string
        default: adsensehost#customChannels
        description: Kind of list this is, in this case adsensehost#customChannels.
      nextPageToken?:
        type: string
        description: Continuation token used to page through custom channels. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The custom channels returned in this list response.
        items: CustomChannel
  Report:
    type: object
    properties:
      headers?:
        type: array
        description: The header information of the columns requested in the report. This is a list of headers; one for each dimension in the request, followed by one for each metric in the request.
        items:
          type: object
          properties:
            name?:
              type: string
              description: The name of the header.
            currency?:
              type: string
              description: The currency of this column. Only present if the header type is METRIC_CURRENCY.
            type?:
              type: string
              description: The type of the header; one of DIMENSION, METRIC_TALLY, METRIC_RATIO, or METRIC_CURRENCY.
      kind?:
        type: string
        default: adsensehost#report
        description: Kind this is, in this case adsensehost#report.
      warnings?:
        type: array
        description: Any warnings associated with generation of the report.
        items:
          type: string
      averages?:
        type: array
        description: The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.
        items:
          type: string
      totalMatchedRows?:
        type: integer
        format: int64
        description: The total number of rows matched by the report request. Fewer rows may be returned in the response due to being limited by the row count requested or the report row limit.
      totals?:
        type: array
        description: The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.
        items:
          type: string
      rows?:
        type: array
        description: The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request. The dimension cells contain strings, and the metric cells contain numbers.
        items:
          type: array
          items:
            type: string
  UrlChannel:
    type: object
    properties:
      kind?:
        type: string
        default: adsensehost#urlChannel
        description: Kind of resource this is, in this case adsensehost#urlChannel.
      id?:
        type: string
        description: Unique identifier of this URL channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
      urlPattern?:
        type: string
        description: 'URL Pattern of this URL channel. Does not include "http://"
          or "https://". Example: www.example.com/home'
  UrlChannels:
    type: object
    properties:
      kind?:
        type: string
        default: adsensehost#urlChannels
        description: Kind of list this is, in this case adsensehost#urlChannels.
      nextPageToken?:
        type: string
        description: Continuation token used to page through URL channels. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The URL channels returned in this list response.
        items: UrlChannel
/reports:
  get:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/adsensehost
    description: Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify "alt=csv" as a query parameter.
    displayName: generate
    is:
    - hasParameters
    queryParameters:
      filter?:
        type: string
        pattern: '[a-zA-Z_]+(==|=@).+'
        description: Filters to be run on the report.
      startIndex?:
        type: integer
        format: int32
        description: Index of the first row of report data to return.
        maximum: 5000
        minimum: 0
      endDate:
        type: string
        pattern: \d{4}-\d{2}-\d{2}|(today|startOfMonth|startOfYear)(([\-\+]\d+[dwmy]){0,3}?)
        description: End of the date range to report on in "YYYY-MM-DD" format, inclusive.
      metric?:
        type: string
        pattern: '[a-zA-Z_]+'
        description: Numeric columns to include in the report.
      maxResults?:
        type: integer
        format: int32
        description: The maximum number of rows of report data to return.
        maximum: 50000
        minimum: 0
      sort?:
        type: string
        pattern: (\+|-)?[a-zA-Z_]+
        description: The name of a dimension or metric to sort the resulting report on, optionally prefixed with "+" to sort ascending or "-" to sort descending. If no prefix is specified, the column is sorted ascending.
      locale?:
        type: string
        pattern: '[a-zA-Z_]+'
        description: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
      dimension?:
        type: string
        pattern: '[a-zA-Z_]+'
        description: Dimensions to base the report on.
      startDate:
        type: string
        pattern: \d{4}-\d{2}-\d{2}|(today|startOfMonth|startOfYear)(([\-\+]\d+[dwmy]){0,3}?)
        description: Start of the date range to report on in "YYYY-MM-DD" format, inclusive.
    responses:
      200:
        body:
          application/json: Report
    (commons.Id): adsensehost.reports.generate
    (commons.LogicalStucture):
    - Reports
/adclients:
  /{adClientId}:
    uriParameters:
      adClientId:
        type: string
        description: Ad client to which the new URL channel will be added.
    /urlchannels:
      /{urlChannelId}:
        uriParameters:
          urlChannelId:
            type: string
            description: URL channel to delete.
        delete:
          securedBy:
            oath2:
              scopes:
              - https://www.googleapis.com/auth/adsensehost
          description: Delete a URL channel from the host AdSense account.
          displayName: delete
          is:
          - hasParameters
          responses:
            200:
              body:
                application/json: UrlChannel
          (commons.Id): adsensehost.urlchannels.delete
          (commons.LogicalStucture):
          - Urlchannels
      post:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adsensehost
        description: Add a new URL channel to the host AdSense account.
        displayName: insert
        is:
        - hasParameters
        body:
          application/json: UrlChannel
        responses:
          200:
            body:
              application/json: UrlChannel
        (commons.Id): adsensehost.urlchannels.insert
        (commons.LogicalStucture):
        - Urlchannels
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adsensehost
        description: List all host URL channels in the host AdSense account.
        displayName: list
        is:
        - hasParameters
        queryParameters:
          maxResults?:
            type: integer
            format: int32
            description: The maximum number of URL channels to include in the response, used for paging.
            maximum: 10000
            minimum: 0
          pageToken?:
            type: string
            description: A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
        responses:
          200:
            body:
              application/json: UrlChannels
        (commons.Id): adsensehost.urlchannels.list
        (commons.LogicalStucture):
        - Urlchannels
    /customchannels:
      /{customChannelId}:
        uriParameters:
          customChannelId:
            type: string
            description: Custom channel to get.
        get:
          securedBy:
            oath2:
              scopes:
              - https://www.googleapis.com/auth/adsensehost
          description: Get a specific custom channel from the host AdSense account.
          displayName: get
          is:
          - hasParameters
          responses:
            200:
              body:
                application/json: CustomChannel
          (commons.Id): adsensehost.customchannels.get
          (commons.LogicalStucture):
          - Customchannels
        delete:
          securedBy:
            oath2:
              scopes:
              - https://www.googleapis.com/auth/adsensehost
          description: Delete a specific custom channel from the host AdSense account.
          displayName: delete
          is:
          - hasParameters
          responses:
            200:
              body:
                application/json: CustomChannel
          (commons.Id): adsensehost.customchannels.delete
          (commons.LogicalStucture):
          - Customchannels
      patch:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adsensehost
        description: Update a custom channel in the host AdSense account. This method supports patch semantics.
        displayName: patch
        is:
        - hasParameters
        queryParameters:
          customChannelId:
            type: string
            description: Custom channel to get.
        body:
          application/json: CustomChannel
        responses:
          200:
            body:
              application/json: CustomChannel
        (commons.Id): adsensehost.customchannels.patch
        (commons.LogicalStucture):
        - Customchannels
      post:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adsensehost
        description: Add a new custom channel to the host AdSense account.
        displayName: insert
        is:
        - hasParameters
        body:
          application/json: CustomChannel
        responses:
          200:
            body:
              application/json: CustomChannel
        (commons.Id): adsensehost.customchannels.insert
        (commons.LogicalStucture):
        - Customchannels
      put:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adsensehost
        description: Update a custom channel in the host AdSense account.
        displayName: update
        is:
        - hasParameters
        body:
          application/json: CustomChannel
        responses:
          200:
            body:
              application/json: CustomChannel
        (commons.Id): adsensehost.customchannels.update
        (commons.LogicalStucture):
        - Customchannels
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adsensehost
        description: List all host custom channels in this AdSense account.
        displayName: list
        is:
        - hasParameters
        queryParameters:
          maxResults?:
            type: integer
            format: int32
            description: The maximum number of custom channels to include in the response, used for paging.
            maximum: 10000
            minimum: 0
          pageToken?:
            type: string
            description: A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
        responses:
          200:
            body:
              application/json: CustomChannels
        (commons.Id): adsensehost.customchannels.list
        (commons.LogicalStucture):
        - Customchannels
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/adsensehost
      description: Get information about one of the ad clients in the Host AdSense account.
      displayName: get
      is:
      - hasParameters
      responses:
        200:
          body:
            application/json: AdClient
      (commons.Id): adsensehost.adclients.get
      (commons.LogicalStucture):
      - Adclients
  get:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/adsensehost
    description: List all host ad clients in this AdSense account.
    displayName: list
    is:
    - hasParameters
    queryParameters:
      maxResults?:
        type: integer
        format: int32
        description: The maximum number of ad clients to include in the response, used for paging.
        maximum: 10000
        minimum: 0
      pageToken?:
        type: string
        description: A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
    responses:
      200:
        body:
          application/json: AdClients
    (commons.Id): adsensehost.adclients.list
    (commons.LogicalStucture):
    - Adclients
/associationsessions:
  /start:
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/adsensehost
      description: Create an association session for initiating an association with an AdSense user.
      displayName: start
      is:
      - hasParameters
      queryParameters:
        productCode:
          type: string
          description: Products to associate with the user.
          (commons.EnumDescriptions):
          - AdSense For Content
          - AdSense For Games
          - AdSense For Mobile Content - deprecated
          - AdSense For Search - deprecated
          - AdSense For Video
          enum:
          - AFC
          - AFG
          - AFMC
          - AFS
          - AFV
        userLocale?:
          type: string
          description: The preferred locale of the user.
        websiteUrl:
          type: string
          description: The URL of the user's hosted website.
        websiteLocale?:
          type: string
          description: The locale of the user's hosted website.
      responses:
        200:
          body:
            application/json: AssociationSession
      (commons.Id): adsensehost.associationsessions.start
      (commons.LogicalStucture):
      - Associationsessions
  /verify:
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/adsensehost
      description: Verify an association session after the association callback returns from AdSense signup.
      displayName: verify
      is:
      - hasParameters
      queryParameters:
        token:
          type: string
          description: The token returned to the association callback URL.
      responses:
        200:
          body:
            application/json: AssociationSession
      (commons.Id): adsensehost.associationsessions.verify
      (commons.LogicalStucture):
      - Associationsessions
/accounts:
  /{accountId}:
    uriParameters:
      accountId:
        type: string
        description: Account to get information about.
    /reports:
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adsensehost
        description: Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify "alt=csv" as a query parameter.
        displayName: generate
        is:
        - hasParameters
        queryParameters:
          filter?:
            type: string
            pattern: '[a-zA-Z_]+(==|=@).+'
            description: Filters to be run on the report.
          startIndex?:
            type: integer
            format: int32
            description: Index of the first row of report data to return.
            maximum: 5000
            minimum: 0
          endDate:
            type: string
            pattern: \d{4}-\d{2}-\d{2}|(today|startOfMonth|startOfYear)(([\-\+]\d+[dwmy]){0,3}?)
            description: End of the date range to report on in "YYYY-MM-DD" format, inclusive.
          metric?:
            type: string
            pattern: '[a-zA-Z_]+'
            description: Numeric columns to include in the report.
          maxResults?:
            type: integer
            format: int32
            description: The maximum number of rows of report data to return.
            maximum: 50000
            minimum: 0
          sort?:
            type: string
            pattern: (\+|-)?[a-zA-Z_]+
            description: The name of a dimension or metric to sort the resulting report on, optionally prefixed with "+" to sort ascending or "-" to sort descending. If no prefix is specified, the column is sorted ascending.
          locale?:
            type: string
            pattern: '[a-zA-Z_]+'
            description: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
          dimension?:
            type: string
            pattern: '[a-zA-Z_]+'
            description: Dimensions to base the report on.
          startDate:
            type: string
            pattern: \d{4}-\d{2}-\d{2}|(today|startOfMonth|startOfYear)(([\-\+]\d+[dwmy]){0,3}?)
            description: Start of the date range to report on in "YYYY-MM-DD" format, inclusive.
        responses:
          200:
            body:
              application/json: Report
        (commons.Id): adsensehost.accounts.reports.generate
        (commons.LogicalStucture):
        - Accounts
        - Reports
    /adclients:
      /{adClientId}:
        uriParameters:
          adClientId:
            type: string
            description: Ad client which contains the ad unit.
        /adunits:
          /{adUnitId}:
            uriParameters:
              adUnitId:
                type: string
                description: Ad unit to get.
            /adcode:
              get:
                securedBy:
                  oath2:
                    scopes:
                    - https://www.googleapis.com/auth/adsensehost
                description: Get ad code for the specified ad unit, attaching the specified host custom channels.
                displayName: get AdCode
                is:
                - hasParameters
                queryParameters:
                  hostCustomChannelId?:
                    type: string
                    description: Host custom channel to attach to the ad code.
                responses:
                  200:
                    body:
                      application/json: AdCode
                (commons.Id): adsensehost.accounts.adunits.getAdCode
                (commons.LogicalStucture):
                - Accounts
                - Adunits
            get:
              securedBy:
                oath2:
                  scopes:
                  - https://www.googleapis.com/auth/adsensehost
              description: Get the specified host ad unit in this AdSense account.
              displayName: get
              is:
              - hasParameters
              responses:
                200:
                  body:
                    application/json: AdUnit
              (commons.Id): adsensehost.accounts.adunits.get
              (commons.LogicalStucture):
              - Accounts
              - Adunits
            delete:
              securedBy:
                oath2:
                  scopes:
                  - https://www.googleapis.com/auth/adsensehost
              description: Delete the specified ad unit from the specified publisher AdSense account.
              displayName: delete
              is:
              - hasParameters
              responses:
                200:
                  body:
                    application/json: AdUnit
              (commons.Id): adsensehost.accounts.adunits.delete
              (commons.LogicalStucture):
              - Accounts
              - Adunits
          patch:
            securedBy:
              oath2:
                scopes:
                - https://www.googleapis.com/auth/adsensehost
            description: Update the supplied ad unit in the specified publisher AdSense account. This method supports patch semantics.
            displayName: patch
            is:
            - hasParameters
            queryParameters:
              adUnitId:
                type: string
                description: Ad unit to get.
            body:
              application/json: AdUnit
            responses:
              200:
                body:
                  application/json: AdUnit
            (commons.Id): adsensehost.accounts.adunits.patch
            (commons.LogicalStucture):
            - Accounts
            - Adunits
          post:
            securedBy:
              oath2:
                scopes:
                - https://www.googleapis.com/auth/adsensehost
            description: Insert the supplied ad unit into the specified publisher AdSense account.
            displayName: insert
            is:
            - hasParameters
            body:
              application/json: AdUnit
            responses:
              200:
                body:
                  application/json: AdUnit
            (commons.Id): adsensehost.accounts.adunits.insert
            (commons.LogicalStucture):
            - Accounts
            - Adunits
          put:
            securedBy:
              oath2:
                scopes:
                - https://www.googleapis.com/auth/adsensehost
            description: Update the supplied ad unit in the specified publisher AdSense account.
            displayName: update
            is:
            - hasParameters
            body:
              application/json: AdUnit
            responses:
              200:
                body:
                  application/json: AdUnit
            (commons.Id): adsensehost.accounts.adunits.update
            (commons.LogicalStucture):
            - Accounts
            - Adunits
          get:
            securedBy:
              oath2:
                scopes:
                - https://www.googleapis.com/auth/adsensehost
            description: List all ad units in the specified publisher's AdSense account.
            displayName: list
            is:
            - hasParameters
            queryParameters:
              includeInactive?:
                type: boolean
                description: 'Whether to include inactive ad units. Default: true.'
              maxResults?:
                type: integer
                format: int32
                description: The maximum number of ad units to include in the response, used for paging.
                maximum: 10000
                minimum: 0
              pageToken?:
                type: string
                description: A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
            responses:
              200:
                body:
                  application/json: AdUnits
            (commons.Id): adsensehost.accounts.adunits.list
            (commons.LogicalStucture):
            - Accounts
            - Adunits
        get:
          securedBy:
            oath2:
              scopes:
              - https://www.googleapis.com/auth/adsensehost
          description: Get information about one of the ad clients in the specified publisher's AdSense account.
          displayName: get
          is:
          - hasParameters
          responses:
            200:
              body:
                application/json: AdClient
          (commons.Id): adsensehost.accounts.adclients.get
          (commons.LogicalStucture):
          - Accounts
          - Adclients
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adsensehost
        description: List all hosted ad clients in the specified hosted account.
        displayName: list
        is:
        - hasParameters
        queryParameters:
          maxResults?:
            type: integer
            format: int32
            description: The maximum number of ad clients to include in the response, used for paging.
            maximum: 10000
            minimum: 0
          pageToken?:
            type: string
            description: A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
        responses:
          200:
            body:
              application/json: AdClients
        (commons.Id): adsensehost.accounts.adclients.list
        (commons.LogicalStucture):
        - Accounts
        - Adclients
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/adsensehost
      description: Get information about the selected associated AdSense account.
      displayName: get
      is:
      - hasParameters
      responses:
        200:
          body:
            application/json: Account
      (commons.Id): adsensehost.accounts.get
      (commons.LogicalStucture):
      - Accounts
  get:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/adsensehost
    description: List hosted accounts associated with this AdSense account by ad client id.
    displayName: list
    is:
    - hasParameters
    queryParameters:
      filterAdClientId:
        type: string
        description: Ad clients to list accounts for.
    responses:
      200:
        body:
          application/json: Accounts
    (commons.Id): adsensehost.accounts.list
    (commons.LogicalStucture):
    - Accounts
