#%RAML 1.0
title: AdSense Management API
version: v1.4
baseUri: https://www.googleapis.com/adsense/v1.4/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/adsense/management/
  role: documentation
(commons.Icons):
- url: https://www.google.com/images/icons/product/adsense-32.png
  name: x32
- url: https://www.google.com/images/icons/product/adsense-16.png
  name: x16
(commons.Id): adsense:v1.4
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/adsense.readonly
      - https://www.googleapis.com/auth/adsense
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      userIp?:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  Account:
    type: object
    properties:
      creation_time?:
        type: integer
        format: int64
      subAccounts?:
        type: array
        description: Sub accounts of the this account.
        items: Account
      premium?:
        type: boolean
        description: Whether this account is premium.
      kind?:
        type: string
        default: adsense#account
        description: Kind of resource this is, in this case adsense#account.
      timezone?:
        type: string
        description: AdSense timezone of this account.
      name?:
        type: string
        description: Name of this account.
      id?:
        type: string
        description: Unique identifier of this account.
  Accounts:
    type: object
    properties:
      kind?:
        type: string
        default: adsense#accounts
        description: Kind of list this is, in this case adsense#accounts.
      nextPageToken?:
        type: string
        description: Continuation token used to page through accounts. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The accounts returned in this list response.
        items: Account
  AdClient:
    type: object
    properties:
      arcOptIn?:
        type: boolean
        description: Whether this ad client is opted in to ARC.
      productCode?:
        type: string
        description: This ad client's product code, which corresponds to the PRODUCT_CODE report dimension.
      kind?:
        type: string
        default: adsense#adClient
        description: Kind of resource this is, in this case adsense#adClient.
      supportsReporting?:
        type: boolean
        description: Whether this ad client supports being reported on.
      id?:
        type: string
        description: Unique identifier of this ad client.
  AdClients:
    type: object
    properties:
      kind?:
        type: string
        default: adsense#adClients
        description: Kind of list this is, in this case adsense#adClients.
      nextPageToken?:
        type: string
        description: Continuation token used to page through ad clients. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The ad clients returned in this list response.
        items: AdClient
  AdCode:
    type: object
    properties:
      kind?:
        type: string
        default: adsense#adCode
        description: Kind this is, in this case adsense#adCode.
      adCode?:
        type: string
        description: The ad code snippet.
  AdStyle:
    type: object
    properties:
      corners?:
        type: string
        description: The style of the corners in the ad.
      kind?:
        type: string
        default: adsense#adStyle
        description: Kind this is, in this case adsense#adStyle.
      colors?:
        type: object
        properties:
          border?:
            type: string
            description: The color of the ad border.
          background?:
            type: string
            description: The color of the ad background.
          text?:
            type: string
            description: The color of the ad text.
          title?:
            type: string
            description: The color of the ad title.
          url?:
            type: string
            description: The color of the ad url.
        description: The colors which are included in the style. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash.
      font?:
        type: object
        properties:
          size?:
            type: string
            description: The size of the font.
          family?:
            type: string
            description: The family of the font.
        description: The font which is included in the style.
  AdUnit:
    type: object
    properties:
      savedStyleId?:
        type: string
        description: ID of the saved ad style which holds this ad unit's style information.
      code?:
        type: string
        description: Identity code of this ad unit, not necessarily unique across ad clients.
      customStyle?: AdStyle
      kind?:
        type: string
        default: adsense#adUnit
        description: Kind of resource this is, in this case adsense#adUnit.
      name?:
        type: string
        description: Name of this ad unit.
      feedAdsSettings?:
        type: object
        properties:
          adPosition?:
            type: string
            description: The position of the ads relative to the feed entries.
          minimumWordCount?:
            type: integer
            format: int32
            description: The minimum length an entry should be in order to have attached ads.
          type?:
            type: string
            description: The type of ads which should appear.
          frequency?:
            type: integer
            format: int32
            description: The frequency at which ads should appear in the feed (i.e. every N entries).
        description: Settings specific to feed ads (AFF) - deprecated.
      id?:
        type: string
        description: Unique identifier of this ad unit. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
      mobileContentAdsSettings?:
        type: object
        properties:
          markupLanguage?:
            type: string
            description: The markup language to use for this ad unit.
          size?:
            type: string
            description: Size of this ad unit.
          scriptingLanguage?:
            type: string
            description: The scripting language to use for this ad unit.
          type?:
            type: string
            description: Type of this ad unit.
        description: Settings specific to WAP mobile content ads (AFMC) - deprecated.
      contentAdsSettings?:
        type: object
        properties:
          size?:
            type: string
            description: Size of this ad unit.
          backupOption?:
            type: object
            properties:
              color?:
                type: string
                description: Color to use when type is set to COLOR.
              type?:
                type: string
                description: Type of the backup option. Possible values are BLANK, COLOR and URL.
              url?:
                type: string
                description: URL to use when type is set to URL.
            description: The backup option to be used in instances where no ad is available.
          type?:
            type: string
            description: Type of this ad unit.
        description: Settings specific to content ads (AFC) and highend mobile content ads (AFMC - deprecated).
      status?:
        type: string
        description: |-
          Status of this ad unit. Possible values are:
          NEW: Indicates that the ad unit was created within the last seven days and does not yet have any activity associated with it.

          ACTIVE: Indicates that there has been activity on this ad unit in the last seven days.

          INACTIVE: Indicates that there has been no activity on this ad unit in the last seven days.
  AdUnits:
    type: object
    properties:
      kind?:
        type: string
        default: adsense#adUnits
        description: Kind of list this is, in this case adsense#adUnits.
      nextPageToken?:
        type: string
        description: Continuation token used to page through ad units. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The ad units returned in this list response.
        items: AdUnit
  AdsenseReportsGenerateResponse:
    type: object
    properties:
      headers?:
        type: array
        description: The header information of the columns requested in the report. This is a list of headers; one for each dimension in the request, followed by one for each metric in the request.
        items:
          type: object
          properties:
            name?:
              type: string
              description: The name of the header.
            currency?:
              type: string
              description: The currency of this column. Only present if the header type is METRIC_CURRENCY.
            type?:
              type: string
              description: The type of the header; one of DIMENSION, METRIC_TALLY, METRIC_RATIO, or METRIC_CURRENCY.
      endDate?:
        type: string
        description: The requested end date in yyyy-mm-dd format.
      kind?:
        type: string
        default: adsense#report
        description: Kind this is, in this case adsense#report.
      warnings?:
        type: array
        description: Any warnings associated with generation of the report.
        items:
          type: string
      averages?:
        type: array
        description: The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.
        items:
          type: string
      totalMatchedRows?:
        type: integer
        format: int64
        description: The total number of rows matched by the report request. Fewer rows may be returned in the response due to being limited by the row count requested or the report row limit.
      totals?:
        type: array
        description: The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.
        items:
          type: string
      rows?:
        type: array
        description: The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request. The dimension cells contain strings, and the metric cells contain numbers.
        items:
          type: array
          items:
            type: string
      startDate?:
        type: string
        description: The requested start date in yyyy-mm-dd format.
  Alert:
    type: object
    properties:
      severity?:
        type: string
        description: 'Severity of this alert. Possible values: INFO, WARNING, SEVERE.'
      kind?:
        type: string
        default: adsense#alert
        description: Kind of resource this is, in this case adsense#alert.
      id?:
        type: string
        description: Unique identifier of this alert. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
      isDismissible?:
        type: boolean
        description: Whether this alert can be dismissed.
      message?:
        type: string
        description: The localized alert message.
      type?:
        type: string
        description: 'Type of this alert. Possible values: SELF_HOLD, MIGRATED_TO_BILLING3,
          ADDRESS_PIN_VERIFICATION, PHONE_PIN_VERIFICATION, CORPORATE_ENTITY, GRAYLISTED_PUBLISHER,
          API_HOLD.'
  Alerts:
    type: object
    properties:
      kind?:
        type: string
        default: adsense#alerts
        description: Kind of list this is, in this case adsense#alerts.
      items?:
        type: array
        description: The alerts returned in this list response.
        items: Alert
  CustomChannel:
    type: object
    properties:
      code?:
        type: string
        description: Code of this custom channel, not necessarily unique across ad clients.
      targetingInfo?:
        type: object
        properties:
          siteLanguage?:
            type: string
            description: The language of the sites ads will be displayed on.
          adsAppearOn?:
            type: string
            description: The name used to describe this channel externally.
          description?:
            type: string
            description: The external description of the channel.
          location?:
            type: string
            description: 'The locations in which ads appear. (Only valid for content
              and mobile content ads (deprecated)). Acceptable values for content
              ads are: TOP_LEFT, TOP_CENTER, TOP_RIGHT, MIDDLE_LEFT, MIDDLE_CENTER,
              MIDDLE_RIGHT, BOTTOM_LEFT, BOTTOM_CENTER, BOTTOM_RIGHT, MULTIPLE_LOCATIONS.
              Acceptable values for mobile content ads (deprecated) are: TOP, MIDDLE,
              BOTTOM, MULTIPLE_LOCATIONS.'
        description: The targeting information of this custom channel, if activated.
      kind?:
        type: string
        default: adsense#customChannel
        description: Kind of resource this is, in this case adsense#customChannel.
      name?:
        type: string
        description: Name of this custom channel.
      id?:
        type: string
        description: Unique identifier of this custom channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
  CustomChannels:
    type: object
    properties:
      kind?:
        type: string
        default: adsense#customChannels
        description: Kind of list this is, in this case adsense#customChannels.
      nextPageToken?:
        type: string
        description: Continuation token used to page through custom channels. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The custom channels returned in this list response.
        items: CustomChannel
  Metadata:
    type: object
    properties:
      kind?:
        type: string
        default: adsense#metadata
        description: Kind of list this is, in this case adsense#metadata.
      items?: ReportingMetadataEntry[]
  Payment:
    type: object
    properties:
      kind?:
        type: string
        default: adsense#payment
        description: Kind of resource this is, in this case adsense#payment.
      id?:
        type: string
        description: Unique identifier of this Payment.
      paymentDate?:
        type: string
        description: The date this payment was/will be credited to the user, or none if the payment threshold has not been met.
      paymentAmount?:
        type: string
        description: The amount to be paid.
      paymentAmountCurrencyCode?:
        type: string
        description: The currency code for the amount to be paid.
  Payments:
    type: object
    properties:
      kind?:
        type: string
        default: adsense#payments
        description: Kind of list this is, in this case adsense#payments.
      items?:
        type: array
        description: The list of Payments for the account. One or both of a) the account's most recent payment; and b) the account's upcoming payment.
        items: Payment
  ReportingMetadataEntry:
    type: object
    properties:
      requiredMetrics?:
        type: array
        description: The names of the metrics which the dimension or metric this reporting metadata entry describes requires to also be present in order for the report to be valid. Omitting these will not cause an error or warning, but may result in data which cannot be correctly interpreted.
        items:
          type: string
      compatibleMetrics?:
        type: array
        description: The names of the metrics the dimension or metric this reporting metadata entry describes is compatible with.
        items:
          type: string
      supportedProducts?:
        type: array
        description: The codes of the projects supported by the dimension or metric this reporting metadata entry describes.
        items:
          type: string
      kind?:
        type: string
        default: adsense#reportingMetadataEntry
        description: Kind of resource this is, in this case adsense#reportingMetadataEntry.
      compatibleDimensions?:
        type: array
        description: For metrics this is a list of dimension IDs which the metric is compatible with, for dimensions it is a list of compatibility groups the dimension belongs to.
        items:
          type: string
      requiredDimensions?:
        type: array
        description: The names of the dimensions which the dimension or metric this reporting metadata entry describes requires to also be present in order for the report to be valid. Omitting these will not cause an error or warning, but may result in data which cannot be correctly interpreted.
        items:
          type: string
      id?:
        type: string
        description: Unique identifier of this reporting metadata entry, corresponding to the name of the appropriate dimension or metric.
  SavedAdStyle:
    type: object
    properties:
      kind?:
        type: string
        default: adsense#savedAdStyle
        description: Kind of resource this is, in this case adsense#savedAdStyle.
      adStyle?: AdStyle
      name?:
        type: string
        description: The user selected name of this SavedAdStyle.
      id?:
        type: string
        description: Unique identifier of this saved ad style. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
  SavedAdStyles:
    type: object
    properties:
      kind?:
        type: string
        default: adsense#savedAdStyles
        description: Kind of list this is, in this case adsense#savedAdStyles.
      nextPageToken?:
        type: string
        description: Continuation token used to page through ad units. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The saved ad styles returned in this list response.
        items: SavedAdStyle
  SavedReport:
    type: object
    properties:
      kind?:
        type: string
        default: adsense#savedReport
        description: Kind of resource this is, in this case adsense#savedReport.
      name?:
        type: string
        description: This saved report's name.
      id?:
        type: string
        description: Unique identifier of this saved report.
  SavedReports:
    type: object
    properties:
      kind?:
        type: string
        default: adsense#savedReports
        description: Kind of list this is, in this case adsense#savedReports.
      nextPageToken?:
        type: string
        description: Continuation token used to page through saved reports. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The saved reports returned in this list response.
        items: SavedReport
  UrlChannel:
    type: object
    properties:
      kind?:
        type: string
        default: adsense#urlChannel
        description: Kind of resource this is, in this case adsense#urlChannel.
      id?:
        type: string
        description: Unique identifier of this URL channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
      urlPattern?:
        type: string
        description: 'URL Pattern of this URL channel. Does not include "http://"
          or "https://". Example: www.example.com/home'
  UrlChannels:
    type: object
    properties:
      kind?:
        type: string
        default: adsense#urlChannels
        description: Kind of list this is, in this case adsense#urlChannels.
      nextPageToken?:
        type: string
        description: Continuation token used to page through URL channels. To retrieve the next page of results, set the next request's "pageToken" value to this.
      etag?:
        type: string
        description: ETag of this response for caching purposes.
      items?:
        type: array
        description: The URL channels returned in this list response.
        items: UrlChannel
/alerts:
  /{alertId}:
    uriParameters:
      alertId:
        type: string
        description: Alert to delete.
    delete:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/adsense
      description: Dismiss (delete) the specified alert from the publisher's AdSense account.
      displayName: delete
      is:
      - hasParameters
      (commons.Id): adsense.alerts.delete
      (commons.LogicalStucture):
      - Alerts
  get:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/adsense
        - https://www.googleapis.com/auth/adsense.readonly
    description: List the alerts for this AdSense account.
    displayName: list
    is:
    - hasParameters
    queryParameters:
      locale?:
        type: string
        description: The locale to use for translating alert messages. The account locale will be used if this is not supplied. The AdSense default (English) will be used if the supplied locale is invalid or unsupported.
    responses:
      200:
        body:
          application/json: Alerts
    (commons.Id): adsense.alerts.list
    (commons.LogicalStucture):
    - Alerts
/reports:
  /saved:
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/adsense
          - https://www.googleapis.com/auth/adsense.readonly
      description: List all saved reports in this AdSense account.
      displayName: list
      is:
      - hasParameters
      queryParameters:
        maxResults?:
          type: integer
          format: int32
          description: The maximum number of saved reports to include in the response, used for paging.
          maximum: 100
          minimum: 0
        pageToken?:
          type: string
          description: A continuation token, used to page through saved reports. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
      responses:
        200:
          body:
            application/json: SavedReports
      (commons.Id): adsense.reports.saved.list
      (commons.LogicalStucture):
      - Reports
      - Saved
  /{savedReportId}:
    uriParameters:
      savedReportId:
        type: string
        description: The saved report to retrieve.
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/adsense
          - https://www.googleapis.com/auth/adsense.readonly
      description: Generate an AdSense report based on the saved report ID sent in the query parameters.
      displayName: generate
      is:
      - hasParameters
      queryParameters:
        startIndex?:
          type: integer
          format: int32
          description: Index of the first row of report data to return.
          maximum: 5000
          minimum: 0
        maxResults?:
          type: integer
          format: int32
          description: The maximum number of rows of report data to return.
          maximum: 50000
          minimum: 0
        locale?:
          type: string
          pattern: '[a-zA-Z_]+'
          description: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
      responses:
        200:
          body:
            application/json: AdsenseReportsGenerateResponse
      (commons.Id): adsense.reports.saved.generate
      (commons.LogicalStucture):
      - Reports
      - Saved
  get:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/adsense
        - https://www.googleapis.com/auth/adsense.readonly
    description: Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify "alt=csv" as a query parameter.
    displayName: generate
    is:
    - hasParameters
    queryParameters:
      filter?:
        type: string
        pattern: '[a-zA-Z_]+(==|=@).+'
        description: Filters to be run on the report.
      accountId?:
        type: string
        description: Accounts upon which to report.
      startIndex?:
        type: integer
        format: int32
        description: Index of the first row of report data to return.
        maximum: 5000
        minimum: 0
      endDate:
        type: string
        pattern: \d{4}-\d{2}-\d{2}|(today|startOfMonth|startOfYear)(([\-\+]\d+[dwmy]){0,3}?)|(latest-(\d{2})-(\d{2})(-\d+y)?)|(latest-latest-(\d{2})(-\d+m)?)
        description: End of the date range to report on in "YYYY-MM-DD" format, inclusive.
      metric?:
        type: string
        pattern: '[a-zA-Z_]+'
        description: Numeric columns to include in the report.
      maxResults?:
        type: integer
        format: int32
        description: The maximum number of rows of report data to return.
        maximum: 50000
        minimum: 0
      currency?:
        type: string
        pattern: '[a-zA-Z]+'
        description: Optional currency to use when reporting on monetary metrics. Defaults to the account's currency if not set.
      sort?:
        type: string
        pattern: (\+|-)?[a-zA-Z_]+
        description: The name of a dimension or metric to sort the resulting report on, optionally prefixed with "+" to sort ascending or "-" to sort descending. If no prefix is specified, the column is sorted ascending.
      useTimezoneReporting?:
        type: boolean
        description: Whether the report should be generated in the AdSense account's local timezone. If false default PST/PDT timezone will be used.
      locale?:
        type: string
        pattern: '[a-zA-Z_]+'
        description: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
      dimension?:
        type: string
        pattern: '[a-zA-Z_]+'
        description: Dimensions to base the report on.
      startDate:
        type: string
        pattern: \d{4}-\d{2}-\d{2}|(today|startOfMonth|startOfYear)(([\-\+]\d+[dwmy]){0,3}?)|(latest-(\d{2})-(\d{2})(-\d+y)?)|(latest-latest-(\d{2})(-\d+m)?)
        description: Start of the date range to report on in "YYYY-MM-DD" format, inclusive.
    responses:
      200:
        body:
          application/json: AdsenseReportsGenerateResponse
    (commons.Id): adsense.reports.generate
    (commons.LogicalStucture):
    - Reports
/metadata:
  /metrics:
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/adsense
          - https://www.googleapis.com/auth/adsense.readonly
      description: List the metadata for the metrics available to this AdSense account.
      displayName: list
      is:
      - hasParameters
      responses:
        200:
          body:
            application/json: Metadata
      (commons.Id): adsense.metadata.metrics.list
      (commons.LogicalStucture):
      - Metadata
      - Metrics
  /dimensions:
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/adsense
          - https://www.googleapis.com/auth/adsense.readonly
      description: List the metadata for the dimensions available to this AdSense account.
      displayName: list
      is:
      - hasParameters
      responses:
        200:
          body:
            application/json: Metadata
      (commons.Id): adsense.metadata.dimensions.list
      (commons.LogicalStucture):
      - Metadata
      - Dimensions
/adclients:
  /{adClientId}:
    uriParameters:
      adClientId:
        type: string
        description: Ad client for which to list URL channels.
    /urlchannels:
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adsense
            - https://www.googleapis.com/auth/adsense.readonly
        description: List all URL channels in the specified ad client for this AdSense account.
        displayName: list
        is:
        - hasParameters
        queryParameters:
          maxResults?:
            type: integer
            format: int32
            description: The maximum number of URL channels to include in the response, used for paging.
            maximum: 10000
            minimum: 0
          pageToken?:
            type: string
            description: A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
        responses:
          200:
            body:
              application/json: UrlChannels
        (commons.Id): adsense.urlchannels.list
        (commons.LogicalStucture):
        - Urlchannels
    /customchannels:
      /{customChannelId}:
        uriParameters:
          customChannelId:
            type: string
            description: Custom channel to retrieve.
        /adunits:
          get:
            securedBy:
              oath2:
                scopes:
                - https://www.googleapis.com/auth/adsense
                - https://www.googleapis.com/auth/adsense.readonly
            description: List all ad units in the specified custom channel.
            displayName: list
            is:
            - hasParameters
            queryParameters:
              includeInactive?:
                type: boolean
                description: 'Whether to include inactive ad units. Default: true.'
              maxResults?:
                type: integer
                format: int32
                description: The maximum number of ad units to include in the response, used for paging.
                maximum: 10000
                minimum: 0
              pageToken?:
                type: string
                description: A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
            responses:
              200:
                body:
                  application/json: AdUnits
            (commons.Id): adsense.customchannels.adunits.list
            (commons.LogicalStucture):
            - Customchannels
            - Adunits
        get:
          securedBy:
            oath2:
              scopes:
              - https://www.googleapis.com/auth/adsense
              - https://www.googleapis.com/auth/adsense.readonly
          description: Get the specified custom channel from the specified ad client.
          displayName: get
          is:
          - hasParameters
          responses:
            200:
              body:
                application/json: CustomChannel
          (commons.Id): adsense.customchannels.get
          (commons.LogicalStucture):
          - Customchannels
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adsense
            - https://www.googleapis.com/auth/adsense.readonly
        description: List all custom channels in the specified ad client for this AdSense account.
        displayName: list
        is:
        - hasParameters
        queryParameters:
          maxResults?:
            type: integer
            format: int32
            description: The maximum number of custom channels to include in the response, used for paging.
            maximum: 10000
            minimum: 0
          pageToken?:
            type: string
            description: A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
        responses:
          200:
            body:
              application/json: CustomChannels
        (commons.Id): adsense.customchannels.list
        (commons.LogicalStucture):
        - Customchannels
    /adunits:
      /{adUnitId}:
        uriParameters:
          adUnitId:
            type: string
            description: Ad unit to retrieve.
        /adcode:
          get:
            securedBy:
              oath2:
                scopes:
                - https://www.googleapis.com/auth/adsense
                - https://www.googleapis.com/auth/adsense.readonly
            description: Get ad code for the specified ad unit.
            displayName: get AdCode
            is:
            - hasParameters
            responses:
              200:
                body:
                  application/json: AdCode
            (commons.Id): adsense.adunits.getAdCode
            (commons.LogicalStucture):
            - Adunits
        /customchannels:
          get:
            securedBy:
              oath2:
                scopes:
                - https://www.googleapis.com/auth/adsense
                - https://www.googleapis.com/auth/adsense.readonly
            description: List all custom channels which the specified ad unit belongs to.
            displayName: list
            is:
            - hasParameters
            queryParameters:
              maxResults?:
                type: integer
                format: int32
                description: The maximum number of custom channels to include in the response, used for paging.
                maximum: 10000
                minimum: 0
              pageToken?:
                type: string
                description: A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
            responses:
              200:
                body:
                  application/json: CustomChannels
            (commons.Id): adsense.adunits.customchannels.list
            (commons.LogicalStucture):
            - Adunits
            - Customchannels
        get:
          securedBy:
            oath2:
              scopes:
              - https://www.googleapis.com/auth/adsense
              - https://www.googleapis.com/auth/adsense.readonly
          description: Gets the specified ad unit in the specified ad client.
          displayName: get
          is:
          - hasParameters
          responses:
            200:
              body:
                application/json: AdUnit
          (commons.Id): adsense.adunits.get
          (commons.LogicalStucture):
          - Adunits
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adsense
            - https://www.googleapis.com/auth/adsense.readonly
        description: List all ad units in the specified ad client for this AdSense account.
        displayName: list
        is:
        - hasParameters
        queryParameters:
          includeInactive?:
            type: boolean
            description: 'Whether to include inactive ad units. Default: true.'
          maxResults?:
            type: integer
            format: int32
            description: The maximum number of ad units to include in the response, used for paging.
            maximum: 10000
            minimum: 0
          pageToken?:
            type: string
            description: A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
        responses:
          200:
            body:
              application/json: AdUnits
        (commons.Id): adsense.adunits.list
        (commons.LogicalStucture):
        - Adunits
  get:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/adsense
        - https://www.googleapis.com/auth/adsense.readonly
    description: List all ad clients in this AdSense account.
    displayName: list
    is:
    - hasParameters
    queryParameters:
      maxResults?:
        type: integer
        format: int32
        description: The maximum number of ad clients to include in the response, used for paging.
        maximum: 10000
        minimum: 0
      pageToken?:
        type: string
        description: A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
    responses:
      200:
        body:
          application/json: AdClients
    (commons.Id): adsense.adclients.list
    (commons.LogicalStucture):
    - Adclients
/payments:
  get:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/adsense
        - https://www.googleapis.com/auth/adsense.readonly
    description: List the payments for this AdSense account.
    displayName: list
    is:
    - hasParameters
    responses:
      200:
        body:
          application/json: Payments
    (commons.Id): adsense.payments.list
    (commons.LogicalStucture):
    - Payments
/savedadstyles:
  /{savedAdStyleId}:
    uriParameters:
      savedAdStyleId:
        type: string
        description: Saved ad style to retrieve.
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/adsense
          - https://www.googleapis.com/auth/adsense.readonly
      description: Get a specific saved ad style from the user's account.
      displayName: get
      is:
      - hasParameters
      responses:
        200:
          body:
            application/json: SavedAdStyle
      (commons.Id): adsense.savedadstyles.get
      (commons.LogicalStucture):
      - Savedadstyles
  get:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/adsense
        - https://www.googleapis.com/auth/adsense.readonly
    description: List all saved ad styles in the user's account.
    displayName: list
    is:
    - hasParameters
    queryParameters:
      maxResults?:
        type: integer
        format: int32
        description: The maximum number of saved ad styles to include in the response, used for paging.
        maximum: 10000
        minimum: 0
      pageToken?:
        type: string
        description: A continuation token, used to page through saved ad styles. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
    responses:
      200:
        body:
          application/json: SavedAdStyles
    (commons.Id): adsense.savedadstyles.list
    (commons.LogicalStucture):
    - Savedadstyles
/accounts:
  /{accountId}:
    uriParameters:
      accountId:
        type: string
        description: Account to get information about.
    /alerts:
      /{alertId}:
        uriParameters:
          alertId:
            type: string
            description: Alert to delete.
        delete:
          securedBy:
            oath2:
              scopes:
              - https://www.googleapis.com/auth/adsense
          description: Dismiss (delete) the specified alert from the specified publisher AdSense account.
          displayName: delete
          is:
          - hasParameters
          (commons.Id): adsense.accounts.alerts.delete
          (commons.LogicalStucture):
          - Accounts
          - Alerts
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adsense
            - https://www.googleapis.com/auth/adsense.readonly
        description: List the alerts for the specified AdSense account.
        displayName: list
        is:
        - hasParameters
        queryParameters:
          locale?:
            type: string
            description: The locale to use for translating alert messages. The account locale will be used if this is not supplied. The AdSense default (English) will be used if the supplied locale is invalid or unsupported.
        responses:
          200:
            body:
              application/json: Alerts
        (commons.Id): adsense.accounts.alerts.list
        (commons.LogicalStucture):
        - Accounts
        - Alerts
    /reports:
      /saved:
        get:
          securedBy:
            oath2:
              scopes:
              - https://www.googleapis.com/auth/adsense
              - https://www.googleapis.com/auth/adsense.readonly
          description: List all saved reports in the specified AdSense account.
          displayName: list
          is:
          - hasParameters
          queryParameters:
            maxResults?:
              type: integer
              format: int32
              description: The maximum number of saved reports to include in the response, used for paging.
              maximum: 100
              minimum: 0
            pageToken?:
              type: string
              description: A continuation token, used to page through saved reports. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          responses:
            200:
              body:
                application/json: SavedReports
          (commons.Id): adsense.accounts.reports.saved.list
          (commons.LogicalStucture):
          - Accounts
          - Reports
          - Saved
      /{savedReportId}:
        uriParameters:
          savedReportId:
            type: string
            description: The saved report to retrieve.
        get:
          securedBy:
            oath2:
              scopes:
              - https://www.googleapis.com/auth/adsense
              - https://www.googleapis.com/auth/adsense.readonly
          description: Generate an AdSense report based on the saved report ID sent in the query parameters.
          displayName: generate
          is:
          - hasParameters
          queryParameters:
            startIndex?:
              type: integer
              format: int32
              description: Index of the first row of report data to return.
              maximum: 5000
              minimum: 0
            maxResults?:
              type: integer
              format: int32
              description: The maximum number of rows of report data to return.
              maximum: 50000
              minimum: 0
            locale?:
              type: string
              pattern: '[a-zA-Z_]+'
              description: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
          responses:
            200:
              body:
                application/json: AdsenseReportsGenerateResponse
          (commons.Id): adsense.accounts.reports.saved.generate
          (commons.LogicalStucture):
          - Accounts
          - Reports
          - Saved
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adsense
            - https://www.googleapis.com/auth/adsense.readonly
        description: Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify "alt=csv" as a query parameter.
        displayName: generate
        is:
        - hasParameters
        queryParameters:
          filter?:
            type: string
            pattern: '[a-zA-Z_]+(==|=@).+'
            description: Filters to be run on the report.
          startIndex?:
            type: integer
            format: int32
            description: Index of the first row of report data to return.
            maximum: 5000
            minimum: 0
          endDate:
            type: string
            pattern: \d{4}-\d{2}-\d{2}|(today|startOfMonth|startOfYear)(([\-\+]\d+[dwmy]){0,3}?)|(latest-(\d{2})-(\d{2})(-\d+y)?)|(latest-latest-(\d{2})(-\d+m)?)
            description: End of the date range to report on in "YYYY-MM-DD" format, inclusive.
          metric?:
            type: string
            pattern: '[a-zA-Z_]+'
            description: Numeric columns to include in the report.
          maxResults?:
            type: integer
            format: int32
            description: The maximum number of rows of report data to return.
            maximum: 50000
            minimum: 0
          currency?:
            type: string
            pattern: '[a-zA-Z]+'
            description: Optional currency to use when reporting on monetary metrics. Defaults to the account's currency if not set.
          sort?:
            type: string
            pattern: (\+|-)?[a-zA-Z_]+
            description: The name of a dimension or metric to sort the resulting report on, optionally prefixed with "+" to sort ascending or "-" to sort descending. If no prefix is specified, the column is sorted ascending.
          useTimezoneReporting?:
            type: boolean
            description: Whether the report should be generated in the AdSense account's local timezone. If false default PST/PDT timezone will be used.
          locale?:
            type: string
            pattern: '[a-zA-Z_]+'
            description: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
          dimension?:
            type: string
            pattern: '[a-zA-Z_]+'
            description: Dimensions to base the report on.
          startDate:
            type: string
            pattern: \d{4}-\d{2}-\d{2}|(today|startOfMonth|startOfYear)(([\-\+]\d+[dwmy]){0,3}?)|(latest-(\d{2})-(\d{2})(-\d+y)?)|(latest-latest-(\d{2})(-\d+m)?)
            description: Start of the date range to report on in "YYYY-MM-DD" format, inclusive.
        responses:
          200:
            body:
              application/json: AdsenseReportsGenerateResponse
        (commons.Id): adsense.accounts.reports.generate
        (commons.LogicalStucture):
        - Accounts
        - Reports
    /adclients:
      /{adClientId}:
        uriParameters:
          adClientId:
            type: string
            description: Ad client for which to list URL channels.
        /urlchannels:
          get:
            securedBy:
              oath2:
                scopes:
                - https://www.googleapis.com/auth/adsense
                - https://www.googleapis.com/auth/adsense.readonly
            description: List all URL channels in the specified ad client for the specified account.
            displayName: list
            is:
            - hasParameters
            queryParameters:
              maxResults?:
                type: integer
                format: int32
                description: The maximum number of URL channels to include in the response, used for paging.
                maximum: 10000
                minimum: 0
              pageToken?:
                type: string
                description: A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
            responses:
              200:
                body:
                  application/json: UrlChannels
            (commons.Id): adsense.accounts.urlchannels.list
            (commons.LogicalStucture):
            - Accounts
            - Urlchannels
        /customchannels:
          /{customChannelId}:
            uriParameters:
              customChannelId:
                type: string
                description: Custom channel to retrieve.
            /adunits:
              get:
                securedBy:
                  oath2:
                    scopes:
                    - https://www.googleapis.com/auth/adsense
                    - https://www.googleapis.com/auth/adsense.readonly
                description: List all ad units in the specified custom channel.
                displayName: list
                is:
                - hasParameters
                queryParameters:
                  includeInactive?:
                    type: boolean
                    description: 'Whether to include inactive ad units. Default: true.'
                  maxResults?:
                    type: integer
                    format: int32
                    description: The maximum number of ad units to include in the response, used for paging.
                    maximum: 10000
                    minimum: 0
                  pageToken?:
                    type: string
                    description: A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
                responses:
                  200:
                    body:
                      application/json: AdUnits
                (commons.Id): adsense.accounts.customchannels.adunits.list
                (commons.LogicalStucture):
                - Accounts
                - Customchannels
                - Adunits
            get:
              securedBy:
                oath2:
                  scopes:
                  - https://www.googleapis.com/auth/adsense
                  - https://www.googleapis.com/auth/adsense.readonly
              description: Get the specified custom channel from the specified ad client for the specified account.
              displayName: get
              is:
              - hasParameters
              responses:
                200:
                  body:
                    application/json: CustomChannel
              (commons.Id): adsense.accounts.customchannels.get
              (commons.LogicalStucture):
              - Accounts
              - Customchannels
          get:
            securedBy:
              oath2:
                scopes:
                - https://www.googleapis.com/auth/adsense
                - https://www.googleapis.com/auth/adsense.readonly
            description: List all custom channels in the specified ad client for the specified account.
            displayName: list
            is:
            - hasParameters
            queryParameters:
              maxResults?:
                type: integer
                format: int32
                description: The maximum number of custom channels to include in the response, used for paging.
                maximum: 10000
                minimum: 0
              pageToken?:
                type: string
                description: A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
            responses:
              200:
                body:
                  application/json: CustomChannels
            (commons.Id): adsense.accounts.customchannels.list
            (commons.LogicalStucture):
            - Accounts
            - Customchannels
        /adunits:
          /{adUnitId}:
            uriParameters:
              adUnitId:
                type: string
                description: Ad unit to retrieve.
            /adcode:
              get:
                securedBy:
                  oath2:
                    scopes:
                    - https://www.googleapis.com/auth/adsense
                    - https://www.googleapis.com/auth/adsense.readonly
                description: Get ad code for the specified ad unit.
                displayName: get AdCode
                is:
                - hasParameters
                responses:
                  200:
                    body:
                      application/json: AdCode
                (commons.Id): adsense.accounts.adunits.getAdCode
                (commons.LogicalStucture):
                - Accounts
                - Adunits
            /customchannels:
              get:
                securedBy:
                  oath2:
                    scopes:
                    - https://www.googleapis.com/auth/adsense
                    - https://www.googleapis.com/auth/adsense.readonly
                description: List all custom channels which the specified ad unit belongs to.
                displayName: list
                is:
                - hasParameters
                queryParameters:
                  maxResults?:
                    type: integer
                    format: int32
                    description: The maximum number of custom channels to include in the response, used for paging.
                    maximum: 10000
                    minimum: 0
                  pageToken?:
                    type: string
                    description: A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
                responses:
                  200:
                    body:
                      application/json: CustomChannels
                (commons.Id): adsense.accounts.adunits.customchannels.list
                (commons.LogicalStucture):
                - Accounts
                - Adunits
                - Customchannels
            get:
              securedBy:
                oath2:
                  scopes:
                  - https://www.googleapis.com/auth/adsense
                  - https://www.googleapis.com/auth/adsense.readonly
              description: Gets the specified ad unit in the specified ad client for the specified account.
              displayName: get
              is:
              - hasParameters
              responses:
                200:
                  body:
                    application/json: AdUnit
              (commons.Id): adsense.accounts.adunits.get
              (commons.LogicalStucture):
              - Accounts
              - Adunits
          get:
            securedBy:
              oath2:
                scopes:
                - https://www.googleapis.com/auth/adsense
                - https://www.googleapis.com/auth/adsense.readonly
            description: List all ad units in the specified ad client for the specified account.
            displayName: list
            is:
            - hasParameters
            queryParameters:
              includeInactive?:
                type: boolean
                description: 'Whether to include inactive ad units. Default: true.'
              maxResults?:
                type: integer
                format: int32
                description: The maximum number of ad units to include in the response, used for paging.
                maximum: 10000
                minimum: 0
              pageToken?:
                type: string
                description: A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
            responses:
              200:
                body:
                  application/json: AdUnits
            (commons.Id): adsense.accounts.adunits.list
            (commons.LogicalStucture):
            - Accounts
            - Adunits
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adsense
            - https://www.googleapis.com/auth/adsense.readonly
        description: List all ad clients in the specified account.
        displayName: list
        is:
        - hasParameters
        queryParameters:
          maxResults?:
            type: integer
            format: int32
            description: The maximum number of ad clients to include in the response, used for paging.
            maximum: 10000
            minimum: 0
          pageToken?:
            type: string
            description: A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
        responses:
          200:
            body:
              application/json: AdClients
        (commons.Id): adsense.accounts.adclients.list
        (commons.LogicalStucture):
        - Accounts
        - Adclients
    /payments:
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adsense
            - https://www.googleapis.com/auth/adsense.readonly
        description: List the payments for the specified AdSense account.
        displayName: list
        is:
        - hasParameters
        responses:
          200:
            body:
              application/json: Payments
        (commons.Id): adsense.accounts.payments.list
        (commons.LogicalStucture):
        - Accounts
        - Payments
    /savedadstyles:
      /{savedAdStyleId}:
        uriParameters:
          savedAdStyleId:
            type: string
            description: Saved ad style to retrieve.
        get:
          securedBy:
            oath2:
              scopes:
              - https://www.googleapis.com/auth/adsense
              - https://www.googleapis.com/auth/adsense.readonly
          description: List a specific saved ad style for the specified account.
          displayName: get
          is:
          - hasParameters
          responses:
            200:
              body:
                application/json: SavedAdStyle
          (commons.Id): adsense.accounts.savedadstyles.get
          (commons.LogicalStucture):
          - Accounts
          - Savedadstyles
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/adsense
            - https://www.googleapis.com/auth/adsense.readonly
        description: List all saved ad styles in the specified account.
        displayName: list
        is:
        - hasParameters
        queryParameters:
          maxResults?:
            type: integer
            format: int32
            description: The maximum number of saved ad styles to include in the response, used for paging.
            maximum: 10000
            minimum: 0
          pageToken?:
            type: string
            description: A continuation token, used to page through saved ad styles. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
        responses:
          200:
            body:
              application/json: SavedAdStyles
        (commons.Id): adsense.accounts.savedadstyles.list
        (commons.LogicalStucture):
        - Accounts
        - Savedadstyles
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/adsense
          - https://www.googleapis.com/auth/adsense.readonly
      description: Get information about the selected AdSense account.
      displayName: get
      is:
      - hasParameters
      queryParameters:
        tree?:
          type: boolean
          description: Whether the tree of sub accounts should be returned.
      responses:
        200:
          body:
            application/json: Account
      (commons.Id): adsense.accounts.get
      (commons.LogicalStucture):
      - Accounts
  get:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/adsense
        - https://www.googleapis.com/auth/adsense.readonly
    description: List all accounts available to this AdSense account.
    displayName: list
    is:
    - hasParameters
    queryParameters:
      maxResults?:
        type: integer
        format: int32
        description: The maximum number of accounts to include in the response, used for paging.
        maximum: 10000
        minimum: 0
      pageToken?:
        type: string
        description: A continuation token, used to page through accounts. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
    responses:
      200:
        body:
          application/json: Accounts
    (commons.Id): adsense.accounts.list
    (commons.LogicalStucture):
    - Accounts
