#%RAML 1.0
title: Google Analytics API
version: v3
baseUri: https://www.googleapis.com/analytics/v3/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/analytics/
  role: documentation
(commons.Icons):
- url: https://www.google.com/images/icons/product/analytics-32.png
  name: x32
- url: https://www.google.com/images/icons/product/analytics-16.png
  name: x16
(commons.Id): analytics:v3
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/analytics.readonly
      - https://www.googleapis.com/auth/analytics.manage.users
      - https://www.googleapis.com/auth/analytics
      - https://www.googleapis.com/auth/analytics.edit
      - https://www.googleapis.com/auth/analytics.manage.users.readonly
      - https://www.googleapis.com/auth/analytics.provision
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
      prettyPrint?:
        type: boolean
        default: false
        description: Returns response with indentations and line breaks.
      userIp?:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  Account:
    type: object
    properties:
      starred?:
        type: boolean
        description: Indicates whether this account is starred or not.
      childLink?:
        type: object
        properties:
          href?:
            type: string
            description: Link to the list of web properties for this account.
          type?:
            type: string
            default: analytics#webproperties
            description: Type of the child link. Its value is "analytics#webproperties".
        description: Child link for an account entry. Points to the list of web properties for this account.
      created?:
        type: datetime
        description: Time the account was created.
      kind?:
        type: string
        default: analytics#account
        description: Resource type for Analytics account.
      permissions?:
        type: object
        properties:
          effective?:
            type: array
            description: All the permissions that the user has for this account. These include any implied permissions (e.g., EDIT implies VIEW).
            items:
              type: string
        description: Permissions the user has for this account.
      name?:
        type: string
        description: Account name.
      id?:
        type: string
        description: Account ID.
      updated?:
        type: datetime
        description: Time the account was last modified.
      selfLink?:
        type: string
        description: Link for this account.
    description: JSON template for Analytics account entry.
  AccountRef:
    type: object
    properties:
      kind?:
        type: string
        default: analytics#accountRef
        description: Analytics account reference.
      name?:
        type: string
        description: Account name.
      href?:
        type: string
        description: Link for this account.
      id?:
        type: string
        description: Account ID.
    description: JSON template for a linked account.
  AccountSummaries:
    type: object
    properties:
      previousLink?:
        type: string
        description: Link to previous page for this AccountSummary collection.
      startIndex?:
        type: integer
        format: int32
        description: The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.
      totalResults?:
        type: integer
        format: int32
        description: The total number of results for the query, regardless of the number of results in the response.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      kind?:
        type: string
        default: analytics#accountSummaries
        description: Collection type.
      items?:
        type: array
        description: A list of AccountSummaries.
        items: AccountSummary
      nextLink?:
        type: string
        description: Link to next page for this AccountSummary collection.
      username?:
        type: string
        description: Email ID of the authenticated user
    description: An AccountSummary collection lists a summary of accounts, properties and views (profiles) to which the user has access. Each resource in the collection corresponds to a single AccountSummary.
  AccountSummary:
    type: object
    properties:
      starred?:
        type: boolean
        description: Indicates whether this account is starred or not.
      kind?:
        type: string
        default: analytics#accountSummary
        description: Resource type for Analytics AccountSummary.
      name?:
        type: string
        description: Account name.
      id?:
        type: string
        description: Account ID.
      webProperties?:
        type: array
        description: List of web properties under this account.
        items: WebPropertySummary
    description: JSON template for an Analytics AccountSummary. An AccountSummary is a lightweight tree comprised of properties/profiles.
  AccountTicket:
    type: object
    properties:
      redirectUri?:
        type: string
        description: Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in APIs console as a callback URL.
      webproperty?: Webproperty
      kind?:
        type: string
        default: analytics#accountTicket
        description: Resource type for account ticket.
      profile?: Profile
      id?:
        type: string
        description: Account ticket ID used to access the account ticket.
      account?: Account
    description: JSON template for an Analytics account ticket. The account ticket consists of the ticket ID and the basic information for the account, property and profile.
  Accounts:
    type: object
    properties:
      previousLink?:
        type: string
        description: Previous link for this account collection.
      startIndex?:
        type: integer
        format: int32
        description: The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.
      totalResults?:
        type: integer
        format: int32
        description: The total number of results for the query, regardless of the number of results in the response.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      kind?:
        type: string
        default: analytics#accounts
        description: Collection type.
      items?:
        type: array
        description: A list of accounts.
        items: Account
      nextLink?:
        type: string
        description: Next link for this account collection.
      username?:
        type: string
        description: Email ID of the authenticated user
    description: An account collection provides a list of Analytics accounts to which a user has access. The account collection is the entry point to all management information. Each resource in the collection corresponds to a single Analytics account.
  AdWordsAccount:
    type: object
    properties:
      kind?:
        type: string
        default: analytics#adWordsAccount
        description: Resource type for AdWords account.
      customerId?:
        type: string
        description: Customer ID. This field is required when creating an AdWords link.
      autoTaggingEnabled?:
        type: boolean
        description: True if auto-tagging is enabled on the AdWords account. Read-only after the insert operation.
    description: JSON template for an AdWords account.
  AnalyticsDataimportDeleteUploadDataRequest:
    type: object
    properties:
      customDataImportUids?:
        type: array
        description: A list of upload UIDs.
        items:
          type: string
    description: Request template for the delete upload data request.
  Column:
    type: object
    properties:
      kind?:
        type: string
        default: analytics#column
        description: Resource type for Analytics column.
      attributes?:
        type: object
        description: Map of attribute name and value for this column.
      id?:
        type: string
        description: Column id.
    description: JSON template for a metadata column.
  Columns:
    type: object
    properties:
      totalResults?:
        type: integer
        format: int32
        description: Total number of columns returned in the response.
      attributeNames?:
        type: array
        description: List of attributes names returned by columns.
        items:
          type: string
      kind?:
        type: string
        default: analytics#columns
        description: Collection type.
      etag?:
        type: string
        description: Etag of collection. This etag can be compared with the last response etag to check if response has changed.
      items?:
        type: array
        description: List of columns for a report type.
        items: Column
    description: Lists columns (dimensions and metrics) for a particular report type.
  CustomDataSource:
    type: object
    properties:
      parentLink?:
        type: object
        properties:
          href?:
            type: string
            description: Link to the web property to which this custom data source belongs.
          type?:
            type: string
            default: analytics#webproperty
            description: Value is "analytics#webproperty".
        description: Parent link for this custom data source. Points to the web property to which this custom data source belongs.
      childLink?:
        type: object
        properties:
          href?:
            type: string
            description: Link to the list of daily uploads for this custom data source. Link to the list of uploads for this custom data source.
          type?:
            type: string
            description: Value is "analytics#dailyUploads". Value is "analytics#uploads".
      created?:
        type: datetime
        description: Time this custom data source was created.
      kind?:
        type: string
        default: analytics#customDataSource
        description: Resource type for Analytics custom data source.
      description?:
        type: string
        description: Description of custom data source.
      type?:
        type: string
        description: Type of the custom data source.
      webPropertyId?:
        type: string
        description: Web property ID of the form UA-XXXXX-YY to which this custom data source belongs.
      selfLink?:
        type: string
        description: Link for this Analytics custom data source.
      accountId?:
        type: string
        description: Account ID to which this custom data source belongs.
      importBehavior?:
        type: string
      profilesLinked?:
        type: array
        description: IDs of views (profiles) linked to the custom data source.
        items:
          type: string
      name?:
        type: string
        description: Name of this custom data source.
      uploadType?:
        type: string
      id?:
        type: string
        description: Custom data source ID.
      updated?:
        type: datetime
        description: Time this custom data source was last modified.
    description: JSON template for an Analytics custom data source.
  CustomDataSources:
    type: object
    properties:
      previousLink?:
        type: string
        description: Link to previous page for this custom data source collection.
      startIndex?:
        type: integer
        format: int32
        description: The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.
      totalResults?:
        type: integer
        format: int32
        description: The total number of results for the query, regardless of the number of results in the response.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      kind?:
        type: string
        default: analytics#customDataSources
        description: Collection type.
      items?:
        type: array
        description: Collection of custom data sources.
        items: CustomDataSource
      nextLink?:
        type: string
        description: Link to next page for this custom data source collection.
      username?:
        type: string
        description: Email ID of the authenticated user
    description: Lists Analytics custom data sources to which the user has access. Each resource in the collection corresponds to a single Analytics custom data source.
  CustomDimension:
    type: object
    properties:
      accountId?:
        type: string
        description: Account ID.
      parentLink?:
        type: object
        properties:
          href?:
            type: string
            description: Link to the property to which the custom dimension belongs.
          type?:
            type: string
            default: analytics#webproperty
            description: Type of the parent link. Set to "analytics#webproperty".
        description: Parent link for the custom dimension. Points to the property to which the custom dimension belongs.
      created?:
        type: datetime
        description: Time the custom dimension was created.
      kind?:
        type: string
        default: analytics#customDimension
        description: Kind value for a custom dimension. Set to "analytics#customDimension". It is a read-only field.
      scope?:
        type: string
        description: 'Scope of the custom dimension: HIT, SESSION, USER or PRODUCT.'
      name?:
        type: string
        description: Name of the custom dimension.
      active?:
        type: boolean
        description: Boolean indicating whether the custom dimension is active.
      index?:
        type: integer
        format: int32
        description: Index of the custom dimension.
      id?:
        type: string
        description: Custom dimension ID.
      updated?:
        type: datetime
        description: Time the custom dimension was last modified.
      webPropertyId?:
        type: string
        description: Property ID.
      selfLink?:
        type: string
        description: Link for the custom dimension
    description: JSON template for Analytics Custom Dimension.
  CustomDimensions:
    type: object
    properties:
      previousLink?:
        type: string
        description: Link to previous page for this custom dimension collection.
      startIndex?:
        type: integer
        format: int32
        description: The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.
      totalResults?:
        type: integer
        format: int32
        description: The total number of results for the query, regardless of the number of results in the response.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      kind?:
        type: string
        default: analytics#customDimensions
        description: Collection type.
      items?:
        type: array
        description: Collection of custom dimensions.
        items: CustomDimension
      nextLink?:
        type: string
        description: Link to next page for this custom dimension collection.
      username?:
        type: string
        description: Email ID of the authenticated user
    description: A custom dimension collection lists Analytics custom dimensions to which the user has access. Each resource in the collection corresponds to a single Analytics custom dimension.
  CustomMetric:
    type: object
    properties:
      parentLink?:
        type: object
        properties:
          href?:
            type: string
            description: Link to the property to which the custom metric belongs.
          type?:
            type: string
            default: analytics#webproperty
            description: Type of the parent link. Set to "analytics#webproperty".
        description: Parent link for the custom metric. Points to the property to which the custom metric belongs.
      created?:
        type: string
        description: Time the custom metric was created.
      kind?:
        type: string
        default: analytics#customMetric
        description: Kind value for a custom metric. Set to "analytics#customMetric". It is a read-only field.
      active?:
        type: boolean
        description: Boolean indicating whether the custom metric is active.
      index?:
        type: integer
        format: int32
        description: Index of the custom metric.
      type?:
        type: string
        description: Data type of custom metric.
      webPropertyId?:
        type: string
        description: Property ID.
      selfLink?:
        type: string
        description: Link for the custom metric
      accountId?:
        type: string
        description: Account ID.
      min_value?:
        type: string
        description: Min value of custom metric.
      scope?:
        type: string
        description: 'Scope of the custom metric: HIT or PRODUCT.'
      name?:
        type: string
        description: Name of the custom metric.
      id?:
        type: string
        description: Custom metric ID.
      updated?:
        type: string
        description: Time the custom metric was last modified.
      max_value?:
        type: string
        description: Max value of custom metric.
    description: JSON template for Analytics Custom Metric.
  CustomMetrics:
    type: object
    properties:
      previousLink?:
        type: string
        description: Link to previous page for this custom metric collection.
      startIndex?:
        type: integer
        format: int32
        description: The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.
      totalResults?:
        type: integer
        format: int32
        description: The total number of results for the query, regardless of the number of results in the response.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      kind?:
        type: string
        default: analytics#customMetrics
        description: Collection type.
      items?:
        type: array
        description: Collection of custom metrics.
        items: CustomMetric
      nextLink?:
        type: string
        description: Link to next page for this custom metric collection.
      username?:
        type: string
        description: Email ID of the authenticated user
    description: A custom metric collection lists Analytics custom metrics to which the user has access. Each resource in the collection corresponds to a single Analytics custom metric.
  EntityAdWordsLink:
    type: object
    properties:
      kind?:
        type: string
        default: analytics#entityAdWordsLink
        description: Resource type for entity AdWords link.
      name?:
        type: string
        description: Name of the link. This field is required when creating an AdWords link.
      profileIds?:
        type: array
        description: IDs of linked Views (Profiles) represented as strings.
        items:
          type: string
      id?:
        type: string
        description: Entity AdWords link ID
      adWordsAccounts?:
        type: array
        description: A list of AdWords client accounts. These cannot be MCC accounts. This field is required when creating an AdWords link. It cannot be empty.
        items: AdWordsAccount
      entity?:
        type: object
        properties:
          webPropertyRef?: WebPropertyRef
        description: Web property being linked.
      selfLink?:
        type: string
        description: URL link for this Google Analytics - Google AdWords link.
    description: JSON template for Analytics Entity AdWords Link.
  EntityAdWordsLinks:
    type: object
    properties:
      previousLink?:
        type: string
        description: Previous link for this AdWords link collection.
      startIndex?:
        type: integer
        format: int32
        description: The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.
      totalResults?:
        type: integer
        format: int32
        description: The total number of results for the query, regardless of the number of results in the response.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      kind?:
        type: string
        default: analytics#entityAdWordsLinks
        description: Collection type.
      items?:
        type: array
        description: A list of entity AdWords links.
        items: EntityAdWordsLink
      nextLink?:
        type: string
        description: Next link for this AdWords link collection.
    description: An entity AdWords link collection provides a list of GA-AdWords links Each resource in this collection corresponds to a single link.
  EntityUserLink:
    type: object
    properties:
      userRef?: UserRef
      kind?:
        type: string
        default: analytics#entityUserLink
        description: Resource type for entity user link.
      permissions?:
        type: object
        properties:
          effective?:
            type: array
            description: Effective permissions represent all the permissions that a user has for this entity. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent entity. Effective permissions are read-only.
            items:
              type: string
          local?:
            type: array
            description: Permissions that a user has been assigned at this very level. Does not include any implied or inherited permissions. Local permissions are modifiable.
            items:
              type: string
        description: Permissions the user has for this entity.
      id?:
        type: string
        description: Entity user link ID
      entity?:
        type: object
        properties:
          webPropertyRef?: WebPropertyRef
          accountRef?: AccountRef
          profileRef?: ProfileRef
        description: Entity for this link. It can be an account, a web property, or a view (profile).
      selfLink?:
        type: string
        description: Self link for this resource.
    description: JSON template for an Analytics Entity-User Link. Returns permissions that a user has for an entity.
  EntityUserLinks:
    type: object
    properties:
      previousLink?:
        type: string
        description: Previous link for this account collection.
      startIndex?:
        type: integer
        format: int32
        description: The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.
      totalResults?:
        type: integer
        format: int32
        description: The total number of results for the query, regardless of the number of results in the response.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      kind?:
        type: string
        default: analytics#entityUserLinks
        description: Collection type.
      items?:
        type: array
        description: A list of entity user links.
        items: EntityUserLink
      nextLink?:
        type: string
        description: Next link for this account collection.
    description: An entity user link collection provides a list of Analytics ACL links Each resource in this collection corresponds to a single link.
  Experiment:
    type: object
    properties:
      snippet?:
        type: string
        description: The snippet of code to include on the control page(s). This field is read-only.
      winnerFound?:
        type: boolean
        description: Boolean specifying whether a winner has been found for this experiment. This field is read-only.
      description?:
        type: string
        description: Notes about this experiment.
      minimumExperimentLengthInDays?:
        type: integer
        format: int32
        description: An integer number in [3, 90]. Specifies the minimum length of the experiment. Can be changed for a running experiment. This field may not be changed for an experiments whose status is ENDED.
      variations?:
        type: array
        description: Array of variations. The first variation in the array is the original. The number of variations may not change once an experiment is in the RUNNING state. At least two variations are required before status can be set to RUNNING.
        items:
          type: object
          properties:
            won?:
              type: boolean
              description: True if the experiment has ended and this variation performed (statistically) significantly better than the original. This field is read-only.
            name?:
              type: string
              description: The name of the variation. This field is required when creating an experiment. This field may not be changed for an experiment whose status is ENDED.
            weight?:
              type: number
              format: double
              description: Weight that this variation should receive. Only present if the experiment is running. This field is read-only.
            url?:
              type: string
              description: The URL of the variation. This field may not be changed for an experiment whose status is RUNNING or ENDED.
            status?:
              type: string
              description: 'Status of the variation. Possible values: "ACTIVE", "INACTIVE".
                INACTIVE variations are not served. This field may not be changed
                for an experiment whose status is ENDED.'
      startTime?:
        type: datetime
        description: The starting time of the experiment (the time the status changed from READY_TO_RUN to RUNNING). This field is present only if the experiment has started. This field is read-only.
      id?:
        type: string
        description: Experiment ID. Required for patch and update. Disallowed for create.
      editableInGaUi?:
        type: boolean
        description: If true, the end user will be able to edit the experiment via the Google Analytics user interface.
      internalWebPropertyId?:
        type: string
        description: Internal ID for the web property to which this experiment belongs. This field is read-only.
      winnerConfidenceLevel?:
        type: number
        format: double
        description: A floating-point number in (0, 1). Specifies the necessary confidence level to choose a winner. This field may not be changed for an experiments whose status is ENDED.
      parentLink?:
        type: object
        properties:
          href?:
            type: string
            description: Link to the view (profile) to which this experiment belongs. This field is read-only.
          type?:
            type: string
            default: analytics#profile
            description: Value is "analytics#profile". This field is read-only.
        description: Parent link for an experiment. Points to the view (profile) to which this experiment belongs.
      created?:
        type: datetime
        description: Time the experiment was created. This field is read-only.
      kind?:
        type: string
        default: analytics#experiment
        description: Resource type for an Analytics experiment. This field is read-only.
      webPropertyId?:
        type: string
        description: Web property ID to which this experiment belongs. The web property ID is of the form UA-XXXXX-YY. This field is read-only.
      reasonExperimentEnded?:
        type: string
        description: 'Why the experiment ended. Possible values: "STOPPED_BY_USER",
          "WINNER_FOUND", "EXPERIMENT_EXPIRED", "ENDED_WITH_NO_WINNER", "GOAL_OBJECTIVE_CHANGED".
          "ENDED_WITH_NO_WINNER" means that the experiment didn''t expire but no winner
          was projected to be found. If the experiment status is changed via the API
          to ENDED this field is set to STOPPED_BY_USER. This field is read-only.'
      selfLink?:
        type: string
        description: Link for this experiment. This field is read-only.
      trafficCoverage?:
        type: number
        format: double
        description: A floating-point number in (0, 1]. Specifies the fraction of the traffic that participates in the experiment. Can be changed for a running experiment. This field may not be changed for an experiments whose status is ENDED.
      accountId?:
        type: string
        description: Account ID to which this experiment belongs. This field is read-only.
      equalWeighting?:
        type: boolean
        description: Boolean specifying whether to distribute traffic evenly across all variations. If the value is False, content experiments follows the default behavior of adjusting traffic dynamically based on variation performance. Optional -- defaults to False. This field may not be changed for an experiment whose status is ENDED.
      rewriteVariationUrlsAsOriginal?:
        type: boolean
        description: Boolean specifying whether variations URLS are rewritten to match those of the original. This field may not be changed for an experiments whose status is ENDED.
      profileId?:
        type: string
        description: View (Profile) ID to which this experiment belongs. This field is read-only.
      optimizationType?:
        type: string
        description: 'Whether the objectiveMetric should be minimized or maximized.
          Possible values: "MAXIMUM", "MINIMUM". Optional--defaults to "MAXIMUM".
          Cannot be specified without objectiveMetric. Cannot be modified when status
          is "RUNNING" or "ENDED".'
      name?:
        type: string
        description: Experiment name. This field may not be changed for an experiment whose status is ENDED. This field is required when creating an experiment.
      endTime?:
        type: datetime
        description: The ending time of the experiment (the time the status changed from RUNNING to ENDED). This field is present only if the experiment has ended. This field is read-only.
      servingFramework?:
        type: string
        description: "The framework used to serve the experiment variations and evaluate\
          \ the results. One of:  \n- REDIRECT: Google Analytics redirects traffic\
          \ to different variation pages, reports the chosen variation and evaluates\
          \ the results.\n- API: Google Analytics chooses and reports the variation\
          \ to serve and evaluates the results; the caller is responsible for serving\
          \ the selected variation.\n- EXTERNAL: The variations will be served externally\
          \ and the chosen variation reported to Google Analytics. The caller is responsible\
          \ for serving the selected variation and evaluating the results."
      updated?:
        type: datetime
        description: Time the experiment was last modified. This field is read-only.
      objectiveMetric?:
        type: string
        description: 'The metric that the experiment is optimizing. Valid values:
          "ga:goal(n)Completions", "ga:adsenseAdsClicks", "ga:adsenseAdsViewed", "ga:adsenseRevenue",
          "ga:bounces", "ga:pageviews", "ga:sessionDuration", "ga:transactions", "ga:transactionRevenue".
          This field is required if status is "RUNNING" and servingFramework is one
          of "REDIRECT" or "API".'
      status?:
        type: string
        description: 'Experiment status. Possible values: "DRAFT", "READY_TO_RUN",
          "RUNNING", "ENDED". Experiments can be created in the "DRAFT", "READY_TO_RUN"
          or "RUNNING" state. This field is required when creating an experiment.'
    description: JSON template for Analytics experiment resource.
  Experiments:
    type: object
    properties:
      previousLink?:
        type: string
        description: Link to previous page for this experiment collection.
      startIndex?:
        type: integer
        format: int32
        description: The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.
      totalResults?:
        type: integer
        format: int32
        description: The total number of results for the query, regardless of the number of resources in the result.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      kind?:
        type: string
        default: analytics#experiments
        description: Collection type.
      items?:
        type: array
        description: A list of experiments.
        items: Experiment
      nextLink?:
        type: string
        description: Link to next page for this experiment collection.
      username?:
        type: string
        description: Email ID of the authenticated user
    description: An experiment collection lists Analytics experiments to which the user has access. Each view (profile) can have a set of experiments. Each resource in the Experiment collection corresponds to a single Analytics experiment.
  Filter:
    type: object
    properties:
      parentLink?:
        type: object
        properties:
          href?:
            type: string
            description: Link to the account to which this filter belongs.
          type?:
            type: string
            default: analytics#account
            description: Value is "analytics#account".
        description: Parent link for this filter. Points to the account to which this filter belongs.
      searchAndReplaceDetails?:
        type: object
        properties:
          fieldIndex?:
            type: integer
            format: int32
            description: The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.
          searchString?:
            type: string
            description: Term to search.
          field?:
            type: string
            description: Field to use in the filter.
          caseSensitive?:
            type: boolean
            description: Determines if the filter is case sensitive.
          replaceString?:
            type: string
            description: Term to replace the search term with.
        description: Details for the filter of the type SEARCH_AND_REPLACE.
      created?:
        type: string
        description: Time this filter was created.
      excludeDetails?: FilterExpression
      kind?:
        type: string
        default: analytics#filter
        description: Resource type for Analytics filter.
      lowercaseDetails?:
        type: object
        properties:
          fieldIndex?:
            type: integer
            format: int32
            description: The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.
          field?:
            type: string
            description: Field to use in the filter.
        description: Details for the filter of the type LOWER.
      type?:
        type: string
        description: Type of this filter. Possible values are INCLUDE, EXCLUDE, LOWERCASE, UPPERCASE, SEARCH_AND_REPLACE and ADVANCED.
      advancedDetails?:
        type: object
        properties:
          fieldA?:
            type: string
            description: Field A.
          fieldAIndex?:
            type: integer
            format: int32
            description: The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.
          caseSensitive?:
            type: boolean
            description: Indicates if the filter expressions are case sensitive.
          overrideOutputField?:
            type: boolean
            description: Indicates if the existing value of the output field, if any, should be overridden by the output expression.
          extractA?:
            type: string
            description: Expression to extract from field A.
          extractB?:
            type: string
            description: Expression to extract from field B.
          fieldBRequired?:
            type: boolean
            description: Indicates if field B is required to match.
          fieldB?:
            type: string
            description: Field B.
          outputToField?:
            type: string
            description: Output field.
          fieldBIndex?:
            type: integer
            format: int32
            description: The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.
          fieldARequired?:
            type: boolean
            description: Indicates if field A is required to match.
          outputToFieldIndex?:
            type: integer
            format: int32
            description: The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.
          outputConstructor?:
            type: string
            description: Expression used to construct the output value.
        description: Details for the filter of the type ADVANCED.
      selfLink?:
        type: string
        description: Link for this filter.
      accountId?:
        type: string
        description: Account ID to which this filter belongs.
      name?:
        type: string
        description: Name of this filter.
      uppercaseDetails?:
        type: object
        properties:
          fieldIndex?:
            type: integer
            format: int32
            description: The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.
          field?:
            type: string
            description: Field to use in the filter.
        description: Details for the filter of the type UPPER.
      id?:
        type: string
        description: Filter ID.
      includeDetails?: FilterExpression
      updated?:
        type: string
        description: Time this filter was last modified.
    description: JSON template for an Analytics account filter.
  FilterExpression:
    type: object
    properties:
      expressionValue?:
        type: string
        description: Filter expression value
      fieldIndex?:
        type: integer
        format: int32
        description: The Index of the custom dimension. Set only if the field is a is CUSTOM_DIMENSION.
      field?:
        type: string
        description: "Field to filter. Possible values:  \n- Content and Traffic \
          \ \n- PAGE_REQUEST_URI, \n- PAGE_HOSTNAME, \n- PAGE_TITLE, \n- REFERRAL,\
          \ \n- COST_DATA_URI (Campaign target URL), \n- HIT_TYPE, \n- INTERNAL_SEARCH_TERM,\
          \ \n- INTERNAL_SEARCH_TYPE, \n- SOURCE_PROPERTY_TRACKING_ID,   \n- Campaign\
          \ or AdGroup  \n- CAMPAIGN_SOURCE, \n- CAMPAIGN_MEDIUM, \n- CAMPAIGN_NAME,\
          \ \n- CAMPAIGN_AD_GROUP, \n- CAMPAIGN_TERM, \n- CAMPAIGN_CONTENT, \n- CAMPAIGN_CODE,\
          \ \n- CAMPAIGN_REFERRAL_PATH,   \n- E-Commerce  \n- TRANSACTION_COUNTRY,\
          \ \n- TRANSACTION_REGION, \n- TRANSACTION_CITY, \n- TRANSACTION_AFFILIATION\
          \ (Store or order location), \n- ITEM_NAME, \n- ITEM_CODE, \n- ITEM_VARIATION,\
          \ \n- TRANSACTION_ID, \n- TRANSACTION_CURRENCY_CODE, \n- PRODUCT_ACTION_TYPE,\
          \   \n- Audience/Users  \n- BROWSER, \n- BROWSER_VERSION, \n- BROWSER_SIZE,\
          \ \n- PLATFORM, \n- PLATFORM_VERSION, \n- LANGUAGE, \n- SCREEN_RESOLUTION,\
          \ \n- SCREEN_COLORS, \n- JAVA_ENABLED (Boolean Field), \n- FLASH_VERSION,\
          \ \n- GEO_SPEED (Connection speed), \n- VISITOR_TYPE, \n- GEO_ORGANIZATION\
          \ (ISP organization), \n- GEO_DOMAIN, \n- GEO_IP_ADDRESS, \n- GEO_IP_VERSION,\
          \   \n- Location  \n- GEO_COUNTRY, \n- GEO_REGION, \n- GEO_CITY,   \n- Event\
          \  \n- EVENT_CATEGORY, \n- EVENT_ACTION, \n- EVENT_LABEL,   \n- Other  \n\
          - CUSTOM_FIELD_1, \n- CUSTOM_FIELD_2, \n- USER_DEFINED_VALUE,   \n- Application\
          \  \n- APP_ID, \n- APP_INSTALLER_ID, \n- APP_NAME, \n- APP_VERSION, \n-\
          \ SCREEN, \n- IS_APP (Boolean Field), \n- IS_FATAL_EXCEPTION (Boolean Field),\
          \ \n- EXCEPTION_DESCRIPTION,   \n- Mobile device  \n- IS_MOBILE (Boolean\
          \ Field, Deprecated. Use DEVICE_CATEGORY=mobile), \n- IS_TABLET (Boolean\
          \ Field, Deprecated. Use DEVICE_CATEGORY=tablet), \n- DEVICE_CATEGORY, \n\
          - MOBILE_HAS_QWERTY_KEYBOARD (Boolean Field), \n- MOBILE_HAS_NFC_SUPPORT\
          \ (Boolean Field), \n- MOBILE_HAS_CELLULAR_RADIO (Boolean Field), \n- MOBILE_HAS_WIFI_SUPPORT\
          \ (Boolean Field), \n- MOBILE_BRAND_NAME, \n- MOBILE_MODEL_NAME, \n- MOBILE_MARKETING_NAME,\
          \ \n- MOBILE_POINTING_METHOD,   \n- Social  \n- SOCIAL_NETWORK, \n- SOCIAL_ACTION,\
          \ \n- SOCIAL_ACTION_TARGET,   \n- Custom dimension  \n- CUSTOM_DIMENSION\
          \ (See accompanying field index),"
      caseSensitive?:
        type: boolean
        description: Determines if the filter is case sensitive.
      kind?:
        type: string
        default: analytics#filterExpression
        description: Kind value for filter expression
      matchType?:
        type: string
        description: Match type for this filter. Possible values are BEGINS_WITH, EQUAL, ENDS_WITH, CONTAINS, or MATCHES. GEO_DOMAIN, GEO_IP_ADDRESS, PAGE_REQUEST_URI, or PAGE_HOSTNAME filters can use any match type; all other filters must use MATCHES.
    description: JSON template for an Analytics filter expression.
  FilterRef:
    type: object
    properties:
      accountId?:
        type: string
        description: Account ID to which this filter belongs.
      kind?:
        type: string
        default: analytics#filterRef
        description: Kind value for filter reference.
      name?:
        type: string
        description: Name of this filter.
      href?:
        type: string
        description: Link for this filter.
      id?:
        type: string
        description: Filter ID.
    description: JSON template for a profile filter link.
  Filters:
    type: object
    properties:
      previousLink?:
        type: string
        description: Link to previous page for this filter collection.
      startIndex?:
        type: integer
        format: int32
        description: The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.
      totalResults?:
        type: integer
        format: int32
        description: The total number of results for the query, regardless of the number of results in the response.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      kind?:
        type: string
        default: analytics#filters
        description: Collection type.
      items?:
        type: array
        description: A list of filters.
        items: Filter
      nextLink?:
        type: string
        description: Link to next page for this filter collection.
      username?:
        type: string
        description: Email ID of the authenticated user
    description: A filter collection lists filters created by users in an Analytics account. Each resource in the collection corresponds to a filter.
  GaData:
    type: object
    properties:
      dataLastRefreshed?:
        type: integer
        format: int64
        description: The last refreshed time in seconds for Analytics data.
      profileInfo?:
        type: object
        properties:
          profileName?:
            type: string
            description: View (Profile) name.
          accountId?:
            type: string
            description: Account ID to which this view (profile) belongs.
          profileId?:
            type: string
            description: View (Profile) ID.
          tableId?:
            type: string
            description: Table ID for view (profile).
          internalWebPropertyId?:
            type: string
            description: Internal ID for the web property to which this view (profile) belongs.
          webPropertyId?:
            type: string
            description: Web Property ID to which this view (profile) belongs.
        description: Information for the view (profile), for which the Analytics data was requested.
      kind?:
        type: string
        default: analytics#gaData
        description: Resource type.
      query?:
        type: object
        properties:
          end-date?:
            type: string
            description: End date.
          max-results?:
            type: integer
            format: int32
            description: Maximum results per page.
          segment?:
            type: string
            description: Analytics advanced segment.
          start-index?:
            type: integer
            format: int32
            description: Start index.
          ids?:
            type: string
            description: Unique table ID.
          start-date?:
            type: string
            description: Start date.
          filters?:
            type: string
            description: Comma-separated list of dimension or metric filters.
          metrics?:
            type: array
            description: List of analytics metrics.
            items:
              type: string
          samplingLevel?:
            type: string
            description: Desired sampling level
          sort?:
            type: array
            description: List of dimensions or metrics based on which Analytics data is sorted.
            items:
              type: string
          dimensions?:
            type: string
            description: List of analytics dimensions.
        description: Analytics data request query parameters.
      containsSampledData?:
        type: boolean
        description: Determines if Analytics data contains samples.
      sampleSpace?:
        type: integer
        format: int64
        description: Total size of the sample space from which the samples were selected.
      rows?:
        type: array
        description: Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.
        items:
          type: array
          items:
            type: string
      sampleSize?:
        type: integer
        format: int64
        description: The number of samples used to calculate the result.
      nextLink?:
        type: string
        description: Link to next page for this Analytics data query.
      selfLink?:
        type: string
        description: Link to this page.
      totalsForAllResults?:
        type: object
        description: Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.
      columnHeaders?:
        type: array
        description: Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.
        items:
          type: object
          properties:
            columnType?:
              type: string
              description: Column Type. Either DIMENSION or METRIC.
            dataType?:
              type: string
              description: Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc.
            name?:
              type: string
              description: Column name.
      previousLink?:
        type: string
        description: Link to previous page for this Analytics data query.
      totalResults?:
        type: integer
        format: int32
        description: The total number of rows for the query, regardless of the number of rows in the response.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      dataTable?:
        type: object
        properties:
          rows?:
            type: array
            items:
              type: object
              properties:
                c?:
                  type: array
                  items:
                    type: object
                    properties:
                      v?:
                        type: string
          cols?:
            type: array
            items:
              type: object
              properties:
                id?:
                  type: string
                label?:
                  type: string
                type?:
                  type: string
      id?:
        type: string
        description: Unique ID for this data response.
    description: Analytics data for a given view (profile).
  Goal:
    type: object
    properties:
      visitNumPagesDetails?:
        type: object
        properties:
          comparisonValue?:
            type: integer
            format: int64
            description: Value used for this comparison.
          comparisonType?:
            type: string
            description: Type of comparison. Possible values are LESS_THAN, GREATER_THAN, or EQUAL.
        description: Details for the goal of the type VISIT_NUM_PAGES.
      parentLink?:
        type: object
        properties:
          href?:
            type: string
            description: Link to the view (profile) to which this goal belongs.
          type?:
            type: string
            default: analytics#profile
            description: Value is "analytics#profile".
        description: Parent link for a goal. Points to the view (profile) to which this goal belongs.
      created?:
        type: datetime
        description: Time this goal was created.
      kind?:
        type: string
        default: analytics#goal
        description: Resource type for an Analytics goal.
      urlDestinationDetails?:
        type: object
        properties:
          caseSensitive?:
            type: boolean
            description: Determines if the goal URL must exactly match the capitalization of visited URLs.
          matchType?:
            type: string
            description: Match type for the goal URL. Possible values are HEAD, EXACT, or REGEX.
          firstStepRequired?:
            type: boolean
            description: Determines if the first step in this goal is required.
          steps?:
            type: array
            description: List of steps configured for this goal funnel.
            items:
              type: object
              properties:
                number?:
                  type: integer
                  format: int32
                  description: Step number.
                name?:
                  type: string
                  description: Step name.
                url?:
                  type: string
                  description: URL for this step.
          url?:
            type: string
            description: URL for this goal.
        description: Details for the goal of the type URL_DESTINATION.
      visitTimeOnSiteDetails?:
        type: object
        properties:
          comparisonValue?:
            type: integer
            format: int64
            description: Value used for this comparison.
          comparisonType?:
            type: string
            description: Type of comparison. Possible values are LESS_THAN or GREATER_THAN.
        description: Details for the goal of the type VISIT_TIME_ON_SITE.
      active?:
        type: boolean
        description: Determines whether this goal is active.
      type?:
        type: string
        description: Goal type. Possible values are URL_DESTINATION, VISIT_TIME_ON_SITE, VISIT_NUM_PAGES, AND EVENT.
      webPropertyId?:
        type: string
        description: Web property ID to which this goal belongs. The web property ID is of the form UA-XXXXX-YY.
      selfLink?:
        type: string
        description: Link for this goal.
      accountId?:
        type: string
        description: Account ID to which this goal belongs.
      eventDetails?:
        type: object
        properties:
          eventConditions?:
            type: array
            description: List of event conditions.
            items:
              type: object
              properties:
                expression?:
                  type: string
                  description: Expression used for this match.
                comparisonValue?:
                  type: integer
                  format: int64
                  description: Value used for this comparison.
                matchType?:
                  type: string
                  description: Type of the match to be performed. Possible values are REGEXP, BEGINS_WITH, or EXACT.
                comparisonType?:
                  type: string
                  description: Type of comparison. Possible values are LESS_THAN, GREATER_THAN or EQUAL.
                type?:
                  type: string
                  description: Type of this event condition. Possible values are CATEGORY, ACTION, LABEL, or VALUE.
          useEventValue?:
            type: boolean
            description: Determines if the event value should be used as the value for this goal.
        description: Details for the goal of the type EVENT.
      profileId?:
        type: string
        description: View (Profile) ID to which this goal belongs.
      name?:
        type: string
        description: Goal name.
      id?:
        type: string
        description: Goal ID.
      updated?:
        type: datetime
        description: Time this goal was last modified.
      value?:
        type: number
        format: float
        description: Goal value.
      internalWebPropertyId?:
        type: string
        description: Internal ID for the web property to which this goal belongs.
    description: JSON template for Analytics goal resource.
  Goals:
    type: object
    properties:
      previousLink?:
        type: string
        description: Link to previous page for this goal collection.
      startIndex?:
        type: integer
        format: int32
        description: The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.
      totalResults?:
        type: integer
        format: int32
        description: The total number of results for the query, regardless of the number of resources in the result.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      kind?:
        type: string
        default: analytics#goals
        description: Collection type.
      items?:
        type: array
        description: A list of goals.
        items: Goal
      nextLink?:
        type: string
        description: Link to next page for this goal collection.
      username?:
        type: string
        description: Email ID of the authenticated user
    description: A goal collection lists Analytics goals to which the user has access. Each view (profile) can have a set of goals. Each resource in the Goal collection corresponds to a single Analytics goal.
  IncludeConditions:
    type: object
    properties:
      daysToLookBack?:
        type: integer
        format: int32
        description: The look-back window lets you specify a time frame for evaluating the behavior that qualifies users for your audience. For example, if your filters include users from Central Asia, and Transactions Greater than 2, and you set the look-back window to 14 days, then any user from Central Asia whose cumulative transactions exceed 2 during the last 14 days is added to the audience.
      kind?:
        type: string
        default: analytics#includeConditions
        description: Resource type for include conditions.
      segment?:
        type: string
        description: The segment condition that will cause a user to be added to an audience.
      membershipDurationDays?:
        type: integer
        format: int32
        description: Number of days (in the range 1 to 540) a user remains in the audience.
      isSmartList?:
        type: boolean
        description: Boolean indicating whether this segment is a smart list. https://support.google.com/analytics/answer/4628577
    description: JSON template for an Analytics Remarketing Include Conditions.
  LinkedForeignAccount:
    type: object
    properties:
      accountId?:
        type: string
        description: Account ID to which this linked foreign account belongs.
      eligibleForSearch?:
        type: boolean
        description: Boolean indicating whether this is eligible for search.
      remarketingAudienceId?:
        type: string
        description: Remarketing audience ID to which this linked foreign account belongs.
      linkedAccountId?:
        type: string
        description: The foreign account ID. For example the an AdWords `linkedAccountId` has the following format XXX-XXX-XXXX.
      kind?:
        type: string
        default: analytics#linkedForeignAccount
        description: Resource type for linked foreign account.
      id?:
        type: string
        description: Entity ad account link ID.
      type?:
        type: string
        description: The type of the foreign account. For example `ADWORDS_LINKS`.
      internalWebPropertyId?:
        type: string
        description: Internal ID for the web property to which this linked foreign account belongs.
      webPropertyId?:
        type: string
        description: Web property ID of the form UA-XXXXX-YY to which this linked foreign account belongs.
      status?:
        type: string
        description: The status of this foreign account link.
    description: JSON template for an Analytics Remarketing Audience Foreign Link.
  McfData:
    type: object
    properties:
      profileInfo?:
        type: object
        properties:
          profileName?:
            type: string
            description: View (Profile) name.
          accountId?:
            type: string
            description: Account ID to which this view (profile) belongs.
          profileId?:
            type: string
            description: View (Profile) ID.
          tableId?:
            type: string
            description: Table ID for view (profile).
          internalWebPropertyId?:
            type: string
            description: Internal ID for the web property to which this view (profile) belongs.
          webPropertyId?:
            type: string
            description: Web Property ID to which this view (profile) belongs.
        description: Information for the view (profile), for which the Analytics data was requested.
      kind?:
        type: string
        default: analytics#mcfData
        description: Resource type.
      query?:
        type: object
        properties:
          end-date?:
            type: string
            description: End date.
          max-results?:
            type: integer
            format: int32
            description: Maximum results per page.
          segment?:
            type: string
            description: Analytics advanced segment.
          start-index?:
            type: integer
            format: int32
            description: Start index.
          ids?:
            type: string
            description: Unique table ID.
          start-date?:
            type: string
            description: Start date.
          filters?:
            type: string
            description: Comma-separated list of dimension or metric filters.
          metrics?:
            type: array
            description: List of analytics metrics.
            items:
              type: string
          samplingLevel?:
            type: string
            description: Desired sampling level
          sort?:
            type: array
            description: List of dimensions or metrics based on which Analytics data is sorted.
            items:
              type: string
          dimensions?:
            type: string
            description: List of analytics dimensions.
        description: Analytics data request query parameters.
      containsSampledData?:
        type: boolean
        description: Determines if the Analytics data contains sampled data.
      sampleSpace?:
        type: integer
        format: int64
        description: Total size of the sample space from which the samples were selected.
      rows?:
        type: array
        description: Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.
        items:
          type: array
          items:
            type: object
            properties:
              primitiveValue?:
                type: string
                description: A primitive dimension value. A primitive metric value.
              conversionPathValue?:
                type: array
                description: A conversion path dimension value, containing a list of interactions with their attributes.
                items:
                  type: object
                  properties:
                    nodeValue?:
                      type: string
                      description: Node value of an interaction on conversion path. Such as source, medium etc.
                    interactionType?:
                      type: string
                      description: Type of an interaction on conversion path. Such as CLICK, IMPRESSION etc.
            description: A union object representing a dimension or metric value. Only one of "primitiveValue" or "conversionPathValue" attribute will be populated.
      sampleSize?:
        type: integer
        format: int64
        description: The number of samples used to calculate the result.
      nextLink?:
        type: string
        description: Link to next page for this Analytics data query.
      selfLink?:
        type: string
        description: Link to this page.
      totalsForAllResults?:
        type: object
        description: Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.
      columnHeaders?:
        type: array
        description: Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.
        items:
          type: object
          properties:
            columnType?:
              type: string
              description: Column Type. Either DIMENSION or METRIC.
            dataType?:
              type: string
              description: Data type. Dimension and metric values data types such as INTEGER, DOUBLE, CURRENCY, MCF_SEQUENCE etc.
            name?:
              type: string
              description: Column name.
      previousLink?:
        type: string
        description: Link to previous page for this Analytics data query.
      totalResults?:
        type: integer
        format: int32
        description: The total number of rows for the query, regardless of the number of rows in the response.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      id?:
        type: string
        description: Unique ID for this data response.
    description: Multi-Channel Funnels data for a given view (profile).
  Profile:
    type: object
    properties:
      eCommerceTracking?:
        type: boolean
        description: Indicates whether ecommerce tracking is enabled for this view (profile).
      excludeQueryParameters?:
        type: string
        description: The query parameters that are excluded from this view (profile).
      siteSearchCategoryParameters?:
        type: string
        description: Site search category parameters for this view (profile).
      defaultPage?:
        type: string
        description: Default page for this view (profile).
      botFilteringEnabled?:
        type: boolean
        description: Indicates whether bot filtering is enabled for this view (profile).
      timezone?:
        type: string
        description: Time zone for which this view (profile) has been configured. Time zones are identified by strings from the TZ database.
      type?:
        type: string
        description: 'View (Profile) type. Supported types: WEB or APP.'
      starred?:
        type: boolean
        description: Indicates whether this view (profile) is starred or not.
      websiteUrl?:
        type: string
        description: Website URL for this view (profile).
      permissions?:
        type: object
        properties:
          effective?:
            type: array
            description: All the permissions that the user has for this view (profile). These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent web property.
            items:
              type: string
        description: Permissions the user has for this view (profile).
      siteSearchQueryParameters?:
        type: string
        description: The site search query parameters for this view (profile).
      currency?:
        type: string
        description: |-
          The currency type associated with this view (profile), defaults to USD. The supported values are:
          USD, JPY, EUR, GBP, AUD, KRW, BRL, CNY, DKK, RUB, SEK, NOK, PLN, TRY, TWD, HKD, THB, IDR, ARS, MXN, VND, PHP, INR, CHF, CAD, CZK, NZD, HUF, BGN, LTL, ZAR, UAH, AED, BOB, CLP, COP, EGP, HRK, ILS, MAD, MYR, PEN, PKR, RON, RSD, SAR, SGD, VEF, LVL
      id?:
        type: string
        description: View (Profile) ID.
      internalWebPropertyId?:
        type: string
        description: Internal ID for the web property to which this view (profile) belongs.
      parentLink?:
        type: object
        properties:
          href?:
            type: string
            description: Link to the web property to which this view (profile) belongs.
          type?:
            type: string
            default: analytics#webproperty
            description: Value is "analytics#webproperty".
        description: Parent link for this view (profile). Points to the web property to which this view (profile) belongs.
      stripSiteSearchCategoryParameters?:
        type: boolean
        description: Whether or not Analytics will strip search category parameters from the URLs in your reports.
      childLink?:
        type: object
        properties:
          href?:
            type: string
            description: Link to the list of goals for this view (profile).
          type?:
            type: string
            default: analytics#goals
            description: Value is "analytics#goals".
        description: Child link for this view (profile). Points to the list of goals for this view (profile).
      created?:
        type: string
        description: Time this view (profile) was created.
      kind?:
        type: string
        default: analytics#profile
        description: Resource type for Analytics view (profile).
      enhancedECommerceTracking?:
        type: boolean
        description: Indicates whether enhanced ecommerce tracking is enabled for this view (profile). This property can only be enabled if ecommerce tracking is enabled.
      webPropertyId?:
        type: string
        description: Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs.
      selfLink?:
        type: string
        description: Link for this view (profile).
      accountId?:
        type: string
        description: Account ID to which this view (profile) belongs.
      stripSiteSearchQueryParameters?:
        type: boolean
        description: Whether or not Analytics will strip search query parameters from the URLs in your reports.
      name?:
        type: string
        description: Name of this view (profile).
      updated?:
        type: string
        description: Time this view (profile) was last modified.
    description: JSON template for an Analytics view (profile).
  ProfileFilterLink:
    type: object
    properties:
      kind?:
        type: string
        default: analytics#profileFilterLink
        description: Resource type for Analytics filter.
      rank?:
        type: integer
        format: int32
        description: |-
          The rank of this profile filter link relative to the other filters linked to the same profile.
          For readonly (i.e., list and get) operations, the rank always starts at 1.
          For write (i.e., create, update, or delete) operations, you may specify a value between 0 and 255 inclusively, [0, 255]. In order to insert a link at the end of the list, either don't specify a rank or set a rank to a number greater than the largest rank in the list. In order to insert a link to the beginning of the list specify a rank that is less than or equal to 1. The new link will move all existing filters with the same or lower rank down the list. After the link is inserted/updated/deleted all profile filter links will be renumbered starting at 1.
      id?:
        type: string
        description: Profile filter link ID.
      filterRef?: FilterRef
      profileRef?: ProfileRef
      selfLink?:
        type: string
        description: Link for this profile filter link.
    description: JSON template for an Analytics profile filter link.
  ProfileFilterLinks:
    type: object
    properties:
      previousLink?:
        type: string
        description: Link to previous page for this profile filter link collection.
      startIndex?:
        type: integer
        format: int32
        description: The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.
      totalResults?:
        type: integer
        format: int32
        description: The total number of results for the query, regardless of the number of results in the response.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      kind?:
        type: string
        default: analytics#profileFilterLinks
        description: Collection type.
      items?:
        type: array
        description: A list of profile filter links.
        items: ProfileFilterLink
      nextLink?:
        type: string
        description: Link to next page for this profile filter link collection.
      username?:
        type: string
        description: Email ID of the authenticated user
    description: A profile filter link collection lists profile filter links between profiles and filters. Each resource in the collection corresponds to a profile filter link.
  ProfileRef:
    type: object
    properties:
      accountId?:
        type: string
        description: Account ID to which this view (profile) belongs.
      kind?:
        type: string
        default: analytics#profileRef
        description: Analytics view (profile) reference.
      name?:
        type: string
        description: Name of this view (profile).
      href?:
        type: string
        description: Link for this view (profile).
      id?:
        type: string
        description: View (Profile) ID.
      internalWebPropertyId?:
        type: string
        description: Internal ID for the web property to which this view (profile) belongs.
      webPropertyId?:
        type: string
        description: Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs.
    description: JSON template for a linked view (profile).
  ProfileSummary:
    type: object
    properties:
      starred?:
        type: boolean
        description: Indicates whether this view (profile) is starred or not.
      kind?:
        type: string
        default: analytics#profileSummary
        description: Resource type for Analytics ProfileSummary.
      name?:
        type: string
        description: View (profile) name.
      id?:
        type: string
        description: View (profile) ID.
      type?:
        type: string
        description: 'View (Profile) type. Supported types: WEB or APP.'
    description: JSON template for an Analytics ProfileSummary. ProfileSummary returns basic information (i.e., summary) for a profile.
  Profiles:
    type: object
    properties:
      previousLink?:
        type: string
        description: Link to previous page for this view (profile) collection.
      startIndex?:
        type: integer
        format: int32
        description: The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.
      totalResults?:
        type: integer
        format: int32
        description: The total number of results for the query, regardless of the number of results in the response.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      kind?:
        type: string
        default: analytics#profiles
        description: Collection type.
      items?:
        type: array
        description: A list of views (profiles).
        items: Profile
      nextLink?:
        type: string
        description: Link to next page for this view (profile) collection.
      username?:
        type: string
        description: Email ID of the authenticated user
    description: A view (profile) collection lists Analytics views (profiles) to which the user has access. Each resource in the collection corresponds to a single Analytics view (profile).
  RealtimeData:
    type: object
    properties:
      totalsForAllResults?:
        type: object
        description: Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.
      columnHeaders?:
        type: array
        description: Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.
        items:
          type: object
          properties:
            columnType?:
              type: string
              description: Column Type. Either DIMENSION or METRIC.
            dataType?:
              type: string
              description: Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc.
            name?:
              type: string
              description: Column name.
      totalResults?:
        type: integer
        format: int32
        description: The total number of rows for the query, regardless of the number of rows in the response.
      profileInfo?:
        type: object
        properties:
          profileName?:
            type: string
            description: View (Profile) name.
          accountId?:
            type: string
            description: Account ID to which this view (profile) belongs.
          profileId?:
            type: string
            description: View (Profile) ID.
          tableId?:
            type: string
            description: Table ID for view (profile).
          internalWebPropertyId?:
            type: string
            description: Internal ID for the web property to which this view (profile) belongs.
          webPropertyId?:
            type: string
            description: Web Property ID to which this view (profile) belongs.
        description: Information for the view (profile), for which the real time data was requested.
      kind?:
        type: string
        default: analytics#realtimeData
        description: Resource type.
      query?:
        type: object
        properties:
          max-results?:
            type: integer
            format: int32
            description: Maximum results per page.
          ids?:
            type: string
            description: Unique table ID.
          filters?:
            type: string
            description: Comma-separated list of dimension or metric filters.
          metrics?:
            type: array
            description: List of real time metrics.
            items:
              type: string
          sort?:
            type: array
            description: List of dimensions or metrics based on which real time data is sorted.
            items:
              type: string
          dimensions?:
            type: string
            description: List of real time dimensions.
        description: Real time data request query parameters.
      id?:
        type: string
        description: Unique ID for this data response.
      rows?:
        type: array
        description: Real time data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.
        items:
          type: array
          items:
            type: string
      selfLink?:
        type: string
        description: Link to this page.
    description: Real time data for a given view (profile).
  RemarketingAudience:
    type: object
    properties:
      created?:
        type: string
        description: Time this remarketing audience was created.
      kind?:
        type: string
        default: analytics#remarketingAudience
        description: Collection type.
      description?:
        type: string
        description: The description of this remarketing audience.
      webPropertyId?:
        type: string
        description: Web property ID of the form UA-XXXXX-YY to which this remarketing audience belongs.
      audienceDefinition?:
        type: object
        properties:
          includeConditions?: IncludeConditions
        description: The simple audience definition that will cause a user to be added to an audience.
      stateBasedAudienceDefinition?:
        type: object
        properties:
          excludeConditions?:
            type: object
            properties:
              segment?:
                type: string
                description: The segment condition that will cause a user to be removed from an audience.
              exclusionDuration?:
                type: string
                description: Whether to make the exclusion TEMPORARY or PERMANENT.
            description: Defines the conditions to exclude users from the audience.
          includeConditions?: IncludeConditions
        description: A state based audience definition that will cause a user to be added or removed from an audience.
      accountId?:
        type: string
        description: Account ID to which this remarketing audience belongs.
      linkedViews?:
        type: array
        description: The views (profiles) that this remarketing audience is linked to.
        items:
          type: string
      name?:
        type: string
        description: The name of this remarketing audience.
      id?:
        type: string
        description: Remarketing Audience ID.
      audienceType?:
        type: string
        description: The type of audience, either SIMPLE or STATE_BASED.
      updated?:
        type: string
        description: Time this remarketing audience was last modified.
      internalWebPropertyId?:
        type: string
        description: Internal ID for the web property to which this remarketing audience belongs.
      linkedAdAccounts?:
        type: array
        description: The linked ad accounts associated with this remarketing audience. A remarketing audience can have only one linkedAdAccount currently.
        items: LinkedForeignAccount
    description: JSON template for an Analytics remarketing audience.
  RemarketingAudiences:
    type: object
    properties:
      previousLink?:
        type: string
        description: Link to previous page for this view (profile) collection.
      startIndex?:
        type: integer
        format: int32
        description: The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.
      totalResults?:
        type: integer
        format: int32
        description: The total number of results for the query, regardless of the number of results in the response.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      kind?:
        type: string
        default: analytics#remarketingAudiences
        description: Collection type.
      items?:
        type: array
        description: A list of remarketing audiences.
        items: RemarketingAudience
      nextLink?:
        type: string
        description: Link to next page for this remarketing audience collection.
      username?:
        type: string
        description: Email ID of the authenticated user
    description: A remarketing audience collection lists Analytics remarketing audiences to which the user has access. Each resource in the collection corresponds to a single Analytics remarketing audience.
  Segment:
    type: object
    properties:
      created?:
        type: string
        description: Time the segment was created.
      kind?:
        type: string
        default: analytics#segment
        description: Resource type for Analytics segment.
      segmentId?:
        type: string
        description: Segment ID. Can be used with the 'segment' parameter in Core Reporting API.
      name?:
        type: string
        description: Segment name.
      definition?:
        type: string
        description: Segment definition.
      id?:
        type: string
        description: Segment ID.
      type?:
        type: string
        description: Type for a segment. Possible values are "BUILT_IN" or "CUSTOM".
      updated?:
        type: string
        description: Time the segment was last modified.
      selfLink?:
        type: string
        description: Link for this segment.
    description: JSON template for an Analytics segment.
  Segments:
    type: object
    properties:
      previousLink?:
        type: string
        description: Link to previous page for this segment collection.
      startIndex?:
        type: integer
        format: int32
        description: The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.
      totalResults?:
        type: integer
        format: int32
        description: The total number of results for the query, regardless of the number of results in the response.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      kind?:
        type: string
        default: analytics#segments
        description: Collection type for segments.
      items?:
        type: array
        description: A list of segments.
        items: Segment
      nextLink?:
        type: string
        description: Link to next page for this segment collection.
      username?:
        type: string
        description: Email ID of the authenticated user
    description: An segment collection lists Analytics segments that the user has access to. Each resource in the collection corresponds to a single Analytics segment.
  UnsampledReport:
    type: object
    properties:
      created?:
        type: datetime
        description: Time this unsampled report was created.
      kind?:
        type: string
        default: analytics#unsampledReport
        description: Resource type for an Analytics unsampled report.
      start-date?:
        type: string
        description: The start date for the unsampled report.
      filters?:
        type: string
        description: The filters for the unsampled report.
      title?:
        type: string
        description: Title of the unsampled report.
      driveDownloadDetails?:
        type: object
        properties:
          documentId?:
            type: string
            description: Id of the document/file containing the report data.
        description: Download details for a file stored in Google Drive.
      webPropertyId?:
        type: string
        description: Web property ID to which this unsampled report belongs. The web property ID is of the form UA-XXXXX-YY.
      selfLink?:
        type: string
        description: Link for this unsampled report.
      accountId?:
        type: string
        description: Account ID to which this unsampled report belongs.
      end-date?:
        type: string
        description: The end date for the unsampled report.
      profileId?:
        type: string
        description: View (Profile) ID to which this unsampled report belongs.
      segment?:
        type: string
        description: The segment for the unsampled report.
      downloadType?:
        type: string
        description: The type of download you need to use for the report data file. Possible values include `GOOGLE_DRIVE` and `GOOGLE_CLOUD_STORAGE`. If the value is `GOOGLE_DRIVE`, see the `driveDownloadDetails` field. If the value is `GOOGLE_CLOUD_STORAGE`, see the `cloudStorageDownloadDetails` field.
      id?:
        type: string
        description: Unsampled report ID.
      metrics?:
        type: string
        description: The metrics for the unsampled report.
      updated?:
        type: datetime
        description: Time this unsampled report was last modified.
      cloudStorageDownloadDetails?:
        type: object
        properties:
          bucketId?:
            type: string
            description: Id of the bucket the file object is stored in.
          objectId?:
            type: string
            description: Id of the file object containing the report data.
        description: Download details for a file stored in Google Cloud Storage.
      dimensions?:
        type: string
        description: The dimensions for the unsampled report.
      status?:
        type: string
        description: Status of this unsampled report. Possible values are PENDING, COMPLETED, or FAILED.
    description: JSON template for Analytics unsampled report resource.
  UnsampledReports:
    type: object
    properties:
      previousLink?:
        type: string
        description: Link to previous page for this unsampled report collection.
      startIndex?:
        type: integer
        format: int32
        description: The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.
      totalResults?:
        type: integer
        format: int32
        description: The total number of results for the query, regardless of the number of resources in the result.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      kind?:
        type: string
        default: analytics#unsampledReports
        description: Collection type.
      items?:
        type: array
        description: A list of unsampled reports.
        items: UnsampledReport
      nextLink?:
        type: string
        description: Link to next page for this unsampled report collection.
      username?:
        type: string
        description: Email ID of the authenticated user
    description: An unsampled report collection lists Analytics unsampled reports to which the user has access. Each view (profile) can have a set of unsampled reports. Each resource in the unsampled report collection corresponds to a single Analytics unsampled report.
  Upload:
    type: object
    properties:
      accountId?:
        type: integer
        format: int64
        description: Account Id to which this upload belongs.
      customDataSourceId?:
        type: string
        description: Custom data source Id to which this data import belongs.
      kind?:
        type: string
        default: analytics#upload
        description: Resource type for Analytics upload.
      id?:
        type: string
        description: A unique ID for this upload.
      errors?:
        type: array
        description: Data import errors collection.
        items:
          type: string
      status?:
        type: string
        description: 'Upload status. Possible values: PENDING, COMPLETED, FAILED,
          DELETING, DELETED.'
    description: Metadata returned for an upload operation.
  Uploads:
    type: object
    properties:
      previousLink?:
        type: string
        description: Link to previous page for this upload collection.
      startIndex?:
        type: integer
        format: int32
        description: The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.
      totalResults?:
        type: integer
        format: int32
        description: The total number of results for the query, regardless of the number of resources in the result.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      kind?:
        type: string
        default: analytics#uploads
        description: Collection type.
      items?:
        type: array
        description: A list of uploads.
        items: Upload
      nextLink?:
        type: string
        description: Link to next page for this upload collection.
    description: Upload collection lists Analytics uploads to which the user has access. Each custom data source can have a set of uploads. Each resource in the upload collection corresponds to a single Analytics data upload.
  UserRef:
    type: object
    properties:
      kind?:
        type: string
        default: analytics#userRef
      id?:
        type: string
        description: User ID.
      email?:
        type: string
        description: Email ID of this user.
    description: JSON template for a user reference.
  WebPropertyRef:
    type: object
    properties:
      accountId?:
        type: string
        description: Account ID to which this web property belongs.
      kind?:
        type: string
        default: analytics#webPropertyRef
        description: Analytics web property reference.
      name?:
        type: string
        description: Name of this web property.
      href?:
        type: string
        description: Link for this web property.
      id?:
        type: string
        description: Web property ID of the form UA-XXXXX-YY.
      internalWebPropertyId?:
        type: string
        description: Internal ID for this web property.
    description: JSON template for a web property reference.
  WebPropertySummary:
    type: object
    properties:
      starred?:
        type: boolean
        description: Indicates whether this web property is starred or not.
      level?:
        type: string
        description: Level for this web property. Possible values are STANDARD or PREMIUM.
      websiteUrl?:
        type: string
        description: Website url for this web property.
      kind?:
        type: string
        default: analytics#webPropertySummary
        description: Resource type for Analytics WebPropertySummary.
      name?:
        type: string
        description: Web property name.
      profiles?:
        type: array
        description: List of profiles under this web property.
        items: ProfileSummary
      id?:
        type: string
        description: Web property ID of the form UA-XXXXX-YY.
      internalWebPropertyId?:
        type: string
        description: Internal ID for this web property.
    description: JSON template for an Analytics WebPropertySummary. WebPropertySummary returns basic information (i.e., summary) for a web property.
  Webproperties:
    type: object
    properties:
      previousLink?:
        type: string
        description: Link to previous page for this web property collection.
      startIndex?:
        type: integer
        format: int32
        description: The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.
      totalResults?:
        type: integer
        format: int32
        description: The total number of results for the query, regardless of the number of results in the response.
      itemsPerPage?:
        type: integer
        format: int32
        description: The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.
      kind?:
        type: string
        default: analytics#webproperties
        description: Collection type.
      items?:
        type: array
        description: A list of web properties.
        items: Webproperty
      nextLink?:
        type: string
        description: Link to next page for this web property collection.
      username?:
        type: string
        description: Email ID of the authenticated user
    description: A web property collection lists Analytics web properties to which the user has access. Each resource in the collection corresponds to a single Analytics web property.
  Webproperty:
    type: object
    properties:
      profileCount?:
        type: integer
        format: int32
        description: View (Profile) count for this web property.
      parentLink?:
        type: object
        properties:
          href?:
            type: string
            description: Link to the account for this web property.
          type?:
            type: string
            default: analytics#account
            description: Type of the parent link. Its value is "analytics#account".
        description: Parent link for this web property. Points to the account to which this web property belongs.
      defaultProfileId?:
        type: integer
        format: int64
        description: Default view (profile) ID.
      level?:
        type: string
        description: Level for this web property. Possible values are STANDARD or PREMIUM.
      childLink?:
        type: object
        properties:
          href?:
            type: string
            description: Link to the list of views (profiles) for this web property.
          type?:
            type: string
            default: analytics#profiles
            description: Type of the parent link. Its value is "analytics#profiles".
        description: Child link for this web property. Points to the list of views (profiles) for this web property.
      created?:
        type: string
        description: Time this web property was created.
      industryVertical?:
        type: string
        description: The industry vertical/category selected for this web property.
      kind?:
        type: string
        default: analytics#webproperty
[...]
