#%RAML 1.0
title: Blogger API
version: v2
baseUri: https://www.googleapis.com/blogger/v2/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/blogger/docs/2.0/json/getting_started
  role: documentation
(commons.Icons):
- url: https://www.google.com/images/icons/product/blogger-32.png
  name: x32
- url: https://www.google.com/images/icons/product/blogger-16.png
  name: x16
(commons.Tags):
- limited_availability
(commons.Id): blogger:v2
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/blogger
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      userIp?:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  Blog:
    type: object
    properties:
      pages?:
        type: object
        properties:
          totalItems?:
            type: integer
            format: int32
            description: The count of pages in this blog.
          selfLink?:
            type: string
            description: The URL of the container for pages in this blog.
        description: The container of pages in this blog.
      kind?:
        type: string
        default: blogger#blog
        description: The kind of this entry. Always blogger#blog
      name?:
        type: string
        description: The name of this blog. This is displayed as the title.
      description?:
        type: string
        description: The description of this blog. This is displayed underneath the title.
      id?:
        type: integer
        format: int64
        description: The identifier for this resource.
      published?:
        type: string
        description: RFC 3339 date-time when this blog was published.
      locale?:
        type: object
        properties:
          country?:
            type: string
            description: The country this blog's locale is set to.
          variant?:
            type: string
            description: The language variant this blog is authored in.
          language?:
            type: string
            description: The language this blog is authored in.
        description: The locale this Blog is set to.
      posts?:
        type: object
        properties:
          totalItems?:
            type: integer
            format: int32
            description: The count of posts in this blog.
          selfLink?:
            type: string
            description: The URL of the container for posts in this blog.
        description: The container of posts in this blog.
      updated?:
        type: string
        description: RFC 3339 date-time when this blog was last updated.
      url?:
        type: string
        description: The URL where this blog is published.
      selfLink?:
        type: string
        description: The API REST URL to fetch this resource from.
  BlogList:
    type: object
    properties:
      kind?:
        type: string
        default: blogger#blogList
        description: The kind of this entity. Always blogger#blogList
      items?:
        type: array
        description: The list of Blogs this user has Authorship or Admin rights over.
        items: Blog
  Comment:
    type: object
    properties:
      post?:
        type: object
        properties:
          id?:
            type: integer
            format: int64
            description: The identifier of the post containing this comment.
        description: Data about the post containing this comment.
      author?:
        type: object
        properties:
          image?:
            type: object
            properties:
              url?:
                type: string
                description: The comment creator's avatar URL.
            description: The comment creator's avatar.
          displayName?:
            type: string
            description: The display name.
          id?:
            type: string
            description: The identifier of the Comment creator.
          url?:
            type: string
            description: The URL of the Comment creator's Profile page.
        description: The author of this Comment.
      kind?:
        type: string
        default: blogger#comment
        description: The kind of this entry. Always blogger#comment
      inReplyTo?:
        type: object
        properties:
          id?:
            type: integer
            format: int64
            description: The identified of the parent of this comment.
        description: Data about the comment this is in reply to.
      id?:
        type: integer
        format: int64
        description: The identifier for this resource.
      published?:
        type: datetime
        description: RFC 3339 date-time when this comment was published.
      blog?:
        type: object
        properties:
          id?:
            type: integer
            format: int64
            description: The identifier of the blog containing this comment.
        description: Data about the blog containing this comment.
      updated?:
        type: datetime
        description: RFC 3339 date-time when this comment was last updated.
      content?:
        type: string
        description: The actual content of the comment. May include HTML markup.
      selfLink?:
        type: string
        description: The API REST URL to fetch this resource from.
  CommentList:
    type: object
    properties:
      prevPageToken?:
        type: string
        description: Pagination token to fetch the previous page, if one exists.
      kind?:
        type: string
        default: blogger#commentList
        description: The kind of this entry. Always blogger#commentList
      nextPageToken?:
        type: string
        description: Pagination token to fetch the next page, if one exists.
      items?:
        type: array
        description: The List of Comments for a Post.
        items: Comment
  Page:
    type: object
    properties:
      author?:
        type: object
        properties:
          image?:
            type: object
            properties:
              url?:
                type: string
                description: The page author's avatar URL.
            description: The page author's avatar.
          displayName?:
            type: string
            description: The display name.
          id?:
            type: string
            description: The identifier of the Page creator.
          url?:
            type: string
            description: The URL of the Page creator's Profile page.
        description: The author of this Page.
      kind?:
        type: string
        default: blogger#page
        description: The kind of this entity. Always blogger#page
      id?:
        type: integer
        format: int64
        description: The identifier for this resource.
      published?:
        type: datetime
        description: RFC 3339 date-time when this Page was published.
      blog?:
        type: object
        properties:
          id?:
            type: integer
            format: int64
            description: The identifier of the blog containing this page.
        description: Data about the blog containing this Page.
      title?:
        type: string
        description: The title of this entity. This is the name displayed in the Admin user interface.
      updated?:
        type: datetime
        description: RFC 3339 date-time when this Page was last updated.
      content?:
        type: string
        description: The body content of this Page, in HTML.
      url?:
        type: string
        description: The URL that this Page is displayed at.
      selfLink?:
        type: string
        description: The API REST URL to fetch this resource from.
  PageList:
    type: object
    properties:
      kind?:
        type: string
        default: blogger#pageList
        description: The kind of this entity. Always blogger#pageList
      items?:
        type: array
        description: The list of Pages for a Blog.
        items: Page
  Post:
    type: object
    properties:
      replies?:
        type: object
        properties:
          totalItems?:
            type: integer
            format: int64
            description: The count of comments on this post.
          selfLink?:
            type: string
            description: The URL of the comments on this post.
        description: The container of comments on this Post.
      author?:
        type: object
        properties:
          image?:
            type: object
            properties:
              url?:
                type: string
                description: The Post author's avatar URL.
            description: The Post author's avatar.
          displayName?:
            type: string
            description: The display name.
          id?:
            type: string
            description: The identifier of the Post creator.
          url?:
            type: string
            description: The URL of the Post creator's Profile page.
        description: The author of this Post.
      kind?:
        type: string
        default: blogger#post
        description: The kind of this entity. Always blogger#post
      id?:
        type: integer
        format: int64
        description: The identifier of this Post.
      published?:
        type: datetime
        description: RFC 3339 date-time when this Post was published.
      blog?:
        type: object
        properties:
          id?:
            type: integer
            format: int64
            description: The identifier of the Blog that contains this Post.
        description: Data about the blog containing this Post.
      title?:
        type: string
        description: The title of the Post.
      updated?:
        type: datetime
        description: RFC 3339 date-time when this Post was last updated.
      content?:
        type: string
        description: The content of the Post. May contain HTML markup.
      url?:
        type: string
        description: The URL where this Post is displayed.
      labels?:
        type: array
        description: The list of labels this Post was tagged with.
        items:
          type: string
      selfLink?:
        type: string
        description: The API REST URL to fetch this resource from.
  PostList:
    type: object
    properties:
      prevPageToken?:
        type: string
        description: Pagination token to fetch the previous page, if one exists.
      kind?:
        type: string
        default: blogger#postList
        description: The kind of this entity. Always blogger#postList
      nextPageToken?:
        type: string
        description: Pagination token to fetch the next page, if one exists.
      items?:
        type: array
        description: The list of Posts for this Blog.
        items: Post
  User:
    type: object
    properties:
      blogs?:
        type: object
        properties:
          selfLink?:
            type: string
            description: The URL of the Blogs for this user.
        description: The container of blogs for this user.
      created?:
        type: datetime
        description: The timestamp of when this profile was created, in seconds since epoch.
      displayName?:
        type: string
        description: The display name.
      kind?:
        type: string
        default: blogger#user
        description: The kind of this entity. Always blogger#user
      about?:
        type: string
        description: Profile summary information.
      id?:
        type: string
        description: The identifier for this User.
      locale?:
        type: object
        properties:
          country?:
            type: string
            description: The user's country setting.
          variant?:
            type: string
            description: The user's language variant setting.
          language?:
            type: string
            description: The user's language setting.
        description: This user's locale
      url?:
        type: string
        description: The user's profile page.
      selfLink?:
        type: string
        description: The API REST URL to fetch this resource from.
/blogs:
  /{blogId}:
    uriParameters:
      blogId:
        type: string
        description: ID of the blog to containing the comment.
    /posts:
      /{postId}:
        uriParameters:
          postId:
            type: string
            description: ID of the post to fetch posts from.
        /comments:
          /{commentId}:
            uriParameters:
              commentId:
                type: string
                description: The ID of the comment to get.
            get:
              securedBy:
                oath2:
                  scopes:
                  - https://www.googleapis.com/auth/blogger
              description: Gets one comment by id.
              displayName: Get Comments
              is:
              - hasParameters
              responses:
                200:
                  body:
                    application/json: Comment
          get:
            securedBy:
              oath2:
                scopes:
                - https://www.googleapis.com/auth/blogger
            description: Retrieves the comments for a blog, possibly filtered.
            displayName: List Comments
            is:
            - hasParameters
            queryParameters:
              maxResults?:
                type: integer
                format: int32
                description: Maximum number of comments to include in the result.
              fetchBodies?:
                type: boolean
                description: Whether the body content of the comments is included.
              pageToken?:
                type: string
                description: Continuation token if request is paged.
              startDate?:
                type: datetime
                description: Earliest date of comment to fetch, a date-time with RFC 3339 formatting.
            responses:
              200:
                body:
                  application/json: CommentList
        get:
          securedBy:
            oath2:
              scopes:
              - https://www.googleapis.com/auth/blogger
          description: Get a post by id.
          displayName: Get Posts
          is:
          - hasParameters
          responses:
            200:
              body:
                application/json: Post
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/blogger
        description: Retrieves a list of posts, possibly filtered.
        displayName: List Posts
        is:
        - hasParameters
        queryParameters:
          maxResults?:
            type: integer
            format: int32
            description: Maximum number of posts to fetch.
          fetchBodies?:
            type: boolean
            description: Whether the body content of posts is included.
          pageToken?:
            type: string
            description: Continuation token if the request is paged.
          startDate?:
            type: datetime
            description: Earliest post date to fetch, a date-time with RFC 3339 formatting.
        responses:
          200:
            body:
              application/json: PostList
    /pages:
      /{pageId}:
        uriParameters:
          pageId:
            type: string
            description: The ID of the page to get.
        get:
          securedBy:
            oath2:
              scopes:
              - https://www.googleapis.com/auth/blogger
          description: Gets one blog page by id.
          displayName: Get Pages
          is:
          - hasParameters
          responses:
            200:
              body:
                application/json: Page
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/blogger
        description: Retrieves pages for a blog, possibly filtered.
        displayName: List Pages
        is:
        - hasParameters
        queryParameters:
          fetchBodies?:
            type: boolean
            description: Whether to retrieve the Page bodies.
        responses:
          200:
            body:
              application/json: PageList
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/blogger
      description: Gets one blog by id.
      displayName: Get Blogs
      is:
      - hasParameters
      responses:
        200:
          body:
            application/json: Blog
/users:
  /{userId}:
    uriParameters:
      userId:
        type: string
        description: The ID of the user to get.
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/blogger
      description: Gets one user by id.
      displayName: Get Users
      is:
      - hasParameters
      responses:
        200:
          body:
            application/json: User
