#%RAML 1.0
title: Google Cloud Billing API
version: v1
baseUri: https://cloudbilling.googleapis.com/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
  extras: https://raw.githubusercontent.com/apiregistry/typesExtras/master/typeExtras.raml
(commons.Links):
- title: Developer Documentation
  url: https://cloud.google.com/billing/
  role: documentation
(commons.Icons):
- url: http://www.google.com/images/icons/product/search-32.gif
  name: x32
- url: http://www.google.com/images/icons/product/search-16.gif
  name: x16
(commons.Id): cloudbilling:v1
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/cloud-platform
traits:
  hasParameters:
    queryParameters:
      pp?:
        type: boolean
        default: true
        description: Pretty-print response.
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      upload_protocol?:
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      $.xgafv?:
        type: string
        description: V1 error format.
        (commons.EnumDescriptions):
        - v1 error format
        - v2 error format
      uploadType?:
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      callback?:
        type: string
        description: JSONP
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  BillingAccount:
    type: object
    properties:
      displayName?:
        type: string
        description: The display name given to the billing account, such as `My Billing Account`. This name is displayed in the Google Developers Console.
      name?:
        type: string
        description: The resource name of the billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF` would be the resource name for billing account `012345-567890-ABCDEF`.
      open?:
        type: boolean
        description: True if the billing account is open, and will therefore be charged for any usage on associated projects. False if the billing account is closed, and therefore projects associated with it will be unable to use paid services.
    description: A billing account in [Google Developers Console](https://console.developers.google.com/). You can assign a billing account to one or more projects.
  ListBillingAccountsResponse:
    type: object
    properties:
      nextPageToken?:
        type: string
        description: A token to retrieve the next page of results. To retrieve the next page, call `ListBillingAccounts` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve.
      billingAccounts?:
        type: array
        description: A list of billing accounts.
        items: BillingAccount
    description: Response message for `ListBillingAccounts`.
  ListProjectBillingInfoResponse:
    type: object
    properties:
      projectBillingInfo?:
        type: array
        description: A list of `ProjectBillingInfo` resources representing the projects associated with the billing account.
        items: ProjectBillingInfo
      nextPageToken?:
        type: string
        description: A token to retrieve the next page of results. To retrieve the next page, call `ListProjectBillingInfo` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve.
    description: Request message for `ListProjectBillingInfoResponse`.
  ProjectBillingInfo:
    type: object
    properties:
      name?:
        type: string
        description: The resource name for the `ProjectBillingInfo`; has the form `projects/{project_id}/billingInfo`. For example, the resource name for the billing information for project `tokyo-rain-123` would be `projects/tokyo-rain-123/billingInfo`. This field is read-only.
      billingAccountName?:
        type: string
        description: The resource name of the billing account associated with the project, if any. For example, `billingAccounts/012345-567890-ABCDEF`.
      billingEnabled?:
        type: boolean
        description: True if the project is associated with an open billing account, to which usage on the project is charged. False if the project is associated with a closed billing account, or no billing account at all, and therefore cannot use paid services. This field is read-only.
      projectId?:
        type: string
        description: The ID of the project that this `ProjectBillingInfo` represents, such as `tokyo-rain-123`. This is a convenience field so that you don't need to parse the `name` field to obtain a project ID. This field is read-only.
    description: Encapsulation of billing information for a Developers Console project. A project has at most one associated billing account at a time (but a billing account can be assigned to multiple projects).
/v1:
  /{name}:
    uriParameters:
      name:
        type: string
        pattern: ^projects/[^/]*$
        description: The resource name of the project for which billing information is retrieved. For example, `projects/tokyo-rain-123`.
    /billingInfo:
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/cloud-platform
        description: Gets the billing information for a project. The current authenticated user must have [permission to view the project](https://cloud.google.com/docs/permissions-overview#h.bgs0oxofvnoo ).
        displayName: Get Billing Info
        is:
        - hasParameters
        responses:
          200:
            body:
              application/json: ProjectBillingInfo
        (commons.Id): cloudbilling.projects.getBillingInfo
        (commons.LogicalStructure):
        - Projects
      put:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/cloud-platform
        description: 'Sets or updates the billing account associated with a project.
          You specify the new billing account by setting the `billing_account_name`
          in the `ProjectBillingInfo` resource to the resource name of a billing account.
          Associating a project with an open billing account enables billing on the
          project and allows charges for resource usage. If the project already had
          a billing account, this method changes the billing account used for resource
          usage charges. *Note:* Incurred charges that have not yet been reported
          in the transaction history of the Google Developers Console may be billed
          to the new billing account, even if the charge occurred before the new billing
          account was assigned to the project. The current authenticated user must
          have ownership privileges for both the [project](https://cloud.google.com/docs/permissions-overview#h.bgs0oxofvnoo
          ) and the [billing account](https://support.google.com/cloud/answer/4430947).
          You can disable billing on the project by setting the `billing_account_name`
          field to empty. This action disassociates the current billing account from
          the project. Any billable activity of your in-use services will stop, and
          your application could stop functioning as expected. Any unbilled charges
          to date will be billed to the previously associated account. The current
          authenticated user must be either an owner of the project or an owner of
          the billing account for the project. Note that associating a project with
          a *closed* billing account will have much the same effect as disabling billing
          on the project: any paid resources used by the project will be shut down.
          Thus, unless you wish to disable billing, you should always call this method
          with the name of an *open* billing account.'
        displayName: Update Billing Info
        is:
        - hasParameters
        body:
          application/json: ProjectBillingInfo
        responses:
          200:
            body:
              application/json: ProjectBillingInfo
        (commons.Id): cloudbilling.projects.updateBillingInfo
        (commons.LogicalStructure):
        - Projects
    /projects:
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/cloud-platform
        description: Lists the projects associated with a billing account. The current authenticated user must be an [owner of the billing account](https://support.google.com/cloud/answer/4430947).
        displayName: List
        is:
        - hasParameters
        queryParameters:
          pageSize?:
            type: integer
            format: int32
            description: Requested page size. The maximum page size is 100; this is also the default.
          pageToken?:
            type: string
            description: A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous `ListProjectBillingInfo` call. If unspecified, the first page of results is returned.
        responses:
          200:
            body:
              application/json: ListProjectBillingInfoResponse
        (commons.Id): cloudbilling.billingAccounts.projects.list
        (commons.LogicalStructure):
        - Billing Accounts
        - Projects
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/cloud-platform
      description: Gets information about a billing account. The current authenticated user must be an [owner of the billing account](https://support.google.com/cloud/answer/4430947).
      displayName: Get
      is:
      - hasParameters
      responses:
        200:
          body:
            application/json: BillingAccount
      (commons.Id): cloudbilling.billingAccounts.get
      (commons.LogicalStructure):
      - Billing Accounts
  /billingAccounts:
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/cloud-platform
      description: Lists the billing accounts that the current authenticated user [owns](https://support.google.com/cloud/answer/4430947).
      displayName: List
      is:
      - hasParameters
      queryParameters:
        pageSize?:
          type: integer
          format: int32
          description: Requested page size. The maximum page size is 100; this is also the default.
        pageToken?:
          type: string
          description: A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListBillingAccounts` call. If unspecified, the first page of results is returned.
      responses:
        200:
          body:
            application/json: ListBillingAccountsResponse
      (commons.Id): cloudbilling.billingAccounts.list
      (commons.LogicalStructure):
      - Billing Accounts
