#%RAML 1.0
title: Compute Engine API
version: alpha
baseUri: https://www.googleapis.com/compute/alpha/projects/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/compute/docs/reference/latest/
  role: documentation
(commons.Icons):
- url: https://www.google.com/images/icons/product/compute_engine-32.png
  name: x32
- url: https://www.google.com/images/icons/product/compute_engine-16.png
  name: x16
(commons.Id): compute:alpha
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/devstorage.read_only
      - https://www.googleapis.com/auth/compute.readonly
      - https://www.googleapis.com/auth/compute
      - https://www.googleapis.com/auth/devstorage.full_control
      - https://www.googleapis.com/auth/cloud-platform
      - https://www.googleapis.com/auth/devstorage.read_write
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      userIp?:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  AccessConfig:
    type: object
    properties:
      setPublicDns?:
        type: boolean
        description: Specifies whether a public DNS ?A? record should be created for the external IP address of this access configuration.
      natIP?:
        type: string
        description: An external IP address associated with this instance. Specify an unused static external IP address available to the project or leave this field undefined to use an IP from a shared ephemeral IP address pool. If you specify a static external IP address, it must live in the same region as the zone of the instance.
      networkTier?:
        type: string
        description: 'This signifies the networking tier used for configuring this
          access configuration and can only take the following values: PREMIUM , STANDARD.
          If this field is not specified, it is assumed to be PREMIUM.'
        enum:
        - PREMIUM
        - STANDARD
      kind?:
        type: string
        default: compute#accessConfig
        description: '[Output Only] Type of the resource. Always compute#accessConfig
          for access configs.'
      name?:
        type: string
        description: Name of this access configuration.
      dnsName?:
        type: string
        description: '[Output Only] The public DNS domain name for the instance.'
      type?:
        type: string
        default: ONE_TO_ONE_NAT
        description: The type of configuration. The default and only option is ONE_TO_ONE_NAT.
        enum:
        - ONE_TO_ONE_NAT
      ptrDomainName?:
        type: string
        description: The DNS domain name for the public PTR record. This field can only be set when the set_ptr field is enabled.
      setPtr?:
        type: boolean
        description: Specifies whether a public DNS ?PTR? record should be created to map the external IP address of the instance to a DNS domain name.
    description: An access configuration attached to an instance's network interface. Only one access config per instance is supported.
  Address:
    type: object
    properties:
      address?:
        type: string
        description: The static external IP address represented by this resource.
      networkTier?:
        type: string
        description: 'This signifies the networking tier used for configuring this
          Address and can only take the following values: PREMIUM , STANDARD. If this
          field is not specified, it is assumed to be PREMIUM.'
        enum:
        - PREMIUM
        - STANDARD
      kind?:
        type: string
        default: compute#address
        description: '[Output Only] Type of the resource. Always compute#address for
          addresses.'
      description?:
        type: string
        description: An optional description of this resource. Provide this property when you create the resource.
      labelFingerprint?:
        type: string
        description: |-
          A fingerprint for the labels being applied to this Address, which is essentially a hash of the labels set used for optimistic locking. The fingerprint is initially generated by Compute Engine and changes after every request to modify or update labels. You must always provide an up-to-date fingerprint hash in order to update or change labels.

          To see the latest fingerprint, make a get() request to retrieve an Address.
      users?:
        type: array
        description: '[Output Only] The URLs of the resources that are using this
          address.'
        items:
          type: string
      labels?:
        type: object
        description: Labels to apply to this Address resource. These can be later modified by the setLabels method. Each label key/value must comply with RFC1035. Label values may be empty.
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for the resource.'
      creationTimestamp?:
        type: string
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
      name?:
        type: string
        pattern: '[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?'
        description: Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.
      id?:
        type: integer
        format: int64
        description: '[Output Only] The unique identifier for the resource. This identifier
          is defined by the server.'
      region?:
        type: string
        description: '[Output Only] URL of the region where the regional address resides.
          This field is not applicable to global addresses.'
      status?:
        type: string
        description: '[Output Only] The status of the address, which can be either
          IN_USE or RESERVED. An address that is RESERVED is currently reserved and
          available to use. An IN_USE address is currently being used by another resource
          and is not available.'
        enum:
        - IN_USE
        - RESERVED
    description: A reserved address resource.
  AddressAggregatedList:
    type: object
    properties:
      kind?:
        type: string
        default: compute#addressAggregatedList
        description: '[Output Only] Type of resource. Always compute#addressAggregatedList
          for aggregated lists of addresses.'
      nextPageToken?:
        type: string
        description: '[Output Only] This token allows you to get the next page of
          results for list requests. If the number of results is larger than maxResults,
          use the nextPageToken as a value for the query parameter pageToken in the
          next list request. Subsequent list requests will have their own nextPageToken
          to continue paging through the results.'
      id?:
        type: string
        description: '[Output Only] Unique identifier for the resource; defined by
          the server.'
      items?:
        type: object
        description: '[Output Only] A map of scoped address lists.'
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for this resource.'
  AddressList:
    type: object
    properties:
      kind?:
        type: string
        default: compute#addressList
        description: '[Output Only] Type of resource. Always compute#addressList for
          lists of addresses.'
      nextPageToken?:
        type: string
        description: '[Output Only] This token allows you to get the next page of
          results for list requests. If the number of results is larger than maxResults,
          use the nextPageToken as a value for the query parameter pageToken in the
          next list request. Subsequent list requests will have their own nextPageToken
          to continue paging through the results.'
      id?:
        type: string
        description: '[Output Only] The unique identifier for the resource. This identifier
          is defined by the server.'
      items?:
        type: array
        description: '[Output Only] A list of addresses.'
        items: Address
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for the resource.'
    description: Contains a list of addresses.
  AddressesScopedList:
    type: object
    properties:
      addresses?:
        type: array
        description: '[Output Only] List of addresses contained in this scope.'
        items: Address
      warning?:
        type: object
        properties:
          code?:
            type: string
            description: '[Output Only] A warning code, if applicable. For example,
              Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in
              the response.'
            enum:
            - CLEANUP_FAILED
            - DEPRECATED_RESOURCE_USED
            - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
            - FIELD_VALUE_OVERRIDEN
            - INJECTED_KERNELS_DEPRECATED
            - NEXT_HOP_ADDRESS_NOT_ASSIGNED
            - NEXT_HOP_CANNOT_IP_FORWARD
            - NEXT_HOP_INSTANCE_NOT_FOUND
            - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
            - NEXT_HOP_NOT_RUNNING
            - NOT_CRITICAL_ERROR
            - NO_RESULTS_ON_PAGE
            - REQUIRED_TOS_AGREEMENT
            - RESOURCE_NOT_DELETED
            - SINGLE_INSTANCE_PROPERTY_TEMPLATE
            - UNREACHABLE
          data?:
            type: array
            description: |-
              [Output Only] Metadata about this warning in key: value format. For example:
              "data": [ { "key": "scope", "value": "zones/us-east1-d" }
            items:
              type: object
              properties:
                value?:
                  type: string
                  description: '[Output Only] A warning data value corresponding to
                    the key.'
                key?:
                  type: string
                  description: '[Output Only] A key that provides more detail on the
                    warning being returned. For example, for warnings where there
                    are no results in a list request for a particular zone, this key
                    might be scope and the key value might be the zone name. Other
                    examples might be a key indicating a deprecated resource and a
                    suggested replacement, or a warning about invalid network settings
                    (for example, if an instance attempts to perform IP forwarding
                    but is not enabled for IP forwarding).'
          message?:
            type: string
            description: '[Output Only] A human-readable description of the warning
              code.'
        description: '[Output Only] Informational warning which replaces the list
          of addresses when the list is empty.'
  AliasIpRange:
    type: object
    properties:
      ipCidrRange?:
        type: string
        description: The IP CIDR range represented by this alias IP range. This IP CIDR range must belong to the specified subnetwork and cannot contain IP addresses reserved by system or used by other network interfaces. This range may be a single IP address (e.g. 10.2.3.4), a netmask (e.g. /24) or a CIDR format string (e.g. 10.1.2.0/24).
      subnetworkRangeName?:
        type: string
        description: Optional subnetwork secondary range name specifying the secondary range from which to allocate the IP CIDR range for this alias IP range. If left unspecified, the primary range of the subnetwork will be used.
    description: An alias IP range attached to an instance's network interface.
  AttachedDisk:
    type: object
    properties:
      mode?:
        type: string
        description: The mode in which to attach this disk, either READ_WRITE or READ_ONLY. If not specified, the default is to attach the disk in READ_WRITE mode.
        enum:
        - READ_ONLY
        - READ_WRITE
      licenses?:
        type: array
        description: '[Output Only] Any valid publicly visible licenses.'
        items:
          type: string
      diskEncryptionKey?: CustomerEncryptionKey
      kind?:
        type: string
        default: compute#attachedDisk
        description: '[Output Only] Type of the resource. Always compute#attachedDisk
          for attached disks.'
      autoDelete?:
        type: boolean
        description: Specifies whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance).
      index?:
        type: integer
        format: int32
        description: Assigns a zero-based index to this disk, where 0 is reserved for the boot disk. For example, if you have many disks attached to an instance, each disk would have a unique index number. If not specified, the server will choose an appropriate value.
      source?:
        type: string
        description: Specifies a valid partial or full URL to an existing Persistent Disk resource. This field is only applicable for persistent disks. Note that for InstanceTemplate, it is just disk name, not URL for the disk.
      boot?:
        type: boolean
        description: Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem.
      interface?:
        type: string
        description: Specifies the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI. Persistent disks must always use SCSI and the request will fail if you attempt to attach a persistent disk in any other format than SCSI. Local SSDs can use either NVME or SCSI. For performance characteristics of SCSI over NVMe, see Local SSD performance.
        enum:
        - NVME
        - SCSI
      type?:
        type: string
        description: Specifies the type of the disk, either SCRATCH or PERSISTENT. If not specified, the default is PERSISTENT.
        enum:
        - PERSISTENT
        - SCRATCH
      deviceName?:
        type: string
        description: |-
          Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. This name can be used to reference the device for mounting, resizing, and so on, from within the instance.

          If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disks-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.
      initializeParams?: AttachedDiskInitializeParams
    description: An instance-attached disk resource.
  AttachedDiskInitializeParams:
    type: object
    properties:
      diskName?:
        type: string
        description: Specifies the disk name. If not specified, the default is to use the name of the instance.
      sourceImageEncryptionKey?: CustomerEncryptionKey
      diskStorageType?:
        type: string
        description: '[Deprecated] Storage type of the disk.'
        enum:
        - HDD
        - SSD
      diskType?:
        type: string
        description: "Specifies the disk type to use to create the instance. If not\
          \ specified, the default is pd-standard, specified using the full URL. For\
          \ example:\n\nhttps://www.googleapis.com/compute/v1/projects/project/zones/zone/diskTypes/pd-standard\
          \ \n\nOther values include pd-ssd and local-ssd. If you define this field,\
          \ you can provide either the full or partial URL. For example, the following\
          \ are valid values:  \n- https://www.googleapis.com/compute/v1/projects/project/zones/zone/diskTypes/diskType\
          \ \n- projects/project/zones/zone/diskTypes/diskType \n- zones/zone/diskTypes/diskType\
          \  Note that for InstanceTemplate, this is the name of the disk type, not\
          \ URL."
      sourceImage?:
        type: string
        description: "The source image used to create this disk. If the source image\
          \ is deleted, this field will not be set.\n\nTo create a disk with one of\
          \ the public operating system images, specify the image by its family name.\
          \ For example, specify family/debian-8 to use the latest Debian 8 image:\n\
          \nprojects/debian-cloud/global/images/family/debian-8 \n\nAlternatively,\
          \ use a specific version of a public operating system image:\n\nprojects/debian-cloud/global/images/debian-8-jessie-vYYYYMMDD\
          \ \n\nTo create a disk with a private image that you created, specify the\
          \ image name in the following format:\n\nglobal/images/my-private-image\
          \ \n\nYou can also specify a private image by its image family, which returns\
          \ the latest version of the image in that family. Replace the image name\
          \ with family/family-name:\n\nglobal/images/family/my-private-family"
      diskSizeGb?:
        type: integer
        format: int64
        description: Specifies the size of the disk in base-2 GB.
    description: |-
      [Input Only] Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new instance.

      This property is mutually exclusive with the source property; you can only define one or the other, but not both.
  AuditConfig:
    type: object
    properties:
      exemptedMembers?:
        type: array
        description: Specifies the identities that are exempted from "data access" audit logging for the `service` specified above. Follows the same format of Binding.members.
        items:
          type: string
      service?:
        type: string
        description: Specifies a service that will be enabled for "data access" audit logging. For example, `resourcemanager`, `storage`, `compute`. `allServices` is a special value that covers all services.
    description: Enables "data access" audit logging for a service and specifies a list of members that are log-exempted.
  Autoscaler:
    type: object
    properties:
      zone?:
        type: string
        description: '[Output Only] URL of the zone where the instance group resides
          (for autoscalers living in zonal scope).'
      kind?:
        type: string
        default: compute#autoscaler
        description: '[Output Only] Type of the resource. Always compute#autoscaler
          for autoscalers.'
      creationTimestamp?:
        type: string
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
      name?:
        type: string
        pattern: '[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?'
        description: Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.
      description?:
        type: string
        description: An optional description of this resource. Provide this property when you create the resource.
      statusDetails?:
        type: array
        description: '[Output Only] Human-readable details about the current state
          of the autoscaler. Read the documentation for Commonly returned status messages
          for examples of status messages you might encounter.'
        items: AutoscalerStatusDetails
      id?:
        type: integer
        format: int64
        description: '[Output Only] The unique identifier for the resource. This identifier
          is defined by the server.'
      region?:
        type: string
        description: '[Output Only] URL of the region where the instance group resides
          (for autoscalers living in regional scope).'
      autoscalingPolicy?: AutoscalingPolicy
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for the resource.'
      status?:
        type: string
        description: '[Output Only] The status of the autoscaler configuration.'
        enum:
        - ACTIVE
        - DELETING
        - ERROR
        - PENDING
      target?:
        type: string
        description: URL of the managed instance group that this autoscaler will scale.
    description: Represents an Autoscaler resource. Autoscalers allow you to automatically scale virtual machine instances in managed instance groups according to an autoscaling policy that you define. For more information, read Autoscaling Groups of Instances.
  AutoscalerAggregatedList:
    type: object
    properties:
      kind?:
        type: string
        default: compute#autoscalerAggregatedList
        description: '[Output Only] Type of resource. Always compute#autoscalerAggregatedList
          for aggregated lists of autoscalers.'
      nextPageToken?:
        type: string
        description: '[Output Only] This token allows you to get the next page of
          results for list requests. If the number of results is larger than maxResults,
          use the nextPageToken as a value for the query parameter pageToken in the
          next list request. Subsequent list requests will have their own nextPageToken
          to continue paging through the results.'
      id?:
        type: string
        description: '[Output Only] The unique identifier for the resource. This identifier
          is defined by the server.'
      items?:
        type: object
        description: A map of scoped autoscaler lists.
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for this resource.'
  AutoscalerList:
    type: object
    properties:
      kind?:
        type: string
        default: compute#autoscalerList
        description: '[Output Only] Type of resource. Always compute#autoscalerList
          for lists of autoscalers.'
      nextPageToken?:
        type: string
        description: '[Output Only] This token allows you to get the next page of
          results for list requests. If the number of results is larger than maxResults,
          use the nextPageToken as a value for the query parameter pageToken in the
          next list request. Subsequent list requests will have their own nextPageToken
          to continue paging through the results.'
      id?:
        type: string
        description: '[Output Only] The unique identifier for the resource. This identifier
          is defined by the server.'
      items?:
        type: array
        description: A list of Autoscaler resources.
        items: Autoscaler
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for this resource.'
    description: Contains a list of Autoscaler resources.
  AutoscalerStatusDetails:
    type: object
    properties:
      message?:
        type: string
        description: The status message.
      type?:
        type: string
        description: The type of error returned.
        enum:
        - ALL_INSTANCES_UNHEALTHY
        - BACKEND_SERVICE_DOES_NOT_EXIST
        - CAPPED_AT_MAX_NUM_REPLICAS
        - CUSTOM_METRIC_DATA_POINTS_TOO_SPARSE
        - CUSTOM_METRIC_INVALID
        - MIN_EQUALS_MAX
        - MISSING_CUSTOM_METRIC_DATA_POINTS
        - MISSING_LOAD_BALANCING_DATA_POINTS
        - MORE_THAN_ONE_BACKEND_SERVICE
        - NOT_ENOUGH_QUOTA_AVAILABLE
        - SCALING_TARGET_DOES_NOT_EXIST
        - UNKNOWN
        - UNSUPPORTED_MAX_RATE_LOAD_BALANCING_CONFIGURATION
  AutoscalersScopedList:
    type: object
    properties:
      warning?:
        type: object
        properties:
          code?:
            type: string
            description: '[Output Only] A warning code, if applicable. For example,
              Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in
              the response.'
            enum:
            - CLEANUP_FAILED
            - DEPRECATED_RESOURCE_USED
            - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
            - FIELD_VALUE_OVERRIDEN
            - INJECTED_KERNELS_DEPRECATED
            - NEXT_HOP_ADDRESS_NOT_ASSIGNED
            - NEXT_HOP_CANNOT_IP_FORWARD
            - NEXT_HOP_INSTANCE_NOT_FOUND
            - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
            - NEXT_HOP_NOT_RUNNING
            - NOT_CRITICAL_ERROR
            - NO_RESULTS_ON_PAGE
            - REQUIRED_TOS_AGREEMENT
            - RESOURCE_NOT_DELETED
            - SINGLE_INSTANCE_PROPERTY_TEMPLATE
            - UNREACHABLE
          data?:
            type: array
            description: |-
              [Output Only] Metadata about this warning in key: value format. For example:
              "data": [ { "key": "scope", "value": "zones/us-east1-d" }
            items:
              type: object
              properties:
                value?:
                  type: string
                  description: '[Output Only] A warning data value corresponding to
                    the key.'
                key?:
                  type: string
                  description: '[Output Only] A key that provides more detail on the
                    warning being returned. For example, for warnings where there
                    are no results in a list request for a particular zone, this key
                    might be scope and the key value might be the zone name. Other
                    examples might be a key indicating a deprecated resource and a
                    suggested replacement, or a warning about invalid network settings
                    (for example, if an instance attempts to perform IP forwarding
                    but is not enabled for IP forwarding).'
          message?:
            type: string
            description: '[Output Only] A human-readable description of the warning
              code.'
        description: '[Output Only] Informational warning which replaces the list
          of autoscalers when the list is empty.'
      autoscalers?:
        type: array
        description: '[Output Only] List of autoscalers contained in this scope.'
        items: Autoscaler
  AutoscalingPolicy:
    type: object
    properties:
      cpuUtilization?: AutoscalingPolicyCpuUtilization
      loadBalancingUtilization?: AutoscalingPolicyLoadBalancingUtilization
      minNumReplicas?:
        type: integer
        format: int32
        description: The minimum number of replicas that the autoscaler can scale down to. This cannot be less than 0. If not provided, autoscaler will choose a default value depending on maximum number of instances allowed.
      coolDownPeriodSec?:
        type: integer
        format: int32
        description: |-
          The number of seconds that the autoscaler should wait before it starts collecting information from a new instance. This prevents the autoscaler from collecting information when the instance is initializing, during which the collected usage would not be reliable. The default time autoscaler waits is 60 seconds.

          Virtual machine initialization times might vary because of numerous factors. We recommend that you test how long an instance may take to initialize. To do this, create an instance and time the startup process.
      customMetricUtilizations?:
        type: array
        description: Configuration parameters of autoscaling based on a custom metric.
        items: AutoscalingPolicyCustomMetricUtilization
      maxNumReplicas?:
        type: integer
        format: int32
        description: The maximum number of instances that the autoscaler can scale up to. This is required when creating or updating an autoscaler. The maximum number of replicas should not be lower than minimal number of replicas.
      queueBasedScaling?: AutoscalingPolicyQueueBasedScaling
    description: Cloud Autoscaler policy.
  AutoscalingPolicyCpuUtilization:
    type: object
    properties:
      utilizationTarget?:
        type: number
        format: double
        description: |-
          The target CPU utilization that the autoscaler should maintain. Must be a float value in the range (0, 1]. If not specified, the default is 0.6.

          If the CPU level is below the target utilization, the autoscaler scales down the number of instances until it reaches the minimum number of instances you specified or until the average CPU of your instances reaches the target utilization.

          If the average CPU is above the target utilization, the autoscaler scales up until it reaches the maximum number of instances you specified or until the average utilization reaches the target utilization.
    description: CPU utilization policy.
  AutoscalingPolicyCustomMetricUtilization:
    type: object
    properties:
      utilizationTargetType?:
        type: string
        description: Defines how target utilization value is expressed for a Stackdriver Monitoring metric. Either GAUGE, DELTA_PER_SECOND, or DELTA_PER_MINUTE. If not specified, the default is GAUGE.
        enum:
        - DELTA_PER_MINUTE
        - DELTA_PER_SECOND
        - GAUGE
      metric?:
        type: string
        description: |-
          The identifier of the Stackdriver Monitoring metric. The metric cannot have negative values and should be a utilization metric, which means that the number of virtual machines handling requests should increase or decrease proportionally to the metric. The metric must also have a label of compute.googleapis.com/resource_id with the value of the instance's unique ID, although this alone does not guarantee that the metric is valid.

          For example, the following is a valid metric:
          compute.googleapis.com/instance/network/received_bytes_count
          The following is not a valid metric because it does not increase or decrease based on usage:
          compute.googleapis.com/instance/cpu/reserved_cores
      utilizationTarget?:
        type: number
        format: double
        description: Target value of the metric which autoscaler should maintain. Must be a positive value.
    description: Custom utilization metric policy.
  AutoscalingPolicyLoadBalancingUtilization:
    type: object
    properties:
      utilizationTarget?:
        type: number
        format: double
        description: Fraction of backend capacity utilization (set in HTTP(s) load balancing configuration) that autoscaler should maintain. Must be a positive float value. If not defined, the default is 0.8.
    description: Configuration parameters of autoscaling based on load balancing.
  AutoscalingPolicyQueueBasedScaling:
    type: object
    properties:
      acceptableBacklogPerInstance?:
        type: number
        format: double
        description: Scaling based on the average number of tasks in the queue per each active instance. The autoscaler keeps the average number of tasks per instance below this number, based on data collected in the last couple of minutes. The autoscaler will also take into account incoming tasks when calculating when to scale.
      singleWorkerThroughputPerSec?:
        type: number
        format: double
        description: The scaling algorithm will also calculate throughput estimates on its own; if you explicitly provide this value, the autoscaler will take into account your value as well as automatic estimates when deciding how to scale.
      cloudPubSub?: AutoscalingPolicyQueueBasedScalingCloudPubSub
    description: Configuration parameters of autoscaling based on queuing system.
  AutoscalingPolicyQueueBasedScalingCloudPubSub:
    type: object
    properties:
      topic?:
        type: string
        description: Cloud Pub/Sub topic used for scaling. Provide the partial URL or partial URL (starting with projects/) or just the topic name. The topic must belong to the same project as the Autoscaler resource.
      subscription?:
        type: string
        description: Cloud Pub/Sub subscription used for scaling. Provide the partial URL (starting with projects/) or just the subscription name. The subscription must be assigned to the topic specified in topicName and must be in a pull configuration. The subscription must belong to the same project as the Autoscaler.
    description: Configuration parameters for scaling based on Cloud Pub/Sub subscription queue.
  Backend:
    type: object
    properties:
      maxConnectionsPerInstance?:
        type: integer
        format: int32
        description: |-
          The max number of simultaneous connections that a single backend instance can handle. This is used to calculate the capacity of the group. Can be used in either CONNECTION or UTILIZATION balancing modes. For CONNECTION mode, either maxConnections or maxConnectionsPerInstance must be set.

          This cannot be used for internal load balancing.
      capacityScaler?:
        type: number
        format: float
        description: |-
          A multiplier applied to the group's maximum servicing capacity (based on UTILIZATION, RATE or CONNECTION). Default value is 1, which means the group will serve up to 100% of its configured capacity (depending on balancingMode). A setting of 0 means the group is completely drained, offering 0% of its available Capacity. Valid range is [0.0,1.0].

          This cannot be used for internal load balancing.
      maxRatePerInstance?:
        type: number
        format: float
        description: |-
          The max requests per second (RPS) that a single backend instance can handle.This is used to calculate the capacity of the group. Can be used in either balancing mode. For RATE mode, either maxRate or maxRatePerInstance must be set.

          This cannot be used for internal load balancing.
      maxUtilization?:
        type: number
        format: float
        description: |-
          Used when balancingMode is UTILIZATION. This ratio defines the CPU utilization target for the group. The default is 0.8. Valid range is [0.0, 1.0].

          This cannot be used for internal load balancing.
      description?:
        type: string
        description: An optional description of this resource. Provide this property when you create the resource.
      balancingMode?:
        type: string
        description: |-
          Specifies the balancing mode for this backend. For global HTTP(S) or TCP/SSL load balancing, the default is UTILIZATION. Valid values are UTILIZATION, RATE (for HTTP(S)) and CONNECTION (for TCP/SSL).

          This cannot be used for internal load balancing.
        enum:
        - CONNECTION
        - RATE
        - UTILIZATION
      maxRate?:
        type: integer
        format: int32
        description: |-
          The max requests per second (RPS) of the group. Can be used with either RATE or UTILIZATION balancing modes, but required if RATE mode. For RATE mode, either maxRate or maxRatePerInstance must be set.

          This cannot be used for internal load balancing.
      group?:
        type: string
        description: |-
          The fully-qualified URL of a zonal Instance Group resource. This instance group defines the list of instances that serve traffic. Member virtual machine instances from each instance group must live in the same zone as the instance group itself. No two backends in a backend service are allowed to use same Instance Group resource.

          Note that you must specify an Instance Group resource using the fully-qualified URL, rather than a partial URL.

          When the BackendService has load balancing scheme INTERNAL, the instance group must be in a zone within the same region as the BackendService.
      maxConnections?:
        type: integer
        format: int32
        description: |-
          The max number of simultaneous connections for the group. Can be used with either CONNECTION or UTILIZATION balancing modes. For CONNECTION mode, either maxConnections or maxConnectionsPerInstance must be set.

          This cannot be used for internal load balancing.
    description: Message containing information of one individual backend.
  BackendBucket:
    type: object
    properties:
      bucketName?:
        type: string
        description: Cloud Storage bucket name.
      enableCdn?:
        type: boolean
        description: If true, enable Cloud CDN for this BackendBucket.
      kind?:
        type: string
        default: compute#backendBucket
        description: Type of the resource.
      creationTimestamp?:
        type: string
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
      name?:
        type: string
        pattern: '[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?'
        description: Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.
      description?:
        type: string
        description: An optional textual description of the resource; provided by the client when the resource is created.
      id?:
        type: integer
        format: int64
        description: '[Output Only] Unique identifier for the resource; defined by
          the server.'
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for the resource.'
    description: A BackendBucket resource. This resource defines a Cloud Storage bucket.
  BackendBucketList:
    type: object
    properties:
      kind?:
        type: string
        default: compute#backendBucketList
        description: Type of resource.
      nextPageToken?:
        type: string
        description: '[Output Only] A token used to continue a truncated list request.'
      id?:
        type: string
        description: '[Output Only] Unique identifier for the resource; defined by
          the server.'
      items?:
        type: array
        description: A list of BackendBucket resources.
        items: BackendBucket
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for this resource.'
    description: Contains a list of BackendBucket resources.
  BackendSSLPolicy:
    type: object
    properties:
      pinnedPeerCertificates?:
        type: array
        description: List of PEM-encoded peer certificates, from which the public keys are extracted for authenticating the backend service.
        items:
          type: string
    description: Message containing backend SSL policies.
  BackendService:
    type: object
    properties:
      affinityCookieTtlSec?:
        type: integer
        format: int32
        description: |-
          Lifetime of cookies in seconds if session_affinity is GENERATED_COOKIE. If set to 0, the cookie is non-persistent and lasts only until the end of the browser session (or equivalent). The maximum allowed value for TTL is one day.

          When the load balancing scheme is INTERNAL, this field is not used.
      healthChecks?:
        type: array
        description: |-
          The list of URLs to the HttpHealthCheck or HttpsHealthCheck resource for health checking this BackendService. Currently at most one health check can be specified, and a health check is required.

          For internal load balancing, a URL to a HealthCheck resource must be specified instead.
        items:
          type: string
      kind?:
        type: string
        default: compute#backendService
        description: '[Output Only] Type of resource. Always compute#backendService
          for backend services.'
      sessionAffinity?:
        type: string
        description: |-
          Type of session affinity to use. The default is NONE.

          When the load balancing scheme is EXTERNAL, can be NONE, CLIENT_IP, or GENERATED_COOKIE.

          When the load balancing scheme is INTERNAL, can be NONE, CLIENT_IP, CLIENT_IP_PROTO, or CLIENT_IP_PORT_PROTO.

          When the protocol is UDP, this field is not used.
        enum:
        - CLIENT_IP
        - CLIENT_IP_PORT_PROTO
        - CLIENT_IP_PROTO
        - GENERATED_COOKIE
        - NONE
      description?:
        type: string
        description: An optional description of this resource. Provide this property when you create the resource.
      loadBalancingScheme?:
        type: string
        enum:
        - EXTERNAL
        - INTERNAL
        - INVALID_LOAD_BALANCING_SCHEME
      portName?:
        type: string
        description: |-
          Name of backend port. The same name should appear in the instance groups referenced by this service. Required when the load balancing scheme is EXTERNAL.

          When the load balancing scheme is INTERNAL, this field is not used.
      backends?:
        type: array
        description: The list of backends that serve this BackendService.
        items: Backend
      timeoutSec?:
        type: integer
        format: int32
        description: How many seconds to wait for the backend before considering it a failed request. Default is 30 seconds.
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for the resource.'
      backendSslPolicy?: BackendSSLPolicy
      protocol?:
        type: string
        description: |-
          The protocol this BackendService uses to communicate with backends.

          Possible values are HTTP, HTTPS, HTTP2, TCP and SSL. The default is HTTP.

          For internal load balancing, the possible values are TCP and UDP, and the default is TCP.
        enum:
        - HTTP
        - HTTPS
        - SSL
        - TCP
        - UDP
      cdnPolicy?: BackendServiceCdnPolicy
      enableCDN?:
        type: boolean
        description: |-
          If true, enable Cloud CDN for this BackendService.

          When the load balancing scheme is INTERNAL, this field is not used.
      port?:
        type: integer
        format: int32
        description: |-
          Deprecated in favor of portName. The TCP port to connect on the backend. The default value is 80.

          This cannot be used for internal load balancing.
      creationTimestamp?:
        type: string
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
      fingerprint?:
        type: string
        description: Fingerprint of this resource. A hash of the contents stored in this object. This field is used in optimistic locking. This field will be ignored when inserting a BackendService. An up-to-date fingerprint must be provided in order to update the BackendService.
      name?:
        type: string
        pattern: '[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?'
        description: Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.
      iap?: BackendServiceIAP
      id?:
        type: integer
        format: int64
        description: '[Output Only] The unique identifier for the resource. This identifier
          is defined by the server.'
      region?:
        type: string
        description: '[Output Only] URL of the region where the regional backend service
          resides. This field is not applicable to global backend services.'
      connectionDraining?: ConnectionDraining
    description: A BackendService resource. This resource defines a group of backend virtual machines and their serving capacity.
  BackendServiceAggregatedList:
    type: object
    properties:
      kind?:
        type: string
        default: compute#backendServiceAggregatedList
        description: Type of resource.
      nextPageToken?:
        type: string
        description: '[Output Only] A token used to continue a truncated list request.'
      id?:
        type: string
        description: '[Output Only] Unique identifier for the resource; defined by
          the server.'
      items?:
        type: object
        description: A map of scoped BackendService lists.
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for this resource.'
    description: Contains a list of BackendServicesScopedList.
  BackendServiceCdnPolicy:
    type: object
    properties:
      cacheKeyPolicy?: CacheKeyPolicy
    description: Message containing Cloud CDN configuration for a backend service.
  BackendServiceGroupHealth:
    type: object
    properties:
      healthStatus?: HealthStatus[]
      kind?:
        type: string
        default: compute#backendServiceGroupHealth
        description: '[Output Only] Type of resource. Always compute#backendServiceGroupHealth
          for the health of backend services.'
  BackendServiceIAP:
    type: object
    properties:
      oauth2ClientSecretSha256?:
        type: string
      oauth2ClientId?:
        type: string
      oauth2ClientSecret?:
        type: string
      enabled?:
        type: boolean
    description: Identity-Aware Proxy (Cloud Gatekeeper)
  BackendServiceList:
    type: object
    properties:
      kind?:
        type: string
        default: compute#backendServiceList
        description: '[Output Only] Type of resource. Always compute#backendServiceList
          for lists of backend services.'
      nextPageToken?:
        type: string
        description: '[Output Only] A token used to continue a truncated list request.'
      id?:
        type: string
        description: '[Output Only] Unique identifier for the resource; defined by
          the server.'
      items?:
        type: array
        description: A list of BackendService resources.
        items: BackendService
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for this resource.'
    description: Contains a list of BackendService resources.
  BackendServicesScopedList:
    type: object
    properties:
      backendServices?:
        type: array
        description: List of BackendServices contained in this scope.
        items: BackendService
      warning?:
        type: object
        properties:
          code?:
            type: string
            description: '[Output Only] A warning code, if applicable. For example,
              Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in
              the response.'
            enum:
            - CLEANUP_FAILED
            - DEPRECATED_RESOURCE_USED
            - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
            - FIELD_VALUE_OVERRIDEN
            - INJECTED_KERNELS_DEPRECATED
            - NEXT_HOP_ADDRESS_NOT_ASSIGNED
            - NEXT_HOP_CANNOT_IP_FORWARD
            - NEXT_HOP_INSTANCE_NOT_FOUND
            - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
            - NEXT_HOP_NOT_RUNNING
            - NOT_CRITICAL_ERROR
            - NO_RESULTS_ON_PAGE
            - REQUIRED_TOS_AGREEMENT
            - RESOURCE_NOT_DELETED
            - SINGLE_INSTANCE_PROPERTY_TEMPLATE
            - UNREACHABLE
          data?:
            type: array
            description: |-
              [Output Only] Metadata about this warning in key: value format. For example:
              "data": [ { "key": "scope", "value": "zones/us-east1-d" }
            items:
              type: object
              properties:
                value?:
                  type: string
                  description: '[Output Only] A warning data value corresponding to
                    the key.'
                key?:
                  type: string
                  description: '[Output Only] A key that provides more detail on the
                    warning being returned. For example, for warnings where there
                    are no results in a list request for a particular zone, this key
                    might be scope and the key value might be the zone name. Other
                    examples might be a key indicating a deprecated resource and a
                    suggested replacement, or a warning about invalid network settings
                    (for example, if an instance attempts to perform IP forwarding
                    but is not enabled for IP forwarding).'
          message?:
            type: string
            description: '[Output Only] A human-readable description of the warning
              code.'
        description: Informational warning which replaces the list of backend services when the list is empty.
  Binding:
    type: object
    properties:
      role?:
        type: string
        description: Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
      members?:
        type: array
        description: |-
          Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values:

          * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account.

          * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account.

          * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@gmail.com` or `joe@example.com`.

          * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`.

          * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`.

          * `domain:{domain}`: A Google Apps domain name that represents all the users of that domain. For example, `google.com` or `example.com`.
        items:
          type: string
    description: Associates `members` with a `role`.
  CacheInvalidationRule:
    type: object
    properties:
      path?:
        type: string
      host?:
        type: string
        description: If set, this invalidation rule will only apply to requests with a Host header matching host.
  CacheKeyPolicy:
    type: object
    properties:
      includeHost?:
        type: boolean
        description: If true, requests to different hosts will be cached separately.
      includeProtocol?:
        type: boolean
        description: If true, http and https requests will be cached separately.
      queryStringWhitelist?:
        type: array
        description: Names of query string parameters to include in cache keys. All other parameters will be excluded. Either specify query_string_whitelist or query_string_blacklist, not both. '&' and '=' will be percent encoded and not treated as delimiters.
        items:
          type: string
      queryStringBlacklist?:
        type: array
        description: Names of query string parameters to exclude in cache keys. All other parameters will be included. Either specify query_string_whitelist or query_string_blacklist, not both. '&' and '=' will be percent encoded and not treated as delimiters.
        items:
          type: string
      includeQueryString?:
        type: boolean
        description: If true, include query string parameters in the cache key according to query_string_whitelist and query_string_blacklist. If neither is set, the entire query string will be included. If false, the query string will be excluded from the cache key entirely.
    description: Message containing what to include in the cache key for a request for Cloud CDN.
  Condition:
    type: object
    properties:
      op?:
        type: string
        description: An operator to apply the subject with.
        enum:
        - DISCHARGED
        - EQUALS
        - IN
        - NOT_EQUALS
        - NOT_IN
        - NO_OP
      svc?:
        type: string
        description: Trusted attributes discharged by the service.
      iam?:
        type: string
        description: Trusted attributes supplied by the IAM system.
        enum:
        - ATTRIBUTION
        - AUTHORITY
        - NO_ATTR
      values?:
        type: array
        description: The objects of the condition. This is mutually exclusive with 'value'.
        items:
          type: string
      sys?:
        type: string
        description: Trusted attributes supplied by any service that owns resources and uses the IAM system for access control.
        enum:
        - IP
        - NAME
        - NO_ATTR
        - REGION
        - SERVICE
      value?:
        type: string
        description: DEPRECATED. Use 'values' instead.
    description: A condition to be met.
  ConnectionDraining:
    type: object
    properties:
      drainingTimeoutSec?:
        type: integer
        format: int32
        description: Time for which instance will be drained (not accept new connections, but still work to finish started).
    description: Message containing connection draining configuration.
  CustomerEncryptionKey:
    type: object
    properties:
      rsaEncryptedKey?:
        type: string
        description: "Specifies an RFC 4648 base64 encoded, RSA-wrapped 2048-bit customer-supplied\
          \ encryption key to either encrypt or decrypt this resource.\n\nThe key\
          \ must meet the following requirements before you can provide it to Compute\
          \ Engine:  \n- The key is wrapped using a RSA public key certificate provided\
          \ by Google. \n- After being wrapped, the key must be encoded in RFC 4648\
          \ base64 encoding.  Get the RSA public key certificate provided by Google\
          \ at:\nhttps://cloud-certs.storage.googleapis.com/google-cloud-csek-ingress.pem"
      rawKey?:
        type: string
        description: Specifies a 256-bit customer-supplied encryption key, encoded in RFC 4648 base64 to either encrypt or decrypt this resource.
      sha256?:
        type: string
        description: '[Output only] The RFC 4648 base64 encoded SHA-256 hash of the
          customer-supplied encryption key that protects this resource.'
    description: Represents a customer-supplied encryption key
  CustomerEncryptionKeyProtectedDisk:
    type: object
    properties:
      diskEncryptionKey?: CustomerEncryptionKey
      source?:
        type: string
        description: Specifies a valid partial or full URL to an existing Persistent Disk resource. This field is only applicable for persistent disks.
  DeprecationStatus:
    type: object
    properties:
      deleted?:
        type: string
        description: An optional RFC3339 timestamp on or after which the deprecation state of this resource will be changed to DELETED.
      deprecated?:
        type: string
        description: An optional RFC3339 timestamp on or after which the deprecation state of this resource will be changed to DEPRECATED.
      obsolete?:
        type: string
        description: An optional RFC3339 timestamp on or after which the deprecation state of this resource will be changed to OBSOLETE.
      state?:
        type: string
        description: The deprecation state of this resource. This can be DEPRECATED, OBSOLETE, or DELETED. Operations which create a new resource using a DEPRECATED resource will return successfully, but with a warning indicating the deprecated resource and recommending its replacement. Operations which use OBSOLETE or DELETED resources will be rejected and result in an error.
        enum:
        - DELETED
        - DEPRECATED
        - OBSOLETE
      replacement?:
        type: string
        description: The URL of the suggested replacement for a deprecated resource. The suggested replacement resource must be the same kind of resource as the deprecated resource.
    description: Deprecation status for a public resource.
  Disk:
    type: object
    properties:
      sizeGb?:
        type: integer
        format: int64
        description: |-
          Size of the persistent disk, specified in GB. You can specify this field when creating a persistent disk using the sourceImage or sourceSnapshot parameter, or specify it alone to create an empty persistent disk.

          If you specify this field along with sourceImage or sourceSnapshot, the value of sizeGb must not be less than the size of the sourceImage or the size of the snapshot.
      sourceSnapshotId?:
        type: string
        description: '[Output Only] The unique ID of the snapshot used to create this
          disk. This value identifies the exact snapshot that was used to create this
          persistent disk. For example, if you created the persistent disk from a
          snapshot that was later deleted and recreated under the same name, the source
          snapshot ID would identify the exact version of the snapshot that was used.'
      lastDetachTimestamp?:
        type: string
        description: '[Output Only] Last detach timestamp in RFC3339 text format.'
      replicaZones?:
        type: array
        description: URLs of the zones where the disk should be replicated to. Only applicable for regional resources.
        items:
          type: string
      description?:
        type: string
        description: An optional description of this resource. Provide this property when you create the resource.
      sourceSnapshot?:
        type: string
        description: "The source snapshot used to create this disk. You can provide\
          \ this as a partial or full URL to the resource. For example, the following\
          \ are valid values:  \n- https://www.googleapis.com/compute/v1/projects/project/global/snapshots/snapshot\
          \ \n- projects/project/global/snapshots/snapshot \n- global/snapshots/snapshot"
      type?:
        type: string
        description: URL of the disk type resource describing which disk type to use to create the disk. Provide this when creating the disk.
      labelFingerprint?:
        type: string
        description: |-
          A fingerprint for the labels being applied to this disk, which is essentially a hash of the labels set used for optimistic locking. The fingerprint is initially generated by Compute Engine and changes after every request to modify or update labels. You must always provide an up-to-date fingerprint hash in order to update or change labels.

          To see the latest fingerprint, make a get() request to retrieve a disk.
      sourceImageEncryptionKey?: CustomerEncryptionKey
      sourceSnapshotEncryptionKey?: CustomerEncryptionKey
      zone?:
        type: string
        description: '[Output Only] URL of the zone where the disk resides.'
      diskEncryptionKey?: CustomerEncryptionKey
      creationTimestamp?:
        type: string
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
      options?:
        type: string
        description: Internal use only.
      id?:
        type: integer
        format: int64
        description: '[Output Only] The unique identifier for the resource. This identifier
          is defined by the server.'
      sourceImageId?:
        type: string
        description: '[Output Only] The ID value of the image used to create this
          disk. This value identifies the exact image that was used to create this
          persistent disk. For example, if you created the persistent disk from an
          image that was later deleted and recreated under the same name, the source
          image ID would identify the exact version of the image that was used.'
      kind?:
        type: string
        default: compute#disk
        description: '[Output Only] Type of the resource. Always compute#disk for
          disks.'
      lastAttachTimestamp?:
        type: string
        description: '[Output Only] Last attach timestamp in RFC3339 text format.'
      users?:
        type: array
        description: '[Output Only] Links to the users of the disk (attached instances)
          in form: project/zones/zone/instances/instance'
        items:
          type: string
      labels?:
        type: object
        description: Labels to apply to this disk. These can be later modified by the setLabels method. Each label key/value pair must comply with RFC1035. Label values may be empty.
      selfLink?:
        type: string
        description: '[Output Only] Server-defined fully-qualified URL for this resource.'
      licenses?:
        type: array
        description: Any applicable publicly visible licenses.
        items:
          type: string
      name?:
        type: string
        pattern: '[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?'
        description: Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.
      storageType?:
        type: string
        description: '[Deprecated] Storage type of the persistent disk.'
        enum:
        - HDD
        - SSD
      sourceImage?:
        type: string
        description: "The source image used to create this disk. If the source image\
          \ is deleted, this field will not be set.\n\nTo create a disk with one of\
          \ the public operating system images, specify the image by its family name.\
          \ For example, specify family/debian-8 to use the latest Debian 8 image:\n\
          \nprojects/debian-cloud/global/images/family/debian-8 \n\nAlternatively,\
          \ use a specific version of a public operating system image:\n\nprojects/debian-cloud/global/images/debian-8-jessie-vYYYYMMDD\
          \ \n\nTo create a disk with a private image that you created, specify the\
          \ image name in the following format:\n\nglobal/images/my-private-image\
          \ \n\nYou can also specify a private image by its image family, which returns\
          \ the latest version of the image in that family. Replace the image name\
          \ with family/family-name:\n\nglobal/images/family/my-private-family"
      region?:
        type: string
        description: '[Output Only] URL of the region where the disk resides. Only
          applicable for regional resources.'
      status?:
        type: string
        description: '[Output Only] The status of disk creation.'
        enum:
        - CREATING
        - FAILED
        - READY
        - RESTORING
    description: A Disk resource.
  DiskAggregatedList:
    type: object
    properties:
      kind?:
        type: string
        default: compute#diskAggregatedList
        description: '[Output Only] Type of resource. Always compute#diskAggregatedList
          for aggregated lists of persistent disks.'
      nextPageToken?:
        type: string
        description: '[Output Only] This token allows you to get the next page of
          results for list requests. If the number of results is larger than maxResults,
          use the nextPageToken as a value for the query parameter pageToken in the
          next list request. Subsequent list requests will have their own nextPageToken
          to continue paging through the results.'
      id?:
        type: string
        description: '[Output Only] The unique identifier for the resource. This identifier
          is defined by the server.'
      items?:
        type: object
        description: '[Output Only] A map of scoped disk lists.'
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for this resource.'
  DiskList:
    type: object
    properties:
      kind?:
        type: string
        default: compute#diskList
        description: '[Output Only] Type of resource. Always compute#diskList for
          lists of disks.'
      nextPageToken?:
        type: string
        description: '[Output Only] This token allows you to get the next page of
          results for list requests. If the number of results is larger than maxResults,
          use the nextPageToken as a value for the query parameter pageToken in the
          next list request. Subsequent list requests will have their own nextPageToken
          to continue paging through the results.'
      id?:
        type: string
        description: '[Output Only] The unique identifier for the resource. This identifier
          is defined by the server.'
      items?:
        type: array
        description: '[Output Only] A list of persistent disks.'
        items: Disk
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for this resource.'
    description: A list of Disk resources.
  DiskMoveRequest:
    type: object
    properties:
      targetDisk?:
        type: string
        description: "The URL of the target disk to move. This can be a full or partial\
          \ URL. For example, the following are all valid URLs to a disk:  \n- https://www.googleapis.com/compute/v1/projects/project/zones/zone/disks/disk\
          \ \n- projects/project/zones/zone/disks/disk \n- zones/zone/disks/disk"
      destinationZone?:
        type: string
        description: "The URL of the destination zone to move the disk. This can be\
          \ a full or partial URL. For example, the following are all valid URLs to\
          \ a zone:  \n- https://www.googleapis.com/compute/v1/projects/project/zones/zone\
          \ \n- projects/project/zones/zone \n- zones/zone"
  DiskType:
    type: object
    properties:
      defaultDiskSizeGb?:
        type: integer
        format: int64
        description: '[Output Only] Server-defined default disk size in GB.'
      zone?:
        type: string
        description: '[Output Only] URL of the zone where the disk type resides.'
      kind?:
        type: string
        default: compute#diskType
        description: '[Output Only] Type of the resource. Always compute#diskType
          for disk types.'
      deprecated?: DeprecationStatus
      creationTimestamp?:
        type: string
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
      name?:
        type: string
        pattern: '[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?'
        description: '[Output Only] Name of the resource.'
      description?:
        type: string
        description: '[Output Only] An optional description of this resource.'
      id?:
        type: integer
        format: int64
        description: '[Output Only] The unique identifier for the resource. This identifier
          is defined by the server.'
      validDiskSize?:
        type: string
        description: '[Output Only] An optional textual description of the valid disk
          size, such as "10GB-10TB".'
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for the resource.'
    description: A DiskType resource.
  DiskTypeAggregatedList:
    type: object
    properties:
      kind?:
        type: string
        default: compute#diskTypeAggregatedList
        description: '[Output Only] Type of resource. Always compute#diskTypeAggregatedList.'
      nextPageToken?:
        type: string
        description: '[Output Only] This token allows you to get the next page of
          results for list requests. If the number of results is larger than maxResults,
          use the nextPageToken as a value for the query parameter pageToken in the
          next list request. Subsequent list requests will have their own nextPageToken
          to continue paging through the results.'
      id?:
        type: string
        description: '[Output Only] The unique identifier for the resource. This identifier
          is defined by the server.'
      items?:
        type: object
        description: '[Output Only] A map of scoped disk type lists.'
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for this resource.'
  DiskTypeList:
    type: object
    properties:
      kind?:
        type: string
        default: compute#diskTypeList
        description: '[Output Only] Type of resource. Always compute#diskTypeList
          for disk types.'
      nextPageToken?:
        type: string
        description: '[Output Only] This token allows you to get the next page of
          results for list requests. If the number of results is larger than maxResults,
          use the nextPageToken as a value for the query parameter pageToken in the
          next list request. Subsequent list requests will have their own nextPageToken
          to continue paging through the results.'
      id?:
        type: string
        description: '[Output Only] The unique identifier for the resource. This identifier
          is defined by the server.'
      items?:
        type: array
        description: '[Output Only] A list of Disk Type resources.'
        items: DiskType
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for this resource.'
    description: Contains a list of disk types.
  DiskTypesScopedList:
    type: object
    properties:
      warning?:
        type: object
        properties:
          code?:
            type: string
            description: '[Output Only] A warning code, if applicable. For example,
              Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in
              the response.'
            enum:
            - CLEANUP_FAILED
            - DEPRECATED_RESOURCE_USED
            - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
            - FIELD_VALUE_OVERRIDEN
            - INJECTED_KERNELS_DEPRECATED
            - NEXT_HOP_ADDRESS_NOT_ASSIGNED
            - NEXT_HOP_CANNOT_IP_FORWARD
            - NEXT_HOP_INSTANCE_NOT_FOUND
            - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
            - NEXT_HOP_NOT_RUNNING
            - NOT_CRITICAL_ERROR
            - NO_RESULTS_ON_PAGE
            - REQUIRED_TOS_AGREEMENT
            - RESOURCE_NOT_DELETED
            - SINGLE_INSTANCE_PROPERTY_TEMPLATE
            - UNREACHABLE
          data?:
            type: array
            description: |-
              [Output Only] Metadata about this warning in key: value format. For example:
              "data": [ { "key": "scope", "value": "zones/us-east1-d" }
            items:
              type: object
              properties:
                value?:
                  type: string
                  description: '[Output Only] A warning data value corresponding to
                    the key.'
                key?:
                  type: string
                  description: '[Output Only] A key that provides more detail on the
                    warning being returned. For example, for warnings where there
                    are no results in a list request for a particular zone, this key
                    might be scope and the key value might be the zone name. Other
                    examples might be a key indicating a deprecated resource and a
                    suggested replacement, or a warning about invalid network settings
                    (for example, if an instance attempts to perform IP forwarding
                    but is not enabled for IP forwarding).'
          message?:
            type: string
            description: '[Output Only] A human-readable description of the warning
              code.'
        description: '[Output Only] Informational warning which replaces the list
          of disk types when the list is empty.'
      diskTypes?:
        type: array
        description: '[Output Only] List of disk types contained in this scope.'
        items: DiskType
  DisksResizeRequest:
    type: object
    properties:
      sizeGb?:
        type: integer
        format: int64
        description: The new size of the persistent disk, which is specified in GB.
  DisksScopedList:
    type: object
    properties:
      disks?:
        type: array
        description: '[Output Only] List of disks contained in this scope.'
        items: Disk
      warning?:
        type: object
        properties:
          code?:
            type: string
            description: '[Output Only] A warning code, if applicable. For example,
              Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in
              the response.'
            enum:
            - CLEANUP_FAILED
            - DEPRECATED_RESOURCE_USED
            - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
            - FIELD_VALUE_OVERRIDEN
            - INJECTED_KERNELS_DEPRECATED
            - NEXT_HOP_ADDRESS_NOT_ASSIGNED
            - NEXT_HOP_CANNOT_IP_FORWARD
            - NEXT_HOP_INSTANCE_NOT_FOUND
            - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
            - NEXT_HOP_NOT_RUNNING
            - NOT_CRITICAL_ERROR
            - NO_RESULTS_ON_PAGE
            - REQUIRED_TOS_AGREEMENT
            - RESOURCE_NOT_DELETED
            - SINGLE_INSTANCE_PROPERTY_TEMPLATE
            - UNREACHABLE
          data?:
            type: array
            description: |-
              [Output Only] Metadata about this warning in key: value format. For example:
              "data": [ { "key": "scope", "value": "zones/us-east1-d" }
            items:
              type: object
              properties:
                value?:
                  type: string
                  description: '[Output Only] A warning data value corresponding to
                    the key.'
                key?:
                  type: string
                  description: '[Output Only] A key that provides more detail on the
                    warning being returned. For example, for warnings where there
                    are no results in a list request for a particular zone, this key
                    might be scope and the key value might be the zone name. Other
                    examples might be a key indicating a deprecated resource and a
                    suggested replacement, or a warning about invalid network settings
                    (for example, if an instance attempts to perform IP forwarding
                    but is not enabled for IP forwarding).'
          message?:
            type: string
            description: '[Output Only] A human-readable description of the warning
              code.'
        description: '[Output Only] Informational warning which replaces the list
          of disks when the list is empty.'
  Firewall:
    type: object
    properties:
      sourceRanges?:
        type: array
        description: If source ranges are specified, the firewall will apply only to traffic that has source IP address in these ranges. These ranges must be expressed in CIDR format. One or both of sourceRanges and sourceTags may be set. If both properties are set, the firewall will apply to traffic that has source IP address within sourceRanges OR the source IP that belongs to a tag listed in the sourceTags property. The connection does not need to match both properties for the firewall to apply.
        items:
          type: string
      sourceTags?:
        type: array
        description: If source tags are specified, the firewall will apply only to traffic with source IP that belongs to a tag listed in source tags. Source tags cannot be used to control traffic to an instance's external IP address. Because tags are associated with an instance, not an IP address. One or both of sourceRanges and sourceTags may be set. If both properties are set, the firewall will apply to traffic that has source IP address within sourceRanges OR the source IP that belongs to a tag listed in the sourceTags property. The connection does not need to match both properties for the firewall to apply.
        items:
          type: string
      allowed?:
        type: array
        description: The list of ALLOW rules specified by this firewall. Each rule specifies a protocol and port-range tuple that describes a permitted connection.
        items:
          type: object
          properties:
            IPProtocol?:
              type: string
              description: The IP protocol to which this rule applies. The protocol type is required when creating a firewall rule. This value can either be one of the following well known protocol strings (tcp, udp, icmp, esp, ah, sctp), or the IP protocol number.
            ports?:
              type: array
              description: |-
                An optional list of ports to which this rule applies. This field is only applicable for UDP or TCP protocol. Each entry must be either an integer or a range. If not specified, this rule applies to connections through any port.

                Example inputs include: ["22"], ["80","443"], and ["12345-12349"].
              items:
                type: string
      kind?:
        type: string
        default: compute#firewall
        description: '[Output Ony] Type of the resource. Always compute#firewall for
          firewall rules.'
      creationTimestamp?:
        type: string
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
      name?:
        type: string
        pattern: '[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?'
        description: Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.
      description?:
        type: string
        description: An optional description of this resource. Provide this property when you create the resource.
      targetTags?:
        type: array
        description: A list of instance tags indicating sets of instances located in the network that may make network connections as specified in allowed[]. If no targetTags are specified, the firewall rule applies to all instances on the specified network.
        items:
          type: string
      id?:
        type: integer
        format: int64
        description: '[Output Only] The unique identifier for the resource. This identifier
          is defined by the server.'
      network?:
        type: string
        description: "URL of the network resource for this firewall rule. If not specified\
          \ when creating a firewall rule, the default network is used:\nglobal/networks/default\n\
          If you choose to specify this property, you can specify the network as a\
          \ full or partial URL. For example, the following are all valid URLs:  \n\
          - https://www.googleapis.com/compute/v1/projects/myproject/global/networks/my-network\
          \ \n- projects/myproject/global/networks/my-network \n- global/networks/default"
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for the resource.'
    description: Represents a Firewall resource.
  FirewallList:
    type: object
    properties:
      kind?:
        type: string
        default: compute#firewallList
        description: '[Output Only] Type of resource. Always compute#firewallList
          for lists of firewalls.'
      nextPageToken?:
        type: string
        description: '[Output Only] This token allows you to get the next page of
          results for list requests. If the number of results is larger than maxResults,
          use the nextPageToken as a value for the query parameter pageToken in the
          next list request. Subsequent list requests will have their own nextPageToken
          to continue paging through the results.'
      id?:
        type: string
        description: '[Output Only] The unique identifier for the resource. This identifier
          is defined by the server.'
      items?:
        type: array
        description: '[Output Only] A list of Firewall resources.'
        items: Firewall
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for this resource.'
    description: Contains a list of firewalls.
  FixedOrPercent:
    type: object
    properties:
      fixed?:
        type: integer
        format: int32
        description: fixed must be non-negative.
      calculated?:
        type: integer
        format: int32
        description: '[Output Only] Absolute value calculated based on mode: mode
          = fixed -> calculated = fixed = percent -> calculated = ceiling(percent/100
          * base_value)'
      percent?:
        type: integer
        format: int32
        description: percent must belong to [0, 100].
    description: Encapsulates numeric value that can be either absolute or relative.
  ForwardingRule:
    type: object
    properties:
      portRange?:
        type: string
        description: |-
          Applicable only when IPProtocol is TCP, UDP, or SCTP, only packets addressed to ports in the specified range will be forwarded to target. Forwarding rules with the same [IPAddress, IPProtocol] pair must have disjoint port ranges.

          This field is not used for internal load balancing.
      networkTier?:
        type: string
        description: 'This signifies the networking tier used for configuring this
          load balancer and can only take the following values: PREMIUM , STANDARD.
          If this field is not specified, it is assumed to be PREMIUM.'
        enum:
        - PREMIUM
        - STANDARD
      kind?:
        type: string
        default: compute#forwardingRule
        description: '[Output Only] Type of the resource. Always compute#forwardingRule
          for Forwarding Rule resources.'
      IPProtocol?:
        type: string
        description: |-
          The IP protocol to which this rule applies. Valid options are TCP, UDP, ESP, AH, SCTP or ICMP.

          When the load balancing scheme is INTERNAL</code, only TCP and UDP are valid.
        enum:
        - AH
        - ESP
        - ICMP
        - SCTP
        - TCP
        - UDP
      backendService?:
        type: string
        description: |-
          This field is not used for external load balancing.

          For internal load balancing, this field identifies the BackendService resource to receive the matched traffic.
      description?:
        type: string
        description: An optional description of this resource. Provide this property when you create the resource.
      dnsName?:
        type: string
        description: |-
          [Output Only] The internal fully qualified domain name for this Forwarding Rule.

          This field is only used for internal load balancing.
      loadBalancingScheme?:
        type: string
        description: 'This signifies what the ForwardingRule will be used for and
          can only take the following values: INTERNAL EXTERNAL The value of INTERNAL
          means that this will be used for Internal Network Load Balancing (TCP, UDP).
          The value of EXTERNAL means that this will be used for External Load Balancing
          (HTTP(S) LB, External TCP/UDP LB, SSL Proxy)'
        enum:
        - EXTERNAL
        - INTERNAL
        - INVALID
      ports?:
        type: array
        description: |-
          This field is not used for external load balancing.

          When the load balancing scheme is INTERNAL, a single port or a comma separated list of ports can be configured. Only packets addressed to these ports will be forwarded to the backends configured with this forwarding rule. If the port list is not provided then all ports are allowed to pass through.

          You may specify a maximum of up to 5 ports.
        items:
          type: string
      labelFingerprint?:
        type: string
        description: |-
          A fingerprint for the labels being applied to this resource, which is essentially a hash of the labels set used for optimistic locking. The fingerprint is initially generated by Compute Engine and changes after every request to modify or update labels. You must always provide an up-to-date fingerprint hash in order to update or change labels.

          To see the latest fingerprint, make a get() request to retrieve a ForwardingRule.
      labels?:
        type: object
        description: Labels to apply to this resource. These can be later modified by the setLabels method. Each label key/value pair must comply with RFC1035. Label values may be empty.
      network?:
        type: string
        description: |-
          This field is not used for external load balancing.

          For internal load balancing, this field identifies the network that the load balanced IP should belong to for this Forwarding Rule. If this field is not specified, the default network will be used.
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for the resource.'
      target?:
        type: string
        description: |-
          The URL of the target resource to receive the matched traffic. For regional forwarding rules, this target must live in the same region as the forwarding rule. For global forwarding rules, this target must be a global TargetHttpProxy or TargetHttpsProxy resource. The forwarded traffic must be of a type appropriate to the target object. For example, TargetHttpProxy requires HTTP traffic, and TargetHttpsProxy requires HTTPS traffic.

          This field is not used for internal load balancing.
      dnsLabel?:
        type: string
        pattern: '[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?'
        description: |-
          An optional prefix to the DNS name for this Forwarding Rule. If specified, will be the first label of the fully qualified domain name.

          The label must be 1-63 characters long, and comply with RFC1035. Specifically, the label must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.

          This field is only used for internal load balancing.
      subnetwork?:
        type: string
        description: |-
          This field is not used for external load balancing.

          For internal load balancing, this field identifies the subnetwork that the load balanced IP should belong to for this Forwarding Rule.

          If the network specified is in auto subnet mode, this field is optional. However, if the network is in custom subnet mode, a subnetwork must be specified.
      creationTimestamp?:
        type: string
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
      name?:
        type: string
        pattern: '[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?'
        description: Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.
      id?:
        type: integer
        format: int64
        description: '[Output Only] The unique identifier for the resource. This identifier
          is defined by the server.'
      IPAddress?:
        type: string
        description: |-
          The IP address that this forwarding rule is serving on behalf of.

          For global forwarding rules, the address must be a global IP; for regional forwarding rules, the address must live in the same region as the forwarding rule. By default, this field is empty and an ephemeral IP from the same scope (global or regional) will be assigned.

          When the load balancing scheme is INTERNAL, this can only be an RFC 1918 IP address belonging to the network/subnetwork configured for the forwarding rule. A reserved address cannot be used. If the field is empty, the IP address will be automatically allocated from the internal IP range of the subnetwork or network configured for this forwarding rule.
      region?:
        type: string
        description: '[Output Only] URL of the region where the regional forwarding
          rule resides. This field is not applicable to global forwarding rules.'
    description: A ForwardingRule resource. A ForwardingRule resource specifies which pool of target virtual machines to forward a packet to if it matches the given [IPAddress, IPProtocol, portRange] tuple.
  ForwardingRuleAggregatedList:
    type: object
    properties:
      kind?:
        type: string
        default: compute#forwardingRuleAggregatedList
        description: '[Output Only] Type of resource. Always compute#forwardingRuleAggregatedList
          for lists of forwarding rules.'
      nextPageToken?:
        type: string
        description: '[Output Only] This token allows you to get the next page of
          results for list requests. If the number of results is larger than maxResults,
          use the nextPageToken as a value for the query parameter pageToken in the
          next list request. Subsequent list requests will have their own nextPageToken
          to continue paging through the results.'
      id?:
        type: string
        description: '[Output Only] The unique identifier for the resource. This identifier
          is defined by the server.'
      items?:
        type: object
        description: A map of scoped forwarding rule lists.
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for this resource.'
  ForwardingRuleList:
    type: object
    properties:
      kind?:
        type: string
        default: compute#forwardingRuleList
        description: Type of resource.
      nextPageToken?:
        type: string
        description: '[Output Only] This token allows you to get the next page of
          results for list requests. If the number of results is larger than maxResults,
          use the nextPageToken as a value for the query parameter pageToken in the
          next list request. Subsequent list requests will have their own nextPageToken
          to continue paging through the results.'
      id?:
        type: string
        description: '[Output Only] Unique identifier for the resource. Set by the
          server.'
      items?:
        type: array
        description: A list of ForwardingRule resources.
        items: ForwardingRule
      selfLink?:
        type: string
        description: '[Output Only] Server-defined URL for this resource.'
    description: Contains a list of ForwardingRule resources.
  ForwardingRulesScopedList:
    type: object
    properties:
      warning?:
        type: object
        properties:
          code?:
            type: string
            description: '[Output Only] A warning code, if applicable. For example,
              Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in
              the response.'
            enum:
            - CLEANUP_FAILED
            - DEPRECATED_RESOURCE_USED
            - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
            - FIELD_VALUE_OVERRIDEN
            - INJECTED_KERNELS_DEPRECATED
            - NEXT_HOP_ADDRESS_NOT_ASSIGNED
            - NEXT_HOP_CANNOT_IP_FORWARD
            - NEXT_HOP_INSTANCE_NOT_FOUND
            - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
            - NEXT_HOP_NOT_RUNNING
            - NOT_CRITICAL_ERROR
            - NO_RESULTS_ON_PAGE
            - REQUIRED_TOS_AGREEMENT
            - RESOURCE_NOT_DELETED
            - SINGLE_INSTANCE_PROPERTY_TEMPLATE
            - UNREACHABLE
          data?:
            type: array
            description: |-
              [Output Only] Metadata about this warning in key: value format. For example:
              "data": [ { "key": "scope", "value": "zones/us-east1-d" }
            items:
              type: object
              properties:
                value?:
                  type: string
                  description: '[Output Only] A warning data value corresponding to
                    the key.'
                key?:
                  type: string
                  description: '[Output Only] A key that provides more detail on the
                    warning being returned. For example, for warnings where there
                    are no results in a list request for a particular zone, this key
                    might be scope and the key value might be the zone name. Other
                    examples might be a key indicating a deprecated resource and a
                    suggested replacement, or a warning about invalid network settings
                    (for example, if an instance attempts to perform IP forwarding
                    but is not enabled for IP forwarding).'
          message?:
            type: string
            description: '[Output Only] A human-readable description of the warning
              code.'
        description: Informational warning which replaces the list of forwarding rules when the list is empty.
      forwardingRules?:
        type: array
        description: List of forwarding rules contained in this scope.
        items: ForwardingRule
  GlobalSetLabelsRequest:
    type: object
    properties:
      labelFingerprint?:
        type: string
        description: The fingerprint of the previous set of labels for this resource, used to detect conflicts. The fingerprint is initially generated by Compute Engine and changes after every request to modify or update labels. You must always provide an up-to-date fingerprint hash when updating or changing labels. Make a get() request to the resource to get the latest fingerprint.
      labels?:
        type: object
        description: 'A list of labels to apply for this resource. Each label key
          & value must comply with RFC1035. Specifically, the name must be 1-63 characters
          long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means
          the first character must be a lowercase letter, and all following characters
          must be a dash, lowercase letter, or digit, except the last character, which
          cannot be a dash. For example, "webserver-frontend": "images". A label value
          can also be empty (e.g. "my-label": "").'
  GuestOsFeature:
    type: object
    properties:
      type?:
        type: string
        description: The type of supported feature. Currenty only VIRTIO_SCSI_MULTIQUEUE is supported.
        enum:
        - FEATURE_TYPE_UNSPECIFIED
        - VIRTIO_SCSI_MULTIQUEUE
        - WINDOWS
    description: Guest OS features.
  HTTP2HealthCheck:
    type: object
    properties:
      port?:
        type: integer
        format: int32
        description: The TCP port number for the health check request. The default value is 443.
      response?:
        type: string
        description: The string to match anywhere in the first 1024 bytes of the response body. If left empty (the default value), the status code determines health. The response data can only be ASCII.
      host?:
        type: string
        description: The value of the host header in the HTTP/2 health check request. If left empty (default value), the IP on behalf of which this health check is performed will be used.
      portName?:
        type: string
        description: Port name as defined in InstanceGroup#NamedPort#name. If both port and port_name are defined, port takes precedence.
      proxyHeader?:
        type: string
        description: Specifies the type of proxy header to append before sending data to the backend, either NONE or PROXY_V1. The default is NONE.
        enum:
        - NONE
        - PROXY_V1
      requestPath?:
        type: string
        description: The request path of the HTTP/2 health check request. The default value is /.
  HTTPHealthCheck:
    type: object
    properties:
      port?:
        type: integer
        format: int32
        description: The TCP port number for the health check request. The default value is 80.
      response?:
        type: string
        description: The string to match anywhere in the first 1024 bytes of the response body. If left empty (the default value), the status code determines health. The response data can only be ASCII.
      host?:
        type: string
        description: The value of the host header in the HTTP health check request. If left empty (default value), the IP on behalf of which this health check is performed will be used.
      portName?:
        type: string
        description: Port name as defined in InstanceGroup#NamedPort#name. If both port and port_name are defined, port takes precedence.
      proxyHeader?:
        type: string
        description: Specifies the type of proxy header to append before sending data to the backend, either NONE or PROXY_V1. The default is NONE.
        enum:
        - NONE
        - PROXY_V1
      requestPath?:
        type: string
        description: The request path of the HTTP health check request. The default value is /.
  HTTPSHealthCheck:
    type: object
    properties:
      port?:
        type: integer
        format: int32
        description: The TCP port number for the health check request. The default value is 443.
      response?:
        type: string
        description: The string to match anywhere in the first 1024 bytes of the response body. If left empty (the default value), the status code determines health. The response data can only be ASCII.
      host?:
        type: string
        description: The value of the host header in the HTTPS health check request. If left empty (default value), the IP on behalf of which this health check is performed will be used.
      portName?:
        type: string
        description: Port name as defined in InstanceGroup#NamedPort#name. If both port and port_name are defined, port takes precedence.
      proxyHeader?:
        type: string
[...]
