#%RAML 1.0
title: CustomSearch API
version: v1
baseUri: https://www.googleapis.com/customsearch/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
  extras: https://raw.githubusercontent.com/apiregistry/typesExtras/master/typeExtras.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/custom-search/v1/using_rest
  role: documentation
(commons.Icons):
- url: http://www.google.com/images/icons/product/search-32.gif
  name: x32
- url: http://www.google.com/images/icons/product/search-16.gif
  name: x16
(commons.Id): customsearch:v1
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      userIp?:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
types:
  Context:
    type: object
    properties:
      title?:
        type: string
      facets?:
        type: array
        items:
          type: array
          items:
            type: object
            properties:
              anchor?:
                type: string
              label?:
                type: string
              label_with_op?:
                type: string
  Promotion:
    type: object
    properties:
      image?:
        type: object
        properties:
          width?:
            type: integer
            format: int32
          source?:
            type: string
          height?:
            type: integer
            format: int32
      bodyLines?:
        type: array
        items:
          type: object
          properties:
            htmlTitle?:
              type: string
            link?:
              type: string
            title?:
              type: string
            url?:
              type: string
      htmlTitle?:
        type: string
      displayLink?:
        type: string
      link?:
        type: string
      title?:
        type: string
  Query:
    type: object
    properties:
      startPage?:
        type: integer
        format: int32
      siteSearch?:
        type: string
      hl?:
        type: string
      relatedSite?:
        type: string
      searchTerms?:
        type: string
      siteSearchFilter?:
        type: string
      highRange?:
        type: string
      hq?:
        type: string
      language?:
        type: string
      linkSite?:
        type: string
      title?:
        type: string
      orTerms?:
        type: string
      startIndex?:
        type: integer
        format: int32
      totalResults?:
        type: integer
        format: int64
      dateRestrict?:
        type: string
      rights?:
        type: string
      excludeTerms?:
        type: string
      lowRange?:
        type: string
      imgType?:
        type: string
      exactTerms?:
        type: string
      gl?:
        type: string
      imgSize?:
        type: string
      searchType?:
        type: string
      count?:
        type: integer
        format: int32
      sort?:
        type: string
      imgDominantColor?:
        type: string
      cr?:
        type: string
      filter?:
        type: string
      inputEncoding?:
        type: string
      disableCnTwTranslation?:
        type: string
      outputEncoding?:
        type: string
      imgColorType?:
        type: string
      cx?:
        type: string
      safe?:
        type: string
      googleHost?:
        type: string
      cref?:
        type: string
      fileType?:
        type: string
  Result:
    type: object
    properties:
      snippet?:
        type: string
      image?:
        type: object
        properties:
          contextLink?:
            type: string
          byteSize?:
            type: integer
            format: int32
          width?:
            type: integer
            format: int32
          thumbnailWidth?:
            type: integer
            format: int32
          thumbnailHeight?:
            type: integer
            format: int32
          thumbnailLink?:
            type: string
          height?:
            type: integer
            format: int32
      kind?:
        type: string
        default: customsearch#result
      mime?:
        type: string
      link?:
        type: string
      title?:
        type: string
      formattedUrl?:
        type: string
      cacheId?:
        type: string
      labels?:
        type: array
        items:
          type: object
          properties:
            displayName?:
              type: string
            name?:
              type: string
            label_with_op?:
              type: string
      htmlFormattedUrl?:
        type: string
      htmlTitle?:
        type: string
      pagemap?:
        type: object
      displayLink?:
        type: string
      htmlSnippet?:
        type: string
      fileFormat?:
        type: string
  Search:
    type: object
    properties:
      promotions?: Promotion[]
      spelling?:
        type: object
        properties:
          correctedQuery?:
            type: string
          htmlCorrectedQuery?:
            type: string
      kind?:
        type: string
        default: customsearch#search
      context?: Context
      items?: Result[]
      queries?:
        type: object
      searchInformation?:
        type: object
        properties:
          searchTime?:
            type: number
            format: double
          totalResults?:
            type: integer
            format: int64
          formattedTotalResults?:
            type: string
          formattedSearchTime?:
            type: string
      url?:
        type: object
        properties:
          template?:
            type: string
            default: https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json
          type?:
            type: string
            default: application/json
/v1:
  get:
    description: Returns metadata about the search performed, metadata about the custom search engine used for the search, and the search results.
    displayName: List
    is:
    - hasParameters
    queryParameters:
      siteSearch?:
        type: string
        description: Specifies all search results should be pages from a given site
      c2coff?:
        type: string
        description: Turns off the translation between zh-CN and zh-TW.
      hl?:
        type: string
        description: Sets the user interface language.
      relatedSite?:
        type: string
        description: Specifies that all search results should be pages that are related to the specified URL
      lr?:
        type: string
        description: The language restriction for the search results
        (commons.EnumDescriptions):
        - Arabic
        - Bulgarian
        - Catalan
        - Czech
        - Danish
        - German
        - Greek
        - English
        - Spanish
        - Estonian
        - Finnish
        - French
        - Croatian
        - Hungarian
        - Indonesian
        - Icelandic
        - Italian
        - Hebrew
        - Japanese
        - Korean
        - Lithuanian
        - Latvian
        - Dutch
        - Norwegian
        - Polish
        - Portuguese
        - Romanian
        - Russian
        - Slovak
        - Slovenian
        - Serbian
        - Swedish
        - Turkish
        - Chinese (Simplified)
        - Chinese (Traditional)
        enum:
        - lang_ar
        - lang_bg
        - lang_ca
        - lang_cs
        - lang_da
        - lang_de
        - lang_el
        - lang_en
        - lang_es
        - lang_et
        - lang_fi
        - lang_fr
        - lang_hr
        - lang_hu
        - lang_id
        - lang_is
        - lang_it
        - lang_iw
        - lang_ja
        - lang_ko
        - lang_lt
        - lang_lv
        - lang_nl
        - lang_no
        - lang_pl
        - lang_pt
        - lang_ro
        - lang_ru
        - lang_sk
        - lang_sl
        - lang_sr
        - lang_sv
        - lang_tr
        - lang_zh-CN
        - lang_zh-TW
      num?:
        type: integer
        default: 10
        format: int32
        description: Number of search results to return
      siteSearchFilter?:
        type: string
        description: Controls whether to include or exclude results from the site named in the as_sitesearch parameter
        (commons.EnumDescriptions):
        - exclude
        - include
        enum:
        - e
        - i
      highRange?:
        type: string
        description: Creates a range in form as_nlo value..as_nhi value and attempts to append it to query
      hq?:
        type: string
        description: Appends the extra query terms to the query.
      linkSite?:
        type: string
        description: Specifies that all search results should contain a link to a particular URL
      orTerms?:
        type: string
        description: Provides additional search terms to check for in a document, where each document in the search results must contain at least one of the additional search terms
      dateRestrict?:
        type: string
        description: Specifies all search results are from a time period
      rights?:
        type: string
        description: 'Filters based on licensing. Supported values include: cc_publicdomain,
          cc_attribute, cc_sharealike, cc_noncommercial, cc_nonderived and combinations
          of these.'
      excludeTerms?:
        type: string
        description: Identifies a word or phrase that should not appear in any documents in the search results
      lowRange?:
        type: string
        description: Creates a range in form as_nlo value..as_nhi value and attempts to append it to query
      imgType?:
        type: string
        description: 'Returns images of a type, which can be one of: clipart, face,
          lineart, news, and photo.'
        (commons.EnumDescriptions):
        - clipart
        - face
        - lineart
        - news
        - photo
        enum:
        - clipart
        - face
        - lineart
        - news
        - photo
      exactTerms?:
        type: string
        description: Identifies a phrase that all documents in the search results must contain
      gl?:
        type: string
        description: Geolocation of end user.
      imgSize?:
        type: string
        description: 'Returns images of a specified size, where size can be one of:
          icon, small, medium, large, xlarge, xxlarge, and huge.'
        (commons.EnumDescriptions):
        - huge
        - icon
        - large
        - medium
        - small
        - xlarge
        - xxlarge
        enum:
        - huge
        - icon
        - large
        - medium
        - small
        - xlarge
        - xxlarge
      searchType?:
        type: string
        description: 'Specifies the search type: image.'
        (commons.EnumDescriptions):
        - custom image search
        enum:
        - image
      start?:
        type: integer
        format: int32
        description: The index of the first result to return
      googlehost?:
        type: string
        description: The local Google domain to use to perform the search.
      sort?:
        type: string
        description: The sort expression to apply to the results
      imgDominantColor?:
        type: string
        description: 'Returns images of a specific dominant color: yellow, green,
          teal, blue, purple, pink, white, gray, black and brown.'
        (commons.EnumDescriptions):
        - black
        - blue
        - brown
        - gray
        - green
        - pink
        - purple
        - teal
        - white
        - yellow
        enum:
        - black
        - blue
        - brown
        - gray
        - green
        - pink
        - purple
        - teal
        - white
        - yellow
      cr?:
        type: string
        description: Country restrict(s).
      filter?:
        type: string
        description: Controls turning on or off the duplicate content filter.
        (commons.EnumDescriptions):
        - Turns off duplicate content filter.
        - Turns on duplicate content filter.
        enum:
        - '0'
        - '1'
      q:
        type: string
        description: Query
      imgColorType?:
        type: string
        description: 'Returns black and white, grayscale, or color images: mono, gray,
          and color.'
        (commons.EnumDescriptions):
        - color
        - gray
        - mono
        enum:
        - color
        - gray
        - mono
      cx?:
        type: string
        description: The custom search engine ID to scope this search query
      safe?:
        type: string
        default: 'off'
        description: Search safety level
        (commons.EnumDescriptions):
        - Enables highest level of safe search filtering.
        - Enables moderate safe search filtering.
        - Disables safe search filtering.
        enum:
        - high
        - medium
        - 'off'
      cref?:
        type: string
        description: The URL of a linked custom search engine
      fileType?:
        type: string
        description: 'Returns images of a specified type. Some of the allowed values
          are: bmp, gif, png, jpg, svg, pdf, ...'
    responses:
      200:
        body:
          application/json: Search
    (commons.Id): search.cse.list
    (commons.LogicalStructure):
    - Cse
