#%RAML 1.0
title: DCM/DFA Reporting And Trafficking API
version: v2.5beta1
baseUri: https://www.googleapis.com/dfareporting/v2.5beta1/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
  extras: https://raw.githubusercontent.com/apiregistry/typesExtras/master/typeExtras.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/doubleclick-advertisers/reporting/
  role: documentation
(commons.Icons):
- url: https://www.google.com/images/icons/product/doubleclick-32.gif
  name: x32
- url: https://www.google.com/images/icons/product/doubleclick-16.gif
  name: x16
(commons.Id): dfareporting:v2.5beta1
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/dfareporting
      - https://www.googleapis.com/auth/ddmconversions
      - https://www.googleapis.com/auth/dfatrafficking
    (commons.OathScopeDescriptions):
    - View and manage DoubleClick for Advertisers reports
    - Manage DoubleClick Digital Marketing conversions
    - View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      userIp?:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  Account:
    type: object
    properties:
      teaserSizeLimit?:
        type: integer
        format: int64
        description: File size limit in kilobytes of Rich Media teaser creatives. Must be between 1 and 10240.
      accountPermissionIds?:
        type: array
        description: Account permissions assigned to this account.
        items:
          type: integer
          format: int64
      nielsenOcrEnabled?:
        type: boolean
        description: Whether campaigns created in this account will be enabled for Nielsen OCR reach ratings by default.
      accountProfile?:
        type: string
        description: Profile for this account. This is a read-only field that can be left blank.
        enum:
        - ACCOUNT_PROFILE_BASIC
        - ACCOUNT_PROFILE_STANDARD
      kind?:
        type: string
        default: dfareporting#account
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#account".'
      activeAdsLimitTier?:
        type: string
        description: Maximum number of active ads allowed for this account.
        enum:
        - ACTIVE_ADS_TIER_100K
        - ACTIVE_ADS_TIER_200K
        - ACTIVE_ADS_TIER_300K
        - ACTIVE_ADS_TIER_40K
        - ACTIVE_ADS_TIER_500K
        - ACTIVE_ADS_TIER_750K
        - ACTIVE_ADS_TIER_75K
      activeViewOptOut?:
        type: boolean
        description: Whether to serve creatives with Active View tags. If disabled, viewability data will not be available for any impressions.
      maximumImageSize?:
        type: integer
        format: int64
        description: Maximum image size allowed for this account.
      active?:
        type: boolean
        description: Whether this account is active.
      description?:
        type: string
        description: Description of this account.
      locale?:
        type: string
        description: "Locale of this account.\nAcceptable values are: \n- \"cs\" (Czech)\
          \ \n- \"de\" (German) \n- \"en\" (English) \n- \"en-GB\" (English United\
          \ Kingdom) \n- \"es\" (Spanish) \n- \"fr\" (French) \n- \"it\" (Italian)\
          \ \n- \"ja\" (Japanese) \n- \"ko\" (Korean) \n- \"pl\" (Polish) \n- \"pt-BR\"\
          \ (Portuguese Brazil) \n- \"ru\" (Russian) \n- \"sv\" (Swedish) \n- \"tr\"\
          \ (Turkish) \n- \"zh-CN\" (Chinese Simplified) \n- \"zh-TW\" (Chinese Traditional)"
      countryId?:
        type: integer
        format: int64
        description: ID of the country associated with this account.
      reportsConfiguration?: ReportsConfiguration
      comscoreVceEnabled?:
        type: boolean
        description: Whether campaigns created in this account will be enabled for comScore vCE by default.
      defaultCreativeSizeId?:
        type: integer
        format: int64
        description: Default placement dimensions for this account.
      availablePermissionIds?:
        type: array
        description: User role permissions available to the user roles of this account.
        items:
          type: integer
          format: int64
      name?:
        type: string
        description: Name of this account. This is a required field, and must be less than 128 characters long and be globally unique.
      id?:
        type: integer
        format: int64
        description: ID of this account. This is a read-only, auto-generated field.
      currencyId?:
        type: integer
        format: int64
        description: "ID of currency associated with this account. This is a required\
          \ field.\nAcceptable values are: \n- \"1\" for USD \n- \"2\" for GBP \n\
          - \"3\" for ESP \n- \"4\" for SEK \n- \"5\" for CAD \n- \"6\" for JPY \n\
          - \"7\" for DEM \n- \"8\" for AUD \n- \"9\" for FRF \n- \"10\" for ITL \n\
          - \"11\" for DKK \n- \"12\" for NOK \n- \"13\" for FIM \n- \"14\" for ZAR\
          \ \n- \"15\" for IEP \n- \"16\" for NLG \n- \"17\" for EUR \n- \"18\" for\
          \ KRW \n- \"19\" for TWD \n- \"20\" for SGD \n- \"21\" for CNY \n- \"22\"\
          \ for HKD \n- \"23\" for NZD \n- \"24\" for MYR \n- \"25\" for BRL \n- \"\
          26\" for PTE \n- \"27\" for MXP \n- \"28\" for CLP \n- \"29\" for TRY \n\
          - \"30\" for ARS \n- \"31\" for PEN \n- \"32\" for ILS \n- \"33\" for CHF\
          \ \n- \"34\" for VEF \n- \"35\" for COP \n- \"36\" for GTQ \n- \"37\" for\
          \ PLN \n- \"39\" for INR \n- \"40\" for THB \n- \"41\" for IDR \n- \"42\"\
          \ for CZK \n- \"43\" for RON \n- \"44\" for HUF \n- \"45\" for RUB \n- \"\
          46\" for AED \n- \"47\" for BGN \n- \"48\" for HRK"
    description: Contains properties of a DCM account.
  AccountActiveAdSummary:
    type: object
    properties:
      accountId?:
        type: integer
        format: int64
        description: ID of the account.
      availableAds?:
        type: integer
        format: int64
        description: Ads that can be activated for the account.
      activeAds?:
        type: integer
        format: int64
        description: Ads that have been activated for the account
      kind?:
        type: string
        default: dfareporting#accountActiveAdSummary
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#accountActiveAdSummary".'
      activeAdsLimitTier?:
        type: string
        description: Maximum number of active ads allowed for the account.
        enum:
        - ACTIVE_ADS_TIER_100K
        - ACTIVE_ADS_TIER_200K
        - ACTIVE_ADS_TIER_300K
        - ACTIVE_ADS_TIER_40K
        - ACTIVE_ADS_TIER_500K
        - ACTIVE_ADS_TIER_750K
        - ACTIVE_ADS_TIER_75K
    description: Gets a summary of active ads in an account.
  AccountPermission:
    type: object
    properties:
      permissionGroupId?:
        type: integer
        format: int64
        description: Permission group of this account permission.
      level?:
        type: string
        description: Administrative level required to enable this account permission.
        enum:
        - ADMINISTRATOR
        - USER
      kind?:
        type: string
        default: dfareporting#accountPermission
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#accountPermission".'
      name?:
        type: string
        description: Name of this account permission.
      accountProfiles?:
        type: array
        description: |-
          Account profiles associated with this account permission.

          Possible values are:
          - "ACCOUNT_PROFILE_BASIC"
          - "ACCOUNT_PROFILE_STANDARD"
        items:
          type: string
          enum:
          - ACCOUNT_PROFILE_BASIC
          - ACCOUNT_PROFILE_STANDARD
      id?:
        type: integer
        format: int64
        description: ID of this account permission.
    description: AccountPermissions contains information about a particular account permission. Some features of DCM require an account permission to be present in the account.
  AccountPermissionGroup:
    type: object
    properties:
      kind?:
        type: string
        default: dfareporting#accountPermissionGroup
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#accountPermissionGroup".'
      name?:
        type: string
        description: Name of this account permission group.
      id?:
        type: integer
        format: int64
        description: ID of this account permission group.
    description: AccountPermissionGroups contains a mapping of permission group IDs to names. A permission group is a grouping of account permissions.
  AccountPermissionGroupsListResponse:
    type: object
    properties:
      kind?:
        type: string
        default: dfareporting#accountPermissionGroupsListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#accountPermissionGroupsListResponse".'
      accountPermissionGroups?:
        type: array
        description: Account permission group collection.
        items: AccountPermissionGroup
    description: Account Permission Group List Response
  AccountPermissionsListResponse:
    type: object
    properties:
      kind?:
        type: string
        default: dfareporting#accountPermissionsListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#accountPermissionsListResponse".'
      accountPermissions?:
        type: array
        description: Account permission collection.
        items: AccountPermission
    description: Account Permission List Response
  AccountUserProfile:
    type: object
    properties:
      subaccountId?:
        type: integer
        format: int64
        description: Subaccount ID of the user profile. This is a read-only field that can be left blank.
      userRoleFilter?: ObjectFilter
      comments?:
        type: string
        description: Comments for this user profile.
      siteFilter?: ObjectFilter
      kind?:
        type: string
        default: dfareporting#accountUserProfile
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#accountUserProfile".'
      traffickerType?:
        type: string
        description: Trafficker type of this user profile.
        enum:
        - EXTERNAL_TRAFFICKER
        - INTERNAL_NON_TRAFFICKER
        - INTERNAL_TRAFFICKER
      advertiserFilter?: ObjectFilter
      active?:
        type: boolean
        description: Whether this user profile is active. This defaults to false, and must be set true on insert for the user profile to be usable.
      locale?:
        type: string
        description: "Locale of the user profile. This is a required field.\nAcceptable\
          \ values are:  \n- \"cs\" (Czech) \n- \"de\" (German) \n- \"en\" (English)\
          \ \n- \"en-GB\" (English United Kingdom) \n- \"es\" (Spanish) \n- \"fr\"\
          \ (French) \n- \"it\" (Italian) \n- \"ja\" (Japanese) \n- \"ko\" (Korean)\
          \ \n- \"pl\" (Polish) \n- \"pt-BR\" (Portuguese Brazil)\n- \"ru\" (Russian)\
          \ \n- \"sv\" (Swedish) \n- \"tr\" (Turkish) \n- \"zh-CN\" (Chinese Simplified)\
          \ \n- \"zh-TW\" (Chinese Traditional)"
      userAccessType?:
        type: string
        description: User type of the user profile. This is a read-only field that can be left blank.
        enum:
        - INTERNAL_ADMINISTRATOR
        - NORMAL_USER
        - READ_ONLY_SUPER_USER
        - SUPER_USER
      accountId?:
        type: integer
        format: int64
        description: Account ID of the user profile. This is a read-only field that can be left blank.
      name?:
        type: string
        description: 'Name of the user profile. This is a required field. Must be
          less than 64 characters long, must be globally unique, and cannot contain
          whitespace or any of the following characters: "&;"#%,".'
      id?:
        type: integer
        format: int64
        description: ID of the user profile. This is a read-only, auto-generated field.
      userRoleId?:
        type: integer
        format: int64
        description: User role ID of the user profile. This is a required field.
      campaignFilter?: ObjectFilter
      email?:
        type: string
        description: Email of the user profile. The email addresss must be linked to a Google Account. This field is required on insertion and is read-only after insertion.
    description: AccountUserProfiles contains properties of a DCM user profile. This resource is specifically for managing user profiles, whereas UserProfiles is for accessing the API.
  AccountUserProfilesListResponse:
    type: object
    properties:
      kind?:
        type: string
        default: dfareporting#accountUserProfilesListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#accountUserProfilesListResponse".'
      nextPageToken?:
        type: string
        description: Pagination token to be used for the next list operation.
      accountUserProfiles?:
        type: array
        description: Account user profile collection.
        items: AccountUserProfile
    description: Account User Profile List Response
  AccountsListResponse:
    type: object
    properties:
      kind?:
        type: string
        default: dfareporting#accountsListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#accountsListResponse".'
      nextPageToken?:
        type: string
        description: Pagination token to be used for the next list operation.
      accounts?:
        type: array
        description: Account collection.
        items: Account
    description: Account List Response
  Activities:
    type: object
    properties:
      metricNames?:
        type: array
        description: List of names of floodlight activity metrics.
        items:
          type: string
      kind?:
        type: string
        default: dfareporting#activities
        description: The kind of resource this is, in this case dfareporting#activities.
      filters?:
        type: array
        description: List of activity filters. The dimension values need to be all either of type "dfa:activity" or "dfa:activityGroup".
        items: DimensionValue
    description: Represents an activity group.
  Ad:
    type: object
    properties:
      geoTargeting?: GeoTargeting
      technologyTargeting?: TechnologyTargeting
      defaultClickThroughEventTagProperties?: DefaultClickThroughEventTagProperties
      campaignIdDimensionValue?: DimensionValue
      type?:
        type: string
        description: Type of ad. This is a required field on insertion. Note that default ads (AD_SERVING_DEFAULT_AD) cannot be created directly (see Creative resource).
        enum:
        - AD_SERVING_CLICK_TRACKER
        - AD_SERVING_DEFAULT_AD
        - AD_SERVING_STANDARD_AD
        - AD_SERVING_TRACKING
      idDimensionValue?: DimensionValue
      sslRequired?:
        type: boolean
        description: Whether this ad requires ssl. This is a read-only field that is auto-generated when the ad is inserted or updated.
      creativeRotation?: CreativeRotation
      archived?:
        type: boolean
        description: Whether this ad is archived. When true, active must be false.
      advertiserIdDimensionValue?: DimensionValue
      startTime?:
        type: datetime
        description: Date and time that this ad should start serving. If creating an ad, this field must be a time in the future. This is a required field on insertion.
      audienceSegmentId?:
        type: integer
        format: int64
        description: Audience segment ID that is being targeted for this ad. Applicable when type is AD_SERVING_STANDARD_AD.
      id?:
        type: integer
        format: int64
        description: ID of this ad. This is a read-only, auto-generated field.
      createInfo?: LastModifiedInfo
      eventTagOverrides?:
        type: array
        description: Event tag overrides for this ad.
        items: EventTagOverride
      keyValueTargetingExpression?: KeyValueTargetingExpression
      subaccountId?:
        type: integer
        format: int64
        description: Subaccount ID of this ad. This is a read-only field that can be left blank.
      comments?:
        type: string
        description: Comments for this ad.
      campaignId?:
        type: integer
        format: int64
        description: Campaign ID of this ad. This is a required field on insertion.
      kind?:
        type: string
        default: dfareporting#ad
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#ad".'
      lastModifiedInfo?: LastModifiedInfo
      clickThroughUrl?: ClickThroughUrl
      active?:
        type: boolean
        description: Whether this ad is active. When true, archived must be false.
      creativeGroupAssignments?:
        type: array
        description: Creative group assignments for this ad. Applicable when type is AD_SERVING_CLICK_TRACKER. Only one assignment per creative group number is allowed for a maximum of two assignments.
        items: CreativeGroupAssignment
      dayPartTargeting?: DayPartTargeting
      advertiserId?:
        type: integer
        format: int64
        description: Advertiser ID of this ad. This is a required field on insertion.
      deliverySchedule?: DeliverySchedule
      accountId?:
        type: integer
        format: int64
        description: Account ID of this ad. This is a read-only field that can be left blank.
      dynamicClickTracker?:
        type: boolean
        description: Whether this ad is a dynamic click tracker. Applicable when type is AD_SERVING_CLICK_TRACKER. This is a required field on insert, and is read-only after insert.
      size?: Size
      sslCompliant?:
        type: boolean
        description: Whether this ad is ssl compliant. This is a read-only field that is auto-generated when the ad is inserted or updated.
      name?:
        type: string
        description: Name of this ad. This is a required field and must be less than 256 characters long.
      remarketingListExpression?: ListTargetingExpression
      clickThroughUrlSuffixProperties?: ClickThroughUrlSuffixProperties
      endTime?:
        type: datetime
        description: Date and time that this ad should stop serving. Must be later than the start time. This is a required field on insertion.
      placementAssignments?:
        type: array
        description: Placement assignments for this ad.
        items: PlacementAssignment
      compatibility?:
        type: string
        description: Compatibility of this ad. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to either rendering on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are only used for existing default ads. New mobile placements must be assigned DISPLAY or DISPLAY_INTERSTITIAL and default ads created for those placements will be limited to those compatibility types. IN_STREAM_VIDEO refers to rendering in-stream video ads developed with the VAST standard.
        enum:
        - APP
        - APP_INTERSTITIAL
        - DISPLAY
        - DISPLAY_INTERSTITIAL
        - IN_STREAM_VIDEO
    description: Contains properties of a DCM ad.
  AdSlot:
    type: object
    properties:
      name?:
        type: string
        description: Name of this ad slot.
      width?:
        type: integer
        format: int64
        description: Width of this ad slot.
      comment?:
        type: string
        description: Comment for this ad slot.
      linkedPlacementId?:
        type: integer
        format: int64
        description: ID of the placement from an external platform that is linked to this ad slot.
      compatibility?:
        type: string
        description: Ad slot compatibility. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop, mobile devices or in mobile apps for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard.
        enum:
        - APP
        - APP_INTERSTITIAL
        - DISPLAY
        - DISPLAY_INTERSTITIAL
        - IN_STREAM_VIDEO
      height?:
        type: integer
        format: int64
        description: Height of this ad slot.
      paymentSourceType?:
        type: string
        description: Payment source type of this ad slot.
        enum:
        - PLANNING_PAYMENT_SOURCE_TYPE_AGENCY_PAID
        - PLANNING_PAYMENT_SOURCE_TYPE_PUBLISHER_PAID
      primary?:
        type: boolean
        description: Primary ad slot of a roadblock inventory item.
    description: Ad Slot
  AdsListResponse:
    type: object
    properties:
      ads?:
        type: array
        description: Ad collection.
        items: Ad
      kind?:
        type: string
        default: dfareporting#adsListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#adsListResponse".'
      nextPageToken?:
        type: string
        description: Pagination token to be used for the next list operation.
    description: Ad List Response
  Advertiser:
    type: object
    properties:
      subaccountId?:
        type: integer
        format: int64
        description: Subaccount ID of this advertiser.This is a read-only field that can be left blank.
      kind?:
        type: string
        default: dfareporting#advertiser
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#advertiser".'
      originalFloodlightConfigurationId?:
        type: integer
        format: int64
        description: Original floodlight configuration before any sharing occurred. Set the floodlightConfigurationId of this advertiser to originalFloodlightConfigurationId to unshare the advertiser's current floodlight configuration. You cannot unshare an advertiser's floodlight configuration if the shared configuration has activities associated with any campaign or placement.
      floodlightConfigurationIdDimensionValue?: DimensionValue
      idDimensionValue?: DimensionValue
      suspended?:
        type: boolean
        description: Suspension status of this advertiser.
      floodlightConfigurationId?:
        type: integer
        format: int64
        description: "Floodlight configuration ID of this advertiser. The floodlight\
          \ configuration ID will be created automatically, so on insert this field\
          \ should be left blank. This field can be set to another advertiser's floodlight\
          \ configuration ID in order to share that advertiser's floodlight configuration\
          \ with this advertiser, so long as: \n- This advertiser's original floodlight\
          \ configuration is not already associated with floodlight activities or\
          \ floodlight activity groups. \n- This advertiser's original floodlight\
          \ configuration is not already shared with another advertiser."
      accountId?:
        type: integer
        format: int64
        description: Account ID of this advertiser.This is a read-only field that can be left blank.
      defaultClickThroughEventTagId?:
        type: integer
        format: int64
        description: ID of the click-through event tag to apply by default to the landing pages of this advertiser's campaigns.
      advertiserGroupId?:
        type: integer
        format: int64
        description: ID of the advertiser group this advertiser belongs to. You can group advertisers for reporting purposes, allowing you to see aggregated information for all advertisers in each group.
      defaultEmail?:
        type: string
        description: Default email address used in sender field for tag emails.
      name?:
        type: string
        description: Name of this advertiser. This is a required field and must be less than 256 characters long and unique among advertisers of the same account.
      clickThroughUrlSuffix?:
        type: string
        description: Suffix added to click-through URL of ad creative associations under this advertiser. Must be less than 129 characters long.
      id?:
        type: integer
        format: int64
        description: ID of this advertiser. This is a read-only, auto-generated field.
      status?:
        type: string
        description: Status of this advertiser.
        enum:
        - APPROVED
        - ON_HOLD
    description: Contains properties of a DCM advertiser.
  AdvertiserGroup:
    type: object
    properties:
      accountId?:
        type: integer
        format: int64
        description: Account ID of this advertiser group. This is a read-only field that can be left blank.
      kind?:
        type: string
        default: dfareporting#advertiserGroup
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#advertiserGroup".'
      name?:
        type: string
        description: Name of this advertiser group. This is a required field and must be less than 256 characters long and unique among advertiser groups of the same account.
      id?:
        type: integer
        format: int64
        description: ID of this advertiser group. This is a read-only, auto-generated field.
    description: Groups advertisers together so that reports can be generated for the entire group at once.
  AdvertiserGroupsListResponse:
    type: object
    properties:
      kind?:
        type: string
        default: dfareporting#advertiserGroupsListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#advertiserGroupsListResponse".'
      nextPageToken?:
        type: string
        description: Pagination token to be used for the next list operation.
      advertiserGroups?:
        type: array
        description: Advertiser group collection.
        items: AdvertiserGroup
    description: Advertiser Group List Response
  AdvertisersListResponse:
    type: object
    properties:
      kind?:
        type: string
        default: dfareporting#advertisersListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#advertisersListResponse".'
      nextPageToken?:
        type: string
        description: Pagination token to be used for the next list operation.
      advertisers?:
        type: array
        description: Advertiser collection.
        items: Advertiser
    description: Advertiser List Response
  AudienceSegment:
    type: object
    properties:
      allocation?:
        type: integer
        format: int32
        description: Weight allocated to this segment. Must be between 1 and 1000. The weight assigned will be understood in proportion to the weights assigned to other segments in the same segment group.
      name?:
        type: string
        description: Name of this audience segment. This is a required field and must be less than 65 characters long.
      id?:
        type: integer
        format: int64
        description: ID of this audience segment. This is a read-only, auto-generated field.
    description: Audience Segment.
  AudienceSegmentGroup:
    type: object
    properties:
      name?:
        type: string
        description: Name of this audience segment group. This is a required field and must be less than 65 characters long.
      id?:
        type: integer
        format: int64
        description: ID of this audience segment group. This is a read-only, auto-generated field.
      audienceSegments?:
        type: array
        description: Audience segments assigned to this group. The number of segments must be between 2 and 100.
        items: AudienceSegment
    description: Audience Segment Group.
  Browser:
    type: object
    properties:
      browserVersionId?:
        type: integer
        format: int64
        description: ID referring to this grouping of browser and version numbers. This is the ID used for targeting.
      kind?:
        type: string
        default: dfareporting#browser
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#browser".'
      name?:
        type: string
        description: Name of this browser.
      dartId?:
        type: integer
        format: int64
        description: DART ID of this browser. This is the ID used when generating reports.
      majorVersion?:
        type: string
        description: 'Major version number (leftmost number) of this browser. For
          example, for Chrome 5.0.376.86 beta, this field should be set to 5. An asterisk
          (*) may be used to target any version number, and a question mark (?) may
          be used to target cases where the version number cannot be identified. For
          example, Chrome *.* targets any version of Chrome: 1.2, 2.5, 3.5, and so
          on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox ?.? targets
          cases where the ad server knows the browser is Firefox but can''t tell which
          version it is.'
      minorVersion?:
        type: string
        description: 'Minor version number (number after first dot on left) of this
          browser. For example, for Chrome 5.0.375.86 beta, this field should be set
          to 0. An asterisk (*) may be used to target any version number, and a question
          mark (?) may be used to target cases where the version number cannot be
          identified. For example, Chrome *.* targets any version of Chrome: 1.2,
          2.5, 3.5, and so on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox
          ?.? targets cases where the ad server knows the browser is Firefox but can''t
          tell which version it is.'
    description: Contains information about a browser that can be targeted by ads.
  BrowsersListResponse:
    type: object
    properties:
      kind?:
        type: string
        default: dfareporting#browsersListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#browsersListResponse".'
      browsers?:
        type: array
        description: Browser collection.
        items: Browser
    description: Browser List Response
  Campaign:
    type: object
    properties:
      defaultClickThroughEventTagProperties?: DefaultClickThroughEventTagProperties
      nielsenOcrEnabled?:
        type: boolean
        description: Whether Nielsen reports are enabled for this campaign.
      endDate?:
        type: string
        description: Date on which the campaign will stop running. On insert, the end date must be today or a future date. The end date must be later than or be the same as the start date. If, for example, you set 6/25/2015 as both the start and end dates, the effective campaign run date is just that day only, 6/25/2015. The hours, minutes, and seconds of the end date should not be set, as doing so will result in an error. This is a required field.
      idDimensionValue?: DimensionValue
      archived?:
        type: boolean
        description: Whether this campaign has been archived.
      advertiserGroupId?:
        type: integer
        format: int64
        description: Advertiser group ID of the associated advertiser.
      advertiserIdDimensionValue?: DimensionValue
      traffickerEmails?:
        type: array
        description: Campaign trafficker contact emails.
        items:
          type: string
      id?:
        type: integer
        format: int64
        description: ID of this campaign. This is a read-only auto-generated field.
      createInfo?: LastModifiedInfo
      eventTagOverrides?:
        type: array
        description: Overrides that can be used to activate or deactivate advertiser event tags.
        items: EventTagOverride
      billingInvoiceCode?:
        type: string
        description: Billing invoice code included in the DCM client billing invoices associated with the campaign.
      subaccountId?:
        type: integer
        format: int64
        description: Subaccount ID of this campaign. This is a read-only field that can be left blank.
      kind?:
        type: string
        default: dfareporting#campaign
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#campaign".'
      lastModifiedInfo?: LastModifiedInfo
      additionalCreativeOptimizationConfigurations?:
        type: array
        description: Additional creative optimization configurations for the campaign.
        items: CreativeOptimizationConfiguration
      externalId?:
        type: string
        description: External ID for this campaign.
      lookbackConfiguration?: LookbackConfiguration
      audienceSegmentGroups?:
        type: array
        description: Audience segment groups assigned to this campaign. Cannot have more than 300 segment groups.
        items: AudienceSegmentGroup
      advertiserId?:
        type: integer
        format: int64
        description: Advertiser ID of this campaign. This is a required field.
      comscoreVceEnabled?:
        type: boolean
        description: Whether comScore vCE reports are enabled for this campaign.
      accountId?:
        type: integer
        format: int64
        description: Account ID of this campaign. This is a read-only field that can be left blank.
      creativeOptimizationConfiguration?: CreativeOptimizationConfiguration
      name?:
        type: string
        description: Name of this campaign. This is a required field and must be less than 256 characters long and unique among campaigns of the same advertiser.
      clickThroughUrlSuffixProperties?: ClickThroughUrlSuffixProperties
      comment?:
        type: string
        description: Arbitrary comments about this campaign. Must be less than 256 characters long.
      creativeGroupIds?:
        type: array
        description: List of creative group IDs that are assigned to the campaign.
        items:
          type: integer
          format: int64
      startDate?:
        type: string
        description: Date on which the campaign starts running. The start date can be any date. The hours, minutes, and seconds of the start date should not be set, as doing so will result in an error. This is a required field.
    description: Contains properties of a DCM campaign.
  CampaignCreativeAssociation:
    type: object
    properties:
      kind?:
        type: string
        default: dfareporting#campaignCreativeAssociation
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#campaignCreativeAssociation".'
      creativeId?:
        type: integer
        format: int64
        description: ID of the creative associated with the campaign. This is a required field.
    description: Identifies a creative which has been associated with a given campaign.
  CampaignCreativeAssociationsListResponse:
    type: object
    properties:
      campaignCreativeAssociations?:
        type: array
        description: Campaign creative association collection
        items: CampaignCreativeAssociation
      kind?:
        type: string
        default: dfareporting#campaignCreativeAssociationsListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#campaignCreativeAssociationsListResponse".'
      nextPageToken?:
        type: string
        description: Pagination token to be used for the next list operation.
    description: Campaign Creative Association List Response
  CampaignsListResponse:
    type: object
    properties:
      campaigns?:
        type: array
        description: Campaign collection.
        items: Campaign
      kind?:
        type: string
        default: dfareporting#campaignsListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#campaignsListResponse".'
      nextPageToken?:
        type: string
        description: Pagination token to be used for the next list operation.
    description: Campaign List Response
  ChangeLog:
    type: object
    properties:
      newValue?:
        type: string
        description: New value of the object field.
      subaccountId?:
        type: integer
        format: int64
        description: Subaccount ID of the modified object.
      fieldName?:
        type: string
        description: Field name of the object which changed.
      kind?:
        type: string
        default: dfareporting#changeLog
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#changeLog".'
      transactionId?:
        type: integer
        format: int64
        description: Transaction ID of this change log. When a single API call results in many changes, each change will have a separate ID in the change log but will share the same transactionId.
      objectType?:
        type: string
        description: Object type of the change log.
      changeTime?:
        type: string
        description: Time when the object was modified.
      accountId?:
        type: integer
        format: int64
        description: Account ID of the modified object.
      action?:
        type: string
        description: Action which caused the change.
      userProfileId?:
        type: integer
        format: int64
        description: ID of the user who modified the object.
      id?:
        type: integer
        format: int64
        description: ID of this change log.
      oldValue?:
        type: string
        description: Old value of the object field.
      userProfileName?:
        type: string
        description: User profile name of the user who modified the object.
      objectId?:
        type: integer
        format: int64
        description: ID of the object of this change log. The object could be a campaign, placement, ad, or other type.
    description: Describes a change that a user has made to a resource.
  ChangeLogsListResponse:
    type: object
    properties:
      changeLogs?:
        type: array
        description: Change log collection.
        items: ChangeLog
      kind?:
        type: string
        default: dfareporting#changeLogsListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#changeLogsListResponse".'
      nextPageToken?:
        type: string
        description: Pagination token to be used for the next list operation.
    description: Change Log List Response
  CitiesListResponse:
    type: object
    properties:
      cities?:
        type: array
        description: City collection.
        items: City
      kind?:
        type: string
        default: dfareporting#citiesListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#citiesListResponse".'
    description: City List Response
  City:
    type: object
    properties:
      regionCode?:
        type: string
        description: Region code of the region to which this city belongs.
      metroDmaId?:
        type: integer
        format: int64
        description: ID of the metro region (DMA) to which this city belongs.
      regionDartId?:
        type: integer
        format: int64
        description: DART ID of the region to which this city belongs.
      countryCode?:
        type: string
        description: Country code of the country to which this city belongs.
      countryDartId?:
        type: integer
        format: int64
        description: DART ID of the country to which this city belongs.
      kind?:
        type: string
        default: dfareporting#city
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#city".'
      metroCode?:
        type: string
        description: Metro region code of the metro region (DMA) to which this city belongs.
      name?:
        type: string
        description: Name of this city.
      dartId?:
        type: integer
        format: int64
        description: DART ID of this city. This is the ID used for targeting and generating reports.
    description: Contains information about a city that can be targeted by ads.
  ClickTag:
    type: object
    properties:
      name?:
        type: string
        description: Parameter name for the specified click tag. For ENHANCED_IMAGE creative assets, this field must match the value of the creative asset's creativeAssetId.name field.
      eventName?:
        type: string
        description: Advertiser event name associated with the click tag. This field is used by ENHANCED_IMAGE, and HTML5_BANNER creatives. Applicable to ENHANCED_BANNER when the primary asset type is not HTML_IMAGE
      value?:
        type: string
        description: Parameter value for the specified click tag. This field contains a click-through url.
    description: Creative Click Tag.
  ClickThroughUrl:
    type: object
    properties:
      defaultLandingPage?:
        type: boolean
        description: Whether the campaign default landing page is used.
      landingPageId?:
        type: integer
        format: int64
        description: ID of the landing page for the click-through URL. Applicable if the defaultLandingPage field is set to false.
      computedClickThroughUrl?:
        type: string
        description: "Read-only convenience field representing the actual URL that\
          \ will be used for this click-through. The URL is computed as follows: \n\
          - If defaultLandingPage is enabled then the campaign's default landing page\
          \ URL is assigned to this field.\n- If defaultLandingPage is not enabled\
          \ and a landingPageId is specified then that landing page's URL is assigned\
          \ to this field.\n- If neither of the above cases apply, then the customClickThroughUrl\
          \ is assigned to this field."
      customClickThroughUrl?:
        type: string
        description: Custom click-through URL. Applicable if the defaultLandingPage field is set to false and the landingPageId field is left unset.
    description: Click-through URL
  ClickThroughUrlSuffixProperties:
    type: object
    properties:
      overrideInheritedSuffix?:
        type: boolean
        description: Whether this entity should override the inherited click-through URL suffix with its own defined value.
      clickThroughUrlSuffix?:
        type: string
        description: Click-through URL suffix to apply to all ads in this entity's scope. Must be less than 128 characters long.
    description: Click Through URL Suffix settings.
  CompanionClickThroughOverride:
    type: object
    properties:
      clickThroughUrl?: ClickThroughUrl
      creativeId?:
        type: integer
        format: int64
        description: ID of the creative for this companion click-through override.
    description: Companion Click-through override.
  CompatibleFields:
    type: object
    properties:
      pathToConversionReportCompatibleFields?: PathToConversionReportCompatibleFields
      reachReportCompatibleFields?: ReachReportCompatibleFields
      crossDimensionReachReportCompatibleFields?: CrossDimensionReachReportCompatibleFields
      kind?:
        type: string
        default: dfareporting#compatibleFields
        description: The kind of resource this is, in this case dfareporting#compatibleFields.
      reportCompatibleFields?: ReportCompatibleFields
      floodlightReportCompatibleFields?: FloodlightReportCompatibleFields
    description: Represents a response to the queryCompatibleFields method.
  ConnectionType:
    type: object
    properties:
      kind?:
        type: string
        default: dfareporting#connectionType
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#connectionType".'
      name?:
        type: string
        description: Name of this connection type.
      id?:
        type: integer
        format: int64
        description: ID of this connection type.
    description: Contains information about an internet connection type that can be targeted by ads. Clients can use the connection type to target mobile vs. broadband users.
  ConnectionTypesListResponse:
    type: object
    properties:
      kind?:
        type: string
        default: dfareporting#connectionTypesListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#connectionTypesListResponse".'
      connectionTypes?:
        type: array
        description: Collection of connection types such as broadband and mobile.
        items: ConnectionType
    description: Connection Type List Response
  ContentCategoriesListResponse:
    type: object
    properties:
      contentCategories?:
        type: array
        description: Content category collection.
        items: ContentCategory
      kind?:
        type: string
        default: dfareporting#contentCategoriesListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#contentCategoriesListResponse".'
      nextPageToken?:
        type: string
        description: Pagination token to be used for the next list operation.
    description: Content Category List Response
  ContentCategory:
    type: object
    properties:
      accountId?:
        type: integer
        format: int64
        description: Account ID of this content category. This is a read-only field that can be left blank.
      kind?:
        type: string
        default: dfareporting#contentCategory
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#contentCategory".'
      name?:
        type: string
        description: Name of this content category. This is a required field and must be less than 256 characters long and unique among content categories of the same account.
      id?:
        type: integer
        format: int64
        description: ID of this content category. This is a read-only, auto-generated field.
    description: Organizes placements according to the contents of their associated webpages.
  Conversion:
    type: object
    properties:
      limitAdTracking?:
        type: boolean
        description: Whether Limit Ad Tracking is enabled. When set to true, the conversion will be used for reporting but not targeting. This will prevent remarketing.
      mobileDeviceId?:
        type: string
        description: The mobile device ID. This field is mutually exclusive with encryptedUserId and encryptedUserIdCandidates[]. This or encryptedUserId or encryptedUserIdCandidates[] is a required field.
      quantity?:
        type: integer
        format: int64
        description: The quantity of the conversion.
      childDirectedTreatment?:
        type: boolean
        description: Whether the conversion was directed toward children.
      kind?:
        type: string
        default: dfareporting#conversion
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#conversion".'
      floodlightActivityId?:
        type: integer
        format: int64
        description: Floodlight Activity ID of this conversion. This is a required field.
      encryptedUserId?:
        type: string
        description: The alphanumeric encrypted user ID. When set, encryptionInfo should also be specified. This field is mutually exclusive with encryptedUserIdCandidates[] and mobileDeviceId. This or encryptedUserIdCandidates[] or mobileDeviceId is a required field.
      value?:
        type: number
        format: double
        description: The value of the conversion.
      customVariables?:
        type: array
        description: Custom floodlight variables.
        items: CustomFloodlightVariable
      timestampMicros?:
        type: integer
        format: int64
        description: The timestamp of conversion, in Unix epoch micros. This is a required field.
      floodlightConfigurationId?:
        type: integer
        format: int64
        description: Floodlight Configuration ID of this conversion. This is a required field.
      ordinal?:
        type: string
        description: The ordinal of the conversion. Use this field to control how conversions of the same user and day are de-duplicated. This is a required field.
    description: A Conversion represents when a user successfully performs a desired action after seeing an ad.
  ConversionError:
    type: object
    properties:
      code?:
        type: string
        description: The error code.
        enum:
        - INTERNAL
        - INVALID_ARGUMENT
        - NOT_FOUND
        - PERMISSION_DENIED
      kind?:
        type: string
        default: dfareporting#conversionError
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#conversionError".'
      message?:
        type: string
        description: A description of the error.
    description: The error code and description for a conversion that failed to insert or update.
  ConversionStatus:
    type: object
    properties:
      kind?:
        type: string
        default: dfareporting#conversionStatus
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#conversionStatus".'
      errors?:
        type: array
        description: A list of errors related to this conversion.
        items: ConversionError
      conversion?: Conversion
    description: The original conversion that was inserted or updated and whether there were any errors.
  ConversionsBatchInsertRequest:
    type: object
    properties:
      encryptionInfo?: EncryptionInfo
      conversions?:
        type: array
        description: The set of conversions to insert.
        items: Conversion
      kind?:
        type: string
        default: dfareporting#conversionsBatchInsertRequest
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#conversionsBatchInsertRequest".'
    description: Insert Conversions Request.
  ConversionsBatchInsertResponse:
    type: object
    properties:
      kind?:
        type: string
        default: dfareporting#conversionsBatchInsertResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#conversionsBatchInsertResponse".'
      hasFailures?:
        type: boolean
        description: Indicates that some or all conversions failed to insert.
      status?:
        type: array
        description: The status of each conversion's insertion status. The status is returned in the same order that conversions are inserted.
        items: ConversionStatus
    description: Insert Conversions Response.
  CountriesListResponse:
    type: object
    properties:
      kind?:
        type: string
        default: dfareporting#countriesListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#countriesListResponse".'
      countries?:
        type: array
        description: Country collection.
        items: Country
    description: Country List Response
  Country:
    type: object
    properties:
      countryCode?:
        type: string
        description: Country code.
      kind?:
        type: string
        default: dfareporting#country
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#country".'
      sslEnabled?:
        type: boolean
        description: Whether ad serving supports secure servers in this country.
      name?:
        type: string
        description: Name of this country.
      dartId?:
        type: integer
        format: int64
        description: DART ID of this country. This is the ID used for targeting and generating reports.
    description: Contains information about a country that can be targeted by ads.
  Creative:
    type: object
    properties:
      commercialId?:
        type: string
        description: 'Industry standard ID assigned to creative for reach and frequency.
          Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID.'
      redirectUrl?:
        type: string
        description: 'URL of hosted image or hosted video or another ad tag. For INSTREAM_VIDEO_REDIRECT
          creatives this is the in-stream video redirect URL. The standard for a VAST
          (Video Ad Serving Template) ad response allows for a redirect link to another
          VAST 2.0 or 3.0 call. This is a required field when applicable. Applicable
          to the following creative types: INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT,
          REDIRECT, and INSTREAM_VIDEO_REDIRECT'
      latestTraffickedCreativeId?:
        type: integer
        format: int64
        description: 'Latest Studio trafficked creative ID associated with rich media
          and VPAID creatives. This is a read-only field. Applicable to the following
          creative types: all RICH_MEDIA, and all VPAID.'
      type?:
        type: string
        description: Type of this creative.This is a required field. Applicable to all creative types.
        enum:
        - BRAND_SAFE_DEFAULT_INSTREAM_VIDEO
        - CUSTOM_INPAGE
        - CUSTOM_INTERSTITIAL
        - ENHANCED_BANNER
        - ENHANCED_IMAGE
        - FLASH_INPAGE
        - HTML5_BANNER
        - IMAGE
        - INSTREAM_VIDEO
        - INSTREAM_VIDEO_REDIRECT
        - INTERNAL_REDIRECT
        - INTERSTITIAL_INTERNAL_REDIRECT
        - REDIRECT
        - RICH_MEDIA_EXPANDING
        - RICH_MEDIA_IM_EXPAND
        - RICH_MEDIA_INPAGE
        - RICH_MEDIA_INPAGE_FLOATING
        - RICH_MEDIA_INTERSTITIAL_FLOAT
        - RICH_MEDIA_MOBILE_IN_APP
        - RICH_MEDIA_MULTI_FLOATING
        - RICH_MEDIA_PEEL_DOWN
        - TRACKING_TEXT
        - VPAID_LINEAR
        - VPAID_NON_LINEAR
      idDimensionValue?: DimensionValue
      backupImageReportingLabel?:
        type: string
        description: Reporting label used for HTML5 banner backup image. Applicable to ENHANCED_BANNER when the primary asset type is not HTML_IMAGE.
      requiredFlashPluginVersion?:
        type: string
        description: 'The minimum required Flash plugin version for this creative.
          For example, 11.2.202.235. This is a read-only field. Applicable to the
          following creative types: all RICH_MEDIA, and all VPAID.'
      authoringTool?:
        type: string
        description: 'Authoring tool for HTML5 banner creatives. This is a read-only
          field. Applicable to the following creative types: HTML5_BANNER.'
        enum:
        - NINJA
        - SWIFFY
      studioCreativeId?:
        type: integer
        format: int64
        description: 'Studio creative ID associated with rich media and VPAID creatives.
          This is a read-only field. Applicable to the following creative types: all
          RICH_MEDIA, and all VPAID.'
      id?:
        type: integer
        format: int64
        description: ID of this creative. This is a read-only, auto-generated field. Applicable to all creative types.
      thirdPartyBackupImageImpressionsUrl?:
        type: string
        description: 'Third-party URL used to record backup image impressions. Applicable
          to the following creative types: all RICH_MEDIA.'
      clickTags?:
        type: array
        description: 'Click tags of the creative. For ENHANCED_BANNER, FLASH_INPAGE,
          and HTML5_BANNER creatives, this is a subset of detected click tags for
          the assets associated with this creative. After creating a flash asset,
          detected click tags will be returned in the creativeAssetMetadata. When
          inserting the creative, populate the creative clickTags field using the
          creativeAssetMetadata.clickTags field. For ENHANCED_IMAGE creatives, there
          should be exactly one entry in this list for each image creative asset.
          A click tag is matched with a corresponding creative asset by matching the
          clickTag.name field with the creativeAsset.assetIdentifier.name field. Applicable
          to the following creative types: ENHANCED_IMAGE, FLASH_INPAGE HTML5_BANNER.
          Applicable to ENHANCED_BANNER when the primary asset type is not HTML_IMAGE.'
        items: ClickTag
      authoringSource?:
        type: string
        description: Source application where creative was authored. Presently, only DBM authored creatives will have this field set. Applicable to all creative types.
        enum:
        - CREATIVE_AUTHORING_SOURCE_DBM
        - CREATIVE_AUTHORING_SOURCE_DCM
        - CREATIVE_AUTHORING_SOURCE_STUDIO
      htmlCodeLocked?:
        type: boolean
        description: 'Whether HTML code is DCM-generated or manually entered. Set
          to true to ignore changes to htmlCode. Applicable to the following creative
          types: FLASH_INPAGE and HTML5_BANNER.'
      studioAdvertiserId?:
        type: integer
        format: int64
        description: 'Studio advertiser ID associated with rich media and VPAID creatives.
          This is a read-only field. Applicable to the following creative types: all
          RICH_MEDIA, and all VPAID.'
      adParameters?:
        type: string
        description: 'Ad parameters user for VPAID creative. This is a read-only field.
          Applicable to the following creative types: all VPAID.'
      backupImageFeatures?:
        type: array
        description: 'List of feature dependencies that will cause a backup image
          to be served if the browser that serves the ad does not support them. Feature
          dependencies are features that a browser must be able to support in order
          to render your HTML5 creative asset correctly. This field is initially auto-generated
          to contain all features detected by DCM for all the assets of this creative
          and can then be modified by the client. To reset this field, copy over all
          the creativeAssets'' detected features. Applicable to the following creative
          types: HTML5_BANNER. Applicable to ENHANCED_BANNER when the primary asset
          is not HTML_IMAGE.'
        items:
          type: string
          enum:
          - APPLICATION_CACHE
          - AUDIO
          - CANVAS
          - CANVAS_TEXT
          - CSS_ANIMATIONS
          - CSS_BACKGROUND_SIZE
          - CSS_BORDER_IMAGE
          - CSS_BORDER_RADIUS
          - CSS_BOX_SHADOW
          - CSS_COLUMNS
          - CSS_FLEX_BOX
          - CSS_FONT_FACE
          - CSS_GENERATED_CONTENT
          - CSS_GRADIENTS
          - CSS_HSLA
          - CSS_MULTIPLE_BGS
          - CSS_OPACITY
          - CSS_REFLECTIONS
          - CSS_RGBA
          - CSS_TEXT_SHADOW
          - CSS_TRANSFORMS
          - CSS_TRANSFORMS3D
          - CSS_TRANSITIONS
          - DRAG_AND_DROP
          - GEO_LOCATION
          - HASH_CHANGE
          - HISTORY
          - INDEXED_DB
          - INLINE_SVG
          - INPUT_ATTR_AUTOCOMPLETE
          - INPUT_ATTR_AUTOFOCUS
          - INPUT_ATTR_LIST
          - INPUT_ATTR_MAX
          - INPUT_ATTR_MIN
          - INPUT_ATTR_MULTIPLE
          - INPUT_ATTR_PATTERN
          - INPUT_ATTR_PLACEHOLDER
          - INPUT_ATTR_REQUIRED
          - INPUT_ATTR_STEP
          - INPUT_TYPE_COLOR
          - INPUT_TYPE_DATE
          - INPUT_TYPE_DATETIME
          - INPUT_TYPE_DATETIME_LOCAL
          - INPUT_TYPE_EMAIL
          - INPUT_TYPE_MONTH
          - INPUT_TYPE_NUMBER
          - INPUT_TYPE_RANGE
          - INPUT_TYPE_SEARCH
          - INPUT_TYPE_TEL
          - INPUT_TYPE_TIME
          - INPUT_TYPE_URL
          - INPUT_TYPE_WEEK
          - LOCAL_STORAGE
          - POST_MESSAGE
          - SESSION_STORAGE
          - SMIL
          - SVG_CLIP_PATHS
          - SVG_FE_IMAGE
          - SVG_FILTERS
          - SVG_HREF
          - TOUCH
          - VIDEO
          - WEBGL
          - WEB_SOCKETS
          - WEB_SQL_DATABASE
          - WEB_WORKERS
      creativeFieldAssignments?:
        type: array
        description: Creative field assignments for this creative. Applicable to all creative types.
        items: CreativeFieldAssignment
      kind?:
        type: string
        default: dfareporting#creative
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#creative".'
      active?:
        type: boolean
        description: Whether the creative is active. Applicable to all creative types.
      auto_advance_images?:
        type: boolean
        description: 'Whether images are automatically advanced for enhanced image
          creatives. Applicable to the following creative types: ENHANCED_IMAGE.'
      version?:
        type: integer
        format: int32
        description: The version number helps you keep track of multiple versions of your creative in your reports. The version number will always be auto-generated during insert operations to start at 1. For tracking creatives the version cannot be incremented and will always remain at 1. For all other creative types the version can be incremented only by 1 during update operations. In addition, the version will be automatically incremented by 1 when undergoing Rich Media creative merging. Applicable to all creative types.
      accountId?:
        type: integer
        format: int64
        description: Account ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types.
      backupImageTargetWindow?: TargetWindow
      size?: Size
      videoDescription?:
        type: string
        description: 'Description of the video ad. Applicable to the following creative
          types: all INSTREAM_VIDEO and all VPAID.'
      sslCompliant?:
        type: boolean
        description: Whether the creative is SSL-compliant. This is a read-only field. Applicable to all creative types.
      name?:
        type: string
        description: Name of the creative. This is a required field and must be less than 256 characters long. Applicable to all creative types.
      totalFileSize?:
        type: integer
        format: int64
        description: 'Combined size of all creative assets. This is a read-only field.
          Applicable to the following creative types: all RICH_MEDIA, and all VPAID.'
      overrideCss?:
        type: string
        description: 'Override CSS value for rich media creatives. Applicable to the
          following creative types: all RICH_MEDIA.'
      artworkType?:
        type: string
        description: 'Type of artwork used for the creative. This is a read-only field.
          Applicable to the following creative types: all RICH_MEDIA, and all VPAID.'
        enum:
        - ARTWORK_TYPE_FLASH
        - ARTWORK_TYPE_HTML5
        - ARTWORK_TYPE_IMAGE
        - ARTWORK_TYPE_MIXED
      compatibility?:
        type: array
        description: |-
          Compatibilities associated with this creative. This is a read-only field. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. Only pre-existing creatives may have these compatibilities since new creatives will either be assigned DISPLAY or DISPLAY_INTERSTITIAL instead. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard. Applicable to all creative types.

          Acceptable values are:
          - "APP"
          - "APP_INTERSTITIAL"
          - "IN_STREAM_VIDEO"
          - "DISPLAY"
          - "DISPLAY_INTERSTITIAL"
        items:
          type: string
          enum:
          - APP
          - APP_INTERSTITIAL
          - DISPLAY
          - DISPLAY_INTERSTITIAL
          - IN_STREAM_VIDEO
      convertFlashToHtml5?:
        type: boolean
        description: 'Whether Flash assets associated with the creative need to be
          automatically converted to HTML5. This flag is enabled by default and users
          can choose to disable it if they don''t want the system to generate and
          use HTML5 asset for this creative. Applicable to the following creative
          type: FLASH_INPAGE. Applicable to ENHANCED_BANNER when the primary asset
          type is not HTML_IMAGE.'
      renderingIdDimensionValue?: DimensionValue
      renderingId?:
        type: integer
        format: int64
        description: ID of current rendering version. This is a read-only field. Applicable to all creative types.
      allowScriptAccess?:
        type: boolean
        description: 'Whether script access is allowed for this creative. This is
          a read-only and deprecated field which will automatically be set to true
          on update. Applicable to the following creative types: FLASH_INPAGE.'
      companionCreatives?:
        type: array
        description: 'List of companion creatives assigned to an in-Stream videocreative.
          Acceptable values include IDs of existing flash and image creatives. Applicable
          to the following creative types: all INSTREAM_VIDEO and all VPAID.'
        items:
          type: integer
          format: int64
      adTagKeys?:
        type: array
        description: 'Keywords for a Rich Media creative. Keywords let you customize
          the creative settings of a Rich Media ad running on your site without having
          to contact the advertiser. You can use keywords to dynamically change the
          look or functionality of a creative. Applicable to the following creative
          types: all RICH_MEDIA, and all VPAID.'
        items:
          type: string
      archived?:
        type: boolean
        description: Whether the creative is archived. Applicable to all creative types.
      studioTraffickedCreativeId?:
        type: integer
        format: int64
        description: 'Studio trafficked creative ID associated with rich media and
          VPAID creatives. This is a read-only field. Applicable to the following
          creative types: all RICH_MEDIA, and all VPAID.'
      counterCustomEvents?:
        type: array
        description: 'List of counter events configured for the creative. For ENHANCED_IMAGE
          creatives, these are read-only and auto-generated from clickTags. Applicable
          to the following creative types: ENHANCED_IMAGE, all RICH_MEDIA, and all
          VPAID.'
        items: CreativeCustomEvent
      requiredFlashVersion?:
        type: integer
        format: int32
        description: 'The internal Flash version for this creative as calculated by
          DoubleClick Studio. This is a read-only field. Applicable to the following
          creative types: FLASH_INPAGE, all RICH_MEDIA, and all VPAID. Applicable
          to ENHANCED_BANNER when the primary asset type is not HTML_IMAGE.'
      creativeAssets?:
        type: array
        description: 'Assets associated with a creative. Applicable to all but the
          following creative types: INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT,
          and REDIRECT'
        items: CreativeAsset
      backupImageClickThroughUrl?:
        type: string
        description: 'Click-through URL for backup image. Applicable to the following
          creative types: FLASH_INPAGE, and HTML5_BANNER. Applicable to ENHANCED_BANNER
          when the primary asset type is not HTML_IMAGE.'
      thirdPartyUrls?:
        type: array
        description: 'Third-party URLs for tracking in-stream video creative events.
          Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID.'
        items: ThirdPartyTrackingUrl
      backgroundColor?:
        type: string
        description: 'The 6-character HTML color code, beginning with #, for the background
          of the window area where the Flash file is displayed. Default is white.
          Applicable to the following creative types: FLASH_INPAGE.'
      subaccountId?:
        type: integer
        format: int64
        description: Subaccount ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types.
      timerCustomEvents?:
        type: array
        description: 'List of timer events configured for the creative. For ENHANCED_IMAGE
          creatives, these are read-only and auto-generated from clickTags. Applicable
          to the following creative types: ENHANCED_IMAGE, all RICH_MEDIA, and all
          VPAID. Applicable to ENHANCED_BANNER when the primary asset is not HTML_IMAGE.'
        items: CreativeCustomEvent
      lastModifiedInfo?: LastModifiedInfo
      htmlCode?:
        type: string
        description: 'HTML code for the creative. This is a required field when applicable.
          This field is ignored if htmlCodeLocked is false. Applicable to the following
          creative types: all CUSTOM, FLASH_INPAGE, and HTML5_BANNER, and all RICH_MEDIA.'
      skippable?:
        type: boolean
        description: 'Whether the user can choose to skip the creative. Applicable
          to the following creative types: all INSTREAM_VIDEO and all VPAID.'
      advertiserId?:
        type: integer
        format: int64
        description: Advertiser ID of this creative. This is a required field. Applicable to all creative types.
      customKeyValues?:
        type: array
        description: 'Custom key-values for a Rich Media creative. Key-values let
          you customize the creative settings of a Rich Media ad running on your site
          without having to contact the advertiser. You can use key-values to dynamically
          change the look or functionality of a creative. Applicable to the following
          creative types: all RICH_MEDIA, and all VPAID.'
        items:
          type: string
      sslOverride?:
        type: boolean
        description: Whether creative should be treated as SSL compliant even if the system scan shows it's not. Applicable to all creative types.
      videoDuration?:
        type: number
        format: float
        description: 'Creative video duration in seconds. This is a read-only field.
          Applicable to the following creative types: INSTREAM_VIDEO, all RICH_MEDIA,
          and all VPAID.'
      fsCommand?: FsCommand
      thirdPartyRichMediaImpressionsUrl?:
        type: string
        description: 'Third-party URL used to record rich media impressions. Applicable
          to the following creative types: all RICH_MEDIA.'
      exitCustomEvents?:
        type: array
        description: 'List of exit events configured for the creative. For ENHANCED_BANNER
          and ENHANCED_IMAGE creatives, these are read-only and auto-generated from
          clickTags, For ENHANCED_BANNER, an event is also created from the backupImageReportingLabel.
          Applicable to the following creative types: ENHANCED_IMAGE, all RICH_MEDIA,
          and all VPAID. Applicable to ENHANCED_BANNER when the primary asset is not
          HTML_IMAGE.'
        items: CreativeCustomEvent
    description: Contains properties of a Creative.
  CreativeAsset:
    type: object
    properties:
      customStartTimeValue?:
        type: integer
        format: int32
        description: 'Custom start time in seconds for making the asset visible. Applicable
          to the following creative types: all RICH_MEDIA.'
      progressiveServingUrl?:
        type: string
        description: 'Progressive URL for video asset. This is a read-only field.
          Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.'
      role?:
        type: string
        description: |-
          Role of the asset in relation to creative. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT. This is a required field.
          PRIMARY applies to ENHANCED_BANNER, FLASH_INPAGE, HTML5_BANNER, IMAGE, IMAGE_GALLERY, all RICH_MEDIA (which may contain multiple primary assets), and all VPAID creatives.
          BACKUP_IMAGE applies to ENHANCED_BANNER, FLASH_INPAGE, HTML5_BANNER, all RICH_MEDIA, and all VPAID creatives.
          ADDITIONAL_IMAGE and ADDITIONAL_FLASH apply to FLASH_INPAGE creatives.
          OTHER refers to assets from sources other than DCM, such as Studio uploaded assets, applicable to all RICH_MEDIA and all VPAID creatives.
          PARENT_VIDEO refers to videos uploaded by the user in DCM and is applicable to INSTREAM_VIDEO and VPAID_LINEAR creatives.
          TRANSCODED_VIDEO refers to videos transcoded by DCM from PARENT_VIDEO assets and is applicable to INSTREAM_VIDEO and VPAID_LINEAR creatives.
          ALTERNATE_VIDEO refers to the DCM representation of child asset videos from Studio, and is applicable to VPAID_LINEAR_VIDEO creatives. These cannot be added or removed within DCM.
          For VPAID_LINEAR creatives, PARENT_VIDEO, TRANSCODED_VIDEO and ALTERNATE_VIDEO assets that are marked active serve as backup in case the VPAID creative cannot be served. Only PARENT_VIDEO assets can be added or removed for an INSTREAM_VIDEO or VPAID_LINEAR creative.
        enum:
        - ADDITIONAL_FLASH
        - ADDITIONAL_IMAGE
        - ALTERNATE_VIDEO
        - BACKUP_IMAGE
        - OTHER
        - PARENT_VIDEO
        - PRIMARY
        - TRANSCODED_VIDEO
      positionTopUnit?:
        type: string
        description: 'Offset top unit for an asset. This is a read-only field if the
          asset displayType is ASSET_DISPLAY_TYPE_OVERLAY. Applicable to the following
          creative types: all RICH_MEDIA.'
        enum:
        - OFFSET_UNIT_PERCENT
        - OFFSET_UNIT_PIXEL
        - OFFSET_UNIT_PIXEL_FROM_CENTER
      hideSelectionBoxes?:
        type: boolean
        description: 'Whether to hide selection boxes flag for an asset. Applicable
          to the following creative types: all RICH_MEDIA.'
      assetIdentifier?: CreativeAssetId
      mimeType?:
        type: string
        description: 'Detected MIME type for video asset. This is a read-only field.
          Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.'
      durationType?:
        type: string
        description: 'Duration type for which an asset will be displayed. Applicable
          to the following creative types: all RICH_MEDIA.'
        enum:
        - ASSET_DURATION_TYPE_AUTO
        - ASSET_DURATION_TYPE_CUSTOM
        - ASSET_DURATION_TYPE_NONE
      horizontallyLocked?:
        type: boolean
        description: 'Whether the asset is horizontally locked. This is a read-only
          field. Applicable to the following creative types: all RICH_MEDIA.'
      duration?:
        type: integer
        format: int32
        description: 'Duration in seconds for which an asset will be displayed. Applicable
          to the following creative types: INSTREAM_VIDEO and VPAID_LINEAR.'
      verticallyLocked?:
        type: boolean
        description: 'Whether the asset is vertically locked. This is a read-only
          field. Applicable to the following creative types: all RICH_MEDIA.'
      detectedFeatures?:
        type: array
        description: 'List of feature dependencies for the creative asset that are
          detected by DCM. Feature dependencies are features that a browser must be
          able to support in order to render your HTML5 creative correctly. This is
          a read-only, auto-generated field. Applicable to the following creative
          types: ENHANCED_BANNER and HTML5_BANNER.'
        items:
          type: string
          enum:
          - APPLICATION_CACHE
          - AUDIO
          - CANVAS
          - CANVAS_TEXT
          - CSS_ANIMATIONS
          - CSS_BACKGROUND_SIZE
          - CSS_BORDER_IMAGE
          - CSS_BORDER_RADIUS
          - CSS_BOX_SHADOW
          - CSS_COLUMNS
          - CSS_FLEX_BOX
          - CSS_FONT_FACE
          - CSS_GENERATED_CONTENT
          - CSS_GRADIENTS
          - CSS_HSLA
          - CSS_MULTIPLE_BGS
          - CSS_OPACITY
          - CSS_REFLECTIONS
          - CSS_RGBA
          - CSS_TEXT_SHADOW
          - CSS_TRANSFORMS
          - CSS_TRANSFORMS3D
          - CSS_TRANSITIONS
          - DRAG_AND_DROP
          - GEO_LOCATION
          - HASH_CHANGE
          - HISTORY
          - INDEXED_DB
          - INLINE_SVG
          - INPUT_ATTR_AUTOCOMPLETE
          - INPUT_ATTR_AUTOFOCUS
          - INPUT_ATTR_LIST
          - INPUT_ATTR_MAX
          - INPUT_ATTR_MIN
          - INPUT_ATTR_MULTIPLE
          - INPUT_ATTR_PATTERN
          - INPUT_ATTR_PLACEHOLDER
          - INPUT_ATTR_REQUIRED
          - INPUT_ATTR_STEP
          - INPUT_TYPE_COLOR
          - INPUT_TYPE_DATE
          - INPUT_TYPE_DATETIME
          - INPUT_TYPE_DATETIME_LOCAL
          - INPUT_TYPE_EMAIL
          - INPUT_TYPE_MONTH
          - INPUT_TYPE_NUMBER
          - INPUT_TYPE_RANGE
          - INPUT_TYPE_SEARCH
          - INPUT_TYPE_TEL
          - INPUT_TYPE_TIME
          - INPUT_TYPE_URL
          - INPUT_TYPE_WEEK
          - LOCAL_STORAGE
          - POST_MESSAGE
          - SESSION_STORAGE
          - SMIL
          - SVG_CLIP_PATHS
          - SVG_FE_IMAGE
          - SVG_FILTERS
          - SVG_HREF
          - TOUCH
          - VIDEO
          - WEBGL
          - WEB_SOCKETS
          - WEB_SQL_DATABASE
          - WEB_WORKERS
      positionLeftUnit?:
        type: string
        description: 'Offset left unit for an asset. This is a read-only field. Applicable
          to the following creative types: all RICH_MEDIA.'
        enum:
        - OFFSET_UNIT_PERCENT
        - OFFSET_UNIT_PIXEL
        - OFFSET_UNIT_PIXEL_FROM_CENTER
      zipFilename?:
        type: string
        description: 'File name of zip file. This is a read-only field. Applicable
          to the following creative types: HTML5_BANNER.'
      bitRate?:
        type: integer
        format: int32
        description: 'Detected bit-rate for video asset. This is a read-only field.
          Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.'
      backupImageExit?: CreativeCustomEvent
      expandedDimension?: Size
      id?:
        type: integer
        format: int64
        description: 'Numeric ID of this creative asset. This is a required field
          and should not be modified. Applicable to all but the following creative
          types: all REDIRECT and TRACKING_TEXT.'
      streamingServingUrl?:
        type: string
        description: 'Streaming URL for video asset. This is a read-only field. Applicable
          to the following creative types: INSTREAM_VIDEO and all VPAID.'
      pushdownDuration?:
        type: number
        format: float
        description: 'Pushdown duration in seconds for an asset. Must be between 0
          and 9.99. Applicable to the following creative types: all RICH_MEDIA.Additionally,
          only applicable when the asset pushdown field is true, the offsets are 0,
          the collapsedSize.width matches size.width, and the collapsedSize.height
          is less than size.height.'
      hideFlashObjects?:
        type: boolean
        description: 'Whether to hide Flash objects flag for an asset. Applicable
          to the following creative types: all RICH_MEDIA.'
      pushdown?:
        type: boolean
        description: 'Whether the asset pushes down other content. Applicable to the
          following creative types: all RICH_MEDIA. Additionally, only applicable
          when the asset offsets are 0, the collapsedSize.width matches size.width,
          and the collapsedSize.height is less than size.height.'
      zIndex?:
        type: integer
        format: int32
        description: 'zIndex value of an asset. This is a read-only field. Applicable
          to the following creative types: all RICH_MEDIA.Additionally, only applicable
          to assets whose displayType is NOT one of the following types: ASSET_DISPLAY_TYPE_INPAGE
          or ASSET_DISPLAY_TYPE_OVERLAY.'
      zipFilesize?:
        type: string
        description: 'Size of zip file. This is a read-only field. Applicable to the
          following creative types: HTML5_BANNER.'
      actionScript3?:
        type: boolean
        description: 'Whether ActionScript3 is enabled for the flash asset. This is
          a read-only field. Applicable to the following creative type: FLASH_INPAGE.
          Applicable to ENHANCED_BANNER when the primary asset type is not HTML_IMAGE.'
      offset?: OffsetPosition
      startTimeType?:
        type: string
        description: 'Initial wait time type before making the asset visible. Applicable
          to the following creative types: all RICH_MEDIA.'
        enum:
        - ASSET_START_TIME_TYPE_CUSTOM
        - ASSET_START_TIME_TYPE_NONE
      active?:
        type: boolean
        description: 'Whether the video asset is active. This is a read-only field
          for VPAID_NON_LINEAR assets. Applicable to the following creative types:
          INSTREAM_VIDEO and all VPAID.'
      childAssetType?:
        type: string
        description: 'Rich media child asset type. This is a read-only field. Applicable
          to the following creative types: all VPAID.'
        enum:
        - CHILD_ASSET_TYPE_DATA
        - CHILD_ASSET_TYPE_FLASH
        - CHILD_ASSET_TYPE_IMAGE
        - CHILD_ASSET_TYPE_VIDEO
      originalBackup?:
        type: boolean
        description: 'Whether the backup asset is original or changed by the user
          in DCM. Applicable to the following creative types: all RICH_MEDIA.'
      collapsedSize?: Size
      displayType?:
        type: string
        description: 'Type of rich media asset. This is a read-only field. Applicable
          to the following creative types: all RICH_MEDIA.'
        enum:
        - ASSET_DISPLAY_TYPE_BACKDROP
        - ASSET_DISPLAY_TYPE_EXPANDING
        - ASSET_DISPLAY_TYPE_FLASH_IN_FLASH
        - ASSET_DISPLAY_TYPE_FLASH_IN_FLASH_EXPANDING
        - ASSET_DISPLAY_TYPE_FLOATING
        - ASSET_DISPLAY_TYPE_INPAGE
        - ASSET_DISPLAY_TYPE_OVERLAY
        - ASSET_DISPLAY_TYPE_PEEL_DOWN
        - ASSET_DISPLAY_TYPE_VPAID_LINEAR
        - ASSET_DISPLAY_TYPE_VPAID_NON_LINEAR
      windowMode?:
        type: string
        description: 'Window mode options for flash assets. Applicable to the following
          creative types: FLASH_INPAGE, RICH_MEDIA_EXPANDING, RICH_MEDIA_IM_EXPAND,
          RICH_MEDIA_INPAGE, and RICH_MEDIA_INPAGE_FLOATING.'
        enum:
        - OPAQUE
        - TRANSPARENT
        - WINDOW
      videoDuration?:
        type: number
        format: float
        description: 'Detected video duration for video asset. This is a read-only
          field. Applicable to the following creative types: INSTREAM_VIDEO and all
          VPAID.'
      flashVersion?:
        type: integer
        format: int32
        description: 'Flash version of the asset. This is a read-only field. Applicable
          to the following creative types: FLASH_INPAGE, all RICH_MEDIA, and all VPAID.
          Applicable to ENHANCED_BANNER when the primary asset type is not HTML_IMAGE.'
      size?: Size
      fileSize?:
        type: integer
        format: int64
        description: 'File size associated with this creative asset. This is a read-only
          field. Applicable to all but the following creative types: all REDIRECT
          and TRACKING_TEXT.'
      sslCompliant?:
        type: boolean
        description: 'Whether the asset is SSL-compliant. This is a read-only field.
          Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.'
      transparency?:
        type: boolean
        description: 'Whether the asset is transparent. Applicable to the following
          creative types: all RICH_MEDIA. Additionally, only applicable to HTML5 assets.'
      position?: OffsetPosition
      alignment?:
        type: string
        description: 'Possible alignments for an asset. This is a read-only field.
          Applicable to the following creative types: RICH_MEDIA_MULTI_FLOATING.'
        enum:
        - ALIGNMENT_BOTTOM
        - ALIGNMENT_LEFT
        - ALIGNMENT_RIGHT
        - ALIGNMENT_TOP
      artworkType?:
        type: string
        description: 'Artwork type of rich media creative. This is a read-only field.
          Applicable to the following creative types: all RICH_MEDIA.'
        enum:
        - ARTWORK_TYPE_FLASH
        - ARTWORK_TYPE_HTML5
        - ARTWORK_TYPE_IMAGE
        - ARTWORK_TYPE_MIXED
    description: Creative Asset.
  CreativeAssetId:
    type: object
    properties:
      name?:
        type: string
        description: 'Name of the creative asset. This is a required field while inserting
          an asset. After insertion, this assetIdentifier is used to identify the
          uploaded asset. Characters in the name must be alphanumeric or one of the
          following: ".-_ ". Spaces are allowed.'
      type?:
        type: string
        description: Type of asset to upload. This is a required field. IMAGE is solely used for IMAGE creatives. Other image assets should use HTML_IMAGE.
        enum:
        - FLASH
        - HTML
        - HTML_IMAGE
        - IMAGE
        - VIDEO
    description: Creative Asset ID.
  CreativeAssetMetadata:
    type: object
    properties:
      detectedFeatures?:
        type: array
        description: List of feature dependencies for the creative asset that are detected by DCM. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field.
        items:
          type: string
          enum:
          - APPLICATION_CACHE
          - AUDIO
          - CANVAS
          - CANVAS_TEXT
          - CSS_ANIMATIONS
          - CSS_BACKGROUND_SIZE
          - CSS_BORDER_IMAGE
          - CSS_BORDER_RADIUS
          - CSS_BOX_SHADOW
          - CSS_COLUMNS
          - CSS_FLEX_BOX
          - CSS_FONT_FACE
          - CSS_GENERATED_CONTENT
          - CSS_GRADIENTS
          - CSS_HSLA
          - CSS_MULTIPLE_BGS
          - CSS_OPACITY
          - CSS_REFLECTIONS
          - CSS_RGBA
          - CSS_TEXT_SHADOW
          - CSS_TRANSFORMS
          - CSS_TRANSFORMS3D
          - CSS_TRANSITIONS
          - DRAG_AND_DROP
          - GEO_LOCATION
          - HASH_CHANGE
          - HISTORY
          - INDEXED_DB
          - INLINE_SVG
          - INPUT_ATTR_AUTOCOMPLETE
          - INPUT_ATTR_AUTOFOCUS
          - INPUT_ATTR_LIST
          - INPUT_ATTR_MAX
          - INPUT_ATTR_MIN
          - INPUT_ATTR_MULTIPLE
          - INPUT_ATTR_PATTERN
          - INPUT_ATTR_PLACEHOLDER
          - INPUT_ATTR_REQUIRED
          - INPUT_ATTR_STEP
          - INPUT_TYPE_COLOR
          - INPUT_TYPE_DATE
          - INPUT_TYPE_DATETIME
          - INPUT_TYPE_DATETIME_LOCAL
          - INPUT_TYPE_EMAIL
          - INPUT_TYPE_MONTH
          - INPUT_TYPE_NUMBER
          - INPUT_TYPE_RANGE
          - INPUT_TYPE_SEARCH
          - INPUT_TYPE_TEL
          - INPUT_TYPE_TIME
          - INPUT_TYPE_URL
          - INPUT_TYPE_WEEK
          - LOCAL_STORAGE
          - POST_MESSAGE
          - SESSION_STORAGE
          - SMIL
          - SVG_CLIP_PATHS
          - SVG_FE_IMAGE
          - SVG_FILTERS
          - SVG_HREF
          - TOUCH
          - VIDEO
          - WEBGL
          - WEB_SOCKETS
          - WEB_SQL_DATABASE
          - WEB_WORKERS
      kind?:
        type: string
        default: dfareporting#creativeAssetMetadata
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#creativeAssetMetadata".'
      assetIdentifier?: CreativeAssetId
      clickTags?:
        type: array
        description: List of detected click tags for assets. This is a read-only auto-generated field.
        items: ClickTag
      warnedValidationRules?:
        type: array
        description: |-
          Rules validated during code generation that generated a warning. This is a read-only, auto-generated field.

          Possible values are:
          - "ADMOB_REFERENCED"
          - "ASSET_FORMAT_UNSUPPORTED_DCM"
          - "ASSET_INVALID"
          - "CLICK_TAG_HARD_CODED"
          - "CLICK_TAG_INVALID"
          - "CLICK_TAG_IN_GWD"
          - "CLICK_TAG_MISSING"
          - "CLICK_TAG_MORE_THAN_ONE"
          - "CLICK_TAG_NON_TOP_LEVEL"
          - "COMPONENT_UNSUPPORTED_DCM"
          - "ENABLER_UNSUPPORTED_METHOD_DCM"
          - "EXTERNAL_FILE_REFERENCED"
          - "FILE_DETAIL_EMPTY"
          - "FILE_TYPE_INVALID"
          - "GWD_PROPERTIES_INVALID"
          - "HTML5_FEATURE_UNSUPPORTED"
          - "LINKED_FILE_NOT_FOUND"
          - "MAX_FLASH_VERSION_11"
          - "MRAID_REFERENCED"
          - "NOT_SSL_COMPLIANT"
          - "ORPHANED_ASSET"
          - "PRIMARY_HTML_MISSING"
          - "SVG_INVALID"
          - "ZIP_INVALID"
        items:
          type: string
          enum:
          - ADMOB_REFERENCED
          - ASSET_FORMAT_UNSUPPORTED_DCM
          - ASSET_INVALID
          - CLICK_TAG_HARD_CODED
          - CLICK_TAG_INVALID
          - CLICK_TAG_IN_GWD
          - CLICK_TAG_MISSING
          - CLICK_TAG_MORE_THAN_ONE
          - CLICK_TAG_NON_TOP_LEVEL
          - COMPONENT_UNSUPPORTED_DCM
          - ENABLER_UNSUPPORTED_METHOD_DCM
          - EXTERNAL_FILE_REFERENCED
          - FILE_DETAIL_EMPTY
          - FILE_TYPE_INVALID
          - GWD_PROPERTIES_INVALID
          - HTML5_FEATURE_UNSUPPORTED
          - LINKED_FILE_NOT_FOUND
          - MAX_FLASH_VERSION_11
          - MRAID_REFERENCED
          - NOT_SSL_COMPLIANT
          - ORPHANED_ASSET
          - PRIMARY_HTML_MISSING
          - SVG_INVALID
          - ZIP_INVALID
    description: CreativeAssets contains properties of a creative asset file which will be uploaded or has already been uploaded. Refer to the creative sample code for how to upload assets and insert a creative.
  CreativeAssignment:
    type: object
    properties:
      clickThroughUrl?: ClickThroughUrl
      active?:
        type: boolean
        description: Whether this creative assignment is active. When true, the creative will be included in the ad's rotation.
      creativeGroupAssignments?:
        type: array
        description: Creative group assignments for this creative assignment. Only one assignment per creative group number is allowed for a maximum of two assignments.
        items: CreativeGroupAssignment
      richMediaExitOverrides?:
        type: array
        description: "Rich media exit overrides for this creative assignment.\nApplicable\
          \ when the creative type is any of the following: \n- RICH_MEDIA_INPAGE\n\
          - RICH_MEDIA_INPAGE_FLOATING\n- RICH_MEDIA_IM_EXPAND\n- RICH_MEDIA_EXPANDING\n\
          - RICH_MEDIA_INTERSTITIAL_FLOAT\n- RICH_MEDIA_MOBILE_IN_APP\n- RICH_MEDIA_MULTI_FLOATING\n\
          - RICH_MEDIA_PEEL_DOWN\n- ADVANCED_BANNER\n- VPAID_LINEAR\n- VPAID_NON_LINEAR"
        items: RichMediaExitOverride
      weight?:
        type: integer
        format: int32
        description: Weight of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_RANDOM.
      creativeId?:
        type: integer
        format: int64
        description: ID of the creative to be assigned. This is a required field.
      sequence?:
        type: integer
        format: int32
        description: Sequence number of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_SEQUENTIAL.
      applyEventTags?:
        type: boolean
        description: Whether applicable event tags should fire when this creative assignment is rendered. If this value is unset when the ad is inserted or updated, it will default to true for all creative types EXCEPT for INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO.
      sslCompliant?:
        type: boolean
        description: Whether the creative to be assigned is SSL-compliant. This is a read-only field that is auto-generated when the ad is inserted or updated.
      creativeIdDimensionValue?: DimensionValue
      startTime?:
        type: datetime
        description: Date and time that the assigned creative should start serving.
      endTime?:
        type: datetime
        description: Date and time that the assigned creative should stop serving. Must be later than the start time.
      companionCreativeOverrides?:
        type: array
        description: Companion creative overrides for this creative assignment. Applicable to video ads.
        items: CompanionClickThroughOverride
    description: Creative Assignment.
  CreativeCustomEvent:
    type: object
    properties:
      advertiserCustomEventId?:
        type: integer
        format: int64
        description: Unique ID of this event used by DDM Reporting and Data Transfer. This is a read-only field.
      advertiserCustomEventName?:
        type: string
        description: User-entered name for the event.
      exitUrl?:
        type: string
        description: Exit URL of the event. This field is used only for exit events.
      videoReportingId?:
        type: string
        description: Video reporting ID, used to differentiate multiple videos in a single creative. This is a read-only field.
      artworkLabel?:
        type: string
        description: Artwork label column, used to link events in DCM back to events in Studio. This is a required field and should not be modified after insertion.
      targetType?:
        type: string
        description: Target type used by the event.
        enum:
        - TARGET_BLANK
        - TARGET_PARENT
        - TARGET_POPUP
        - TARGET_SELF
        - TARGET_TOP
      advertiserCustomEventType?:
        type: string
        description: Type of the event. This is a read-only field.
        enum:
        - ADVERTISER_EVENT_COUNTER
        - ADVERTISER_EVENT_EXIT
        - ADVERTISER_EVENT_TIMER
      id?:
        type: integer
        format: int64
        description: ID of this event. This is a required field and should not be modified after insertion.
      artworkType?:
        type: string
        description: Artwork type used by the creative.This is a read-only field.
        enum:
        - ARTWORK_TYPE_FLASH
        - ARTWORK_TYPE_HTML5
        - ARTWORK_TYPE_IMAGE
        - ARTWORK_TYPE_MIXED
      popupWindowProperties?: PopupWindowProperties
    description: Creative Custom Event.
  CreativeField:
    type: object
    properties:
      accountId?:
        type: integer
        format: int64
        description: Account ID of this creative field. This is a read-only field that can be left blank.
      subaccountId?:
        type: integer
        format: int64
        description: Subaccount ID of this creative field. This is a read-only field that can be left blank.
      advertiserIdDimensionValue?: DimensionValue
      kind?:
        type: string
        default: dfareporting#creativeField
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#creativeField".'
      name?:
        type: string
        description: Name of this creative field. This is a required field and must be less than 256 characters long and unique among creative fields of the same advertiser.
      id?:
        type: integer
        format: int64
        description: ID of this creative field. This is a read-only, auto-generated field.
      advertiserId?:
        type: integer
        format: int64
        description: Advertiser ID of this creative field. This is a required field on insertion.
    description: Contains properties of a creative field.
  CreativeFieldAssignment:
    type: object
    properties:
      creativeFieldId?:
        type: integer
        format: int64
        description: ID of the creative field.
      creativeFieldValueId?:
        type: integer
        format: int64
        description: ID of the creative field value.
    description: Creative Field Assignment.
  CreativeFieldValue:
    type: object
    properties:
      kind?:
        type: string
        default: dfareporting#creativeFieldValue
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#creativeFieldValue".'
      id?:
        type: integer
        format: int64
        description: ID of this creative field value. This is a read-only, auto-generated field.
      value?:
        type: string
        description: Value of this creative field value. It needs to be less than 256 characters in length and unique per creative field.
    description: Contains properties of a creative field value.
  CreativeFieldValuesListResponse:
    type: object
    properties:
      kind?:
        type: string
        default: dfareporting#creativeFieldValuesListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#creativeFieldValuesListResponse".'
      nextPageToken?:
        type: string
        description: Pagination token to be used for the next list operation.
      creativeFieldValues?:
        type: array
        description: Creative field value collection.
        items: CreativeFieldValue
    description: Creative Field Value List Response
  CreativeFieldsListResponse:
    type: object
    properties:
      kind?:
        type: string
        default: dfareporting#creativeFieldsListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "dfareporting#creativeFieldsListResponse".'
      nextPageToken?:
        type: string
        description: Pagination token to be used for the next list operation.
      creativeFields?:
        type: array
        description: Creative field collection.
        items: CreativeField
[...]
