#%RAML 1.0
title: DoubleClick Bid Manager API
version: v1
baseUri: https://www.googleapis.com/doubleclickbidmanager/v1/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/bid-manager/
  role: documentation
(commons.Icons):
- url: http://www.google.com/images/icons/product/search-32.gif
  name: x32
- url: http://www.google.com/images/icons/product/search-16.gif
  name: x16
(commons.Tags):
- limited_availability
(commons.Id): doubleclickbidmanager:v1
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      userIp?:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
types:
  DownloadLineItemsRequest:
    type: object
    properties:
      filterIds?:
        type: array
        description: Ids of the specified filter type used to filter line items to fetch. If omitted, all the line items will be returned.
        items:
          type: integer
          format: int64
      format?:
        type: string
        description: Format in which the line items will be returned. Default to CSV.
        enum:
        - CSV
      filterType?:
        type: string
        description: Filter type used to filter line items to fetch.
        enum:
        - ADVERTISER_ID
        - INSERTION_ORDER_ID
        - LINE_ITEM_ID
      fileSpec?:
        type: string
        description: File specification (column names, types, order) in which the line items will be returned. Default to EWF.
        enum:
        - EWF
        - SDF
    description: Request to fetch stored line items.
  DownloadLineItemsResponse:
    type: object
    properties:
      lineItems?:
        type: string
        description: Retrieved line items in CSV format. Refer to  Entity Write File Format or  Structured Data File Format for more information on file formats.
    description: Download line items response.
  DownloadRequest:
    type: object
    properties:
      filterIds?:
        type: array
        description: The IDs of the specified filter type. This is used to filter entities to fetch. At least one ID must be specified. Only one ID is allowed for the ADVERTISER_ID filter type. For INSERTION_ORDER_ID or LINE_ITEM_ID filter types all IDs must be from the same Advertiser.
        items:
          type: integer
          format: int64
      filterType?:
        type: string
        description: Filter type used to filter line items to fetch.
        enum:
        - ADVERTISER_ID
        - INSERTION_ORDER_ID
        - LINE_ITEM_ID
      version?:
        type: string
        description: SDF Version (column names, types, order) in which the entities will be returned. Default to 3.
      fileTypes?:
        type: array
        description: File types that will be returned.
        items:
          type: string
          enum:
          - AD
          - AD_GROUP
          - INSERTION_ORDER
          - LINE_ITEM
    description: Request to fetch stored insertion orders, line items, TrueView ad groups and ads.
  DownloadResponse:
    type: object
    properties:
      lineItems?:
        type: string
        description: Retrieved line items in SDF format.
      ads?:
        type: string
        description: Retrieved ads in SDF format.
      adGroups?:
        type: string
        description: Retrieved ad groups in SDF format.
      insertionOrders?:
        type: string
        description: Retrieved insertion orders in SDF format.
    description: Download response.
  FilterPair:
    type: object
    properties:
      type?:
        type: string
        description: Filter type.
        enum:
        - FILTER_ACTIVE_VIEW_EXPECTED_VIEWABILITY
        - FILTER_ACTIVITY_ID
        - FILTER_ADVERTISER
        - FILTER_ADVERTISER_CURRENCY
        - FILTER_ADVERTISER_TIMEZONE
        - FILTER_AD_POSITION
        - FILTER_AGE
        - FILTER_BRANDSAFE_CHANNEL_ID
        - FILTER_BROWSER
        - FILTER_CAMPAIGN_DAILY_FREQUENCY
        - FILTER_CARRIER
        - FILTER_CHANNEL_ID
        - FILTER_CITY
        - FILTER_CONVERSION_DELAY
        - FILTER_COUNTRY
        - FILTER_CREATIVE_HEIGHT
        - FILTER_CREATIVE_ID
        - FILTER_CREATIVE_SIZE
        - FILTER_CREATIVE_TYPE
        - FILTER_CREATIVE_WIDTH
        - FILTER_DATA_PROVIDER
        - FILTER_DATE
        - FILTER_DAY_OF_WEEK
        - FILTER_DFP_ORDER_ID
        - FILTER_DMA
        - FILTER_EXCHANGE_ID
        - FILTER_FLOODLIGHT_PIXEL_ID
        - FILTER_GENDER
        - FILTER_INSERTION_ORDER
        - FILTER_INVENTORY_FORMAT
        - FILTER_INVENTORY_SOURCE
        - FILTER_INVENTORY_SOURCE_TYPE
        - FILTER_KEYWORD
        - FILTER_LINE_ITEM
        - FILTER_LINE_ITEM_DAILY_FREQUENCY
        - FILTER_LINE_ITEM_LIFETIME_FREQUENCY
        - FILTER_LINE_ITEM_TYPE
        - FILTER_MEDIA_PLAN
        - FILTER_MOBILE_DEVICE_MAKE
        - FILTER_MOBILE_DEVICE_MAKE_MODEL
        - FILTER_MOBILE_DEVICE_TYPE
        - FILTER_MOBILE_GEO
        - FILTER_MONTH
        - FILTER_MRAID_SUPPORT
        - FILTER_NIELSEN_AGE
        - FILTER_NIELSEN_COUNTRY_CODE
        - FILTER_NIELSEN_DEVICE_ID
        - FILTER_NIELSEN_GENDER
        - FILTER_NOT_SUPPORTED
        - FILTER_ORDER_ID
        - FILTER_OS
        - FILTER_PAGE_CATEGORY
        - FILTER_PAGE_LAYOUT
        - FILTER_PARTNER
        - FILTER_PARTNER_CURRENCY
        - FILTER_PUBLIC_INVENTORY
        - FILTER_QUARTER
        - FILTER_REGION
        - FILTER_REGULAR_CHANNEL_ID
        - FILTER_SITE_ID
        - FILTER_SITE_LANGUAGE
        - FILTER_TARGETED_USER_LIST
        - FILTER_TIME_OF_DAY
        - FILTER_TRUEVIEW_AD_GROUP_AD_ID
        - FILTER_TRUEVIEW_AD_GROUP_ID
        - FILTER_TRUEVIEW_AGE
        - FILTER_TRUEVIEW_CATEGORY
        - FILTER_TRUEVIEW_CITY
        - FILTER_TRUEVIEW_CONVERSION_TYPE
        - FILTER_TRUEVIEW_COUNTRY
        - FILTER_TRUEVIEW_CUSTOM_AFFINITY
        - FILTER_TRUEVIEW_DMA
        - FILTER_TRUEVIEW_GENDER
        - FILTER_TRUEVIEW_IAR_AGE
        - FILTER_TRUEVIEW_IAR_CATEGORY
        - FILTER_TRUEVIEW_IAR_CITY
        - FILTER_TRUEVIEW_IAR_COUNTRY
        - FILTER_TRUEVIEW_IAR_GENDER
        - FILTER_TRUEVIEW_IAR_INTEREST
        - FILTER_TRUEVIEW_IAR_LANGUAGE
        - FILTER_TRUEVIEW_IAR_PARENTAL_STATUS
        - FILTER_TRUEVIEW_IAR_REGION
        - FILTER_TRUEVIEW_IAR_REMARKETING_LIST
        - FILTER_TRUEVIEW_IAR_TIME_OF_DAY
        - FILTER_TRUEVIEW_IAR_YOUTUBE_CHANNEL
        - FILTER_TRUEVIEW_IAR_YOUTUBE_VIDEO
        - FILTER_TRUEVIEW_IAR_ZIPCODE
        - FILTER_TRUEVIEW_INTEREST
        - FILTER_TRUEVIEW_KEYWORD
        - FILTER_TRUEVIEW_PARENTAL_STATUS
        - FILTER_TRUEVIEW_PLACEMENT
        - FILTER_TRUEVIEW_REGION
        - FILTER_TRUEVIEW_REMARKETING_LIST
        - FILTER_TRUEVIEW_URL
        - FILTER_TRUEVIEW_ZIPCODE
        - FILTER_UNKNOWN
        - FILTER_USER_LIST
        - FILTER_USER_LIST_FIRST_PARTY
        - FILTER_USER_LIST_THIRD_PARTY
        - FILTER_VIDEO_AD_POSITION_IN_STREAM
        - FILTER_VIDEO_COMPANION_SIZE
        - FILTER_VIDEO_COMPANION_TYPE
        - FILTER_VIDEO_CREATIVE_DURATION
        - FILTER_VIDEO_CREATIVE_DURATION_SKIPPABLE
        - FILTER_VIDEO_DURATION_SECONDS
        - FILTER_VIDEO_FORMAT_SUPPORT
        - FILTER_VIDEO_INVENTORY_TYPE
        - FILTER_VIDEO_PLAYER_SIZE
        - FILTER_VIDEO_RATING_TIER
        - FILTER_VIDEO_SKIPPABLE_SUPPORT
        - FILTER_VIDEO_VPAID_SUPPORT
        - FILTER_WEEK
        - FILTER_YEAR
        - FILTER_YOUTUBE_VERTICAL
        - FILTER_ZIP_CODE
      value?:
        type: string
        description: Filter value.
    description: Filter used to match traffic data in your report.
  ListQueriesResponse:
    type: object
    properties:
      kind?:
        type: string
        default: doubleclickbidmanager#listQueriesResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "doubleclickbidmanager#listQueriesResponse".'
      queries?:
        type: array
        description: Retrieved queries.
        items: Query
    description: List queries response.
  ListReportsResponse:
    type: object
    properties:
      reports?:
        type: array
        description: Retrieved reports.
        items: Report
      kind?:
        type: string
        default: doubleclickbidmanager#listReportsResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "doubleclickbidmanager#listReportsResponse".'
    description: List reports response.
  Parameters:
    type: object
    properties:
      includeInviteData?:
        type: boolean
        description: Whether to include data from Invite Media.
      groupBys?:
        type: array
        description: Data is grouped by the filters listed in this field.
        items:
          type: string
          enum:
          - FILTER_ACTIVE_VIEW_EXPECTED_VIEWABILITY
          - FILTER_ACTIVITY_ID
          - FILTER_ADVERTISER
          - FILTER_ADVERTISER_CURRENCY
          - FILTER_ADVERTISER_TIMEZONE
          - FILTER_AD_POSITION
          - FILTER_AGE
          - FILTER_BRANDSAFE_CHANNEL_ID
          - FILTER_BROWSER
          - FILTER_CAMPAIGN_DAILY_FREQUENCY
          - FILTER_CARRIER
          - FILTER_CHANNEL_ID
          - FILTER_CITY
          - FILTER_CONVERSION_DELAY
          - FILTER_COUNTRY
          - FILTER_CREATIVE_HEIGHT
          - FILTER_CREATIVE_ID
          - FILTER_CREATIVE_SIZE
          - FILTER_CREATIVE_TYPE
          - FILTER_CREATIVE_WIDTH
          - FILTER_DATA_PROVIDER
          - FILTER_DATE
          - FILTER_DAY_OF_WEEK
          - FILTER_DFP_ORDER_ID
          - FILTER_DMA
          - FILTER_EXCHANGE_ID
          - FILTER_FLOODLIGHT_PIXEL_ID
          - FILTER_GENDER
          - FILTER_INSERTION_ORDER
          - FILTER_INVENTORY_FORMAT
          - FILTER_INVENTORY_SOURCE
          - FILTER_INVENTORY_SOURCE_TYPE
          - FILTER_KEYWORD
          - FILTER_LINE_ITEM
          - FILTER_LINE_ITEM_DAILY_FREQUENCY
          - FILTER_LINE_ITEM_LIFETIME_FREQUENCY
          - FILTER_LINE_ITEM_TYPE
          - FILTER_MEDIA_PLAN
          - FILTER_MOBILE_DEVICE_MAKE
          - FILTER_MOBILE_DEVICE_MAKE_MODEL
          - FILTER_MOBILE_DEVICE_TYPE
          - FILTER_MOBILE_GEO
          - FILTER_MONTH
          - FILTER_MRAID_SUPPORT
          - FILTER_NIELSEN_AGE
          - FILTER_NIELSEN_COUNTRY_CODE
          - FILTER_NIELSEN_DEVICE_ID
          - FILTER_NIELSEN_GENDER
          - FILTER_NOT_SUPPORTED
          - FILTER_ORDER_ID
          - FILTER_OS
          - FILTER_PAGE_CATEGORY
          - FILTER_PAGE_LAYOUT
          - FILTER_PARTNER
          - FILTER_PARTNER_CURRENCY
          - FILTER_PUBLIC_INVENTORY
          - FILTER_QUARTER
          - FILTER_REGION
          - FILTER_REGULAR_CHANNEL_ID
          - FILTER_SITE_ID
          - FILTER_SITE_LANGUAGE
          - FILTER_TARGETED_USER_LIST
          - FILTER_TIME_OF_DAY
          - FILTER_TRUEVIEW_AD_GROUP_AD_ID
          - FILTER_TRUEVIEW_AD_GROUP_ID
          - FILTER_TRUEVIEW_AGE
          - FILTER_TRUEVIEW_CATEGORY
          - FILTER_TRUEVIEW_CITY
          - FILTER_TRUEVIEW_CONVERSION_TYPE
          - FILTER_TRUEVIEW_COUNTRY
          - FILTER_TRUEVIEW_CUSTOM_AFFINITY
          - FILTER_TRUEVIEW_DMA
          - FILTER_TRUEVIEW_GENDER
          - FILTER_TRUEVIEW_IAR_AGE
          - FILTER_TRUEVIEW_IAR_CATEGORY
          - FILTER_TRUEVIEW_IAR_CITY
          - FILTER_TRUEVIEW_IAR_COUNTRY
          - FILTER_TRUEVIEW_IAR_GENDER
          - FILTER_TRUEVIEW_IAR_INTEREST
          - FILTER_TRUEVIEW_IAR_LANGUAGE
          - FILTER_TRUEVIEW_IAR_PARENTAL_STATUS
          - FILTER_TRUEVIEW_IAR_REGION
          - FILTER_TRUEVIEW_IAR_REMARKETING_LIST
          - FILTER_TRUEVIEW_IAR_TIME_OF_DAY
          - FILTER_TRUEVIEW_IAR_YOUTUBE_CHANNEL
          - FILTER_TRUEVIEW_IAR_YOUTUBE_VIDEO
          - FILTER_TRUEVIEW_IAR_ZIPCODE
          - FILTER_TRUEVIEW_INTEREST
          - FILTER_TRUEVIEW_KEYWORD
          - FILTER_TRUEVIEW_PARENTAL_STATUS
          - FILTER_TRUEVIEW_PLACEMENT
          - FILTER_TRUEVIEW_REGION
          - FILTER_TRUEVIEW_REMARKETING_LIST
          - FILTER_TRUEVIEW_URL
          - FILTER_TRUEVIEW_ZIPCODE
          - FILTER_UNKNOWN
          - FILTER_USER_LIST
          - FILTER_USER_LIST_FIRST_PARTY
          - FILTER_USER_LIST_THIRD_PARTY
          - FILTER_VIDEO_AD_POSITION_IN_STREAM
          - FILTER_VIDEO_COMPANION_SIZE
          - FILTER_VIDEO_COMPANION_TYPE
          - FILTER_VIDEO_CREATIVE_DURATION
          - FILTER_VIDEO_CREATIVE_DURATION_SKIPPABLE
          - FILTER_VIDEO_DURATION_SECONDS
          - FILTER_VIDEO_FORMAT_SUPPORT
          - FILTER_VIDEO_INVENTORY_TYPE
          - FILTER_VIDEO_PLAYER_SIZE
          - FILTER_VIDEO_RATING_TIER
          - FILTER_VIDEO_SKIPPABLE_SUPPORT
          - FILTER_VIDEO_VPAID_SUPPORT
          - FILTER_WEEK
          - FILTER_YEAR
          - FILTER_YOUTUBE_VERTICAL
          - FILTER_ZIP_CODE
      filters?:
        type: array
        description: Filters used to match traffic data in your report.
        items: FilterPair
      metrics?:
        type: array
        description: Metrics to include as columns in your report.
        items:
          type: string
          enum:
          - METRIC_ACTIVE_VIEW_AVERAGE_VIEWABLE_TIME
          - METRIC_ACTIVE_VIEW_DISTRIBUTION_UNMEASURABLE
          - METRIC_ACTIVE_VIEW_DISTRIBUTION_UNVIEWABLE
          - METRIC_ACTIVE_VIEW_DISTRIBUTION_VIEWABLE
          - METRIC_ACTIVE_VIEW_ELIGIBLE_IMPRESSIONS
          - METRIC_ACTIVE_VIEW_MEASURABLE_IMPRESSIONS
          - METRIC_ACTIVE_VIEW_PCT_MEASURABLE_IMPRESSIONS
          - METRIC_ACTIVE_VIEW_PCT_VIEWABLE_IMPRESSIONS
          - METRIC_ACTIVE_VIEW_UNMEASURABLE_IMPRESSIONS
          - METRIC_ACTIVE_VIEW_UNVIEWABLE_IMPRESSIONS
          - METRIC_ACTIVE_VIEW_VIEWABLE_IMPRESSIONS
          - METRIC_BID_REQUESTS
          - METRIC_BILLABLE_COST_ADVERTISER
          - METRIC_BILLABLE_COST_PARTNER
          - METRIC_BILLABLE_COST_USD
          - METRIC_CLICKS
          - METRIC_CLICK_TO_POST_CLICK_CONVERSION_RATE
          - METRIC_COMSCORE_VCE_AUDIENCE_AVG_FREQUENCY
          - METRIC_COMSCORE_VCE_AUDIENCE_IMPRESSIONS
          - METRIC_COMSCORE_VCE_AUDIENCE_IMPRESSIONS_SHARE
          - METRIC_COMSCORE_VCE_AUDIENCE_REACH_PCT
          - METRIC_COMSCORE_VCE_AUDIENCE_SHARE_PCT
          - METRIC_COMSCORE_VCE_GROSS_RATING_POINTS
          - METRIC_COMSCORE_VCE_POPULATION
          - METRIC_COMSCORE_VCE_UNIQUE_AUDIENCE
          - METRIC_CONVERSIONS_PER_MILLE
          - METRIC_CPM_FEE1_ADVERTISER
          - METRIC_CPM_FEE1_PARTNER
          - METRIC_CPM_FEE1_USD
          - METRIC_CPM_FEE2_ADVERTISER
          - METRIC_CPM_FEE2_PARTNER
          - METRIC_CPM_FEE2_USD
          - METRIC_CPM_FEE3_ADVERTISER
          - METRIC_CPM_FEE3_PARTNER
          - METRIC_CPM_FEE3_USD
          - METRIC_CPM_FEE4_ADVERTISER
          - METRIC_CPM_FEE4_PARTNER
          - METRIC_CPM_FEE4_USD
          - METRIC_CPM_FEE5_ADVERTISER
          - METRIC_CPM_FEE5_PARTNER
          - METRIC_CPM_FEE5_USD
          - METRIC_CTR
          - METRIC_DATA_COST_ADVERTISER
          - METRIC_DATA_COST_PARTNER
          - METRIC_DATA_COST_USD
          - METRIC_FEE10_ADVERTISER
          - METRIC_FEE10_PARTNER
          - METRIC_FEE10_USD
          - METRIC_FEE11_ADVERTISER
          - METRIC_FEE11_PARTNER
          - METRIC_FEE11_USD
          - METRIC_FEE12_ADVERTISER
          - METRIC_FEE12_PARTNER
          - METRIC_FEE12_USD
          - METRIC_FEE13_ADVERTISER
          - METRIC_FEE13_PARTNER
          - METRIC_FEE13_USD
          - METRIC_FEE14_ADVERTISER
          - METRIC_FEE14_PARTNER
          - METRIC_FEE14_USD
          - METRIC_FEE15_ADVERTISER
          - METRIC_FEE15_PARTNER
          - METRIC_FEE15_USD
          - METRIC_FEE16_ADVERTISER
          - METRIC_FEE16_PARTNER
          - METRIC_FEE16_USD
          - METRIC_FEE17_ADVERTISER
          - METRIC_FEE17_PARTNER
          - METRIC_FEE17_USD
          - METRIC_FEE18_ADVERTISER
          - METRIC_FEE18_PARTNER
          - METRIC_FEE18_USD
          - METRIC_FEE19_ADVERTISER
          - METRIC_FEE19_PARTNER
          - METRIC_FEE19_USD
          - METRIC_FEE20_ADVERTISER
          - METRIC_FEE20_PARTNER
          - METRIC_FEE20_USD
          - METRIC_FEE21_ADVERTISER
          - METRIC_FEE21_PARTNER
          - METRIC_FEE21_USD
          - METRIC_FEE22_ADVERTISER
          - METRIC_FEE22_PARTNER
          - METRIC_FEE22_USD
          - METRIC_FEE2_ADVERTISER
          - METRIC_FEE2_PARTNER
          - METRIC_FEE2_USD
          - METRIC_FEE3_ADVERTISER
          - METRIC_FEE3_PARTNER
          - METRIC_FEE3_USD
          - METRIC_FEE4_ADVERTISER
          - METRIC_FEE4_PARTNER
          - METRIC_FEE4_USD
          - METRIC_FEE5_ADVERTISER
          - METRIC_FEE5_PARTNER
          - METRIC_FEE5_USD
          - METRIC_FEE6_ADVERTISER
          - METRIC_FEE6_PARTNER
          - METRIC_FEE6_USD
          - METRIC_FEE7_ADVERTISER
          - METRIC_FEE7_PARTNER
          - METRIC_FEE7_USD
          - METRIC_FEE8_ADVERTISER
          - METRIC_FEE8_PARTNER
          - METRIC_FEE8_USD
          - METRIC_FEE9_ADVERTISER
          - METRIC_FEE9_PARTNER
          - METRIC_FEE9_USD
          - METRIC_IMPRESSIONS
          - METRIC_IMPRESSIONS_TO_CONVERSION_RATE
          - METRIC_LAST_CLICKS
          - METRIC_LAST_IMPRESSIONS
          - METRIC_MEDIA_COST_ADVERTISER
          - METRIC_MEDIA_COST_ECPAPC_ADVERTISER
          - METRIC_MEDIA_COST_ECPAPC_PARTNER
          - METRIC_MEDIA_COST_ECPAPC_USD
          - METRIC_MEDIA_COST_ECPAPV_ADVERTISER
          - METRIC_MEDIA_COST_ECPAPV_PARTNER
          - METRIC_MEDIA_COST_ECPAPV_USD
          - METRIC_MEDIA_COST_ECPA_ADVERTISER
          - METRIC_MEDIA_COST_ECPA_PARTNER
          - METRIC_MEDIA_COST_ECPA_USD
          - METRIC_MEDIA_COST_ECPCV_ADVERTISER
          - METRIC_MEDIA_COST_ECPCV_PARTNER
          - METRIC_MEDIA_COST_ECPCV_USD
          - METRIC_MEDIA_COST_ECPC_ADVERTISER
          - METRIC_MEDIA_COST_ECPC_PARTNER
          - METRIC_MEDIA_COST_ECPC_USD
          - METRIC_MEDIA_COST_ECPM_ADVERTISER
          - METRIC_MEDIA_COST_ECPM_PARTNER
          - METRIC_MEDIA_COST_ECPM_USD
          - METRIC_MEDIA_COST_PARTNER
          - METRIC_MEDIA_COST_USD
          - METRIC_MEDIA_COST_VIEWABLE_ECPM_ADVERTISER
          - METRIC_MEDIA_COST_VIEWABLE_ECPM_PARTNER
          - METRIC_MEDIA_COST_VIEWABLE_ECPM_USD
          - METRIC_MEDIA_FEE1_ADVERTISER
          - METRIC_MEDIA_FEE1_PARTNER
          - METRIC_MEDIA_FEE1_USD
          - METRIC_MEDIA_FEE2_ADVERTISER
          - METRIC_MEDIA_FEE2_PARTNER
          - METRIC_MEDIA_FEE2_USD
          - METRIC_MEDIA_FEE3_ADVERTISER
          - METRIC_MEDIA_FEE3_PARTNER
          - METRIC_MEDIA_FEE3_USD
          - METRIC_MEDIA_FEE4_ADVERTISER
          - METRIC_MEDIA_FEE4_PARTNER
          - METRIC_MEDIA_FEE4_USD
          - METRIC_MEDIA_FEE5_ADVERTISER
          - METRIC_MEDIA_FEE5_PARTNER
          - METRIC_MEDIA_FEE5_USD
          - METRIC_PIXEL_LOADS
          - METRIC_PLATFORM_FEE_ADVERTISER
          - METRIC_PLATFORM_FEE_PARTNER
          - METRIC_PLATFORM_FEE_USD
          - METRIC_POST_CLICK_DFA_REVENUE
          - METRIC_POST_VIEW_DFA_REVENUE
          - METRIC_PROFIT_ADVERTISER
          - METRIC_PROFIT_ECPAPC_ADVERTISER
          - METRIC_PROFIT_ECPAPC_PARTNER
          - METRIC_PROFIT_ECPAPC_USD
          - METRIC_PROFIT_ECPAPV_ADVERTISER
          - METRIC_PROFIT_ECPAPV_PARTNER
          - METRIC_PROFIT_ECPAPV_USD
          - METRIC_PROFIT_ECPA_ADVERTISER
          - METRIC_PROFIT_ECPA_PARTNER
          - METRIC_PROFIT_ECPA_USD
          - METRIC_PROFIT_ECPC_ADVERTISER
          - METRIC_PROFIT_ECPC_PARTNER
          - METRIC_PROFIT_ECPC_USD
          - METRIC_PROFIT_ECPM_ADVERTISER
          - METRIC_PROFIT_ECPM_PARTNER
          - METRIC_PROFIT_ECPM_USD
          - METRIC_PROFIT_MARGIN
          - METRIC_PROFIT_PARTNER
          - METRIC_PROFIT_USD
          - METRIC_PROFIT_VIEWABLE_ECPM_ADVERTISER
          - METRIC_PROFIT_VIEWABLE_ECPM_PARTNER
          - METRIC_PROFIT_VIEWABLE_ECPM_USD
          - METRIC_REACH_COOKIE_REACH
          - METRIC_REVENUE_ADVERTISER
          - METRIC_REVENUE_ECPAPC_ADVERTISER
          - METRIC_REVENUE_ECPAPC_PARTNER
          - METRIC_REVENUE_ECPAPC_USD
          - METRIC_REVENUE_ECPAPV_ADVERTISER
          - METRIC_REVENUE_ECPAPV_PARTNER
          - METRIC_REVENUE_ECPAPV_USD
          - METRIC_REVENUE_ECPA_ADVERTISER
          - METRIC_REVENUE_ECPA_PARTNER
          - METRIC_REVENUE_ECPA_USD
          - METRIC_REVENUE_ECPCV_ADVERTISER
          - METRIC_REVENUE_ECPCV_PARTNER
          - METRIC_REVENUE_ECPCV_USD
          - METRIC_REVENUE_ECPC_ADVERTISER
          - METRIC_REVENUE_ECPC_PARTNER
          - METRIC_REVENUE_ECPC_USD
          - METRIC_REVENUE_ECPM_ADVERTISER
          - METRIC_REVENUE_ECPM_PARTNER
          - METRIC_REVENUE_ECPM_USD
          - METRIC_REVENUE_PARTNER
          - METRIC_REVENUE_USD
          - METRIC_REVENUE_VIEWABLE_ECPM_ADVERTISER
          - METRIC_REVENUE_VIEWABLE_ECPM_PARTNER
          - METRIC_REVENUE_VIEWABLE_ECPM_USD
          - METRIC_RICH_MEDIA_VIDEO_COMPLETIONS
          - METRIC_RICH_MEDIA_VIDEO_FIRST_QUARTILE_COMPLETES
          - METRIC_RICH_MEDIA_VIDEO_FULL_SCREENS
          - METRIC_RICH_MEDIA_VIDEO_MIDPOINTS
          - METRIC_RICH_MEDIA_VIDEO_MUTES
          - METRIC_RICH_MEDIA_VIDEO_PAUSES
          - METRIC_RICH_MEDIA_VIDEO_PLAYS
          - METRIC_RICH_MEDIA_VIDEO_SKIPS
          - METRIC_RICH_MEDIA_VIDEO_THIRD_QUARTILE_COMPLETES
          - METRIC_TEA_TRUEVIEW_IMPRESSIONS
          - METRIC_TEA_TRUEVIEW_UNIQUE_COOKIES
          - METRIC_TEA_TRUEVIEW_UNIQUE_PEOPLE
          - METRIC_TOTAL_CONVERSIONS
          - METRIC_TOTAL_MEDIA_COST_ADVERTISER
          - METRIC_TOTAL_MEDIA_COST_ECPAPC_ADVERTISER
          - METRIC_TOTAL_MEDIA_COST_ECPAPC_PARTNER
          - METRIC_TOTAL_MEDIA_COST_ECPAPC_USD
          - METRIC_TOTAL_MEDIA_COST_ECPAPV_ADVERTISER
          - METRIC_TOTAL_MEDIA_COST_ECPAPV_PARTNER
          - METRIC_TOTAL_MEDIA_COST_ECPAPV_USD
          - METRIC_TOTAL_MEDIA_COST_ECPA_ADVERTISER
          - METRIC_TOTAL_MEDIA_COST_ECPA_PARTNER
          - METRIC_TOTAL_MEDIA_COST_ECPA_USD
          - METRIC_TOTAL_MEDIA_COST_ECPCV_ADVERTISER
          - METRIC_TOTAL_MEDIA_COST_ECPCV_PARTNER
          - METRIC_TOTAL_MEDIA_COST_ECPCV_USD
          - METRIC_TOTAL_MEDIA_COST_ECPC_ADVERTISER
          - METRIC_TOTAL_MEDIA_COST_ECPC_PARTNER
          - METRIC_TOTAL_MEDIA_COST_ECPC_USD
          - METRIC_TOTAL_MEDIA_COST_ECPM_ADVERTISER
          - METRIC_TOTAL_MEDIA_COST_ECPM_PARTNER
          - METRIC_TOTAL_MEDIA_COST_ECPM_USD
          - METRIC_TOTAL_MEDIA_COST_PARTNER
          - METRIC_TOTAL_MEDIA_COST_USD
          - METRIC_TOTAL_MEDIA_COST_VIEWABLE_ECPM_ADVERTISER
          - METRIC_TOTAL_MEDIA_COST_VIEWABLE_ECPM_PARTNER
          - METRIC_TOTAL_MEDIA_COST_VIEWABLE_ECPM_USD
          - METRIC_TRUEVIEW_AVERAGE_CPE_ADVERTISER
          - METRIC_TRUEVIEW_AVERAGE_CPE_PARTNER
          - METRIC_TRUEVIEW_AVERAGE_CPE_USD
          - METRIC_TRUEVIEW_CONVERSION_COST_MANY_PER_VIEW_ADVERTISER
          - METRIC_TRUEVIEW_CONVERSION_COST_MANY_PER_VIEW_PARTNER
          - METRIC_TRUEVIEW_CONVERSION_COST_MANY_PER_VIEW_USD
          - METRIC_TRUEVIEW_CONVERSION_COST_ONE_PER_VIEW_ADVERTISER
          - METRIC_TRUEVIEW_CONVERSION_COST_ONE_PER_VIEW_PARTNER
          - METRIC_TRUEVIEW_CONVERSION_COST_ONE_PER_VIEW_USD
          - METRIC_TRUEVIEW_CONVERSION_MANY_PER_VIEW
          - METRIC_TRUEVIEW_CONVERSION_ONE_PER_VIEW
          - METRIC_TRUEVIEW_CONVERSION_RATE_ONE_PER_VIEW
          - METRIC_TRUEVIEW_CONVERSION_VALUE_MANY_PER_VIEW_ADVERTISER
          - METRIC_TRUEVIEW_CONVERSION_VALUE_MANY_PER_VIEW_PARTNER
          - METRIC_TRUEVIEW_CONVERSION_VALUE_MANY_PER_VIEW_USD
          - METRIC_TRUEVIEW_CONVERSION_VALUE_ONE_PER_VIEW_ADVERTISER
          - METRIC_TRUEVIEW_CONVERSION_VALUE_ONE_PER_VIEW_PARTNER
          - METRIC_TRUEVIEW_CONVERSION_VALUE_ONE_PER_VIEW_USD
          - METRIC_TRUEVIEW_COST_CONVERSION_MANY_PER_VIEW_RATIO
          - METRIC_TRUEVIEW_COST_CONVERSION_ONE_PER_VIEW_RATIO
          - METRIC_TRUEVIEW_CPV_ADVERTISER
          - METRIC_TRUEVIEW_CPV_PARTNER
          - METRIC_TRUEVIEW_CPV_USD
          - METRIC_TRUEVIEW_EARNED_LIKES
          - METRIC_TRUEVIEW_EARNED_PLAYLIST_ADDITIONS
          - METRIC_TRUEVIEW_EARNED_SHARES
          - METRIC_TRUEVIEW_EARNED_SUBSCRIBERS
          - METRIC_TRUEVIEW_EARNED_VIEWS
          - METRIC_TRUEVIEW_ENGAGEMENTS
          - METRIC_TRUEVIEW_ENGAGEMENT_RATE
          - METRIC_TRUEVIEW_IMPRESSION_SHARE
          - METRIC_TRUEVIEW_LOST_IS_BUDGET
          - METRIC_TRUEVIEW_LOST_IS_RANK
          - METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUE
          - METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUES_ADVERTISER
          - METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUES_PARTNER
          - METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUES_USD
          - METRIC_TRUEVIEW_UNIQUE_VIEWERS
          - METRIC_TRUEVIEW_VALUE_CONVERSION_MANY_PER_VIEW_RATIO
          - METRIC_TRUEVIEW_VALUE_CONVERSION_ONE_PER_VIEW_RATIO
          - METRIC_TRUEVIEW_VIEWS
          - METRIC_TRUEVIEW_VIEW_RATE
          - METRIC_TRUEVIEW_VIEW_THROUGH_CONVERSION
          - METRIC_UNIQUE_VISITORS_COOKIES
          - METRIC_UNKNOWN
          - METRIC_VIDEO_COMPANION_CLICKS
          - METRIC_VIDEO_COMPANION_IMPRESSIONS
          - METRIC_VIDEO_COMPLETION_RATE
      type?:
        type: string
        description: Report type.
        enum:
        - TYPE_ACTIVE_GRP
        - TYPE_AUDIENCE_COMPOSITION
        - TYPE_AUDIENCE_PERFORMANCE
        - TYPE_CLIENT_SAFE
        - TYPE_COMSCORE_VCE
        - TYPE_CROSS_FEE
        - TYPE_CROSS_PARTNER
        - TYPE_CROSS_PARTNER_THIRD_PARTY_DATA_PROVIDER
        - TYPE_ESTIMATED_CONVERSION
        - TYPE_FEE
        - TYPE_GENERAL
        - TYPE_INVENTORY_AVAILABILITY
        - TYPE_KEYWORD
        - TYPE_NIELSEN_AUDIENCE_PROFILE
        - TYPE_NIELSEN_DAILY_REACH_BUILD
        - TYPE_NIELSEN_ONLINE_GLOBAL_MARKET
        - TYPE_NIELSEN_SITE
        - TYPE_NOT_SUPPORTED
        - TYPE_ORDER_ID
        - TYPE_PAGE_CATEGORY
        - TYPE_PETRA_NIELSEN_AUDIENCE_PROFILE
        - TYPE_PETRA_NIELSEN_DAILY_REACH_BUILD
        - TYPE_PETRA_NIELSEN_ONLINE_GLOBAL_MARKET
        - TYPE_PIXEL_LOAD
        - TYPE_REACH_AND_FREQUENCY
        - TYPE_THIRD_PARTY_DATA_PROVIDER
        - TYPE_TRUEVIEW
        - TYPE_TRUEVIEW_IAR
        - TYPE_VERIFICATION
        - TYPE_YOUTUBE_VERTICAL
    description: Parameters of a query or report.
  Query:
    type: object
    properties:
      reportDataStartTimeMs?:
        type: integer
        format: int64
        description: The starting time for the data that is shown in the report. Note, reportDataStartTimeMs is required if metadata.dataRange is CUSTOM_DATES and ignored otherwise.
      schedule?: QuerySchedule
      metadata?: QueryMetadata
      kind?:
        type: string
        default: doubleclickbidmanager#query
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "doubleclickbidmanager#query".'
      reportDataEndTimeMs?:
        type: integer
        format: int64
        description: The ending time for the data that is shown in the report. Note, reportDataEndTimeMs is required if metadata.dataRange is CUSTOM_DATES and ignored otherwise.
      params?: Parameters
      timezoneCode?:
        type: string
        description: Canonical timezone code for report data time. Defaults to America/New_York.
      queryId?:
        type: integer
        format: int64
        description: Query ID.
    description: Represents a query.
  QueryMetadata:
    type: object
    properties:
      googleCloudStoragePathForLatestReport?:
        type: string
        description: The path to the location in Google Cloud Storage where the latest report is stored.
      running?:
        type: boolean
        description: Whether the latest report is currently running.
      dataRange?:
        type: string
        description: Range of report data.
        enum:
        - ALL_TIME
        - CURRENT_DAY
        - CUSTOM_DATES
        - LAST_14_DAYS
        - LAST_30_DAYS
        - LAST_365_DAYS
        - LAST_7_DAYS
        - LAST_90_DAYS
        - MONTH_TO_DATE
        - PREVIOUS_DAY
        - PREVIOUS_HALF_MONTH
        - PREVIOUS_MONTH
        - PREVIOUS_QUARTER
        - PREVIOUS_WEEK
        - PREVIOUS_YEAR
        - QUARTER_TO_DATE
        - TYPE_NOT_SUPPORTED
        - WEEK_TO_DATE
        - YEAR_TO_DATE
      googleDrivePathForLatestReport?:
        type: string
        description: The path in Google Drive for the latest report.
      format?:
        type: string
        description: Format of the generated report.
        enum:
        - CSV
        - EXCEL_CSV
        - XLSX
      shareEmailAddress?:
        type: array
        description: List of email addresses which are sent email notifications when the report is finished. Separate from sendNotification.
        items:
          type: string
      reportCount?:
        type: integer
        format: int32
        description: Number of reports that have been generated for the query.
      latestReportRunTimeMs?:
        type: integer
        format: int64
        description: The time when the latest report started to run.
      sendNotification?:
        type: boolean
        description: Whether to send an email notification when a report is ready. Default to false.
      locale?:
        type: string
        description: |-
          Locale of the generated reports. Valid values are cs CZECH de GERMAN en ENGLISH es SPANISH fr FRENCH it ITALIAN ja JAPANESE ko KOREAN pl POLISH pt-BR BRAZILIAN_PORTUGUESE ru RUSSIAN tr TURKISH uk UKRAINIAN zh-CN CHINA_CHINESE zh-TW TAIWAN_CHINESE

          An locale string not in the list above will generate reports in English.
      title?:
        type: string
        description: Query title. It is used to name the reports generated from this query.
    description: Query metadata.
  QuerySchedule:
    type: object
    properties:
      nextRunMinuteOfDay?:
        type: integer
        format: int32
        description: Time of day at which a new report will be generated, represented as minutes past midnight. Range is 0 to 1439. Only applies to scheduled reports.
      endTimeMs?:
        type: integer
        format: int64
        description: Datetime to periodically run the query until.
      nextRunTimezoneCode?:
        type: string
        description: Canonical timezone code for report generation time. Defaults to America/New_York.
      frequency?:
        type: string
        description: How often the query is run.
        enum:
        - DAILY
        - MONTHLY
        - ONE_TIME
        - QUARTERLY
        - SEMI_MONTHLY
        - WEEKLY
    description: Information on how frequently and when to run a query.
  Report:
    type: object
    properties:
      metadata?: ReportMetadata
      params?: Parameters
      key?: ReportKey
    description: Represents a report.
  ReportFailure:
    type: object
    properties:
      errorCode?:
        type: string
        description: Error code that shows why the report was not created.
        enum:
        - AUTHENTICATION_ERROR
        - DEPRECATED_REPORTING_INVALID_QUERY
        - REPORTING_BUCKET_NOT_FOUND
        - REPORTING_CREATE_BUCKET_FAILED
        - REPORTING_DELETE_BUCKET_FAILED
        - REPORTING_FATAL_ERROR
        - REPORTING_ILLEGAL_FILENAME
        - REPORTING_IMCOMPATIBLE_METRICS
        - REPORTING_INVALID_QUERY_MISSING_PARTNER_AND_ADVERTISER_FILTERS
        - REPORTING_INVALID_QUERY_TITLE_MISSING
        - REPORTING_INVALID_QUERY_TOO_MANY_UNFILTERED_LARGE_GROUP_BYS
        - REPORTING_QUERY_NOT_FOUND
        - REPORTING_TRANSIENT_ERROR
        - REPORTING_UPDATE_BUCKET_PERMISSION_FAILED
        - REPORTING_WRITE_BUCKET_OBJECT_FAILED
        - SERVER_ERROR
        - UNAUTHORIZED_API_ACCESS
        - VALIDATION_ERROR
    description: An explanation of a report failure.
  ReportKey:
    type: object
    properties:
      reportId?:
        type: integer
        format: int64
        description: Report ID.
      queryId?:
        type: integer
        format: int64
        description: Query ID.
    description: Key used to identify a report.
  ReportMetadata:
    type: object
    properties:
      reportDataStartTimeMs?:
        type: integer
        format: int64
        description: The starting time for the data that is shown in the report.
      googleCloudStoragePath?:
        type: string
        description: The path to the location in Google Cloud Storage where the report is stored.
      reportDataEndTimeMs?:
        type: integer
        format: int64
        description: The ending time for the data that is shown in the report.
      status?: ReportStatus
    description: Report metadata.
  ReportStatus:
    type: object
    properties:
      finishTimeMs?:
        type: integer
        format: int64
        description: The time when this report either completed successfully or failed.
      failure?: ReportFailure
      format?:
        type: string
        description: The file type of the report.
        enum:
        - CSV
        - EXCEL_CSV
        - XLSX
      state?:
        type: string
        description: The state of the report.
        enum:
        - DONE
        - FAILED
        - RUNNING
    description: Report status.
  RowStatus:
    type: object
    properties:
      entityName?:
        type: string
        description: Entity name.
      entityId?:
        type: integer
        format: int64
        description: Entity Id.
      persisted?:
        type: boolean
        description: Whether the entity is persisted.
      rowNumber?:
        type: integer
        format: int32
        description: Row number.
      errors?:
        type: array
        description: Reasons why the entity can't be uploaded.
        items:
          type: string
      changed?:
        type: boolean
        description: Whether the stored entity is changed as a result of upload.
    description: Represents the upload status of a row in the request.
  RunQueryRequest:
    type: object
    properties:
      reportDataStartTimeMs?:
        type: integer
        format: int64
        description: The starting time for the data that is shown in the report. Note, reportDataStartTimeMs is required if dataRange is CUSTOM_DATES and ignored otherwise.
      dataRange?:
        type: string
        description: Report data range used to generate the report.
        enum:
        - ALL_TIME
        - CURRENT_DAY
        - CUSTOM_DATES
        - LAST_14_DAYS
        - LAST_30_DAYS
        - LAST_365_DAYS
        - LAST_7_DAYS
        - LAST_90_DAYS
        - MONTH_TO_DATE
        - PREVIOUS_DAY
        - PREVIOUS_HALF_MONTH
        - PREVIOUS_MONTH
        - PREVIOUS_QUARTER
        - PREVIOUS_WEEK
        - PREVIOUS_YEAR
        - QUARTER_TO_DATE
        - TYPE_NOT_SUPPORTED
        - WEEK_TO_DATE
        - YEAR_TO_DATE
      reportDataEndTimeMs?:
        type: integer
        format: int64
        description: The ending time for the data that is shown in the report. Note, reportDataEndTimeMs is required if dataRange is CUSTOM_DATES and ignored otherwise.
      timezoneCode?:
        type: string
        description: Canonical timezone code for report data time. Defaults to America/New_York.
    description: Request to run a stored query to generate a report.
  UploadLineItemsRequest:
    type: object
    properties:
      lineItems?:
        type: string
        description: Line items in CSV to upload. Refer to  Entity Write File Format for more information on file format.
      dryRun?:
        type: boolean
        description: Set to true to get upload status without actually persisting the line items.
      format?:
        type: string
        description: Format the line items are in. Default to CSV.
        enum:
        - CSV
    description: Request to upload line items.
  UploadLineItemsResponse:
    type: object
    properties:
      uploadStatus?: UploadStatus
    description: Upload line items response.
  UploadStatus:
    type: object
    properties:
      rowStatus?:
        type: array
        description: Per-row upload status.
        items: RowStatus
      errors?:
        type: array
        description: Reasons why upload can't be completed.
        items:
          type: string
    description: Represents the status of upload.
/queries:
  /{queryId}:
    uriParameters:
      queryId:
        type: integer
        format: int64
        description: Query ID with which the reports are associated.
    /reports:
      get:
        description: Retrieves stored reports.
        displayName: Listreports
        is:
        - hasParameters
        responses:
          200:
            body:
              application/json: ListReportsResponse
        (commons.Id): doubleclickbidmanager.reports.listreports
        (commons.LogicalStructure):
        - Reports
  get:
    description: Retrieves stored queries.
    displayName: Listqueries
    is:
    - hasParameters
    responses:
      200:
        body:
          application/json: ListQueriesResponse
    (commons.Id): doubleclickbidmanager.queries.listqueries
    (commons.LogicalStructure):
    - Queries
/lineitems:
  /downloadlineitems:
    post:
      description: Retrieves line items in CSV format.
      displayName: Downloadlineitems
      is:
      - hasParameters
      body:
        application/json: DownloadLineItemsRequest
      responses:
        200:
          body:
            application/json: DownloadLineItemsResponse
      (commons.Id): doubleclickbidmanager.lineitems.downloadlineitems
      (commons.LogicalStructure):
      - Lineitems
  /uploadlineitems:
    post:
      description: Uploads line items in CSV format.
      displayName: Uploadlineitems
      is:
      - hasParameters
      body:
        application/json: UploadLineItemsRequest
      responses:
        200:
          body:
            application/json: UploadLineItemsResponse
      (commons.Id): doubleclickbidmanager.lineitems.uploadlineitems
      (commons.LogicalStructure):
      - Lineitems
/sdf:
  /download:
    post:
      description: Retrieves entities in SDF format.
      displayName: Download
      is:
      - hasParameters
      body:
        application/json: DownloadRequest
      responses:
        200:
          body:
            application/json: DownloadResponse
      (commons.Id): doubleclickbidmanager.sdf.download
      (commons.LogicalStructure):
      - Sdf
/query:
  /{queryId}:
    uriParameters:
      queryId:
        type: integer
        format: int64
        description: Query ID to delete.
    delete:
      description: Deletes a stored query as well as the associated stored reports.
      displayName: Deletequery
      is:
      - hasParameters
      (commons.Id): doubleclickbidmanager.queries.deletequery
      (commons.LogicalStructure):
      - Queries
    get:
      description: Retrieves a stored query.
      displayName: Getquery
      is:
      - hasParameters
      responses:
        200:
          body:
            application/json: Query
      (commons.Id): doubleclickbidmanager.queries.getquery
      (commons.LogicalStructure):
      - Queries
    post:
      description: Runs a stored query to generate a report.
      displayName: Runquery
      is:
      - hasParameters
      body:
        application/json: RunQueryRequest
      (commons.Id): doubleclickbidmanager.queries.runquery
      (commons.LogicalStructure):
      - Queries
  post:
    description: Creates a query.
    displayName: Createquery
    is:
    - hasParameters
    body:
      application/json: Query
    responses:
      200:
        body:
          application/json: Query
    (commons.Id): doubleclickbidmanager.queries.createquery
    (commons.LogicalStructure):
    - Queries
