#%RAML 1.0
title: DoubleClick Search API
version: v2
baseUri: https://www.googleapis.com/doubleclicksearch/v2/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
  extras: https://raw.githubusercontent.com/apiregistry/typesExtras/master/typeExtras.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/doubleclick-search/
  role: documentation
(commons.Icons):
- url: http://www.google.com/images/icons/product/search-32.gif
  name: x32
- url: http://www.google.com/images/icons/product/search-16.gif
  name: x16
(commons.Id): doubleclicksearch:v2
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/doubleclicksearch
    (commons.OathScopeDescriptions):
    - View and manage your advertising data in DoubleClick Search
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      userIp?:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  Availability:
    type: object
    properties:
      availabilityTimestamp?:
        type: integer
        format: int64
        description: The time by which all conversions have been uploaded, in epoch millis UTC.
        (extras.RequiredIn):
        - doubleclicksearch.conversion.updateAvailability
      segmentationType?:
        type: string
        description: The segmentation type that this availability is for (its default value is FLOODLIGHT).
        (extras.RequiredIn):
        - doubleclicksearch.conversion.updateAvailability
      agencyId?:
        type: integer
        format: int64
        description: DS agency ID.
        (extras.RequiredIn):
        - doubleclicksearch.conversion.updateAvailability
      segmentationName?:
        type: string
        description: The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).
      segmentationId?:
        type: integer
        format: int64
        description: The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).
      advertiserId?:
        type: integer
        format: int64
        description: DS advertiser ID.
        (extras.RequiredIn):
        - doubleclicksearch.conversion.updateAvailability
    description: A message containing availability data relevant to DoubleClick Search.
  Conversion:
    type: object
    properties:
      inventoryAccountId?:
        type: integer
        format: int64
        description: ID that DS generates and uses to uniquely identify the inventory account that contains the product.
      criterionId?:
        type: integer
        format: int64
        description: DS criterion (keyword) ID.
      channel?:
        type: string
        description: "Sales channel for the product. Acceptable values are:  \n- \"\
          local\": a physical store \n- \"online\": an online store"
      productGroupId?:
        type: integer
        format: int64
        description: DS product group ID.
      clickId?:
        type: string
        description: DS click ID for the conversion.
      agencyId?:
        type: integer
        format: int64
        description: DS agency ID.
      floodlightOrderId?:
        type: string
        description: The Floodlight order ID provided by the advertiser for the conversion.
      customMetric?:
        type: array
        description: Custom metrics for the conversion.
        items: CustomMetric
      segmentationName?:
        type: string
        description: The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).
      type?:
        type: string
        description: The type of the conversion, that is, either ACTION or TRANSACTION. An ACTION conversion is an action by the user that has no monetarily quantifiable value, while a TRANSACTION conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (ACTION) versus ecommerce purchases (TRANSACTION).
      adGroupId?:
        type: integer
        format: int64
        description: DS ad group ID.
      dsConversionId?:
        type: integer
        format: int64
        description: ID that DoubleClick Search generates for each conversion.
      conversionModifiedTimestamp?:
        type: integer
        format: int64
        description: The time at which the conversion was last modified, in epoch millis UTC.
      customDimension?:
        type: array
        description: Custom dimensions for the conversion, which can be used to filter data in a report.
        items: CustomDimension
      state?:
        type: string
        description: 'The state of the conversion, that is, either ACTIVE or REMOVED.
          Note: state DELETED is deprecated.'
      conversionId?:
        type: string
        description: For offline conversions, this is an ID that advertisers are required to provide. Advertisers can specify any ID that is meaningful to them. For online conversions, DS copies the dsConversionId or floodlightOrderId into this property depending on the advertiser's Floodlight instructions.
        (extras.RequiredIn):
        - doubleclicksearch.conversion.insert
      segmentationId?:
        type: integer
        format: int64
        description: The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).
      quantityMillis?:
        type: integer
        format: int64
        description: The quantity of this conversion, in millis.
      deviceType?:
        type: string
        description: The type of device on which the conversion occurred.
      productId?:
        type: string
        description: The product ID (SKU).
      campaignId?:
        type: integer
        format: int64
        description: DS campaign ID.
      storeId?:
        type: string
        description: The ID of the local store for which the product was advertised. Applicable only when the channel is "local".
      advertiserId?:
        type: integer
        format: int64
        description: DS advertiser ID.
      attributionModel?:
        type: string
        description: Available to advertisers only after contacting DoubleClick Search customer support.
      adId?:
        type: integer
        format: int64
        description: DS ad ID.
      productLanguage?:
        type: string
        description: The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.
      countMillis?:
        type: integer
        format: int64
        description: Available to advertisers only after contacting DoubleClick Search customer support.
      segmentationType?:
        type: string
        description: The segmentation type of this conversion (for example, FLOODLIGHT).
        (extras.RequiredIn):
        - doubleclicksearch.conversion.insert
      engineAccountId?:
        type: integer
        format: int64
        description: DS engine account ID.
      productCountry?:
        type: string
        description: The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.
      currencyCode?:
        type: string
        description: The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.
      revenueMicros?:
        type: integer
        format: int64
        description: The revenue amount of this TRANSACTION conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of "10" enter "10000000" (10 million) in your request.
      conversionTimestamp?:
        type: integer
        format: int64
        description: The time at which the conversion took place, in epoch millis UTC.
        (extras.RequiredIn):
        - doubleclicksearch.conversion.insert
    description: A conversion containing data relevant to DoubleClick Search.
  ConversionList:
    type: object
    properties:
      kind?:
        type: string
        default: doubleclicksearch#conversionList
        description: 'Identifies this as a ConversionList resource. Value: the fixed
          string doubleclicksearch#conversionList.'
      conversion?:
        type: array
        description: The conversions being requested.
        items: Conversion
    description: A list of conversions.
  CustomDimension:
    type: object
    properties:
      name?:
        type: string
        description: Custom dimension name.
      value?:
        type: string
        description: Custom dimension value.
    description: A message containing the custome dimension.
  CustomMetric:
    type: object
    properties:
      name?:
        type: string
        description: Custom metric name.
      value?:
        type: number
        format: double
        description: Custom metric numeric value.
    description: A message containing the custome metric.
  Report:
    type: object
    properties:
      isReportReady?:
        type: boolean
        description: Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.
      request?: ReportRequest
      statisticsCurrencyCode?:
        type: string
        description: The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the statisticsCurrency field of the report request.
      kind?:
        type: string
        default: doubleclicksearch#report
        description: 'Identifies this as a Report resource. Value: the fixed string
          doubleclicksearch#report.'
      files?:
        type: array
        description: Asynchronous report only. Contains a list of generated report files once the report has succesfully completed.
        items:
          type: object
          properties:
            byteCount?:
              type: integer
              format: int64
              description: The size of this report file in bytes.
            url?:
              type: string
              description: Use this url to download the report file.
      id?:
        type: string
        description: Asynchronous report only. Id of the report.
      rowCount?:
        type: integer
        format: int32
        description: The number of report rows generated by the report, not including headers.
      rows?:
        type: array
        description: Synchronous report only. Generated report rows.
        items: ReportRow
      statisticsTimeZone?:
        type: string
        description: If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.
    description: A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.
  ReportApiColumnSpec:
    type: object
    properties:
      productReportPerspective?:
        type: string
        description: "Returns metrics only for a specific type of product activity.\
          \ Accepted values are:  \n- \"sold\": returns metrics only for products\
          \ that were sold \n- \"advertised\": returns metrics only for products that\
          \ were advertised in a Shopping campaign, and that might or might not have\
          \ been sold"
      savedColumnName?:
        type: string
        description: Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.
      headerText?:
        type: string
        description: Text used to identify this column in the report output; defaults to columnName or savedColumnName when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.
      endDate?:
        type: string
        description: Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with startDate.
      customDimensionName?:
        type: string
        description: |-
          Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.
          If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report.
      groupByColumn?:
        type: boolean
        default: false
        description: Synchronous report only. Set to true to group by this column. Defaults to false.
      customMetricName?:
        type: string
        description: Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.
      startDate?:
        type: string
        description: Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with endDate.
      columnName?:
        type: string
        description: Name of a DoubleClick Search column to include in the report.
      platformSource?:
        type: string
        description: The platform that is used to provide data for the custom dimension. Acceptable values are "floodlight".
    description: A request object used to create a DoubleClick Search report.
  ReportRequest:
    type: object
    properties:
      maxRowsPerFile?:
        type: integer
        format: int32
        description: Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are 1000000 to 100000000, inclusive.
        maximum: 100000000
        (extras.RequiredIn):
        - doubleclicksearch.reports.request
        minimum: 1000000
      startRow?:
        type: integer
        default: 0
        format: int32
        description: Synchronous report only. Zero-based index of the first row to return. Acceptable values are 0 to 50000, inclusive. Defaults to 0.
        maximum: 50000
        (extras.RequiredIn):
        - doubleclicksearch.reports.generate
        minimum: 0
      columns?:
        type: array
        description: The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the columnName parameter is required. For saved columns only the savedColumnName parameter is required. Both columnName and savedColumnName cannot be set in the same stanza.
        items: ReportApiColumnSpec
      downloadFormat?:
        type: string
        description: Format that the report should be returned in. Currently csv or tsv is supported.
        (extras.RequiredIn):
        - doubleclicksearch.reports.request
      orderBy?:
        type: array
        description: Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.
        items:
          type: object
          properties:
            sortOrder?:
              type: string
              description: The sort direction, which is either ascending or descending.
            column?: ReportApiColumnSpec
      statisticsCurrency?:
        type: string
        description: 'Specifies the currency in which monetary will be returned. Possible
          values are: usd, agency (valid if the report is scoped to agency or lower),
          advertiser (valid if the report is scoped to * advertiser or lower), or
          account (valid if the report is scoped to engine account or lower).'
        (extras.RequiredIn):
        - doubleclicksearch.reports.generate
        - doubleclicksearch.reports.request
      filters?:
        type: array
        description: A list of filters to be applied to the report.
        items:
          type: object
          properties:
            values?:
              type: array
              description: A list of values to filter the column value against.
              items:
                type: any
            column?: ReportApiColumnSpec
            operator?:
              type: string
              description: Operator to use in the filter. See the filter reference for a list of available operators.
      reportType?:
        type: string
        description: 'Determines the type of rows that are returned in the report.
          For example, if you specify reportType: keyword, each row in the report
          will contain data about a keyword. See the Types of Reports reference for
          the columns that are available for each type.'
        (extras.RequiredIn):
        - doubleclicksearch.reports.generate
        - doubleclicksearch.reports.request
      verifySingleTimeZone?:
        type: boolean
        default: false
        description: If true, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to false.
      includeDeletedEntities?:
        type: boolean
        default: false
        description: Determines if removed entities should be included in the report. Defaults to false. Deprecated, please use includeRemovedEntities instead.
      rowCount?:
        type: integer
        default: 10000
        format: int32
        description: Synchronous report only. The maxinum number of rows to return; additional rows are dropped. Acceptable values are 0 to 10000, inclusive. Defaults to 10000.
        maximum: 10000
        (extras.RequiredIn):
        - doubleclicksearch.reports.generate
        minimum: 0
      includeRemovedEntities?:
        type: boolean
        default: false
        description: Determines if removed entities should be included in the report. Defaults to false.
      reportScope?:
        type: object
        properties:
          keywordId?:
            type: integer
            format: int64
            description: DS keyword ID.
          adId?:
            type: integer
            format: int64
            description: DS ad ID.
          campaignId?:
            type: integer
            format: int64
            description: DS campaign ID.
          agencyId?:
            type: integer
            format: int64
            description: DS agency ID.
          engineAccountId?:
            type: integer
            format: int64
            description: DS engine account ID.
          adGroupId?:
            type: integer
            format: int64
            description: DS ad group ID.
          advertiserId?:
            type: integer
            format: int64
            description: DS advertiser ID.
        description: The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.
      timeRange?:
        type: object
        properties:
          changedMetricsSinceTimestamp?:
            type: string
            description: Inclusive UTC timestamp in RFC format, e.g., 2013-07-16T10:16:23.555Z. See additional references on how changed metrics reports work.
          endDate?:
            type: string
            description: Inclusive date in YYYY-MM-DD format.
          changedAttributesSinceTimestamp?:
            type: string
            description: Inclusive UTC timestamp in RFC format, e.g., 2013-07-16T10:16:23.555Z. See additional references on how changed attribute reports work.
          startDate?:
            type: string
            description: Inclusive date in YYYY-MM-DD format.
        description: If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.
    description: A request object used to create a DoubleClick Search report.
  ReportRow:
    type: object
    description: A row in a DoubleClick Search report.
  SavedColumn:
    type: object
    properties:
      savedColumnName?:
        type: string
        description: The name of the saved column.
      kind?:
        type: string
        default: doubleclicksearch#savedColumn
        description: 'Identifies this as a SavedColumn resource. Value: the fixed
          string doubleclicksearch#savedColumn.'
      type?:
        type: string
        description: The type of data this saved column will produce.
    description: A saved column
  SavedColumnList:
    type: object
    properties:
      kind?:
        type: string
        default: doubleclicksearch#savedColumnList
        description: 'Identifies this as a SavedColumnList resource. Value: the fixed
          string doubleclicksearch#savedColumnList.'
      items?:
        type: array
        description: The saved columns being requested.
        items: SavedColumn
    description: A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.
  UpdateAvailabilityRequest:
    type: object
    properties:
      availabilities?:
        type: array
        description: The availabilities being requested.
        items: Availability
    description: The request to update availability.
  UpdateAvailabilityResponse:
    type: object
    properties:
      availabilities?:
        type: array
        description: The availabilities being returned.
        items: Availability
    description: The response to a update availability request.
/reports:
  /{reportId}:
    uriParameters:
      reportId:
        type: string
        description: ID of the report request being polled.
    /files:
      /{reportFragment}:
        uriParameters:
          reportFragment:
            type: integer
            format: int32
            description: The index of the report fragment to download.
            minimum: 0
        get:
          securedBy:
            oath2:
              scopes:
              - https://www.googleapis.com/auth/doubleclicksearch
          description: Downloads a report file encoded in UTF-8.
          displayName: Get File
          is:
          - hasParameters
          (commons.Id): doubleclicksearch.reports.getFile
          (commons.LogicalStructure):
          - Reports
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/doubleclicksearch
      description: Polls for the status of a report request.
      displayName: Get
      is:
      - hasParameters
      responses:
        200:
          body:
            application/json: Report
      (commons.Id): doubleclicksearch.reports.get
      (commons.LogicalStructure):
      - Reports
  /generate:
    post:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/doubleclicksearch
      description: Generates and returns a report immediately.
      displayName: Generate
      is:
      - hasParameters
      body:
        application/json: ReportRequest
      responses:
        200:
          body:
            application/json: Report
      (commons.Id): doubleclicksearch.reports.generate
      (commons.LogicalStructure):
      - Reports
  post:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/doubleclicksearch
    description: Inserts a report request into the reporting system.
    displayName: Request
    is:
    - hasParameters
    body:
      application/json: ReportRequest
    responses:
      200:
        body:
          application/json: Report
    (commons.Id): doubleclicksearch.reports.request
    (commons.LogicalStructure):
    - Reports
/agency:
  /{agencyId}:
    uriParameters:
      agencyId:
        type: integer
        format: int64
        description: DS ID of the agency.
    /advertiser:
      /{advertiserId}:
        uriParameters:
          advertiserId:
            type: integer
            format: int64
            description: DS ID of the advertiser.
        /savedcolumns:
          get:
            securedBy:
              oath2:
                scopes:
                - https://www.googleapis.com/auth/doubleclicksearch
            description: Retrieve the list of saved columns for a specified advertiser.
            displayName: List
            is:
            - hasParameters
            responses:
              200:
                body:
                  application/json: SavedColumnList
            (commons.Id): doubleclicksearch.savedColumns.list
            (commons.LogicalStructure):
            - Saved Columns
        /engine:
          /{engineAccountId}:
            uriParameters:
              engineAccountId:
                type: integer
                format: int64
                description: Numeric ID of the engine account.
            /conversion:
              get:
                securedBy:
                  oath2:
                    scopes:
                    - https://www.googleapis.com/auth/doubleclicksearch
                description: Retrieves a list of conversions from a DoubleClick Search engine account.
                displayName: Get
                is:
                - hasParameters
                queryParameters:
                  adId?:
                    type: integer
                    format: int64
                    description: Numeric ID of the ad.
                  criterionId?:
                    type: integer
                    format: int64
                    description: Numeric ID of the criterion.
                  startRow:
                    type: integer
                    format: int32
                    description: The 0-based starting index for retrieving conversions results.
                  endDate:
                    type: integer
                    format: int32
                    description: Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.
                    maximum: 99991231
                    minimum: 20091101
                  campaignId?:
                    type: integer
                    format: int64
                    description: Numeric ID of the campaign.
                  rowCount:
                    type: integer
                    format: int32
                    description: The number of conversions to return per call.
                    maximum: 1000
                    minimum: 1
                  adGroupId?:
                    type: integer
                    format: int64
                    description: Numeric ID of the ad group.
                  startDate:
                    type: integer
                    format: int32
                    description: First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.
                    maximum: 99991231
                    minimum: 20091101
                responses:
                  200:
                    body:
                      application/json: ConversionList
                (commons.Id): doubleclicksearch.conversion.get
                (commons.LogicalStructure):
                - Conversion
/conversion:
  /updateAvailability:
    post:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/doubleclicksearch
      description: Updates the availabilities of a batch of floodlight activities in DoubleClick Search.
      displayName: Update Availability
      is:
      - hasParameters
      body:
        application/json: UpdateAvailabilityRequest
      responses:
        200:
          body:
            application/json: UpdateAvailabilityResponse
      (commons.Id): doubleclicksearch.conversion.updateAvailability
      (commons.LogicalStructure):
      - Conversion
  patch:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/doubleclicksearch
    description: Updates a batch of conversions in DoubleClick Search. This method supports patch semantics.
    displayName: Patch
    is:
    - hasParameters
    queryParameters:
      startRow:
        type: integer
        format: int32
        description: The 0-based starting index for retrieving conversions results.
      endDate:
        type: integer
        format: int32
        description: Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.
        maximum: 99991231
        minimum: 20091101
      agencyId:
        type: integer
        format: int64
        description: Numeric ID of the agency.
      engineAccountId:
        type: integer
        format: int64
        description: Numeric ID of the engine account.
      rowCount:
        type: integer
        format: int32
        description: The number of conversions to return per call.
        maximum: 1000
        minimum: 1
      startDate:
        type: integer
        format: int32
        description: First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.
        maximum: 99991231
        minimum: 20091101
      advertiserId:
        type: integer
        format: int64
        description: Numeric ID of the advertiser.
    body:
      application/json: ConversionList
    responses:
      200:
        body:
          application/json: ConversionList
    (commons.Id): doubleclicksearch.conversion.patch
    (commons.LogicalStructure):
    - Conversion
  post:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/doubleclicksearch
    description: Inserts a batch of new conversions into DoubleClick Search.
    displayName: Insert
    is:
    - hasParameters
    body:
      application/json: ConversionList
    responses:
      200:
        body:
          application/json: ConversionList
    (commons.Id): doubleclicksearch.conversion.insert
    (commons.LogicalStructure):
    - Conversion
  put:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/doubleclicksearch
    description: Updates a batch of conversions in DoubleClick Search.
    displayName: Update
    is:
    - hasParameters
    body:
      application/json: ConversionList
    responses:
      200:
        body:
          application/json: ConversionList
    (commons.Id): doubleclicksearch.conversion.update
    (commons.LogicalStructure):
    - Conversion
