#%RAML 1.0
title: Firebase Dynamic Links API
version: v1
baseUri: https://firebasedynamiclinks.googleapis.com/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
(commons.Links):
- title: Developer Documentation
  url: https://firebase.google.com/docs/dynamic-links/
  role: documentation
(commons.Icons):
- url: http://www.google.com/images/icons/product/search-32.gif
  name: x32
- url: http://www.google.com/images/icons/product/search-16.gif
  name: x16
(commons.Id): firebasedynamiclinks:v1
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/firebase
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      pp?:
        type: boolean
        default: true
        description: Pretty-print response.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      $.xgafv?:
        type: string
        description: V1 error format.
        enum:
        - '1'
        - '2'
      upload_protocol?:
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      uploadType?:
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      callback?:
        type: string
        description: JSONP
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  AnalyticsInfo:
    type: object
    properties:
      googlePlayAnalytics?: GooglePlayAnalytics
      itunesConnectAnalytics?: ITunesConnectAnalytics
    description: Tracking parameters supported by Dynamic Link.
  AndroidInfo:
    type: object
    properties:
      androidLink?:
        type: string
        description: If specified, this overrides the ‘link’ parameter on Android.
      androidPackageName?:
        type: string
        description: Android package name of the app.
      androidFallbackLink?:
        type: string
        description: Link to open on Android if the app is not installed.
      androidMinPackageVersionCode?:
        type: string
        description: |-
          Minimum version code for the Android app. If the installed app’s version
          code is lower, then the user is taken to the Play Store.
    description: Android related attributes to the Dynamic Link.
  CreateShortDynamicLinkRequest:
    type: object
    properties:
      longDynamicLink?:
        type: string
        description: |-
          Full long Dynamic Link URL with desired query parameters specified.
          For example,
          "https://sample.app.goo.gl/?link=http://www.google.com&apn=com.sample",
          [Learn more](https://firebase.google.com/docs/dynamic-links/android#create-a-dynamic-link-programmatically).
      dynamicLinkInfo?: DynamicLinkInfo
      suffix?: Suffix
    description: Request to create a short Dynamic Link.
  CreateShortDynamicLinkResponse:
    type: object
    properties:
      previewLink?:
        type: string
        description: Preivew link to show the link flow chart.
      warning?:
        type: array
        description: Information about potential warnings on link creation.
        items: DynamicLinkWarning
      shortLink?:
        type: string
        description: Short Dynamic Link value. e.g. https://abcd.app.goo.gl/wxyz
    description: Response to create a short Dynamic Link.
  DynamicLinkInfo:
    type: object
    properties:
      analyticsInfo?: AnalyticsInfo
      androidInfo?: AndroidInfo
      dynamicLinkDomain?:
        type: string
        description: |-
          Dynamic Links domain that the project owns, e.g. abcd.app.goo.gl
          [Learn more](https://firebase.google.com/docs/dynamic-links/android#set-up-firebase-and-the-dynamic-links-sdk)
          on how to set up Dynamic Link domain associated with your Firebase project.

          Required.
      iosInfo?: IosInfo
      socialMetaTagInfo?: SocialMetaTagInfo
      link?:
        type: string
        description: |-
          The link your app will open, You can specify any URL your app can handle.
          This link must be a well-formatted URL, be properly URL-encoded, and use
          the HTTP or HTTPS scheme. See 'link' parameters in the
          [documentation](https://firebase.google.com/docs/dynamic-links/android#create-a-dynamic-link-programmatically).

          Required.
      isAd?:
        type: boolean
        description: |-
          Declares that the Dynamic Link is used in an advertisement.
          See the 'ad' parameter in the
          [documentation](https://firebase.google.com/docs/dynamic-links/android#create-a-dynamic-link-programmatically).
    description: Information about a Dynamic Link.
  DynamicLinkWarning:
    type: object
    properties:
      warningCode?:
        type: string
        description: The warning code.
        enum:
        - CODE_UNSPECIFIED
        - NOT_IN_PROJECT_ANDROID_PACKAGE_NAME
        - NOT_INTEGER_ANDROID_PACKAGE_MIN_VERSION
        - UNNECESSARY_ANDROID_PACKAGE_MIN_VERSION
        - NOT_URI_ANDROID_LINK
        - UNNECESSARY_ANDROID_LINK
        - NOT_URI_ANDROID_FALLBACK_LINK
        - BAD_URI_SCHEME_ANDROID_FALLBACK_LINK
        - NOT_IN_PROJECT_IOS_BUNDLE_ID
        - NOT_IN_PROJECT_IPAD_BUNDLE_ID
        - UNNECESSARY_IOS_URL_SCHEME
        - NOT_NUMERIC_IOS_APP_STORE_ID
        - UNNECESSARY_IOS_APP_STORE_ID
        - NOT_URI_IOS_FALLBACK_LINK
        - BAD_URI_SCHEME_IOS_FALLBACK_LINK
        - NOT_URI_IPAD_FALLBACK_LINK
        - BAD_URI_SCHEME_IPAD_FALLBACK_LINK
        - BAD_DEBUG_PARAM
        - BAD_AD_PARAM
        - DEPRECATED_PARAM
        - UNRECOGNIZED_PARAM
        - TOO_LONG_PARAM
        - NOT_URI_SOCIAL_IMAGE_LINK
        - BAD_URI_SCHEME_SOCIAL_IMAGE_LINK
        - NOT_URI_SOCIAL_URL
        - BAD_URI_SCHEME_SOCIAL_URL
        - LINK_LENGTH_TOO_LONG
        - LINK_WITH_FRAGMENTS
        - NOT_MATCHING_IOS_BUNDLE_ID_AND_STORE_ID
      warningMessage?:
        type: string
        description: The warning message to help developers improve their requests.
    description: Dynamic Links warning messages.
  GooglePlayAnalytics:
    type: object
    properties:
      gclid?:
        type: string
        description: |-
          [AdWords autotagging parameter](https://support.google.com/analytics/answer/1033981?hl=en);
          used to measure Google AdWords ads. This value is generated dynamically
          and should never be modified.
      utmSource?:
        type: string
        description: |-
          Campaign source; used to identify a search engine, newsletter, or other
          source.
      utmTerm?:
        type: string
        description: Campaign term; used with paid search to supply the keywords for ads.
      utmContent?:
        type: string
        description: |-
          Campaign content; used for A/B testing and content-targeted ads to
          differentiate ads or links that point to the same URL.
      utmMedium?:
        type: string
        description: Campaign medium; used to identify a medium such as email or cost-per-click.
      utmCampaign?:
        type: string
        description: |-
          Campaign name; used for keyword analysis to identify a specific product
          promotion or strategic campaign.
    description: |-
      Parameters for Google Play Campaign Measurements.
      [Learn more](https://developers.google.com/analytics/devguides/collection/android/v4/campaigns#campaign-params)
  ITunesConnectAnalytics:
    type: object
    properties:
      ct?:
        type: string
        description: |-
          Campaign text that developers can optionally add to any link in order to
          track sales from a specific marketing campaign.
      at?:
        type: string
        description: Affiliate token used to create affiliate-coded links.
      pt?:
        type: string
        description: |-
          Provider token that enables analytics for Dynamic Links from within iTunes
          Connect.
      mt?:
        type: string
        description: iTune media types, including music, podcasts, audiobooks and so on.
    description: Parameters for iTunes Connect App Analytics.
  IosInfo:
    type: object
    properties:
      iosBundleId?:
        type: string
        description: iOS bundle ID of the app.
      iosFallbackLink?:
        type: string
        description: Link to open on iOS if the app is not installed.
      iosAppStoreId?:
        type: string
        description: iOS App Store ID.
      iosCustomScheme?:
        type: string
        description: |-
          Custom (destination) scheme to use for iOS. By default, we’ll use the
          bundle ID as the custom scheme. Developer can override this behavior using
          this param.
      iosIpadFallbackLink?:
        type: string
        description: If specified, this overrides the ios_fallback_link value on iPads.
      iosIpadBundleId?:
        type: string
        description: iPad bundle ID of the app.
    description: iOS related attributes to the Dynamic Link..
  SocialMetaTagInfo:
    type: object
    properties:
      socialTitle?:
        type: string
        description: Title to be displayed. Optional.
      socialImageLink?:
        type: string
        description: An image url string. Optional.
      socialDescription?:
        type: string
        description: A short description of the link. Optional.
    description: |-
      Parameters for social meta tag params.
      Used to set meta tag data for link previews on social sites.
  Suffix:
    type: object
    properties:
      option?:
        type: string
        description: Suffix option.
        enum:
        - OPTION_UNSPECIFIED
        - UNGUESSABLE
        - SHORT
    description: Short Dynamic Link suffix.
/v1:
  /shortLinks:
    post:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/firebase
      description: |-
        Creates a short Dynamic Link given either a valid long Dynamic Link or
        details such as Dynamic Link domain, Android and iOS app information.
        The created short Dynamic Link will not expire.

        Repeated calls with the same long Dynamic Link or Dynamic Link information
        will produce the same short Dynamic Link.

        The Dynamic Link domain in the request must be owned by requester's
        Firebase project.
      displayName: Create ShortLinks
      is:
      - hasParameters
      body:
        application/json: CreateShortDynamicLinkRequest
      responses:
        200:
          body:
            application/json: CreateShortDynamicLinkResponse
