#%RAML 1.0
title: Groups Migration API
version: v1
baseUri: https://www.googleapis.com/groups/v1/groups/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
  extras: https://raw.githubusercontent.com/apiregistry/typesExtras/master/typeExtras.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/google-apps/groups-migration/
  role: documentation
(commons.Icons):
- url: http://www.google.com/images/icons/product/discussions-32.gif
  name: x32
- url: http://www.google.com/images/icons/product/discussions-16.gif
  name: x16
(commons.Id): groupsmigration:v1
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/apps.groups.migration
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      userIp?:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  Groups:
    type: object
    properties:
      kind?:
        type: string
        default: groupsmigration#groups
        description: The kind of insert resource this is.
      responseCode?:
        type: string
        description: The status of the insert request.
    description: JSON response template for groups migration API.
/{groupId}:
  uriParameters:
    groupId:
      type: string
      description: The group ID
  /archive:
    post:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/apps.groups.migration
      description: Inserts a new mail into the archive of the Google group.
      displayName: Insert
      is:
      - hasParameters
      responses:
        200:
          body:
            application/json: Groups
      (commons.Id): groupsmigration.archive.insert
      (commons.LogicalStructure):
      - Archive
