#%RAML 1.0
title: Knowledge Graph Search API
version: v1
baseUri: https://kgsearch.googleapis.com/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/knowledge-graph/
  role: documentation
(commons.Icons):
- url: http://www.google.com/images/icons/product/search-32.gif
  name: x32
- url: http://www.google.com/images/icons/product/search-16.gif
  name: x16
(commons.Id): kgsearch:v1
traits:
  hasParameters:
    queryParameters:
      pp?:
        type: boolean
        default: true
        description: Pretty-print response.
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      upload_protocol?:
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      $.xgafv?:
        type: string
        description: V1 error format.
      uploadType?:
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      callback?:
        type: string
        description: JSONP
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
types:
  SearchResponse:
    type: object
    properties:
      itemListElement?:
        type: array
        description: The item list of search results.
        items:
          type: any
      context?:
        type: any
        description: The local context applicable for the response. See more details at http://www.w3.org/TR/json-ld/#context-definitions.
      type?:
        type: any
        description: The schema type of top-level JSON-LD object, e.g. ItemList.
    description: Response message includes the context and a list of matching results which contain the detail of associated entities.
/v1:
  /entities:search:
    get:
      description: Searches Knowledge Graph for entities that match the constraints. A list of matched entities will be returned in response, which will be in JSON-LD format and compatible with http://schema.org
      is:
      - hasParameters
      queryParameters:
        types?:
          type: string
          description: Restricts returned entities with these types, e.g. Person (as defined in http://schema.org/Person).
        languages?:
          type: string
          description: The list of language codes (defined in ISO 693) to run the query with, e.g. 'en'.
        indent?:
          type: boolean
          description: Enables indenting of json results.
        prefix?:
          type: boolean
          description: Enables prefix match against names and aliases of entities
        query?:
          type: string
          description: The literal query string for search.
        limit?:
          type: integer
          format: int32
          description: Limits the number of entities to be returned.
        ids?:
          type: string
          description: The list of entity id to be used for search instead of query string.
      responses:
        200:
          body:
            application/json: SearchResponse
