#%RAML 1.0
title: Prediction API
version: v1.4
baseUri: https://www.googleapis.com/prediction/v1.4/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/prediction/docs/developer-guide
  role: documentation
(commons.Icons):
- url: https://www.google.com/images/icons/feature/predictionapi-32.png
  name: x32
- url: https://www.google.com/images/icons/feature/predictionapi-16.png
  name: x16
(commons.Id): prediction:v1.4
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/devstorage.read_only
      - https://www.googleapis.com/auth/devstorage.full_control
      - https://www.googleapis.com/auth/devstorage.read_write
      - https://www.googleapis.com/auth/prediction
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      userIp?:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  Input:
    type: object
    properties:
      input?:
        type: object
        properties:
          csvInstance?:
            type: array
            description: A list of input features, these can be strings or doubles.
            items:
              type: any
        description: Input to the model for a prediction
  Output:
    type: object
    properties:
      outputLabel?:
        type: string
        description: The most likely class label [Categorical models only].
      outputValue?:
        type: number
        format: double
        description: The estimated regression value [Regression models only].
      kind?:
        type: string
        default: prediction#output
        description: What kind of resource this is.
      outputMulti?:
        type: array
        description: A list of class labels with their estimated probabilities [Categorical models only].
        items:
          type: object
          properties:
            score?:
              type: number
              format: double
              description: The probability of the class label.
            label?:
              type: string
              description: The class label.
      id?:
        type: string
        description: The unique name for the predictive model.
      selfLink?:
        type: string
        description: A URL to re-request this resource.
  Training:
    type: object
    properties:
      storagePMMLModelLocation?:
        type: string
        description: Google storage location of the pmml model file.
      storageDataLocation?:
        type: string
        description: Google storage location of the training data file.
      modelInfo?:
        type: object
        properties:
          classificationAccuracy?:
            type: number
            format: double
            description: A number between 0.0 and 1.0, where 1.0 is 100% accurate. This is an estimate, based on the amount and quality of the training data, of the estimated prediction accuracy. You can use this is a guide to decide whether the results are accurate enough for your needs. This estimate will be more reliable if your real input data is similar to your training data [Categorical models only].
          confusionMatrix?:
            type: object
            description: An output confusion matrix. This shows an estimate for how this model will do in predictions. This is first indexed by the true class label. For each true class label, this provides a pair {predicted_label, count}, where count is the estimated number of times the model will predict the predicted label given the true label. Will not output if more then 100 classes [Categorical models only].
          meanSquaredError?:
            type: number
            format: double
            description: An estimated mean squared error. The can be used to measure the quality of the predicted model [Regression models only].
          numberInstances?:
            type: integer
            format: int64
            description: Number of valid data instances used in the trained model.
          classWeightedAccuracy?:
            type: number
            format: double
            description: Estimated accuracy of model taking utility weights into account [Categorical models only].
          confusionMatrixRowTotals?:
            type: object
            description: A list of the confusion matrix row totals
          modelType?:
            type: string
            description: Type of predictive model (CLASSIFICATION or REGRESSION)
          numberLabels?:
            type: integer
            format: int64
            description: Number of class labels in the trained model [Categorical models only].
        description: Model metadata.
      kind?:
        type: string
        default: prediction#training
        description: What kind of resource this is.
      trainingStatus?:
        type: string
        description: 'The current status of the training job. This can be one of following:
          RUNNING; DONE; ERROR; ERROR: TRAINING JOB NOT FOUND'
      utility?:
        type: array
        description: A class weighting function, which allows the importance weights for class labels to be specified [Categorical models only].
        items:
          type: object
          description: Class label (string).
      dataAnalysis?:
        type: object
        properties:
          warnings?:
            type: array
            items:
              type: string
        description: Data Analysis.
      id?:
        type: string
        description: The unique name for the predictive model.
      storagePMMLLocation?:
        type: string
        description: Google storage location of the preprocessing pmml file.
      selfLink?:
        type: string
        description: A URL to re-request this resource.
  Update:
    type: object
    properties:
      csvInstance?:
        type: array
        description: The input features for this instance
        items:
          type: any
      output?:
        type: string
        description: The generic output value - could be regression value or class label
      label?:
        type: string
        description: The class label of this instance
/hostedmodels:
  /{hostedModelName}:
    uriParameters:
      hostedModelName:
        type: string
        description: The name of a hosted model.
    /predict:
      post:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/prediction
        description: Submit input and request an output against a hosted model.
        displayName: Predict
        is:
        - hasParameters
        body:
          application/json: Input
        responses:
          200:
            body:
              application/json: Output
        (commons.Id): prediction.hostedmodels.predict
        (commons.LogicalStructure):
        - Hostedmodels
/trainedmodels:
  /{id}:
    uriParameters:
      id:
        type: string
        description: The unique name for the predictive model.
    /predict:
      post:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/prediction
        description: Submit model id and request a prediction
        displayName: Predict
        is:
        - hasParameters
        body:
          application/json: Input
        responses:
          200:
            body:
              application/json: Output
        (commons.Id): prediction.trainedmodels.predict
        (commons.LogicalStructure):
        - Trainedmodels
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/prediction
      description: Check training status of your model.
      displayName: Get
      is:
      - hasParameters
      responses:
        200:
          body:
            application/json: Training
      (commons.Id): prediction.trainedmodels.get
      (commons.LogicalStructure):
      - Trainedmodels
    put:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/prediction
      description: Add new data to a trained model.
      displayName: Update
      is:
      - hasParameters
      body:
        application/json: Update
      responses:
        200:
          body:
            application/json: Training
      (commons.Id): prediction.trainedmodels.update
      (commons.LogicalStructure):
      - Trainedmodels
    delete:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/prediction
      description: Delete a trained model.
      displayName: Delete
      is:
      - hasParameters
      (commons.Id): prediction.trainedmodels.delete
      (commons.LogicalStructure):
      - Trainedmodels
  post:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/devstorage.full_control
        - https://www.googleapis.com/auth/devstorage.read_only
        - https://www.googleapis.com/auth/devstorage.read_write
        - https://www.googleapis.com/auth/prediction
    description: Begin training your model.
    displayName: Insert
    is:
    - hasParameters
    body:
      application/json: Training
    responses:
      200:
        body:
          application/json: Training
    (commons.Id): prediction.trainedmodels.insert
    (commons.LogicalStructure):
    - Trainedmodels
