#%RAML 1.0
title: Google Site Verification API
version: v1
baseUri: https://www.googleapis.com/siteVerification/v1/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/site-verification/
  role: documentation
(commons.Icons):
- url: http://www.google.com/images/icons/product/search-32.gif
  name: x32
- url: http://www.google.com/images/icons/product/search-16.gif
  name: x16
(commons.Id): siteVerification:v1
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/siteverification
      - https://www.googleapis.com/auth/siteverification.verify_only
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
      prettyPrint?:
        type: boolean
        default: false
        description: Returns response with indentations and line breaks.
      userIp?:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  SiteVerificationWebResourceGettokenRequest:
    type: object
    properties:
      site?:
        type: object
        properties:
          identifier?:
            type: string
            description: The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.
          type?:
            type: string
            description: The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).
        description: The site for which a verification token will be generated.
      verificationMethod?:
        type: string
        description: The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used.
  SiteVerificationWebResourceGettokenResponse:
    type: object
    properties:
      method?:
        type: string
        description: The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain.
      token?:
        type: string
        description: The verification token. The token must be placed appropriately in order for verification to succeed.
  SiteVerificationWebResourceListResponse:
    type: object
    properties:
      items?:
        type: array
        description: The list of sites that are owned by the authenticated user.
        items: SiteVerificationWebResourceResource
  SiteVerificationWebResourceResource:
    type: object
    properties:
      site?:
        type: object
        properties:
          identifier?:
            type: string
            description: The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.
          type?:
            type: string
            description: The site type. Can be SITE or INET_DOMAIN (domain name).
        description: The address and type of a site that is verified or will be verified.
      owners?:
        type: array
        description: The email addresses of all verified owners.
        items:
          type: string
      id?:
        type: string
        description: The string used to identify this site. This value should be used in the "id" portion of the REST URL for the Get, Update, and Delete operations.
/webResource:
  /{id}:
    uriParameters:
      id:
        type: string
        description: The id of a verified site or domain.
    patch:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/siteverification
      description: Modify the list of owners for your website or domain. This method supports patch semantics.
      displayName: Patch WebResource
      is:
      - hasParameters
      body:
        application/json: SiteVerificationWebResourceResource
      responses:
        200:
          body:
            application/json: SiteVerificationWebResourceResource
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/siteverification
      description: Get the most current data for a website or domain.
      displayName: Get WebResource
      is:
      - hasParameters
      responses:
        200:
          body:
            application/json: SiteVerificationWebResourceResource
    put:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/siteverification
      description: Modify the list of owners for your website or domain.
      displayName: Update WebResource
      is:
      - hasParameters
      body:
        application/json: SiteVerificationWebResourceResource
      responses:
        200:
          body:
            application/json: SiteVerificationWebResourceResource
    delete:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/siteverification
      description: Relinquish ownership of a website or domain.
      displayName: Delete WebResource
      is:
      - hasParameters
  post:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/siteverification
        - https://www.googleapis.com/auth/siteverification.verify_only
    description: Attempt verification of a website or domain.
    displayName: Insert WebResource
    is:
    - hasParameters
    queryParameters:
      verificationMethod:
        type: string
        description: The method to use for verifying a site or domain.
    body:
      application/json: SiteVerificationWebResourceResource
    responses:
      200:
        body:
          application/json: SiteVerificationWebResourceResource
  get:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/siteverification
    description: Get the list of your verified websites and domains.
    displayName: List WebResource
    is:
    - hasParameters
    responses:
      200:
        body:
          application/json: SiteVerificationWebResourceListResponse
/token:
  post:
    securedBy:
      oath2:
        scopes:
        - https://www.googleapis.com/auth/siteverification
        - https://www.googleapis.com/auth/siteverification.verify_only
    description: Get a verification token for placing on a website or domain.
    displayName: GetToken WebResource
    is:
    - hasParameters
    body:
      application/json: SiteVerificationWebResourceGettokenRequest
    responses:
      200:
        body:
          application/json: SiteVerificationWebResourceGettokenResponse
