#%RAML 1.0
title: Google Cloud Speech API
version: v1beta1
baseUri: https://speech.googleapis.com/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
(commons.Links):
- title: Developer Documentation
  url: https://cloud.google.com/speech/
  role: documentation
(commons.Icons):
- url: http://www.google.com/images/icons/product/search-32.gif
  name: x32
- url: http://www.google.com/images/icons/product/search-16.gif
  name: x16
(commons.Id): speech:v1beta1
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/cloud-platform
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      pp?:
        type: boolean
        default: true
        description: Pretty-print response.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      $.xgafv?:
        type: string
        description: V1 error format.
        enum:
        - '1'
        - '2'
      upload_protocol?:
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      uploadType?:
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      callback?:
        type: string
        description: JSONP
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  AsyncRecognizeRequest:
    type: object
    properties:
      audio?: RecognitionAudio
      config?: RecognitionConfig
    description: |-
      `AsyncRecognizeRequest` is the top-level message sent by the client for
      the `AsyncRecognize` method.
  CancelOperationRequest:
    type: object
    description: The request message for Operations.CancelOperation.
  Empty:
    type: object
    description: |-
      A generic empty message that you can re-use to avoid defining duplicated
      empty messages in your APIs. A typical example is to use it as the request
      or the response type of an API method. For instance:

          service Foo {
            rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);
          }

      The JSON representation for `Empty` is empty JSON object `{}`.
  ListOperationsResponse:
    type: object
    properties:
      operations?:
        type: array
        description: A list of operations that matches the specified filter in the request.
        items: Operation
      nextPageToken?:
        type: string
        description: The standard List next-page token.
    description: The response message for Operations.ListOperations.
  Operation:
    type: object
    properties:
      metadata?:
        type: object
        description: |-
          Service-specific metadata associated with the operation.  It typically
          contains progress information and common metadata such as create time.
          Some services might not provide such metadata.  Any method that returns a
          long-running operation should document the metadata type, if any.
      response?:
        type: object
        description: |-
          The normal response of the operation in case of success.  If the original
          method returns no data on success, such as `Delete`, the response is
          `google.protobuf.Empty`.  If the original method is standard
          `Get`/`Create`/`Update`, the response should be the resource.  For other
          methods, the response should have the type `XxxResponse`, where `Xxx`
          is the original method name.  For example, if the original method name
          is `TakeSnapshot()`, the inferred response type is
          `TakeSnapshotResponse`.
      name?:
        type: string
        description: |-
          The server-assigned name, which is only unique within the same service that
          originally returns it. If you use the default HTTP mapping, the
          `name` should have the format of `operations/some/unique/name`.
      error?: Status
      done?:
        type: boolean
        description: |-
          If the value is `false`, it means the operation is still in progress.
          If true, the operation is completed, and either `error` or `response` is
          available.
    description: |-
      This resource represents a long-running operation that is the result of a
      network API call.
  RecognitionAudio:
    type: object
    properties:
      uri?:
        type: string
        description: |-
          URI that points to a file that contains audio data bytes as specified in
          `RecognitionConfig`. Currently, only Google Cloud Storage URIs are
          supported, which must be specified in the following format:
          `gs://bucket_name/object_name` (other URI formats return
          google.rpc.Code.INVALID_ARGUMENT). For more information, see
          [Request URIs](https://cloud.google.com/storage/docs/reference-uris).
      content?:
        type: string
        description: |-
          The audio data bytes encoded as specified in
          `RecognitionConfig`. Note: as with all bytes fields, protobuffers use a
          pure binary representation, whereas JSON representations use base64.
    description: |-
      Contains audio data in the encoding specified in the `RecognitionConfig`.
      Either `content` or `uri` must be supplied. Supplying both or neither
      returns google.rpc.Code.INVALID_ARGUMENT. See
      [audio limits](https://cloud.google.com/speech/limits#content).
  RecognitionConfig:
    type: object
    properties:
      maxAlternatives?:
        type: integer
        format: int32
        description: |-
          [Optional] Maximum number of recognition hypotheses to be returned.
          Specifically, the maximum number of `SpeechRecognitionAlternative` messages
          within each `SpeechRecognitionResult`.
          The server may return fewer than `max_alternatives`.
          Valid values are `0`-`30`. A value of `0` or `1` will return a maximum of
          `1`. If omitted, defaults to `1`.
      speechContext?: SpeechContext
      profanityFilter?:
        type: boolean
        description: |-
          [Optional] If set to `true`, the server will attempt to filter out
          profanities, replacing all but the initial character in each filtered word
          with asterisks, e.g. "f***". If set to `false` or omitted, profanities
          won't be filtered out.
      languageCode?:
        type: string
        description: |-
          [Optional] The language of the supplied audio as a BCP-47 language tag.
          Example: "en-GB"  https://www.rfc-editor.org/rfc/bcp/bcp47.txt
          If omitted, defaults to "en-US". See
          [Language Support](https://cloud.google.com/speech/docs/languages)
          for a list of the currently supported language codes.
      encoding?:
        type: string
        description: '[Required] Encoding of audio data sent in all `RecognitionAudio`
          messages.'
        enum:
        - ENCODING_UNSPECIFIED
        - LINEAR16
        - FLAC
        - MULAW
        - AMR
        - AMR_WB
      sampleRate?:
        type: integer
        format: int32
        description: |-
          [Required] Sample rate in Hertz of the audio data sent in all
          `RecognitionAudio` messages. Valid values are: 8000-48000.
          16000 is optimal. For best results, set the sampling rate of the audio
          source to 16000 Hz. If that's not possible, use the native sample rate of
          the audio source (instead of re-sampling).
    description: |-
      The `RecognitionConfig` message provides information to the recognizer
      that specifies how to process the request.
  SpeechContext:
    type: object
    properties:
      phrases?:
        type: array
        description: |-
          [Optional] A list of strings containing words and phrases "hints" so that
          the speech recognition is more likely to recognize them. This can be used
          to improve the accuracy for specific words and phrases, for example, if
          specific commands are typically spoken by the user. This can also be used
          to add additional words to the vocabulary of the recognizer. See
          [usage limits](https://cloud.google.com/speech/limits#content).
        items:
          type: string
    description: |-
      Provides "hints" to the speech recognizer to favor specific words and phrases
      in the results.
  SpeechRecognitionAlternative:
    type: object
    properties:
      transcript?:
        type: string
        description: '[Output-only] Transcript text representing the words that the
          user spoke.'
      confidence?:
        type: number
        format: float
        description: |-
          [Output-only] The confidence estimate between 0.0 and 1.0. A higher number
          means the system is more confident that the recognition is correct.
          This field is typically provided only for the top hypothesis, and only for
          `is_final=true` results.
          The default of 0.0 is a sentinel value indicating confidence was not set.
    description: Alternative hypotheses (a.k.a. n-best list).
  SpeechRecognitionResult:
    type: object
    properties:
      alternatives?:
        type: array
        description: |-
          [Output-only] May contain one or more recognition hypotheses (up to the
          maximum specified in `max_alternatives`).
        items: SpeechRecognitionAlternative
    description: A speech recognition result corresponding to a portion of the audio.
  Status:
    type: object
    properties:
      code?:
        type: integer
        format: int32
        description: The status code, which should be an enum value of google.rpc.Code.
      details?:
        type: array
        description: |-
          A list of messages that carry the error details.  There will be a
          common set of message types for APIs to use.
        items:
          type: object
      message?:
        type: string
        description: |-
          A developer-facing error message, which should be in English. Any
          user-facing error message should be localized and sent in the
          google.rpc.Status.details field, or localized by the client.
    description: |-
      The `Status` type defines a logical error model that is suitable for different
      programming environments, including REST APIs and RPC APIs. It is used by
      [gRPC](https://github.com/grpc). The error model is designed to be:

      - Simple to use and understand for most users
      - Flexible enough to meet unexpected needs

      # Overview

      The `Status` message contains three pieces of data: error code, error message,
      and error details. The error code should be an enum value of
      google.rpc.Code, but it may accept additional error codes if needed.  The
      error message should be a developer-facing English message that helps
      developers *understand* and *resolve* the error. If a localized user-facing
      error message is needed, put the localized message in the error details or
      localize it in the client. The optional error details may contain arbitrary
      information about the error. There is a predefined set of error detail types
      in the package `google.rpc` which can be used for common error conditions.

      # Language mapping

      The `Status` message is the logical representation of the error model, but it
      is not necessarily the actual wire format. When the `Status` message is
      exposed in different client libraries and different wire protocols, it can be
      mapped differently. For example, it will likely be mapped to some exceptions
      in Java, but more likely mapped to some error codes in C.

      # Other uses

      The error model and the `Status` message can be used in a variety of
      environments, either with or without APIs, to provide a
      consistent developer experience across different environments.

      Example uses of this error model include:

      - Partial errors. If a service needs to return partial errors to the client,
          it may embed the `Status` in the normal response to indicate the partial
          errors.

      - Workflow errors. A typical workflow has multiple steps. Each step may
          have a `Status` message for error reporting purpose.

      - Batch operations. If a client uses batch request and batch response, the
          `Status` message should be used directly inside batch response, one for
          each error sub-response.

      - Asynchronous operations. If an API call embeds asynchronous operation
          results in its response, the status of those operations should be
          represented directly using the `Status` message.

      - Logging. If some API errors are stored in logs, the message `Status` could
          be used directly after any stripping needed for security/privacy reasons.
  SyncRecognizeRequest:
    type: object
    properties:
      audio?: RecognitionAudio
      config?: RecognitionConfig
    description: |-
      `SyncRecognizeRequest` is the top-level message sent by the client for
      the `SyncRecognize` method.
  SyncRecognizeResponse:
    type: object
    properties:
      results?:
        type: array
        description: |-
          [Output-only] Sequential list of transcription results corresponding to
          sequential portions of audio.
        items: SpeechRecognitionResult
    description: |-
      `SyncRecognizeResponse` is the only message returned to the client by
      `SyncRecognize`. It contains the result as zero or more sequential
      `SpeechRecognitionResult` messages.
/v1beta1:
  /operations:
    /{name}:cancel:
      uriParameters:
        name:
          type: string
          pattern: ^[^/]+$
          description: The name of the operation resource to be cancelled.
      post:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/cloud-platform
        description: |-
          Starts asynchronous cancellation on a long-running operation.  The server
          makes a best effort to cancel the operation, but success is not
          guaranteed.  If the server doesn't support this method, it returns
          `google.rpc.Code.UNIMPLEMENTED`.  Clients can use
          Operations.GetOperation or
          other methods to check whether the cancellation succeeded or whether the
          operation completed despite cancellation. On successful cancellation,
          the operation is not deleted; instead, it becomes an operation with
          an Operation.error value with a google.rpc.Status.code of 1,
          corresponding to `Code.CANCELLED`.
        displayName: Cancel Operations
        is:
        - hasParameters
        body:
          application/json: CancelOperationRequest
        responses:
          200:
            body:
              application/json: Empty
    /{name}:
      uriParameters:
        name:
          type: string
          pattern: ^[^/]+$
          description: The name of the operation resource.
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/cloud-platform
        description: |-
          Gets the latest state of a long-running operation.  Clients can use this
          method to poll the operation result at intervals as recommended by the API
          service.
        displayName: Get Operations
        is:
        - hasParameters
        responses:
          200:
            body:
              application/json: Operation
      delete:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/cloud-platform
        description: |-
          Deletes a long-running operation. This method indicates that the client is
          no longer interested in the operation result. It does not cancel the
          operation. If the server doesn't support this method, it returns
          `google.rpc.Code.UNIMPLEMENTED`.
        displayName: Delete Operations
        is:
        - hasParameters
        responses:
          200:
            body:
              application/json: Empty
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/cloud-platform
      description: |-
        Lists operations that match the specified filter in the request. If the
        server doesn't support this method, it returns `UNIMPLEMENTED`.

        NOTE: the `name` binding below allows API services to override the binding
        to use different resource name schemes, such as `users/*/operations`.
      displayName: List Operations
      is:
      - hasParameters
      queryParameters:
        filter?:
          type: string
          description: The standard list filter.
        name?:
          type: string
          description: The name of the operation collection.
        pageSize?:
          type: integer
          format: int32
          description: The standard list page size.
        pageToken?:
          type: string
          description: The standard list page token.
      responses:
        200:
          body:
            application/json: ListOperationsResponse
  /speech:syncrecognize:
    post:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/cloud-platform
      description: |-
        Perform synchronous speech-recognition: receive results after all audio
        has been sent and processed.
      displayName: Syncrecognize Speech
      is:
      - hasParameters
      body:
        application/json: SyncRecognizeRequest
      responses:
        200:
          body:
            application/json: SyncRecognizeResponse
  /speech:asyncrecognize:
    post:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/cloud-platform
      description: |-
        Perform asynchronous speech-recognition: receive results via the
        google.longrunning.Operations interface. Returns either an
        `Operation.error` or an `Operation.response` which contains
        an `AsyncRecognizeResponse` message.
      displayName: Asyncrecognize Speech
      is:
      - hasParameters
      body:
        application/json: AsyncRecognizeRequest
      responses:
        200:
          body:
            application/json: Operation
