#%RAML 1.0
title: YouTube Data API
version: v3
baseUri: https://www.googleapis.com/youtube/v3/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/youtube/v3
  role: documentation
(commons.Icons):
- url: https://www.google.com/images/icons/product/youtube-32.png
  name: x32
- url: https://www.google.com/images/icons/product/youtube-16.png
  name: x16
(commons.Id): youtube:v3
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/youtube.force-ssl
      - https://www.googleapis.com/auth/youtube.readonly
      - https://www.googleapis.com/auth/youtube
      - https://www.googleapis.com/auth/youtubepartner-channel-audit
      - https://www.googleapis.com/auth/youtubepartner
      - https://www.googleapis.com/auth/youtube.upload
traits:
  hasParameters:
    queryParameters:
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      userIp?:
        type: string
        description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  AccessPolicy:
    type: object
    properties:
      exception?:
        type: array
        description: A list of region codes that identify countries where the default policy do not apply.
        items:
          type: string
      allowed?:
        type: boolean
        description: The value of allowed indicates whether the access to the policy is allowed or denied by default.
    description: Rights management policy for YouTube resources.
  Activity:
    type: object
    properties:
      snippet?: ActivitySnippet
      kind?:
        type: string
        default: youtube#activity
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#activity".'
      etag?:
        type: string
        description: Etag of this resource.
      id?:
        type: string
        description: The ID that YouTube uses to uniquely identify the activity.
      contentDetails?: ActivityContentDetails
    description: An activity resource contains information about an action that a particular channel, or user, has taken on YouTube.The actions reported in activity feeds include rating a video, sharing a video, marking a video as a favorite, commenting on a video, uploading a video, and so forth. Each activity resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded.
  ActivityContentDetails:
    type: object
    properties:
      channelItem?: ActivityContentDetailsChannelItem
      like?: ActivityContentDetailsLike
      playlistItem?: ActivityContentDetailsPlaylistItem
      social?: ActivityContentDetailsSocial
      upload?: ActivityContentDetailsUpload
      promotedItem?: ActivityContentDetailsPromotedItem
      recommendation?: ActivityContentDetailsRecommendation
      comment?: ActivityContentDetailsComment
      subscription?: ActivityContentDetailsSubscription
      favorite?: ActivityContentDetailsFavorite
      bulletin?: ActivityContentDetailsBulletin
    description: 'Details about the content of an activity: the video that was shared,
      the channel that was subscribed to, etc.'
  ActivityContentDetailsBulletin:
    type: object
    properties:
      resourceId?: ResourceId
    description: Details about a channel bulletin post.
  ActivityContentDetailsChannelItem:
    type: object
    properties:
      resourceId?: ResourceId
    description: Details about a resource which was added to a channel.
  ActivityContentDetailsComment:
    type: object
    properties:
      resourceId?: ResourceId
    description: Information about a resource that received a comment.
  ActivityContentDetailsFavorite:
    type: object
    properties:
      resourceId?: ResourceId
    description: Information about a video that was marked as a favorite video.
  ActivityContentDetailsLike:
    type: object
    properties:
      resourceId?: ResourceId
    description: Information about a resource that received a positive (like) rating.
  ActivityContentDetailsPlaylistItem:
    type: object
    properties:
      playlistId?:
        type: string
        description: The value that YouTube uses to uniquely identify the playlist.
      playlistItemId?:
        type: string
        description: ID of the item within the playlist.
      resourceId?: ResourceId
    description: Information about a new playlist item.
  ActivityContentDetailsPromotedItem:
    type: object
    properties:
      adTag?:
        type: string
        description: The URL the client should fetch to request a promoted item.
      ctaType?:
        type: string
        description: The type of call-to-action, a message to the user indicating action that can be taken.
        enum:
        - unspecified
        - visitAdvertiserSite
      clickTrackingUrl?:
        type: string
        description: The URL the client should ping to indicate that the user clicked through on this promoted item.
      customCtaButtonText?:
        type: string
        description: The custom call-to-action button text. If specified, it will override the default button text for the cta_type.
      impressionUrl?:
        type: array
        description: The list of impression URLs. The client should ping all of these URLs to indicate that the user was shown this promoted item.
        items:
          type: string
      forecastingUrl?:
        type: array
        description: The list of forecasting URLs. The client should ping all of these URLs when a promoted item is not available, to indicate that a promoted item could have been shown.
        items:
          type: string
      creativeViewUrl?:
        type: string
        description: The URL the client should ping to indicate that the user was shown this promoted item.
      videoId?:
        type: string
        description: The ID that YouTube uses to uniquely identify the promoted video.
      descriptionText?:
        type: string
        description: The text description to accompany the promoted item.
      destinationUrl?:
        type: string
        description: The URL the client should direct the user to, if the user chooses to visit the advertiser's website.
    description: Details about a resource which is being promoted.
  ActivityContentDetailsRecommendation:
    type: object
    properties:
      reason?:
        type: string
        description: The reason that the resource is recommended to the user.
        enum:
        - unspecified
        - videoFavorited
        - videoLiked
        - videoWatched
      resourceId?: ResourceId
      seedResourceId?: ResourceId
    description: Information that identifies the recommended resource.
  ActivityContentDetailsSocial:
    type: object
    properties:
      resourceId?: ResourceId
      author?:
        type: string
        description: The author of the social network post.
      imageUrl?:
        type: string
        description: An image of the post's author.
      type?:
        type: string
        description: The name of the social network.
        enum:
        - facebook
        - googlePlus
        - twitter
        - unspecified
      referenceUrl?:
        type: string
        description: The URL of the social network post.
    description: Details about a social network post.
  ActivityContentDetailsSubscription:
    type: object
    properties:
      resourceId?: ResourceId
    description: Information about a channel that a user subscribed to.
  ActivityContentDetailsUpload:
    type: object
    properties:
      videoId?:
        type: string
        description: The ID that YouTube uses to uniquely identify the uploaded video.
    description: Information about the uploaded video.
  ActivityListResponse:
    type: object
    properties:
      eventId?:
        type: string
        description: Serialized EventId of the request which produced this response.
      prevPageToken?:
        type: string
        description: The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.
      tokenPagination?: TokenPagination
      kind?:
        type: string
        default: youtube#activityListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#activityListResponse".'
      nextPageToken?:
        type: string
        description: The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.
      pageInfo?: PageInfo
      etag?:
        type: string
        description: Etag of this resource.
      items?:
        type: array
        description: A list of activities, or events, that match the request criteria.
        items: Activity
      visitorId?:
        type: string
        description: The visitorId identifies the visitor.
  ActivitySnippet:
    type: object
    properties:
      publishedAt?:
        type: string
        description: The date and time that the video was uploaded. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.
      groupId?:
        type: string
        description: The group ID associated with the activity. A group ID identifies user events that are associated with the same user and resource. For example, if a user rates a video and marks the same video as a favorite, the entries for those events would have the same group ID in the user's activity feed. In your user interface, you can avoid repetition by grouping events with the same groupId value.
      description?:
        type: string
        description: The description of the resource primarily associated with the activity.
      thumbnails?: ThumbnailDetails
      title?:
        type: string
        description: The title of the resource primarily associated with the activity.
      type?:
        type: string
        description: The type of activity that the resource describes.
        enum:
        - bulletin
        - channelItem
        - comment
        - favorite
        - like
        - playlistItem
        - promotedItem
        - recommendation
        - social
        - subscription
        - upload
      channelId?:
        type: string
        description: The ID that YouTube uses to uniquely identify the channel associated with the activity.
      channelTitle?:
        type: string
        description: Channel title for the channel responsible for this activity
    description: Basic details about an activity, including title, description, thumbnails, activity type and group.
  Caption:
    type: object
    properties:
      snippet?: CaptionSnippet
      kind?:
        type: string
        default: youtube#caption
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#caption".'
      etag?:
        type: string
        description: Etag of this resource.
      id?:
        type: string
        description: The ID that YouTube uses to uniquely identify the caption track.
    description: A caption resource represents a YouTube caption track. A caption track is associated with exactly one YouTube video.
  CaptionListResponse:
    type: object
    properties:
      eventId?:
        type: string
        description: Serialized EventId of the request which produced this response.
      kind?:
        type: string
        default: youtube#captionListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#captionListResponse".'
      etag?:
        type: string
        description: Etag of this resource.
      items?:
        type: array
        description: A list of captions that match the request criteria.
        items: Caption
      visitorId?:
        type: string
        description: The visitorId identifies the visitor.
  CaptionSnippet:
    type: object
    properties:
      trackKind?:
        type: string
        description: The caption track's type.
        enum:
        - ASR
        - forced
        - standard
      audioTrackType?:
        type: string
        description: The type of audio track associated with the caption track.
        enum:
        - commentary
        - descriptive
        - primary
        - unknown
      isDraft?:
        type: boolean
        description: Indicates whether the caption track is a draft. If the value is true, then the track is not publicly visible. The default value is false.
      language?:
        type: string
        description: The language of the caption track. The property value is a BCP-47 language tag.
      videoId?:
        type: string
        description: The ID that YouTube uses to uniquely identify the video associated with the caption track.
      lastUpdated?:
        type: string
        description: The date and time when the caption track was last updated. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.
      isAutoSynced?:
        type: boolean
        description: Indicates whether YouTube synchronized the caption track to the audio track in the video. The value will be true if a sync was explicitly requested when the caption track was uploaded. For example, when calling the captions.insert or captions.update methods, you can set the sync parameter to true to instruct YouTube to sync the uploaded track to the video. If the value is false, YouTube uses the time codes in the uploaded caption track to determine when to display captions.
      failureReason?:
        type: string
        description: The reason that YouTube failed to process the caption track. This property is only present if the state property's value is failed.
        enum:
        - processingFailed
        - unknownFormat
        - unsupportedFormat
      name?:
        type: string
        description: The name of the caption track. The name is intended to be visible to the user as an option during playback.
      isEasyReader?:
        type: boolean
        description: Indicates whether caption track is formatted for "easy reader," meaning it is at a third-grade level for language learners. The default value is false.
      isLarge?:
        type: boolean
        description: Indicates whether the caption track uses large text for the vision-impaired. The default value is false.
      isCC?:
        type: boolean
        description: Indicates whether the track contains closed captions for the deaf and hard of hearing. The default value is false.
      status?:
        type: string
        description: The caption track's status.
        enum:
        - failed
        - serving
        - syncing
    description: Basic details about a caption track, such as its language and name.
  CdnSettings:
    type: object
    properties:
      frameRate?:
        type: string
        description: The frame rate of the inbound video data.
        enum:
        - 30fps
        - 60fps
      format?:
        type: string
        description: The format of the video stream that you are sending to Youtube.
      ingestionType?:
        type: string
        description: The method or protocol used to transmit the video stream.
        enum:
        - dash
        - rtmp
      ingestionInfo?: IngestionInfo
      resolution?:
        type: string
        description: The resolution of the inbound video data.
        enum:
        - 1080p
        - 1440p
        - 240p
        - 360p
        - 480p
        - 720p
    description: Brief description of the live stream cdn settings.
  Channel:
    type: object
    properties:
      snippet?: ChannelSnippet
      localizations?:
        type: object
        description: Localizations for different languages
      kind?:
        type: string
        default: youtube#channel
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#channel".'
      contentDetails?: ChannelContentDetails
      topicDetails?: ChannelTopicDetails
      brandingSettings?: ChannelBrandingSettings
      contentOwnerDetails?: ChannelContentOwnerDetails
      conversionPings?: ChannelConversionPings
      auditDetails?: ChannelAuditDetails
      invideoPromotion?: InvideoPromotion
      etag?:
        type: string
        description: Etag of this resource.
      id?:
        type: string
        description: The ID that YouTube uses to uniquely identify the channel.
      statistics?: ChannelStatistics
      status?: ChannelStatus
    description: A channel resource contains information about a YouTube channel.
  ChannelAuditDetails:
    type: object
    properties:
      contentIdClaimsGoodStanding?:
        type: boolean
        description: Whether or not the channel has any unresolved claims.
      copyrightStrikesGoodStanding?:
        type: boolean
        description: Whether or not the channel has any copyright strikes.
      communityGuidelinesGoodStanding?:
        type: boolean
        description: Whether or not the channel respects the community guidelines.
      overallGoodStanding?:
        type: boolean
        description: Describes the general state of the channel. This field will always show if there are any issues whatsoever with the channel. Currently this field represents the result of the logical and operation over the community guidelines good standing, the copyright strikes good standing and the content ID claims good standing, but this may change in the future.
    description: The auditDetails object encapsulates channel data that is relevant for YouTube Partners during the audit process.
  ChannelBannerResource:
    type: object
    properties:
      kind?:
        type: string
        default: youtube#channelBannerResource
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#channelBannerResource".'
      etag?:
        type: string
        description: Etag of this resource.
      url?:
        type: string
        description: The URL of this banner image.
    description: A channel banner returned as the response to a channel_banner.insert call.
  ChannelBrandingSettings:
    type: object
    properties:
      image?: ImageSettings
      watch?: WatchSettings
      hints?:
        type: array
        description: Additional experimental branding properties.
        items: PropertyValue
      channel?: ChannelSettings
    description: Branding properties of a YouTube channel.
  ChannelContentDetails:
    type: object
    properties:
      relatedPlaylists?:
        type: object
        properties:
          favorites?:
            type: string
            description: The ID of the playlist that contains the channel"s favorite videos. Use the  playlistItems.insert and  playlistItems.delete to add or remove items from that list.
          watchHistory?:
            type: string
            description: The ID of the playlist that contains the channel"s watch history. Use the  playlistItems.insert and  playlistItems.delete to add or remove items from that list.
          watchLater?:
            type: string
            description: The ID of the playlist that contains the channel"s watch later playlist. Use the playlistItems.insert and  playlistItems.delete to add or remove items from that list.
          likes?:
            type: string
            description: The ID of the playlist that contains the channel"s liked videos. Use the   playlistItems.insert and  playlistItems.delete to add or remove items from that list.
          uploads?:
            type: string
            description: The ID of the playlist that contains the channel"s uploaded videos. Use the  videos.insert method to upload new videos and the videos.delete method to delete previously uploaded videos.
    description: Details about the content of a channel.
  ChannelContentOwnerDetails:
    type: object
    properties:
      contentOwner?:
        type: string
        description: The ID of the content owner linked to the channel.
      timeLinked?:
        type: string
        description: The date and time of when the channel was linked to the content owner. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.
    description: The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel.
  ChannelConversionPing:
    type: object
    properties:
      conversionUrl?:
        type: string
        description: 'The url (without the schema) that the player shall send the
          ping to. It''s at caller''s descretion to decide which schema to use (http
          vs https) Example of a returned url: //googleads.g.doubleclick.net/pagead/
          viewthroughconversion/962985656/?data=path%3DtHe_path%3Btype%3D cview%3Butuid%3DGISQtTNGYqaYl4sKxoVvKA&labe=default
          The caller must append biscotti authentication (ms param in case of mobile,
          for example) to this ping.'
      context?:
        type: string
        description: Defines the context of the ping.
        enum:
        - cview
        - subscribe
        - unsubscribe
    description: Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.
  ChannelConversionPings:
    type: object
    properties:
      pings?:
        type: array
        description: Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.
        items: ChannelConversionPing
    description: The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.
  ChannelListResponse:
    type: object
    properties:
      eventId?:
        type: string
        description: Serialized EventId of the request which produced this response.
      prevPageToken?:
        type: string
        description: The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.
      tokenPagination?: TokenPagination
      kind?:
        type: string
        default: youtube#channelListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#channelListResponse".'
      nextPageToken?:
        type: string
        description: The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.
      pageInfo?: PageInfo
      etag?:
        type: string
        description: Etag of this resource.
      items?:
        type: array
        description: A list of channels that match the request criteria.
        items: Channel
      visitorId?:
        type: string
        description: The visitorId identifies the visitor.
  ChannelLocalization:
    type: object
    properties:
      description?:
        type: string
        description: The localized strings for channel's description.
      title?:
        type: string
        description: The localized strings for channel's title.
    description: Channel localization setting
  ChannelProfileDetails:
    type: object
    properties:
      channelUrl?:
        type: string
        description: The channel's URL.
      displayName?:
        type: string
        description: The channel's display name.
      profileImageUrl?:
        type: string
        description: The channels's avatar URL.
      channelId?:
        type: string
        description: The YouTube channel ID.
  ChannelSection:
    type: object
    properties:
      snippet?: ChannelSectionSnippet
      targeting?: ChannelSectionTargeting
      localizations?:
        type: object
        description: Localizations for different languages
      kind?:
        type: string
        default: youtube#channelSection
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#channelSection".'
      etag?:
        type: string
        description: Etag of this resource.
      id?:
        type: string
        description: The ID that YouTube uses to uniquely identify the channel section.
      contentDetails?: ChannelSectionContentDetails
  ChannelSectionContentDetails:
    type: object
    properties:
      channels?:
        type: array
        description: The channel ids for type multiple_channels.
        items:
          type: string
      playlists?:
        type: array
        description: The playlist ids for type single_playlist and multiple_playlists. For singlePlaylist, only one playlistId is allowed.
        items:
          type: string
    description: Details about a channelsection, including playlists and channels.
  ChannelSectionListResponse:
    type: object
    properties:
      eventId?:
        type: string
        description: Serialized EventId of the request which produced this response.
      kind?:
        type: string
        default: youtube#channelSectionListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#channelSectionListResponse".'
      etag?:
        type: string
        description: Etag of this resource.
      items?:
        type: array
        description: A list of ChannelSections that match the request criteria.
        items: ChannelSection
      visitorId?:
        type: string
        description: The visitorId identifies the visitor.
  ChannelSectionLocalization:
    type: object
    properties:
      title?:
        type: string
        description: The localized strings for channel section's title.
    description: ChannelSection localization setting
  ChannelSectionSnippet:
    type: object
    properties:
      defaultLanguage?:
        type: string
        description: The language of the channel section's default title and description.
      localized?: ChannelSectionLocalization
      style?:
        type: string
        description: The style of the channel section.
        enum:
        - channelsectionStyleUndefined
        - horizontalRow
        - verticalList
      position?:
        type: integer
        format: int32
        description: The position of the channel section in the channel.
      title?:
        type: string
        description: The channel section's title for multiple_playlists and multiple_channels.
      type?:
        type: string
        description: The type of the channel section.
        enum:
        - allPlaylists
        - channelsectionTypeUndefined
        - completedEvents
        - likedPlaylists
        - likes
        - liveEvents
        - multipleChannels
        - multiplePlaylists
        - popularUploads
        - postedPlaylists
        - postedVideos
        - recentActivity
        - recentPosts
        - recentUploads
        - singlePlaylist
        - subscriptions
        - upcomingEvents
      channelId?:
        type: string
        description: The ID that YouTube uses to uniquely identify the channel that published the channel section.
    description: Basic details about a channel section, including title, style and position.
  ChannelSectionTargeting:
    type: object
    properties:
      regions?:
        type: array
        description: The region the channel section is targeting.
        items:
          type: string
      languages?:
        type: array
        description: The language the channel section is targeting.
        items:
          type: string
      countries?:
        type: array
        description: The country the channel section is targeting.
        items:
          type: string
    description: ChannelSection targeting setting.
  ChannelSettings:
    type: object
    properties:
      country?:
        type: string
        description: The country of the channel.
      featuredChannelsUrls?:
        type: array
        description: The list of featured channels.
        items:
          type: string
      featuredChannelsTitle?:
        type: string
        description: Title for the featured channels tab.
      keywords?:
        type: string
        description: Lists keywords associated with the channel, comma-separated.
      defaultTab?:
        type: string
        description: Which content tab users should see when viewing the channel.
      showRelatedChannels?:
        type: boolean
        description: Whether related channels should be proposed.
      description?:
        type: string
        description: Specifies the channel description.
      unsubscribedTrailer?:
        type: string
        description: The trailer of the channel, for users that are not subscribers.
      title?:
        type: string
        description: Specifies the channel title.
      defaultLanguage?:
        type: string
      moderateComments?:
        type: boolean
        description: Whether user-submitted comments left on the channel page need to be approved by the channel owner to be publicly visible.
      trackingAnalyticsAccountId?:
        type: string
        description: The ID for a Google Analytics account to track and measure traffic to the channels.
      showBrowseView?:
        type: boolean
        description: Whether the tab to browse the videos should be displayed.
      profileColor?:
        type: string
        description: A prominent color that can be rendered on this channel page.
    description: Branding properties for the channel view.
  ChannelSnippet:
    type: object
    properties:
      customUrl?:
        type: string
        description: The custom url of the channel.
      country?:
        type: string
        description: The country of the channel.
      defaultLanguage?:
        type: string
        description: The language of the channel's default title and description.
      publishedAt?:
        type: datetime
        description: The date and time that the channel was created. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.
      localized?: ChannelLocalization
      description?:
        type: string
        description: The description of the channel.
      thumbnails?: ThumbnailDetails
      title?:
        type: string
        description: The channel's title.
    description: 'Basic details about a channel, including title, description and
      thumbnails. Next available id: 15.'
  ChannelStatistics:
    type: object
    properties:
      videoCount?:
        type: integer
        format: int64
        description: The number of videos uploaded to the channel.
      subscriberCount?:
        type: integer
        format: int64
        description: The number of subscribers that the channel has.
      viewCount?:
        type: integer
        format: int64
        description: The number of times the channel has been viewed.
      hiddenSubscriberCount?:
        type: boolean
        description: Whether or not the number of subscribers is shown for this user.
      commentCount?:
        type: integer
        format: int64
        description: The number of comments for the channel.
    description: 'Statistics about a channel: number of subscribers, number of videos
      in the channel, etc.'
  ChannelStatus:
    type: object
    properties:
      isLinked?:
        type: boolean
        description: If true, then the user is linked to either a YouTube username or G+ account. Otherwise, the user doesn't have a public YouTube identity.
      longUploadsStatus?:
        type: string
        description: The long uploads status of this channel. See
        enum:
        - allowed
        - disallowed
        - eligible
        - longUploadsUnspecified
      privacyStatus?:
        type: string
        description: Privacy status of the channel.
        enum:
        - private
        - public
        - unlisted
    description: JSON template for the status part of a channel.
  ChannelTopicDetails:
    type: object
    properties:
      topicIds?:
        type: array
        description: A list of Freebase topic IDs associated with the channel. You can retrieve information about each topic using the Freebase Topic API.
        items:
          type: string
    description: Freebase topic information related to the channel.
  Comment:
    type: object
    properties:
      snippet?: CommentSnippet
      kind?:
        type: string
        default: youtube#comment
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#comment".'
      etag?:
        type: string
        description: Etag of this resource.
      id?:
        type: string
        description: The ID that YouTube uses to uniquely identify the comment.
    description: A comment represents a single YouTube comment.
  CommentListResponse:
    type: object
    properties:
      eventId?:
        type: string
        description: Serialized EventId of the request which produced this response.
      tokenPagination?: TokenPagination
      kind?:
        type: string
        default: youtube#commentListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#commentListResponse".'
      nextPageToken?:
        type: string
        description: The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.
      pageInfo?: PageInfo
      etag?:
        type: string
        description: Etag of this resource.
      items?:
        type: array
        description: A list of comments that match the request criteria.
        items: Comment
      visitorId?:
        type: string
        description: The visitorId identifies the visitor.
  CommentSnippet:
    type: object
    properties:
      authorProfileImageUrl?:
        type: string
        description: The URL for the avatar of the user who posted the comment.
      textDisplay?:
        type: string
        description: The comment's text. The format is either plain text or HTML dependent on what has been requested. Even the plain text representation may differ from the text originally posted in that it may replace video links with video titles etc.
      publishedAt?:
        type: datetime
        description: The date and time when the comment was orignally published. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.
      authorChannelId?:
        type: any
        description: The id of the author's YouTube channel, if any.
      moderationStatus?:
        type: string
        description: The comment's moderation status. Will not be set if the comments were requested through the id filter.
        enum:
        - heldForReview
        - likelySpam
        - published
        - rejected
      likeCount?:
        type: integer
        format: int32
        description: The total number of likes this comment has received.
      videoId?:
        type: string
        description: The ID of the video the comment refers to, if any.
      textOriginal?:
        type: string
        description: The comment's original raw text as initially posted or last updated. The original text will only be returned if it is accessible to the viewer, which is only guaranteed if the viewer is the comment's author.
      authorDisplayName?:
        type: string
        description: The name of the user who posted the comment.
      parentId?:
        type: string
        description: The unique id of the parent comment, only set for replies.
      canRate?:
        type: boolean
        description: Whether the current viewer can rate this comment.
      authorChannelUrl?:
        type: string
        description: Link to the author's YouTube channel, if any.
      channelId?:
        type: string
        description: The id of the corresponding YouTube channel. In case of a channel comment this is the channel the comment refers to. In case of a video comment it's the video's channel.
      updatedAt?:
        type: datetime
        description: The date and time when was last updated . The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.
      viewerRating?:
        type: string
        description: The rating the viewer has given to this comment. For the time being this will never return RATE_TYPE_DISLIKE and instead return RATE_TYPE_NONE. This may change in the future.
        enum:
        - dislike
        - like
        - none
        - unspecified
    description: Basic details about a comment, such as its author and text.
  CommentThread:
    type: object
    properties:
      snippet?: CommentThreadSnippet
      replies?: CommentThreadReplies
      kind?:
        type: string
        default: youtube#commentThread
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#commentThread".'
      etag?:
        type: string
        description: Etag of this resource.
      id?:
        type: string
        description: The ID that YouTube uses to uniquely identify the comment thread.
    description: A comment thread represents information that applies to a top level comment and all its replies. It can also include the top level comment itself and some of the replies.
  CommentThreadListResponse:
    type: object
    properties:
      eventId?:
        type: string
        description: Serialized EventId of the request which produced this response.
      tokenPagination?: TokenPagination
      kind?:
        type: string
        default: youtube#commentThreadListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#commentThreadListResponse".'
      nextPageToken?:
        type: string
        description: The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.
      pageInfo?: PageInfo
      etag?:
        type: string
        description: Etag of this resource.
      items?:
        type: array
        description: A list of comment threads that match the request criteria.
        items: CommentThread
      visitorId?:
        type: string
        description: The visitorId identifies the visitor.
  CommentThreadReplies:
    type: object
    properties:
      comments?:
        type: array
        description: A limited number of replies. Unless the number of replies returned equals total_reply_count in the snippet the returned replies are only a subset of the total number of replies.
        items: Comment
    description: Comments written in (direct or indirect) reply to the top level comment.
  CommentThreadSnippet:
    type: object
    properties:
      canReply?:
        type: boolean
        description: Whether the current viewer of the thread can reply to it. This is viewer specific - other viewers may see a different value for this field.
      totalReplyCount?:
        type: integer
        format: int32
        description: The total number of replies (not including the top level comment).
      topLevelComment?: Comment
      isPublic?:
        type: boolean
        description: Whether the thread (and therefore all its comments) is visible to all YouTube users.
      videoId?:
        type: string
        description: The ID of the video the comments refer to, if any. No video_id implies a channel discussion comment.
      channelId?:
        type: string
        description: The YouTube channel the comments in the thread refer to or the channel with the video the comments refer to. If video_id isn't set the comments refer to the channel itself.
    description: Basic details about a comment thread.
  ContentRating:
    type: object
    properties:
      ifcoRating?:
        type: string
        description: The video's Irish Film Classification Office (IFCO - Ireland) rating. See the IFCO website for more information.
        enum:
        - ifco12
        - ifco12a
        - ifco15
        - ifco15a
        - ifco16
        - ifco18
        - ifcoG
        - ifcoPg
        - ifcoUnrated
      lsfRating?:
        type: string
        description: The video's rating from Indonesia's Lembaga Sensor Film.
        enum:
        - lsf13
        - lsf17
        - lsf21
        - lsfA
        - lsfBo
        - lsfD
        - lsfR
        - lsfSu
        - lsfUnrated
      cicfRating?:
        type: string
        description: The video's rating from the Commission de Contrôle des Films (Belgium).
        enum:
        - cicfE
        - cicfKntEna
        - cicfKtEa
        - cicfUnrated
      tvpgRating?:
        type: string
        description: The video's TV Parental Guidelines (TVPG) rating.
        enum:
        - pg14
        - tvpgG
        - tvpgMa
        - tvpgPg
        - tvpgUnrated
        - tvpgY
        - tvpgY7
        - tvpgY7Fv
      ilfilmRating?:
        type: string
        description: The video's rating in Israel.
        enum:
        - ilfilm12
        - ilfilm16
        - ilfilm18
        - ilfilmAa
        - ilfilmUnrated
      nkclvRating?:
        type: string
        description: The video's rating from the Nacionãlais Kino centrs (National Film Centre of Latvia).
        enum:
        - nkclv12plus
        - nkclv18plus
        - nkclv7plus
        - nkclvU
        - nkclvUnrated
      catvfrRating?:
        type: string
        description: The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian French-language broadcasts. For more information, see the Canadian Broadcast Standards Council website.
        enum:
        - catvfr13plus
        - catvfr16plus
        - catvfr18plus
        - catvfr8plus
        - catvfrG
        - catvfrUnrated
      egfilmRating?:
        type: string
        description: The video's rating in Egypt.
        enum:
        - egfilm18
        - egfilmBn
        - egfilmGn
        - egfilmUnrated
      cccRating?:
        type: string
        description: The video's Consejo de Calificación Cinematográfica (Chile) rating.
        enum:
        - ccc14
        - ccc18
        - ccc18s
        - ccc18v
        - ccc6
        - cccTe
        - cccUnrated
      resorteviolenciaRating?:
        type: string
        description: The video's rating in Venezuela.
        enum:
        - resorteviolenciaA
        - resorteviolenciaB
        - resorteviolenciaC
        - resorteviolenciaD
        - resorteviolenciaE
        - resorteviolenciaUnrated
      chvrsRating?:
        type: string
        description: The video's Canadian Home Video Rating System (CHVRS) rating.
        enum:
        - chvrs14a
        - chvrs18a
        - chvrsE
        - chvrsG
        - chvrsPg
        - chvrsR
        - chvrsUnrated
      nbcplRating?:
        type: string
        description: The video's rating in Poland.
        enum:
        - nbcpl18plus
        - nbcplI
        - nbcplIi
        - nbcplIii
        - nbcplIv
        - nbcplUnrated
      chfilmRating?:
        type: string
        description: The video's rating in Switzerland.
        enum:
        - chfilm0
        - chfilm12
        - chfilm16
        - chfilm18
        - chfilm6
        - chfilmUnrated
      anatelRating?:
        type: string
        description: The video's Anatel (Asociación Nacional de Televisión) rating for Chilean television.
        enum:
        - anatelA
        - anatelF
        - anatelI
        - anatelI10
        - anatelI12
        - anatelI7
        - anatelR
        - anatelUnrated
      smsaRating?:
        type: string
        description: The video's rating from Statens medieråd (Sweden's National Media Council).
        enum:
        - smsa11
        - smsa15
        - smsa7
        - smsaA
        - smsaUnrated
      smaisRating?:
        type: string
        description: The video's rating in Iceland.
        enum:
        - smais12
        - smais14
        - smais16
        - smais18
        - smais7
        - smaisL
        - smaisUnrated
      kfcbRating?:
        type: string
        description: The video's rating from the Kenya Film Classification Board.
        enum:
        - kfcb16plus
        - kfcbG
        - kfcbPg
        - kfcbR
        - kfcbUnrated
      skfilmRating?:
        type: string
        description: The video's rating in Slovakia.
        enum:
        - skfilmG
        - skfilmP2
        - skfilmP5
        - skfilmP8
        - skfilmUnrated
      acbRating?:
        type: string
        description: The video's Australian Classification Board (ACB) or Australian Communications and Media Authority (ACMA) rating. ACMA ratings are used to classify children's television programming.
        enum:
        - acbC
        - acbE
        - acbG
        - acbM
        - acbMa15plus
        - acbP
        - acbPg
        - acbR18plus
        - acbUnrated
      mibacRating?:
        type: string
        description: The video's rating from the Ministero dei Beni e delle Attività Culturali e del Turismo (Italy).
        enum:
        - mibacT
        - mibacUnrated
        - mibacVap
        - mibacVm12
        - mibacVm14
        - mibacVm18
      djctqRatingReasons?:
        type: array
        description: Reasons that explain why the video received its DJCQT (Brazil) rating.
        items:
          type: string
          enum:
          - djctqCriminalActs
          - djctqDrugs
          - djctqExplicitSex
          - djctqExtremeViolence
          - djctqIllegalDrugs
          - djctqImpactingContent
          - djctqInappropriateLanguage
          - djctqLegalDrugs
          - djctqNudity
          - djctqSex
          - djctqSexualContent
          - djctqViolence
      ytRating?:
        type: string
        description: A rating that YouTube uses to identify age-restricted content.
        enum:
        - ytAgeRestricted
      kijkwijzerRating?:
        type: string
        description: voor de Classificatie van Audiovisuele Media (Netherlands).
        enum:
        - kijkwijzer12
        - kijkwijzer16
        - kijkwijzer18
        - kijkwijzer6
        - kijkwijzer9
        - kijkwijzerAl
        - kijkwijzerUnrated
      mdaRating?:
        type: string
        description: The video's rating from Singapore's Media Development Authority (MDA) and, specifically, it's Board of Film Censors (BFC).
        enum:
        - mdaG
        - mdaM18
        - mdaNc16
        - mdaPg
        - mdaPg13
        - mdaR21
        - mdaUnrated
      fcoRating?:
        type: string
        description: The video's rating from Hong Kong's Office for Film, Newspaper and Article Administration.
        enum:
        - fcoI
        - fcoIi
        - fcoIia
        - fcoIib
        - fcoIii
        - fcoUnrated
      mekuRating?:
        type: string
        description: The video's rating from Finland's Kansallinen Audiovisuaalinen Instituutti (National Audiovisual Institute).
        enum:
        - meku12
        - meku16
        - meku18
        - meku7
        - mekuS
        - mekuUnrated
      mccaaRating?:
        type: string
        description: The video's rating from Malta's Film Age-Classification Board.
        enum:
        - mccaa12
        - mccaa12a
        - mccaa14
        - mccaa15
        - mccaa16
        - mccaa18
        - mccaaPg
        - mccaaU
        - mccaaUnrated
      cncRating?:
        type: string
        description: Rating system in France - Commission de classification cinematographique
        enum:
        - cnc10
        - cnc12
        - cnc16
        - cnc18
        - cncE
        - cncT
        - cncUnrated
      rteRating?:
        type: string
        description: The video's rating from Ireland's Raidió Teilifís Éireann.
        enum:
        - rteCh
        - rteGa
        - rteMa
        - rtePs
        - rteUnrated
      nbcRating?:
        type: string
        description: The video's rating from the Maldives National Bureau of Classification.
        enum:
        - nbc12plus
        - nbc15plus
        - nbc18plus
        - nbc18plusr
        - nbcG
        - nbcPg
        - nbcPu
        - nbcUnrated
      moctwRating?:
        type: string
        description: The video's rating from Taiwan's Ministry of Culture (文化部).
        enum:
        - moctwG
        - moctwP
        - moctwPg
        - moctwR
        - moctwR12
        - moctwR15
        - moctwUnrated
      mocRating?:
        type: string
        description: The video's Ministerio de Cultura (Colombia) rating.
        enum:
        - moc12
        - moc15
        - moc18
        - moc7
        - mocBanned
        - mocE
        - mocT
        - mocUnrated
        - mocX
      csaRating?:
        type: string
        description: The video's rating from France's Conseil supérieur de l?audiovisuel, which rates broadcast content.
        enum:
        - csa10
        - csa12
        - csa16
        - csa18
        - csaInterdiction
        - csaT
        - csaUnrated
      mpaaRating?:
        type: string
        description: The video's Motion Picture Association of America (MPAA) rating.
        enum:
        - mpaaG
        - mpaaNc17
        - mpaaPg
        - mpaaPg13
        - mpaaR
        - mpaaUnrated
      pefilmRating?:
        type: string
        description: The video's rating in Peru.
        enum:
        - pefilm14
        - pefilm18
        - pefilmPg
        - pefilmPt
        - pefilmUnrated
      cscfRating?:
        type: string
        description: The video's rating from Luxembourg's Commission de surveillance de la classification des films (CSCF).
        enum:
        - cscf12
        - cscf16
        - cscf18
        - cscf6
        - cscf9
        - cscfA
        - cscfAl
        - cscfUnrated
      bfvcRating?:
        type: string
        description: The video's rating from Thailand's Board of Film and Video Censors.
        enum:
        - bfvc13
        - bfvc15
        - bfvc18
        - bfvc20
        - bfvcB
        - bfvcE
        - bfvcG
        - bfvcUnrated
      mccypRating?:
        type: string
        description: The video's rating from the Danish Film Institute's (Det Danske Filminstitut) Media Council for Children and Young People.
        enum:
        - mccyp11
        - mccyp15
        - mccyp7
        - mccypA
        - mccypUnrated
      eefilmRating?:
        type: string
        description: The video's rating in Estonia.
        enum:
        - eefilmK12
        - eefilmK14
        - eefilmK16
        - eefilmK6
        - eefilmL
        - eefilmMs12
        - eefilmMs6
        - eefilmPere
        - eefilmUnrated
      grfilmRating?:
        type: string
        description: The video's rating in Greece.
        enum:
        - grfilmE
        - grfilmK
        - grfilmK12
        - grfilmK13
        - grfilmK15
        - grfilmK17
        - grfilmK18
        - grfilmUnrated
      bmukkRating?:
        type: string
        description: The video's rating from the Austrian Board of Media Classification (Bundesministerium für Unterricht, Kunst und Kultur).
        enum:
        - bmukk10
        - bmukk12
        - bmukk14
        - bmukk16
        - bmukk6
        - bmukk8
        - bmukkAa
        - bmukkUnrated
      cbfcRating?:
        type: string
        description: The video's Central Board of Film Certification (CBFC - India) rating.
        enum:
        - cbfcA
        - cbfcS
        - cbfcU
        - cbfcUA
        - cbfcUnrated
      djctqRating?:
        type: string
        description: The video's Departamento de Justiça, Classificação, Qualificação e Títulos (DJCQT - Brazil) rating.
        enum:
        - djctq10
        - djctq12
        - djctq14
        - djctq16
        - djctq18
        - djctqL
        - djctqUnrated
      rcnofRating?:
        type: string
        description: The video's rating from the Hungarian Nemzeti Filmiroda, the Rating Committee of the National Office of Film.
        enum:
        - rcnofI
        - rcnofIi
        - rcnofIii
        - rcnofIv
        - rcnofUnrated
        - rcnofV
        - rcnofVi
      fmocRating?:
        type: string
        description: This property has been deprecated. Use the contentDetails.contentRating.cncRating instead.
        enum:
        - fmoc10
        - fmoc12
        - fmoc16
        - fmoc18
        - fmocE
        - fmocU
        - fmocUnrated
      mtrcbRating?:
        type: string
        description: The video's rating from the Movie and Television Review and Classification Board (Philippines).
        enum:
        - mtrcbG
        - mtrcbPg
        - mtrcbR13
        - mtrcbR16
        - mtrcbR18
        - mtrcbUnrated
        - mtrcbX
      oflcRating?:
        type: string
        description: The video's Office of Film and Literature Classification (OFLC - New Zealand) rating.
        enum:
        - oflcG
        - oflcM
        - oflcPg
        - oflcR13
        - oflcR15
        - oflcR16
        - oflcR18
        - oflcRp13
        - oflcRp16
        - oflcUnrated
      agcomRating?:
        type: string
        description: The video's rating from Italy's Autorità per le Garanzie nelle Comunicazioni (AGCOM).
        enum:
        - agcomT
        - agcomUnrated
        - agcomVm14
        - agcomVm18
      russiaRating?:
        type: string
        description: The video's National Film Registry of the Russian Federation (MKRF - Russia) rating.
        enum:
        - russia0
        - russia12
        - russia16
        - russia18
        - russia6
        - russiaUnrated
      cceRating?:
        type: string
        description: The video's rating from Portugal's Comissão de Classificação de Espect´culos.
        enum:
        - cceM12
        - cceM14
        - cceM16
        - cceM18
        - cceM4
        - cceM6
        - cceUnrated
      fskRating?:
        type: string
        description: The video's Freiwillige Selbstkontrolle der Filmwirtschaft (FSK - Germany) rating.
        enum:
        - fsk0
        - fsk12
        - fsk16
        - fsk18
        - fsk6
        - fskUnrated
      rtcRating?:
        type: string
        description: The video's General Directorate of Radio, Television and Cinematography (Mexico) rating.
        enum:
        - rtcA
        - rtcAa
        - rtcB
        - rtcB15
        - rtcC
        - rtcD
        - rtcUnrated
      nfvcbRating?:
        type: string
        description: The video's rating from Nigeria's National Film and Video Censors Board.
        enum:
        - nfvcb12
        - nfvcb12a
        - nfvcb15
        - nfvcb18
        - nfvcbG
        - nfvcbPg
        - nfvcbRe
        - nfvcbUnrated
      incaaRating?:
        type: string
        description: The video's INCAA (Instituto Nacional de Cine y Artes Audiovisuales - Argentina) rating.
        enum:
        - incaaAtp
        - incaaC
        - incaaSam13
        - incaaSam16
        - incaaSam18
        - incaaUnrated
      medietilsynetRating?:
        type: string
        description: The video's rating from Medietilsynet, the Norwegian Media Authority.
        enum:
        - medietilsynet11
        - medietilsynet12
        - medietilsynet15
        - medietilsynet18
        - medietilsynet6
        - medietilsynet7
        - medietilsynet9
        - medietilsynetA
        - medietilsynetUnrated
      eirinRating?:
        type: string
        description: The video's Eirin (映倫) rating. Eirin is the Japanese rating system.
        enum:
        - eirinG
        - eirinPg12
        - eirinR15plus
        - eirinR18plus
        - eirinUnrated
      fpbRatingReasons?:
        type: array
        description: Reasons that explain why the video received its FPB (South Africa) rating.
        items:
          type: string
          enum:
          - fpbBlasphemy
          - fpbCriminalTechniques
          - fpbDrugs
          - fpbHorror
          - fpbImitativeActsTechniques
          - fpbLanguage
          - fpbNudity
          - fpbPrejudice
          - fpbSex
          - fpbSexualViolence
          - fpbViolence
      icaaRating?:
        type: string
        description: The video's Instituto de la Cinematografía y de las Artes Audiovisuales (ICAA - Spain) rating.
        enum:
        - icaa12
        - icaa13
        - icaa16
        - icaa18
        - icaa7
        - icaaApta
        - icaaUnrated
        - icaaX
      catvRating?:
        type: string
        description: Rating system for Canadian TV - Canadian TV Classification System The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian English-language broadcasts. For more information, see the Canadian Broadcast Standards Council website.
        enum:
        - catv14plus
        - catv18plus
        - catvC
        - catvC8
        - catvG
        - catvPg
        - catvUnrated
      fcbmRating?:
        type: string
        description: The video's rating from Malaysia's Film Censorship Board.
        enum:
        - fcbm18
        - fcbm18pa
        - fcbm18pl
        - fcbm18sg
        - fcbm18sx
        - fcbmP13
        - fcbmPg13
        - fcbmU
        - fcbmUnrated
      fpbRating?:
        type: string
        description: The video's rating from South Africa's Film and Publication Board.
        enum:
        - fpb10
        - fpb1012Pg
        - fpb13
        - fpb16
        - fpb18
        - fpb79Pg
        - fpbA
        - fpbPg
        - fpbUnrated
        - fpbX18
        - fpbXx
      bbfcRating?:
        type: string
        description: The video's British Board of Film Classification (BBFC) rating.
        enum:
        - bbfc12
        - bbfc12a
        - bbfc15
        - bbfc18
        - bbfcPg
        - bbfcR18
        - bbfcU
        - bbfcUnrated
      kmrbRating?:
        type: string
        description: The video's Korea Media Rating Board (영상물등급위원회) rating. The KMRB rates videos in South Korea.
        enum:
        - kmrb12plus
        - kmrb15plus
        - kmrbAll
        - kmrbR
        - kmrbTeenr
        - kmrbUnrated
      nfrcRating?:
        type: string
        description: The video's rating from the Bulgarian National Film Center.
        enum:
        - nfrcA
        - nfrcB
        - nfrcC
        - nfrcD
        - nfrcUnrated
        - nfrcX
      cnaRating?:
        type: string
        description: The video's rating from Romania's CONSILIUL NATIONAL AL AUDIOVIZUALULUI (CNA).
        enum:
        - cna12
        - cna15
        - cna18
        - cna18plus
        - cnaAp
        - cnaUnrated
      czfilmRating?:
        type: string
        description: The video's rating in the Czech Republic.
        enum:
        - czfilm12
        - czfilm14
        - czfilm18
        - czfilmU
        - czfilmUnrated
      ecbmctRating?:
        type: string
        description: Rating system in Turkey - Evaluation and Classification Board of the Ministry of Culture and Tourism
        enum:
        - ecbmct13a
        - ecbmct13plus
        - ecbmct15a
        - ecbmct15plus
        - ecbmct18plus
        - ecbmct7a
        - ecbmct7plus
        - ecbmctG
        - ecbmctUnrated
    description: 'Ratings schemes. The country-specific ratings are mostly for movies
      and shows. NEXT_ID: 68'
  FanFundingEvent:
    type: object
    properties:
      snippet?: FanFundingEventSnippet
      kind?:
        type: string
        default: youtube#fanFundingEvent
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#fanFundingEvent".'
      etag?:
        type: string
        description: Etag of this resource.
      id?:
        type: string
        description: The ID that YouTube assigns to uniquely identify the fan funding event.
    description: A fanFundingEvent resource represents a fan funding event on a YouTube channel. Fan funding events occur when a user gives one-time monetary support to the channel owner.
  FanFundingEventListResponse:
    type: object
    properties:
      eventId?:
        type: string
        description: Serialized EventId of the request which produced this response.
      tokenPagination?: TokenPagination
      kind?:
        type: string
        default: youtube#fanFundingEventListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#fanFundingEventListResponse".'
      nextPageToken?:
        type: string
        description: The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.
      pageInfo?: PageInfo
      etag?:
        type: string
        description: Etag of this resource.
      items?:
        type: array
        description: A list of fan funding events that match the request criteria.
        items: FanFundingEvent
      visitorId?:
        type: string
        description: The visitorId identifies the visitor.
  FanFundingEventSnippet:
    type: object
    properties:
      supporterDetails?: ChannelProfileDetails
      createdAt?:
        type: string
        description: The date and time when the funding occurred. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.
      displayString?:
        type: string
        description: A rendered string that displays the fund amount and currency (e.g., "$1.00"). The string is rendered for the given language.
      amountMicros?:
        type: integer
        format: int64
        description: The amount of funding in micros of fund_currency. e.g., 1 is represented
      currency?:
        type: string
        description: The currency in which the fund was made. ISO 4217.
      commentText?:
        type: string
        description: The text contents of the comment left by the user.
      channelId?:
        type: string
        description: Channel id where the funding event occurred.
  GeoPoint:
    type: object
    properties:
      altitude?:
        type: number
        format: double
        description: Altitude above the reference ellipsoid, in meters.
      latitude?:
        type: number
        format: double
        description: Latitude in degrees.
      longitude?:
        type: number
        format: double
        description: Longitude in degrees.
    description: Geographical coordinates of a point, in WGS84.
  GuideCategory:
    type: object
    properties:
      snippet?: GuideCategorySnippet
      kind?:
        type: string
        default: youtube#guideCategory
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#guideCategory".'
      etag?:
        type: string
        description: Etag of this resource.
      id?:
        type: string
        description: The ID that YouTube uses to uniquely identify the guide category.
    description: A guideCategory resource identifies a category that YouTube algorithmically assigns based on a channel's content or other indicators, such as the channel's popularity. The list is similar to video categories, with the difference being that a video's uploader can assign a video category but only YouTube can assign a channel category.
  GuideCategoryListResponse:
    type: object
    properties:
      eventId?:
        type: string
        description: Serialized EventId of the request which produced this response.
      prevPageToken?:
        type: string
        description: The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.
      tokenPagination?: TokenPagination
      kind?:
        type: string
        default: youtube#guideCategoryListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#guideCategoryListResponse".'
      nextPageToken?:
        type: string
        description: The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.
      pageInfo?: PageInfo
      etag?:
        type: string
        description: Etag of this resource.
      items?:
        type: array
        description: A list of categories that can be associated with YouTube channels. In this map, the category ID is the map key, and its value is the corresponding guideCategory resource.
        items: GuideCategory
      visitorId?:
        type: string
        description: The visitorId identifies the visitor.
  GuideCategorySnippet:
    type: object
    properties:
      title?:
        type: string
        description: Description of the guide category.
      channelId?:
        type: string
        default: UCBR8-60-B28hp2BmDPdntcQ
    description: Basic details about a guide category.
  I18nLanguage:
    type: object
    properties:
      snippet?: I18nLanguageSnippet
      kind?:
        type: string
        default: youtube#i18nLanguage
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#i18nLanguage".'
      etag?:
        type: string
        description: Etag of this resource.
      id?:
        type: string
        description: The ID that YouTube uses to uniquely identify the i18n language.
    description: An i18nLanguage resource identifies a UI language currently supported by YouTube.
  I18nLanguageListResponse:
    type: object
    properties:
      eventId?:
        type: string
        description: Serialized EventId of the request which produced this response.
      kind?:
        type: string
        default: youtube#i18nLanguageListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#i18nLanguageListResponse".'
      etag?:
        type: string
        description: Etag of this resource.
      items?:
        type: array
        description: A list of supported i18n languages. In this map, the i18n language ID is the map key, and its value is the corresponding i18nLanguage resource.
        items: I18nLanguage
      visitorId?:
        type: string
        description: The visitorId identifies the visitor.
  I18nLanguageSnippet:
    type: object
    properties:
      hl?:
        type: string
        description: A short BCP-47 code that uniquely identifies a language.
      name?:
        type: string
        description: The human-readable name of the language in the language itself.
    description: Basic details about an i18n language, such as language code and human-readable name.
  I18nRegion:
    type: object
    properties:
      snippet?: I18nRegionSnippet
      kind?:
        type: string
        default: youtube#i18nRegion
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#i18nRegion".'
      etag?:
        type: string
        description: Etag of this resource.
      id?:
        type: string
        description: The ID that YouTube uses to uniquely identify the i18n region.
    description: A i18nRegion resource identifies a region where YouTube is available.
  I18nRegionListResponse:
    type: object
    properties:
      eventId?:
        type: string
        description: Serialized EventId of the request which produced this response.
      kind?:
        type: string
        default: youtube#i18nRegionListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#i18nRegionListResponse".'
      etag?:
        type: string
        description: Etag of this resource.
      items?:
        type: array
        description: A list of regions where YouTube is available. In this map, the i18n region ID is the map key, and its value is the corresponding i18nRegion resource.
        items: I18nRegion
      visitorId?:
        type: string
        description: The visitorId identifies the visitor.
  I18nRegionSnippet:
    type: object
    properties:
      gl?:
        type: string
        description: The region code as a 2-letter ISO country code.
      name?:
        type: string
        description: The human-readable name of the region.
    description: Basic details about an i18n region, such as region code and human-readable name.
  ImageSettings:
    type: object
    properties:
      bannerTabletExtraHdImageUrl?:
        type: string
        description: Banner image. Tablet size extra high resolution (2560x424).
      bannerTvImageUrl?:
        type: string
        description: Banner image. TV size extra high resolution (2120x1192).
      watchIconImageUrl?:
        type: string
        description: The URL for the image that appears above the top-left corner of the video player. This is a 25-pixel-high image with a flexible width that cannot exceed 170 pixels.
      bannerExternalUrl?:
        type: string
        description: This is used only in update requests; if it's set, we use this URL to generate all of the above banner URLs.
      smallBrandedBannerImageUrl?: LocalizedProperty
      bannerMobileLowImageUrl?:
        type: string
        description: Banner image. Mobile size low resolution (320x88).
      bannerMobileExtraHdImageUrl?:
        type: string
        description: Banner image. Mobile size high resolution (1440x395).
      trackingImageUrl?:
        type: string
        description: The URL for a 1px by 1px tracking pixel that can be used to collect statistics for views of the channel or video pages.
      bannerMobileHdImageUrl?:
        type: string
        description: Banner image. Mobile size high resolution (1280x360).
      bannerTvLowImageUrl?:
        type: string
        description: Banner image. TV size low resolution (854x480).
      bannerTabletLowImageUrl?:
        type: string
        description: Banner image. Tablet size low resolution (1138x188).
      bannerTvHighImageUrl?:
        type: string
        description: Banner image. TV size high resolution (1920x1080).
      bannerTvMediumImageUrl?:
        type: string
        description: Banner image. TV size medium resolution (1280x720).
      bannerMobileMediumHdImageUrl?:
        type: string
        description: Banner image. Mobile size medium/high resolution (960x263).
      largeBrandedBannerImageUrl?: LocalizedProperty
      bannerTabletImageUrl?:
        type: string
        description: Banner image. Tablet size (1707x283).
      smallBrandedBannerImageImapScript?: LocalizedProperty
      bannerImageUrl?:
        type: string
        description: Banner image. Desktop size (1060x175).
      largeBrandedBannerImageImapScript?: LocalizedProperty
      bannerMobileImageUrl?:
        type: string
        description: Banner image. Mobile size (640x175).
      bannerTabletHdImageUrl?:
        type: string
        description: Banner image. Tablet size high resolution (2276x377).
      backgroundImageUrl?: LocalizedProperty
    description: Branding properties for images associated with the channel.
  IngestionInfo:
    type: object
    properties:
      ingestionAddress?:
        type: string
        description: |-
          The primary ingestion URL that you should use to stream video to YouTube. You must stream video to this URL.

          Depending on which application or tool you use to encode your video stream, you may need to enter the stream URL and stream name separately or you may need to concatenate them in the following format:

          STREAM_URL/STREAM_NAME
      backupIngestionAddress?:
        type: string
        description: The backup ingestion URL that you should use to stream video to YouTube. You have the option of simultaneously streaming the content that you are sending to the ingestionAddress to this URL.
      streamName?:
        type: string
        description: The HTTP or RTMP stream name that YouTube assigns to the video stream.
    description: Describes information necessary for ingesting an RTMP or an HTTP stream.
  InvideoBranding:
    type: object
    properties:
      targetChannelId?:
        type: string
      timing?: InvideoTiming
      imageUrl?:
        type: string
      imageBytes?:
        type: string
      position?: InvideoPosition
  InvideoPosition:
    type: object
    properties:
      cornerPosition?:
        type: string
        description: Describes in which corner of the video the visual widget will appear.
        enum:
        - bottomLeft
        - bottomRight
        - topLeft
        - topRight
      type?:
        type: string
        description: Defines the position type.
        enum:
        - corner
    description: Describes the spatial position of a visual widget inside a video. It is a union of various position types, out of which only will be set one.
  InvideoPromotion:
    type: object
    properties:
      defaultTiming?: InvideoTiming
      position?: InvideoPosition
      items?:
        type: array
        description: List of promoted items in decreasing priority.
        items: PromotedItem
      useSmartTiming?:
        type: boolean
        description: Indicates whether the channel's promotional campaign uses "smart timing." This feature attempts to show promotions at a point in the video when they are more likely to be clicked and less likely to disrupt the viewing experience. This feature also picks up a single promotion to show on each video.
    description: Describes an invideo promotion campaign consisting of multiple promoted items. A campaign belongs to a single channel_id.
  InvideoTiming:
    type: object
    properties:
      offsetMs?:
        type: integer
        format: int64
        description: Defines the time at which the promotion will appear. Depending on the value of type the value of the offsetMs field will represent a time offset from the start or from the end of the video, expressed in milliseconds.
      type?:
        type: string
        description: Describes a timing type. If the value is offsetFromStart, then the offsetMs field represents an offset from the start of the video. If the value is offsetFromEnd, then the offsetMs field represents an offset from the end of the video.
        enum:
        - offsetFromEnd
        - offsetFromStart
      durationMs?:
        type: integer
        format: int64
        description: Defines the duration in milliseconds for which the promotion should be displayed. If missing, the client should use the default.
    description: Describes a temporal position of a visual widget inside a video.
  LanguageTag:
    type: object
    properties:
      value?:
        type: string
  LiveBroadcast:
    type: object
    properties:
      snippet?: LiveBroadcastSnippet
      topicDetails?: LiveBroadcastTopicDetails
      kind?:
        type: string
        default: youtube#liveBroadcast
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#liveBroadcast".'
      etag?:
        type: string
        description: Etag of this resource.
      id?:
        type: string
        description: The ID that YouTube assigns to uniquely identify the broadcast.
      contentDetails?: LiveBroadcastContentDetails
      statistics?: LiveBroadcastStatistics
      status?: LiveBroadcastStatus
    description: A liveBroadcast resource represents an event that will be streamed, via live video, on YouTube.
  LiveBroadcastContentDetails:
    type: object
    properties:
      monitorStream?: MonitorStreamInfo
      recordFromStart?:
        type: boolean
        description: |-
          Automatically start recording after the event goes live. The default value for this property is true.



          Important: You must also set the enableDvr property's value to true if you want the playback to be available immediately after the broadcast ends. If you set this property's value to true but do not also set the enableDvr property to true, there may be a delay of around one day before the archived video will be available for playback.
      boundStreamId?:
        type: string
        description: This value uniquely identifies the live stream bound to the broadcast.
      enableEmbed?:
        type: boolean
        description: This setting indicates whether the broadcast video can be played in an embedded player. If you choose to archive the video (using the enableArchive property), this setting will also apply to the archived video.
      enableDvr?:
        type: boolean
        description: |-
          This setting determines whether viewers can access DVR controls while watching the video. DVR controls enable the viewer to control the video playback experience by pausing, rewinding, or fast forwarding content. The default value for this property is true.



          Important: You must set the value to true and also set the enableArchive property's value to true if you want to make playback available immediately after the broadcast ends.
      enableLowLatency?:
        type: boolean
        description: Indicates whether this broadcast has low latency enabled.
      enableContentEncryption?:
        type: boolean
        description: This setting indicates whether YouTube should enable content encryption for the broadcast.
      boundStreamLastUpdateTimeMs?:
        type: string
        description: The date and time that the live stream referenced by boundStreamId was last updated.
      startWithSlate?:
        type: boolean
        description: This setting indicates whether the broadcast should automatically begin with an in-stream slate when you update the broadcast's status to live. After updating the status, you then need to send a liveCuepoints.insert request that sets the cuepoint's eventState to end to remove the in-stream slate and make your broadcast stream visible to viewers.
      projection?:
        type: string
        description: The projection format of this broadcast. This defaults to rectangular.
        enum:
        - '360'
        - rectangular
      enableClosedCaptions?:
        type: boolean
        description: This setting indicates whether HTTP POST closed captioning is enabled for this broadcast. The ingestion URL of the closed captions is returned through the liveStreams API. This is mutually exclusive with using the closed_captions_type property, and is equivalent to setting closed_captions_type to CLOSED_CAPTIONS_HTTP_POST.
      closedCaptionsType?:
        type: string
        enum:
        - closedCaptionsDisabled
        - closedCaptionsEmbedded
        - closedCaptionsHttpPost
    description: Detailed settings of a broadcast.
  LiveBroadcastListResponse:
    type: object
    properties:
      eventId?:
        type: string
        description: Serialized EventId of the request which produced this response.
      prevPageToken?:
        type: string
        description: The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.
      tokenPagination?: TokenPagination
      kind?:
        type: string
        default: youtube#liveBroadcastListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#liveBroadcastListResponse".'
      nextPageToken?:
        type: string
        description: The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.
      pageInfo?: PageInfo
      etag?:
        type: string
        description: Etag of this resource.
      items?:
        type: array
        description: A list of broadcasts that match the request criteria.
        items: LiveBroadcast
      visitorId?:
        type: string
        description: The visitorId identifies the visitor.
  LiveBroadcastSnippet:
    type: object
    properties:
      actualStartTime?:
        type: string
        description: The date and time that the broadcast actually started. This information is only available once the broadcast's state is live. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.
      isDefaultBroadcast?:
        type: boolean
      publishedAt?:
        type: string
        description: The date and time that the broadcast was added to YouTube's live broadcast schedule. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.
      liveChatId?:
        type: string
        description: The id of the live chat for this broadcast.
      scheduledStartTime?:
        type: string
        description: The date and time that the broadcast is scheduled to start. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.
      scheduledEndTime?:
        type: string
        description: The date and time that the broadcast is scheduled to end. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.
      actualEndTime?:
        type: string
        description: The date and time that the broadcast actually ended. This information is only available once the broadcast's state is complete. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.
      description?:
        type: string
        description: The broadcast's description. As with the title, you can set this field by modifying the broadcast resource or by setting the description field of the corresponding video resource.
      thumbnails?: ThumbnailDetails
      title?:
        type: string
        description: The broadcast's title. Note that the broadcast represents exactly one YouTube video. You can set this field by modifying the broadcast resource or by setting the title field of the corresponding video resource.
      channelId?:
        type: string
        description: The ID that YouTube uses to uniquely identify the channel that is publishing the broadcast.
  LiveBroadcastStatistics:
    type: object
    properties:
      totalChatCount?:
        type: integer
        format: int64
        description: The total number of live chat messages currently on the broadcast. The property and its value will be present if the broadcast is public, has the live chat feature enabled, and has at least one message. Note that this field will not be filled after the broadcast ends. So this property would not identify the number of chat messages for an archived video of a completed live broadcast.
      concurrentViewers?:
        type: integer
        format: int64
        description: The number of viewers currently watching the broadcast. The property and its value will be present if the broadcast has current viewers and the broadcast owner has not hidden the viewcount for the video. Note that YouTube stops tracking the number of concurrent viewers for a broadcast when the broadcast ends. So, this property would not identify the number of viewers watching an archived video of a live broadcast that already ended.
    description: Statistics about the live broadcast. These represent a snapshot of the values at the time of the request. Statistics are only returned for live broadcasts.
  LiveBroadcastStatus:
    type: object
    properties:
      liveBroadcastPriority?:
        type: string
        description: Priority of the live broadcast event (internal state).
        enum:
        - high
        - low
        - normal
      recordingStatus?:
        type: string
        description: The broadcast's recording status.
        enum:
        - notRecording
        - recorded
        - recording
      privacyStatus?:
        type: string
        description: The broadcast's privacy status. Note that the broadcast represents exactly one YouTube video, so the privacy settings are identical to those supported for videos. In addition, you can set this field by modifying the broadcast resource or by setting the privacyStatus field of the corresponding video resource.
        enum:
        - private
        - public
        - unlisted
      lifeCycleStatus?:
        type: string
        description: The broadcast's status. The status can be updated using the API's liveBroadcasts.transition method.
        enum:
        - abandoned
        - complete
        - completeStarting
        - created
        - live
        - liveStarting
        - ready
        - reclaimed
        - revoked
        - testStarting
        - testing
  LiveBroadcastTopic:
    type: object
    properties:
      snippet?: LiveBroadcastTopicSnippet
      type?:
        type: string
        description: The type of the topic.
        enum:
        - videoGame
      unmatched?:
        type: boolean
        description: If this flag is set it means that we have not been able to match the topic title and type provided to a known entity.
  LiveBroadcastTopicDetails:
    type: object
    properties:
      topics?: LiveBroadcastTopic[]
  LiveBroadcastTopicSnippet:
    type: object
    properties:
      releaseDate?:
        type: string
        description: 'The date at which the topic was released. Filled for types:
          videoGame'
      name?:
        type: string
        description: The name of the topic.
  LiveChatBan:
    type: object
    properties:
      snippet?: LiveChatBanSnippet
      kind?:
        type: string
        default: youtube#liveChatBan
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#liveChatBan".'
      etag?:
        type: string
        description: Etag of this resource.
      id?:
        type: string
        description: The ID that YouTube assigns to uniquely identify the ban.
    description: A liveChatBan resource represents a ban for a YouTube live chat.
  LiveChatBanSnippet:
    type: object
    properties:
      bannedUserDetails?: ChannelProfileDetails
      liveChatId?:
        type: string
        description: The chat this ban is pertinent to.
      banDurationSeconds?:
        type: integer
        format: int64
        description: The duration of a ban, only filled if the ban has type TEMPORARY.
      type?:
        type: string
        description: The type of ban.
        enum:
        - permanent
        - temporary
  LiveChatFanFundingEventDetails:
    type: object
    properties:
      amountDisplayString?:
        type: string
        description: A rendered string that displays the fund amount and currency to the user.
      userComment?:
        type: string
        description: The comment added by the user to this fan funding event.
      amountMicros?:
        type: integer
        format: int64
        description: The amount of the fund.
      currency?:
        type: string
        description: The currency in which the fund was made.
  LiveChatMessage:
    type: object
    properties:
      snippet?: LiveChatMessageSnippet
      kind?:
        type: string
        default: youtube#liveChatMessage
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#liveChatMessage".'
      authorDetails?: LiveChatMessageAuthorDetails
      etag?:
        type: string
        description: Etag of this resource.
      id?:
        type: string
        description: The ID that YouTube assigns to uniquely identify the message.
    description: A liveChatMessage resource represents a chat message in a YouTube Live Chat.
  LiveChatMessageAuthorDetails:
    type: object
    properties:
      isVerified?:
        type: boolean
        description: Whether the author's identity has been verified by YouTube.
      channelUrl?:
        type: string
        description: The channel's URL.
      displayName?:
        type: string
        description: The channel's display name.
      isChatModerator?:
        type: boolean
        description: Whether the author is a moderator of the live chat.
      profileImageUrl?:
        type: string
        description: The channels's avatar URL.
      channelId?:
        type: string
        description: The YouTube channel ID.
      isChatSponsor?:
        type: boolean
        description: Whether the author is a sponsor of the live chat.
      isChatOwner?:
        type: boolean
        description: Whether the author is the owner of the live chat.
  LiveChatMessageDeletedDetails:
    type: object
    properties:
      deletedMessageId?:
        type: string
  LiveChatMessageListResponse:
    type: object
    properties:
      offlineAt?:
        type: datetime
        description: The date and time when the underlying stream went offline. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.
      eventId?:
        type: string
        description: Serialized EventId of the request which produced this response.
      tokenPagination?: TokenPagination
      pollingIntervalMillis?:
        type: integer
        format: int32
        description: The amount of time the client should wait before polling again.
      kind?:
        type: string
        default: youtube#liveChatMessageListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#liveChatMessageListResponse".'
      nextPageToken?:
        type: string
        description: The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.
      pageInfo?: PageInfo
      etag?:
        type: string
        description: Etag of this resource.
      items?:
        type: array
        description: A list of live chat messages.
        items: LiveChatMessage
      visitorId?:
        type: string
        description: The visitorId identifies the visitor.
  LiveChatMessageRetractedDetails:
    type: object
    properties:
      retractedMessageId?:
        type: string
  LiveChatMessageSnippet:
    type: object
    properties:
      publishedAt?:
        type: datetime
        description: The date and time when the message was orignally published. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.
      messageRetractedDetails?: LiveChatMessageRetractedDetails
      textMessageDetails?: LiveChatTextMessageDetails
      authorChannelId?:
        type: string
        description: The ID of the user that authored this message, this field is not always filled. textMessageEvent - the user that wrote the message fanFundingEvent - the user that funded the broadcast newSponsorEvent - the user that just became a sponsor messageDeletedEvent - the moderator that took the action messageRetractedEvent - the author that retracted their message userBannedEvent - the moderator that took the action
      pollClosedDetails?: LiveChatPollClosedDetails
      type?:
        type: string
        description: The type of message, this will always be present, it determines the contents of the message as well as which fields will be present.
        enum:
        - chatEndedEvent
        - fanFundingEvent
        - messageDeletedEvent
        - messageRetractedEvent
        - newSponsorEvent
        - pollClosedEvent
        - pollEditedEvent
        - pollOpenedEvent
        - pollVotedEvent
        - sponsorOnlyModeEndedEvent
        - sponsorOnlyModeStartedEvent
        - textMessageEvent
        - tombstone
        - userBannedEvent
      messageDeletedDetails?: LiveChatMessageDeletedDetails
      displayMessage?:
        type: string
        description: Contains a string that can be displayed to the user. If this field is not present the message is silent, at the moment only messages of type TOMBSTONE and CHAT_ENDED_EVENT are silent.
      hasDisplayContent?:
        type: boolean
        description: Whether the message has display content that should be displayed to users.
      pollOpenedDetails?: LiveChatPollOpenedDetails
      liveChatId?:
        type: string
      pollVotedDetails?: LiveChatPollVotedDetails
      userBannedDetails?: LiveChatUserBannedMessageDetails
      pollEditedDetails?: LiveChatPollEditedDetails
      fanFundingEventDetails?: LiveChatFanFundingEventDetails
  LiveChatModerator:
    type: object
    properties:
      snippet?: LiveChatModeratorSnippet
      kind?:
        type: string
        default: youtube#liveChatModerator
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#liveChatModerator".'
      etag?:
        type: string
        description: Etag of this resource.
      id?:
        type: string
        description: The ID that YouTube assigns to uniquely identify the moderator.
    description: A liveChatModerator resource represents a moderator for a YouTube live chat. A chat moderator has the ability to ban/unban users from a chat, remove message, etc.
  LiveChatModeratorListResponse:
    type: object
    properties:
      eventId?:
        type: string
        description: Serialized EventId of the request which produced this response.
      prevPageToken?:
        type: string
        description: The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.
      tokenPagination?: TokenPagination
      kind?:
        type: string
        default: youtube#liveChatModeratorListResponse
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#liveChatModeratorListResponse".'
      nextPageToken?:
        type: string
        description: The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.
      pageInfo?: PageInfo
      etag?:
        type: string
        description: Etag of this resource.
      items?:
        type: array
        description: A list of moderators that match the request criteria.
        items: LiveChatModerator
      visitorId?:
        type: string
        description: The visitorId identifies the visitor.
  LiveChatModeratorSnippet:
    type: object
    properties:
      liveChatId?:
        type: string
        description: The ID of the live chat this moderator can act on.
      moderatorDetails?: ChannelProfileDetails
  LiveChatPollClosedDetails:
    type: object
    properties:
      pollId?:
        type: string
        description: The id of the poll that was closed.
  LiveChatPollEditedDetails:
    type: object
    properties:
      id?:
        type: string
      items?: LiveChatPollItem[]
      prompt?:
        type: string
  LiveChatPollItem:
    type: object
    properties:
      itemId?:
        type: string
      description?:
        type: string
        description: Plain text description of the item.
  LiveChatPollOpenedDetails:
    type: object
    properties:
      id?:
        type: string
      items?: LiveChatPollItem[]
      prompt?:
        type: string
  LiveChatPollVotedDetails:
    type: object
    properties:
      itemId?:
        type: string
        description: The poll item the user chose.
      pollId?:
        type: string
        description: The poll the user voted on.
  LiveChatTextMessageDetails:
    type: object
    properties:
      messageText?:
        type: string
        description: The user's message.
  LiveChatUserBannedMessageDetails:
    type: object
    properties:
      bannedUserDetails?: ChannelProfileDetails
      banType?:
        type: string
        description: The type of ban.
        enum:
        - permanent
        - temporary
      banDurationSeconds?:
        type: integer
        format: int64
        description: The duration of the ban. This property is only present if the banType is temporary.
  LiveStream:
    type: object
    properties:
      snippet?: LiveStreamSnippet
      kind?:
        type: string
        default: youtube#liveStream
        description: 'Identifies what kind of resource this is. Value: the fixed string
          "youtube#liveStream".'
      etag?:
        type: string
        description: Etag of this resource.
      id?:
        type: string
        description: The ID that YouTube assigns to uniquely identify the stream.
      cdn?: CdnSettings
      contentDetails?: LiveStreamContentDetails
      status?: LiveStreamStatus
    description: A live stream describes a live ingestion point.
  LiveStreamConfigurationIssue:
    type: object
    properties:
      severity?:
        type: string
        description: How severe this issue is to the stream.
        enum:
        - error
        - info
        - warning
      reason?:
        type: string
        description: The short-form reason for this issue.
      description?:
        type: string
        description: The long-form description of the issue and how to resolve it.
      type?:
        type: string
        description: The kind of error happening.
        enum:
        - audioBitrateHigh
        - audioBitrateLow
        - audioBitrateMismatch
        - audioCodec
        - audioCodecMismatch
        - audioSampleRate
        - audioSampleRateMismatch
        - audioStereoMismatch
        - audioTooManyChannels
        - badContainer
        - bitrateHigh
        - bitrateLow
        - frameRateHigh
        - framerateMismatch
        - gopMismatch
        - gopSizeLong
        - gopSizeOver
        - gopSizeShort
        - interlacedVideo
        - multipleAudioStreams
        - multipleVideoStreams
        - noAudioStream
        - noVideoStream
        - openGop
        - resolutionMismatch
        - videoBitrateMismatch
        - videoCodec
        - videoCodecMismatch
        - videoIngestionStarved
        - videoInterlaceMismatch
        - videoProfileMismatch
        - videoResolutionSuboptimal
        - videoResolutionUnsupported
  LiveStreamContentDetails:
    type: object
    properties:
      closedCaptionsIngestionUrl?:
        type: string
        description: The ingestion URL where the closed captions of this stream are sent.
      isReusable?:
        type: boolean
        description: "Indicates whether the stream is reusable, which means that it\
          \ can be bound to multiple broadcasts. It is common for broadcasters to\
          \ reuse the same stream for many different broadcasts if those broadcasts\
          \ occur at different times.\n\nIf you set this value to false, then the\
          \ stream will not be reusable, which means that it can only be bound to\
          \ one broadcast. Non-reusable streams differ from reusable streams in the\
          \ following ways:  \n- A non-reusable stream can only be bound to one broadcast.\
          \ \n- A non-reusable stream might be deleted by an automated process after\
          \ the broadcast ends. \n- The  liveStreams.list method does not list non-reusable\
          \ streams if you call the method and set the mine parameter to true. The\
          \ only way to use that method to retrieve the resource for a non-reusable\
          \ stream is to use the id parameter to identify the stream."
    description: Detailed settings of a stream.
  LiveStreamHealthStatus:
    type: object
    properties:
      lastUpdateTimeSeconds?:
        type: integer
        format: int64
        description: The last time this status was updated (in seconds)
      configurationIssues?:
        type: array
        description: The configurations issues on this stream
        items: LiveStreamConfigurationIssue
      status?:
        type: string
[...]
