#%RAML 1.0
title: YouTube Reporting API
version: v1
baseUri: https://youtubereporting.googleapis.com/
uses:
  commons: https://raw.githubusercontent.com/apiregistry/commons/master/commons.raml
(commons.Links):
- title: Developer Documentation
  url: https://developers.google.com/youtube/reporting/v1/reports/
  role: documentation
(commons.Icons):
- url: http://www.google.com/images/icons/product/search-32.gif
  name: x32
- url: http://www.google.com/images/icons/product/search-16.gif
  name: x16
(commons.Id): youtubereporting:v1
securitySchemes:
  oath2:
    type: OAuth 2.0
    description: Google Oath2.0 authorization. Detailed documentation can be found at https://developers.google.com/identity/protocols/OAuth2
    settings:
      authorizationGrants:
      - authorization_code
      - implicit
      authorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      accessTokenUri: https://accounts.google.com/o/oauth2/v2/auth
      scopes:
      - https://www.googleapis.com/auth/yt-analytics.readonly
      - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
traits:
  hasParameters:
    queryParameters:
      pp?:
        type: boolean
        default: true
        description: Pretty-print response.
      quotaUser?:
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      prettyPrint?:
        type: boolean
        default: true
        description: Returns response with indentations and line breaks.
      upload_protocol?:
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      $.xgafv?:
        type: string
        description: V1 error format.
      uploadType?:
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      callback?:
        type: string
        description: JSONP
      fields?:
        type: string
        description: Selector specifying which fields to include in a partial response.
securedBy:
  oath2: 
types:
  Empty:
    type: object
    description: 'A generic empty message that you can re-use to avoid defining duplicated
      empty messages in your APIs. A typical example is to use it as the request or
      the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty)
      returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty
      JSON object `{}`.'
  Job:
    type: object
    properties:
      expireTime?:
        type: string
        description: The date/time when this job will expire/expired. After a job expired, no new reports are generated.
      createTime?:
        type: string
        description: The creation date/time of the job.
      reportTypeId?:
        type: string
        description: The type of reports this job creates. Corresponds to the ID of a ReportType.
      name?:
        type: string
        description: The name of the job (max. 100 characters).
      systemManaged?:
        type: boolean
        description: True if this a system-managed job that cannot be modified by the user; otherwise false.
      id?:
        type: string
        description: The server-generated ID of the job (max. 40 characters).
    description: A job creating reports of a specific type.
  ListJobsResponse:
    type: object
    properties:
      nextPageToken?:
        type: string
        description: A token to retrieve next page of results. Pass this value in the ListJobsRequest.page_token field in the subsequent call to `ListJobs` method to retrieve the next page of results.
      jobs?:
        type: array
        description: The list of jobs.
        items: Job
    description: Response message for ReportingService.ListJobs.
  ListReportTypesResponse:
    type: object
    properties:
      reportTypes?:
        type: array
        description: The list of report types.
        items: ReportType
      nextPageToken?:
        type: string
        description: A token to retrieve next page of results. Pass this value in the ListReportTypesRequest.page_token field in the subsequent call to `ListReportTypes` method to retrieve the next page of results.
    description: Response message for ReportingService.ListReportTypes.
  ListReportsResponse:
    type: object
    properties:
      reports?:
        type: array
        description: The list of report types.
        items: Report
      nextPageToken?:
        type: string
        description: A token to retrieve next page of results. Pass this value in the ListReportsRequest.page_token field in the subsequent call to `ListReports` method to retrieve the next page of results.
    description: Response message for ReportingService.ListReports.
  Media:
    type: object
    properties:
      resourceName?:
        type: string
        description: Name of the media resource.
    description: Media resource.
  Report:
    type: object
    properties:
      jobId?:
        type: string
        description: The ID of the job that created this report.
      createTime?:
        type: string
        description: The date/time when this report was created.
      downloadUrl?:
        type: string
        description: The URL from which the report can be downloaded (max. 1000 characters).
      startTime?:
        type: string
        description: The start of the time period that the report instance covers. The value is inclusive.
      id?:
        type: string
        description: The server-generated ID of the report.
      endTime?:
        type: string
        description: The end of the time period that the report instance covers. The value is exclusive.
      jobExpireTime?:
        type: string
        description: The date/time when the job this report belongs to will expire/expired.
    description: A report's metadata including the URL from which the report itself can be downloaded.
  ReportType:
    type: object
    properties:
      name?:
        type: string
        description: The name of the report type (max. 100 characters).
      systemManaged?:
        type: boolean
        description: True if this a system-managed report type; otherwise false. Reporting jobs for system-managed report types are created automatically and can thus not be used in the `CreateJob` method.
      id?:
        type: string
        description: The ID of the report type (max. 100 characters).
      deprecateTime?:
        type: string
        description: The date/time when this report type was/will be deprecated.
    description: A report type.
/v1:
  /reportTypes:
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
          - https://www.googleapis.com/auth/yt-analytics.readonly
      description: Lists report types.
      is:
      - hasParameters
      queryParameters:
        onBehalfOfContentOwner?:
          type: string
          description: The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel).
        pageSize?:
          type: integer
          format: int32
          description: Requested page size. Server may return fewer report types than requested. If unspecified, server will pick an appropriate default.
        includeSystemManaged?:
          type: boolean
          description: If set to true, also system-managed report types will be returned; otherwise only the report types that can be used to create new reporting jobs will be returned.
        pageToken?:
          type: string
          description: A token identifying a page of results the server should return. Typically, this is the value of ListReportTypesResponse.next_page_token returned in response to the previous call to the `ListReportTypes` method.
      responses:
        200:
          body:
            application/json: ListReportTypesResponse
  /jobs:
    /{jobId}:
      uriParameters:
        jobId:
          type: string
          description: The ID of the job to retrieve.
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
            - https://www.googleapis.com/auth/yt-analytics.readonly
        description: Gets a job.
        is:
        - hasParameters
        queryParameters:
          onBehalfOfContentOwner?:
            type: string
            description: The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel).
        responses:
          200:
            body:
              application/json: Job
      delete:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
            - https://www.googleapis.com/auth/yt-analytics.readonly
        description: Deletes a job.
        is:
        - hasParameters
        queryParameters:
          onBehalfOfContentOwner?:
            type: string
            description: The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel).
        responses:
          200:
            body:
              application/json: Empty
    post:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
          - https://www.googleapis.com/auth/yt-analytics.readonly
      description: Creates a job and returns it.
      is:
      - hasParameters
      queryParameters:
        onBehalfOfContentOwner?:
          type: string
          description: The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel).
      body:
        application/json: Job
      responses:
        200:
          body:
            application/json: Job
    get:
      securedBy:
        oath2:
          scopes:
          - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
          - https://www.googleapis.com/auth/yt-analytics.readonly
      description: Lists jobs.
      is:
      - hasParameters
      queryParameters:
        onBehalfOfContentOwner?:
          type: string
          description: The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel).
        pageSize?:
          type: integer
          format: int32
          description: Requested page size. Server may return fewer jobs than requested. If unspecified, server will pick an appropriate default.
        includeSystemManaged?:
          type: boolean
          description: If set to true, also system-managed jobs will be returned; otherwise only user-created jobs will be returned. System-managed jobs can neither be modified nor deleted.
        pageToken?:
          type: string
          description: A token identifying a page of results the server should return. Typically, this is the value of ListReportTypesResponse.next_page_token returned in response to the previous call to the `ListJobs` method.
      responses:
        200:
          body:
            application/json: ListJobsResponse
  /media:
    /{resourceName}:
      uriParameters:
        resourceName:
          type: string
          pattern: ^.*$
          description: Name of the media that is being downloaded. See ReadRequest.resource_name.
      get:
        securedBy:
          oath2:
            scopes:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
            - https://www.googleapis.com/auth/yt-analytics.readonly
        description: Method for media download. Download is supported on the URI `/v1/media/{+name}?alt=media`.
        is:
        - hasParameters
        responses:
          200:
            body:
              application/json: Media
